@{
    ViewData["Title"] = "Google Maps Fullscreen";
}
<div class="container-full">
  <div class="row fh bg-white">
    <div class="col-md-3 fh hidden-sm hidden-xs pr0">
      <div class="p-lg">
        <h5 class="text-center">Places</h5>
        <p class="text-center">Click on each item to focus a marker in the map</p>
      </div>
      <div id="markers-list" class="list-group list-group-unstyle"><a data-panto-marker="0" class="list-group-item"><em class="pull-right ion-ios-arrow-forward"></em>Canada</a><a data-panto-marker="1" class="list-group-item"><em class="pull-right ion-ios-arrow-forward"></em>New York</a><a data-panto-marker="2" class="list-group-item"><em class="pull-right ion-ios-arrow-forward"></em>Toronto</a><a data-panto-marker="3" class="list-group-item"><em class="pull-right ion-ios-arrow-forward"></em>San Francisco</a><a data-panto-marker="4" class="list-group-item"><em class="pull-right ion-ios-arrow-forward"></em>Utah</a></div>
    </div>
    <div class="col-md-9 fh pl0">
      <div id="mapfull-markers" class="gmap fh"></div>
    </div>
  </div>
</div>