@{
    ViewData["Title"] = "Vector Map";
}
<div class="container-fluid">
  <div class="card">
    <div class="card-heading">
      <div class="pull-right"><span class="mr text-muted">Show last year events</span>
        <label class="switch switch-info">
          <input type="checkbox"/><span></span>
        </label>
      </div>
      <div class="card-title">World Events</div>
    </div>
    <div class="card-body">
      <div id="vector-map-world" style="height:240px" class="vector-map"></div>
    </div>
  </div>
  <div class="card">
    <div class="card-heading">
      <div class="card-title">Usa Makers</div>
    </div>
    <div class="card-body">
      <div id="vector-map-usa" style="height:240px" class="vector-map"></div>
    </div>
  </div>
</div>