extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Classic Inputs'
block content
    .container-fluid

        h5.mt0 Classic form controls and custom variants
        p.mb-lg Standard Bootstrap form and input controls with customized UI variations

        .cardbox
            .cardbox-body
                form(method='get', action="/")
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Rounded Corners
                            .col-lg-10
                                input.form-control.input-rounded(type='text')
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label With help
                            .col-lg-10
                                input.form-control(type='text')
                                span.form-text.text-muted A block of help text that breaks onto a new line and may extend beyond one line.
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label(for='input-id-1') Label focus
                            .col-lg-10
                                input#input-id-1.form-control(type='text')
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Password
                            .col-lg-10
                                input.form-control(type='password', name='password')
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Placeholder
                            .col-lg-10
                                input.form-control(type='text', placeholder='placeholder')
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Disabled
                            .col-lg-10
                                input.form-control(type='text', placeholder='Disabled input here...', disabled='')
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Static control
                            .col-lg-10
                                p.form-control-plaintext email@example.com
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Checkboxes and radios
                            .col-lg-10
                                .form-check
                                    label.form-check-label
                                        input.form-check-input(type='checkbox', value='')
                                        | Option one is this and that—be sure to include why it's great
                                .form-check
                                    label.form-check-label
                                        input.form-check-input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                                        | Option one is this and that—be sure to include why it's great
                                .form-check
                                    label.form-check-label
                                        input.form-check-input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                                        | Option two can be something else and selecting it will deselect option one
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Inline checkboxes
                            .col-lg-10
                                .form-check.form-check-inline
                                    label.form-check-label
                                        input.form-check-input#inlineCheckbox1(type='checkbox', value='option1')
                                        |  a
                                .form-check.form-check-inline
                                    label.form-check-label
                                        input.form-check-input#inlineCheckbox2(type='checkbox', value='option2')
                                        |  b
                                .form-check.form-check-inline
                                    label.form-check-label
                                        input.form-check-input#inlineCheckbox3(type='checkbox', value='option3')
                                        |  c
                    fieldset.last-child
                        .form-group.row
                            label.col-lg-2.col-form-label Select
                            .col-lg-10
                                select.form-control(name='account')
                                    option Option 1
                                    option Option 2
                                    option Option 3
                                    option Option 4
                                br
                                .row
                                    .col-lg-4
                                        select.form-control(multiple='')
                                            option Option 1
                                            option Option 2
                                            option Option 3
                                            option Option 4
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Checkboxes
                            .col-lg-10
                                .checkbox.c-checkbox
                                    label
                                        input(type='checkbox', value='')
                                        span.ion-checkmark-round
                                        |  Option one
                                .checkbox.c-checkbox
                                    label
                                        input(type='checkbox', checked='', value='')
                                        span.ion-checkmark-round
                                        |  Option two checked
                                .checkbox.c-checkbox
                                    label
                                        input(type='checkbox', checked='', disabled='', value='')
                                        span.ion-checkmark-round
                                        |  Option three checked and disabled
                                .checkbox.c-checkbox
                                    label
                                        input(type='checkbox', disabled='', value='')
                                        span.ion-checkmark-round
                                        |  Option four disabled
                            label.col-lg-2.col-form-label Radios
                            .col-lg-10
                                .radio.c-radio
                                    label
                                        input(type='radio', name='a', value='option1')
                                        span.ion-record
                                        |  Option one
                                .radio.c-radio
                                    label
                                        input(type='radio', name='a', value='option2', checked='')
                                        span.ion-record
                                        |  Option two checked
                                .radio.c-radio
                                    label
                                        input(type='radio', value='option2', checked='', disabled='')
                                        span.ion-record
                                        |  Option three checked and disabled
                                .radio.c-radio
                                    label
                                        input(type='radio', name='a', disabled='')
                                        span.ion-record
                                        |  Option four disabled
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Inline checkboxes
                            .col-lg-10
                                label.c-checkbox
                                    input#inlineCheckbox10(type='checkbox', value='option1')
                                    span.ion-checkmark-round
                                    |  a
                                label.c-checkbox
                                    input#inlineCheckbox20(type='checkbox', value='option2')
                                    span.ion-checkmark-round
                                    |  b
                                label.c-checkbox
                                    input#inlineCheckbox30(type='checkbox', value='option3')
                                    span.ion-checkmark-round
                                    |  c
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Rounded
                            .col-lg-10
                                .checkbox.c-checkbox.c-checkbox-rounded
                                    label
                                        input#roundedcheckbox10(type='checkbox', checked)
                                        span.ion-checkmark-round
                                        |  Lorem
                                .checkbox.c-checkbox.c-checkbox-rounded
                                    label
                                        input#roundedcheckbox20(type='checkbox')
                                        span.ion-checkmark-round
                                        |  Ipsum
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Inline radios
                            .col-lg-10
                                label.c-radio
                                    input#inlineradio1(type='radio', name="i-radio", value='option1', checked)
                                    span.ion-record
                                    |  a
                                label.c-radio
                                    input#inlineradio2(type='radio', name="i-radio", value='option2')
                                    span.ion-record
                                    |  b
                                label.c-radio
                                    input#inlineradio3(type='radio', name="i-radio", value='option3')
                                    span.ion-record
                                    |  c
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Custom icons
                            .col-lg-10
                                label.c-radio
                                    input#inlineradio10(type='radio', name="i-radio", value='option1', checked)
                                    span.ion-checkmark-round
                                    |  a
                                label.c-radio
                                    input#inlineradio20(type='radio', name="i-radio", value='option2', checked)
                                    span.ion-person
                                    |  b
                                label.c-radio
                                    input#inlineradio30(type='radio', name="i-radio", value='option3', checked)
                                    span.ion-waterdrop
                                    |  c
                                br
                                label.c-checkbox
                                    input#inlinecheckbox10(type='checkbox', value='option1', checked)
                                    span.ion-star
                                    |  a
                                label.c-checkbox
                                    input#inlinecheckbox20(type='checkbox', value='option2', checked)
                                    span.ion-heart
                                    |  b
                                label.c-checkbox
                                    input#inlinecheckbox30(type='checkbox', value='option3', checked)
                                    span.ion-ios-bell
                                    |  c
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Input valid
                            .col-lg-10
                                input#inputSuccess1.form-control.is-valid(type='text')
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Input invalid
                            .col-lg-10
                                input#inputDanger1.form-control.is-invalid(type='text')
                                .invalid-feedback Sorry, that username&apos;s taken. Try another?
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Custom controls
                            .col-lg-10
                                p Checkboxes
                                label.custom-control.custom-checkbox
                                    input.custom-control-input(type='checkbox')
                                    span.custom-control-indicator
                                    span.custom-control-description Check this custom checkbox
                                p.mt Radios
                                label.custom-control.custom-radio
                                    input#radio1.custom-control-input(name='radio', type='radio')
                                    span.custom-control-indicator
                                    span.custom-control-description Toggle this custom radio
                                label.custom-control.custom-radio
                                    input#radio2.custom-control-input(name='radio', type='radio')
                                    span.custom-control-indicator
                                    span.custom-control-description Or toggle this other custom radio
                                p.mt Select
                                select.custom-select
                                    option(selected='') Open this select menu
                                    option(value='1') One
                                    option(value='2') Two
                                    option(value='3') Three
                                p.mt File
                                label.custom-file
                                    input#file.custom-file-input(type='file')
                                    span.custom-file-control

                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Control sizing
                            .col-lg-10
                                input.form-control.form-control-lg(type='text', placeholder='.form-control-lg')
                                br
                                input.form-control(type='text', placeholder='Default input')
                                br
                                input.form-control.input-sm(type='text', placeholder='.input-sm')
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Column sizing
                            .col-lg-10
                                .row
                                    .col-lg-2
                                        input.form-control(type='text', placeholder='.col-lg-2')
                                    .col-lg-3
                                        input.form-control(type='text', placeholder='.col-lg-3')
                                    .col-lg-4
                                        input.form-control(type='text', placeholder='.col-lg-4')
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Input groups
                            .col-lg-10
                                .input-group
                                    span.input-group-addon @
                                    input.form-control(type='text', placeholder='Username')
                                br
                                .input-group
                                    input.form-control(type='text')
                                    span.input-group-addon .00
                                br
                                .input-group
                                    span.input-group-addon $
                                    input.form-control(type='text')
                                    span.input-group-addon .00
                                br
                                .input-group
                                    span.input-group-addon
                                        input(type='checkbox')
                                    input.form-control(type='text')
                                br
                                .input-group
                                    span.input-group-addon
                                        input(type='radio')
                                    input.form-control(type='text')
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Button addons
                            .col-lg-10
                                .input-group
                                    span.input-group-btn
                                        button.btn.btn-secondary(type='button') Go!
                                    input.form-control(type='text')
                                br
                                .input-group
                                    input.form-control(type='text')
                                    span.input-group-btn
                                        button.btn.btn-secondary(type='button') Go!

                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Multiple addons
                            .col-lg-10
                                .row
                                    .col-lg-6
                                        .input-group
                                            span.input-group-addon
                                                input(type='checkbox', aria-label='Checkbox for following text input')
                                            span.input-group-addon $
                                            input.form-control(type='text', aria-label='Text input with checkbox')
                                    .col-lg-6
                                        .input-group
                                            span.input-group-addon $
                                            span.input-group-addon 0.00
                                            input.form-control(type='text', aria-label='Text input with radio button')

                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label With dropdowns
                            .col-lg-10
                                .input-group
                                    .input-group-btn
                                        button.btn.btn-secondary(type='button', data-toggle="dropdown")
                                            | Action
                                            span.caret
                                        ul.dropdown-menu
                                            li
                                                a(href='#') Action
                                            li
                                                a(href='#') Another action
                                            li
                                                a(href='#') Something else here
                                            li.divider
                                            li
                                                a(href='#') Separated link
                                    input.form-control(type='text')
                                br
                                .input-group
                                    input.form-control(type='text')
                                    .input-group-btn
                                        button.btn.btn-secondary(type='button', data-toggle="dropdown")
                                            | Action
                                            span.caret
                                        ul.dropdown-menu.float-right
                                            li
                                                a(href='#') Action
                                            li
                                                a(href='#') Another action
                                            li
                                                a(href='#') Something else here
                                            li.divider
                                            li
                                                a(href='#') Separated link
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Segmented
                            .col-lg-10
                                .input-group
                                    .input-group-btn
                                        button.btn.btn-secondary(type='button', tabindex='-1') Action
                                        button.btn.btn-secondary.dropdown-toggle.dropdown-toggle-split(type='button', data-toggle="dropdown")
                                            span.caret
                                        ul.dropdown-menu
                                            li.dropdown-item
                                                a(href='#') Action
                                            li.dropdown-item
                                                a(href='#') Another action
                                            li.dropdown-item
                                                a(href='#') Something else here
                                            li.dropdown-divider
                                            li.dropdown-item
                                                a(href='#') Separated link
                                    input.form-control(type='text')
                                br
                                .input-group
                                    input.form-control(type='text')
                                    .input-group-btn
                                        button.btn.btn-secondary(type='button', tabindex='-1') Action
                                        button.btn.btn-secondary.dropdown-toggle.dropdown-toggle-split(type='button', data-toggle="dropdown")
                                            span.caret
                                        ul.dropdown-menu
                                            li.dropdown-item
                                                a(href='#') Action
                                            li.dropdown-item
                                                a(href='#') Another action
                                            li.dropdown-item
                                                a(href='#') Something else here
                                            li.dropdown-divider
                                            li.dropdown-item
                                                a(href='#') Separated link
