extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Material Inputs'
block content
    .container.container-lg
        .cardbox
            .cardbox-heading
                .cardbox-title Material Forms
            .cardbox-body.bg-blue-grey-900
                .row
                    .col-sm-4
                        .mda-form-group
                            .mda-form-control.mda-form-control-dark
                                input.form-control(tabindex='0', aria-invalid='false')
                                .mda-form-control-line
                                label Title
                    .col-sm-4
                        .mda-form-group
                            .mda-form-control.mda-form-control-dark
                                input.form-control(tabindex='0', aria-invalid='false')
                                .mda-form-control-line
                                label Email
            .cardbox-body
                .row
                    .col-sm-12
                        .mda-form-group
                            .mda-form-control
                                input.form-control(disabled='', tabindex='0', aria-invalid='false')
                                .mda-form-control-line
                                label Company(disabled)
                    .col-sm-6
                        .mda-form-group.float-label
                            .mda-form-control
                                input.form-control(required='', tabindex='0', aria-required='true', aria-invalid='true')
                                .mda-form-control-line
                                label First Name
                    .col-sm-6
                        .mda-form-group.float-label
                            .mda-form-control
                                input.form-control(required='', tabindex='0', aria-required='true', aria-invalid='true')
                                .mda-form-control-line
                                label Last Name
                    .col-sm-12
                        .mda-form-group
                            .mda-form-control
                                input.form-control(tabindex='0', aria-invalid='false')
                                .mda-form-control-line
                                label Address
                    .col-sm-12
                        .mda-form-group
                            .mda-form-control
                                input.form-control(tabindex='0', aria-invalid='false')
                                .mda-form-control-line
                                label Address 2
                .row
                    .col-sm-4
                        .mda-form-group
                            .mda-form-control
                                input.form-control(tabindex='0', aria-invalid='false')
                                .mda-form-control-line
                                label City
                    .col-sm-4
                        .mda-form-group
                            .mda-form-control
                                input.form-control(tabindex='0', aria-invalid='false')
                                .mda-form-control-line
                                label State
                    .col-sm-4
                        .mda-form-group
                            .mda-form-control
                                input.form-control(tabindex='0', aria-invalid='false')
                                .mda-form-control-line
                                label Postal Code
                .row
                    .col-sm-12
                        .mda-form-group
                            .mda-form-control
                                textarea.form-control(rows='4', aria-multiline='true', tabindex='0', aria-invalid='false')
                                .mda-form-control-line
                                label Biography
                                span.mda-form-msg.right Any message here
                .row
                    .col-sm-12
                        .mda-form-group
                            .mda-form-control
                                select.form-control
                                    option(value="1") Option 1
                                    option(value="2") Option 2
                                    option(value="3") Option 3
                                    option(value="4") Option 4
                                    option(value="5") Option 5
                                .mda-form-control-line
                                label Select
        .cardbox
            .cardbox-heading.bg-primary
                .float-right
                    em.ion-ios-browsers-outline.icon-2x.va-top
                .cardbox-title Material Forms
            .cardbox-toolbar.bg-primary Errors
            .cardbox-body
                form.form-validate
                    .mda-form-group.float-label.mb
                        .mda-form-control
                            input.form-control(required='', tabindex='0', aria-required='true', aria-invalid='true')
                            .mda-form-control-line
                            label Client Name
                        span.mda-form-msg Input should match 'a-zA-Z0-9' and 6-10 length
                    .mda-form-group
                        .mda-form-control
                            input.form-control(tabindex='0', aria-invalid='true')
                            .mda-form-control-line
                            label Salary
                        span.mda-form-msg Your salary must be at least 6 digits

        .cardbox
            .cardbox-heading.bg-primary
                .cardbox-title Icons
            .cardbox-body
                .mda-form-group.float-label.mb.mda-input-group
                    .mda-form-control
                        input.form-control(type='text')
                        .mda-form-control-line
                        label Username
                    span.mda-input-group-addon
                        em.ion-person.icon-lg
                .mda-form-group.mb.mda-input-group
                    .mda-form-control
                        input.form-control(type='text')
                        .mda-form-control-line
                        label Phone
                    span.mda-input-group-addon
                        em.ion-ios-telephone.text-primary.icon-lg
        // Switchers
        .cardbox
            .cardbox-heading.bg-primary
                .cardbox-title Switches
            .cardbox-body
                .row
                    .col-lg-4
                        .row.mb
                            .col-sm-8
                                label.switch
                                    input(type='checkbox', checked="checked")
                                    span
                                | Switch
                        .row.mb
                            .col-sm-8
                                label.switch.switch-warn
                                    input(type='checkbox', checked="checked")
                                    span
                                | Switch warn
                        .row.mb
                            .col-sm-8
                                label.switch.switch-warn
                                    input(type='checkbox', disabled="true")
                                    span
                                | Switch disabled
                        .row.mb
                            .col-sm-8
                                label.switch.switch-warn
                                    input(type='checkbox', checked="checked", disabled="true")
                                    span
                                | Switch disabled active
                    .col-lg-4
                        .row.mb
                            .col-sm-8
                                label.switch.switch-primary
                                    input(type='checkbox', checked="checked")
                                    span
                                | Switch primary
                        .row.mb
                            .col-sm-8
                                label.switch.switch-purple
                                    input(type='checkbox', checked="checked")
                                    span
                                | Switch purple
                        .row.mb
                            .col-sm-8
                                label.switch.switch-info
                                    input(type='checkbox', checked="checked")
                                    span
                                | Switch info
                        .row.mb
                            .col-sm-8
                                label.switch.switch-success
                                    input(type='checkbox', checked="checked")
                                    span
                                | Switch success
                        .row.mb
                            .col-sm-8
                                label.switch.switch-warning
                                    input(type='checkbox', checked="checked")
                                    span
                                | Switch warning
                        .row.mb
                            .col-sm-8
                                label.switch.switch-danger
                                    input(type='checkbox', checked="checked")
                                    span
                                | Switch danger
                    .col-lg-4
                        .row.mb
                            .col-sm-8
                                label.switch.switch-warn.switch-primary
                                    input(type='checkbox', checked="checked")
                                    span
                                | Switch warn primary
                        .row.mb
                            .col-sm-8
                                label.switch.switch-warn.switch-purple
                                    input(type='checkbox', checked="checked")
                                    span
                                | Switch warn purple
                        .row.mb
                            .col-sm-8
                                label.switch.switch-warn.switch-info
                                    input(type='checkbox', checked="checked")
                                    span
                                | Switch warn info
                        .row.mb
                            .col-sm-8
                                label.switch.switch-warn.switch-success
                                    input(type='checkbox', checked="checked")
                                    span
                                | Switch warn success
                        .row.mb
                            .col-sm-8
                                label.switch.switch-warn.switch-warning
                                    input(type='checkbox', checked="checked")
                                    span
                                | Switch warn warning
                        .row.mb
                            .col-sm-8
                                label.switch.switch-warn.switch-danger
                                    input(type='checkbox', checked="checked")
                                    span
                                | Switch warn danger
        // Checkbox and radios
        .cardbox
            .cardbox-heading.bg-primary
                .cardbox-title Checkboxes
            .cardbox-body
                .row
                    .col-xl-4
                        .mb
                            label.mda-checkbox
                                input(type='checkbox')
                                em.bg-indigo-500
                                | This is a Checkbox
                        .mb
                            label.mda-checkbox
                                input(type='checkbox', checked='')
                                em.bg-purple-500
                                | This is a Checkbox checked
                        .mb
                            label.mda-checkbox
                                input(type='checkbox', disabled='')
                                em.bg-indigo-500
                                | This is a Checkbox disabled
                        .mb
                            label.mda-checkbox
                                input(type='checkbox', checked='', disabled='')
                                em.bg-indigo-500
                                | This is a Checkbox checked and disabled
                        .mb
                            label.mda-checkbox
                                input(type='checkbox', checked='')
                                em.bg-blue-500.empty
                                | This is a Checkbox empty
                    .col-xl-4
                        .mb
                            label.mda-checkbox
                                input(type='checkbox', checked='')
                                em.bg-red-500
                                | This a checkbox red
                        .mb
                            label.mda-checkbox
                                input(type='checkbox', checked='')
                                em.bg-pink-500
                                | This a checkbox pink
                        .mb
                            label.mda-checkbox
                                input(type='checkbox', checked='')
                                em.bg-purple-500
                                | This a checkbox purple
                        .mb
                            label.mda-checkbox
                                input(type='checkbox', checked='')
                                em.bg-deep-purple-500
                                | This a checkbox purple
                        .mb
                            label.mda-checkbox
                                input(type='checkbox', checked='')
                                em.bg-indigo-500
                                | This a checkbox indigo
                        .mb
                            label.mda-checkbox
                                input(type='checkbox', checked='')
                                em.bg-blue-500
                                | This a checkbox blue
                        .mb
                            label.mda-checkbox
                                input(type='checkbox', checked='')
                                em.bg-cyan-500
                                | This a checkbox cyan
                    .col-xl-4
                        .mb
                            label.mda-checkbox
                                input(type='checkbox', checked='')
                                em.bg-teal-500
                                | This a checkbox teal
                        .mb
                            label.mda-checkbox
                                input(type='checkbox', checked='')
                                em.bg-green-500
                                | This a checkbox green
                        .mb
                            label.mda-checkbox
                                input(type='checkbox', checked='')
                                em.bg-lime-500
                                | This a checkbox lime
                        .mb
                            label.mda-checkbox
                                input(type='checkbox', checked='')
                                em.bg-yellow-500
                                | This a checkbox yellow
                        .mb
                            label.mda-checkbox
                                input(type='checkbox', checked='')
                                em.bg-amber-500
                                | This a checkbox amber
                        .mb
                            label.mda-checkbox
                                input(type='checkbox', checked='')
                                em.bg-orange-500
                                | This a checkbox orange
                        .mb
                            label.mda-checkbox
                                input(type='checkbox', checked='')
                                em.bg-brown-500
                                | This a checkbox brown

        // Radios
        .cardbox
            .cardbox-heading.bg-primary
                .cardbox-title Radios
            .cardbox-body
                .row
                    .col-xl-4
                        .mb
                            label.mda-radio
                                input(type='radio', name="oneradio") 
                                em.bg-indigo-500
                                | This is a radio
                        .mb
                            label.mda-radio
                                input(type='radio', name="oneradio", checked='')
                                em.bg-purple-500
                                | This is a radio checked
                        .mb
                            label.mda-radio
                                input(type='radio', name="otherradio", disabled='')
                                em.bg-indigo-500
                                | This is a radio disabled
                        .mb
                            label.mda-radio
                                input(type='radio', name="otherradio", checked='', disabled='')
                                em.bg-indigo-500
                                | This is a radio checked and disabled
                        .mb
                            label.mda-radio
                                input(type='radio', name="emptyradio", checked='')
                                em.bg-blue-500.empty
                                | This is a radio empty
                    .col-xl-4
                        .mb
                            label.mda-radio
                                input(type='radio', name="someradio-red", checked='')
                                em.bg-red-500
                                | This a radio red
                        .mb
                            label.mda-radio
                                input(type='radio', name="someradio-pink", checked='')
                                em.bg-pink-500
                                | This a radio pink
                        .mb
                            label.mda-radio
                                input(type='radio', name="someradio-purple", checked='')
                                em.bg-purple-500
                                | This a radio purple
                        .mb
                            label.mda-radio
                                input(type='radio', name="someradio-deep-purple", checked='')
                                em.bg-deep-purple-500
                                | This a radio purple
                        .mb
                            label.mda-radio
                                input(type='radio', name="someradio-indigo", checked='')
                                em.bg-indigo-500
                                | This a radio indigo
                        .mb
                            label.mda-radio
                                input(type='radio', name="someradio-blue", checked='')
                                em.bg-blue-500
                                | This a radio blue
                        .mb
                            label.mda-radio
                                input(type='radio', name="someradio-cyan", checked='')
                                em.bg-cyan-500
                                | This a radio cyan
                    .col-xl-4
                        .mb
                            label.mda-radio
                                input(type='radio', name="someradio-teal", checked='')
                                em.bg-teal-500
                                | This a radio teal
                        .mb
                            label.mda-radio
                                input(type='radio', name="someradio-green", checked='')
                                em.bg-green-500
                                | This a radio green
                        .mb
                            label.mda-radio
                                input(type='radio', name="someradio-lime", checked='')
                                em.bg-lime-500
                                | This a radio lime
                        .mb
                            label.mda-radio
                                input(type='radio', name="someradio-yellow", checked='')
                                em.bg-yellow-500
                                | This a radio yellow
                        .mb
                            label.mda-radio
                                input(type='radio', name="someradio-amber", checked='')
                                em.bg-amber-500
                                | This a radio amber
                        .mb
                            label.mda-radio
                                input(type='radio', name="someradio-orange", checked='')
                                em.bg-orange-500
                                | This a radio orange
                        .mb
                            label.mda-radio
                                input(type='radio', name="someradio-brown", checked='')
                                em.bg-brown-500
                                | This a radio brown
