extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Forms Validation'
block content
    .container-fluid
        h5.mt0 jQuery Form validation
        p.mb-lg This jQuery plugin makes simple clientside form validation easy, whilst still offering plenty of customization options. It makes a good choice if you’re building something new from scratch, but also when you’re trying to integrate something into an existing application with lots of existing markup.
        // START row
        form.form-validate#form-register(name="registerForm", novalidate='')
            // START panel
            .cardbox.cardbox-default
                .cardbox-heading
                    small.float-right * Required fields
                    span Form Register
                .cardbox-body
                    .mda-form-group
                        .mda-form-control
                            input.form-control(type='email', placeholder="mail@example.com", name='email', required='')
                            .mda-form-control-line
                            label.form-control-label Email Address *
                    .mda-form-group
                        .mda-form-control
                            input#id-password.form-control(type='password', name="password1", required='')
                            .mda-form-control-line
                            label.form-control-label Password *
                    .mda-form-group
                        .mda-form-control
                            input.form-control(type='password', name="confirm_match", required='')
                            .mda-form-control-line
                            label.form-control-label Confirm Password *
                .cardbox-body
                    .clearfix
                        .float-left
                            .checkbox.c-checkbox
                                label
                                    input(type='checkbox', name="agreements", required='')
                                    span.ion-checkmark-round
                                    | I agree with the
                                    a(href="#")  terms
                        .float-right.mt-sm
                            button.btn.btn-primary.btn-flat(type='submit') Register
            // END panel
        form.form-validate#form-subscribe(name="subscribeForm", novalidate='')
            // START panel
            .cardbox.cardbox-default
                .cardbox-body
                    .form-group
                        .mda-input-group.input-group
                            .mda-form-control
                                input.form-control(type='email', placeholder="mail@example.com", name='feedemail', required='')
                                .mda-form-control-line
                                label.control-label Subscribe
                            span.mda-input-group-addon
                                em.ion-email.icon-lg
                            span.input-group-btn.block
                                button.btn.btn-secondary.btn-circle(type='submit') Go!

        .cardbox
            .cardbox-body
                // START row
                .row
                    .col-lg-12
                        form.form-validate#form-example(name="form.formValidate" novalidate="")
                            fieldset.b0
                                legend Basics
                            fieldset
                                .form-group.row
                                    label.col-sm-2.col-form-label Required Text
                                    .col-sm-6
                                        input.form-control(type='text', name='sometext', required='')
                            fieldset
                                .form-group.row
                                    label.col-sm-2.col-form-label Email
                                    .col-sm-6
                                        input.form-control(type='email', placeholder="mail@example.com", name='email', required='')
                            fieldset
                                .form-group.row
                                    label.col-sm-2.col-form-label Checkbox &amp; Radio
                                    .col-sm-6
                                        .checkbox.c-checkbox
                                            label
                                                input(type='checkbox', required='', name="checkbox")
                                                span.ion-checkmark-round
                                                |  Option one
                                        .radio.c-radio.c-radio-nofont
                                            label
                                                input(type='radio', required='', name='radio', value='option1')
                                                span.ion-record
                                                |  Option one
                                        .radio.c-radio.c-radio-nofont
                                            label
                                                input(type='radio', required='', name='radio', value='option2')
                                                span.ion-record
                                                |  Option two checked
                            fieldset
                                .form-group.row
                                    label.col-sm-2.col-form-label Select
                                    .col-sm-6
                                        select.form-control(name='select', required="")
                                            option(value="") Nothing
                                            option(value="1") Option 1
                                            option(value="2") Option 2
                                            option(value="3") Option 3
                                            option(value="4") Option 4
                            fieldset
                                .form-group.row
                                    label.col-sm-2.col-form-label Number
                                    .col-sm-6
                                        input.form-control(type='number', name='anumber', required='')
                            fieldset
                                .form-group.row
                                    label.col-sm-2.col-form-label Digits
                                    .col-sm-6
                                        input.form-control(type='text', name='digits')
                            fieldset.bb0
                                .form-group.row
                                    label.col-sm-2.col-form-label Url
                                    .col-sm-6
                                        input.form-control(type='url', name='url', placeholder="protocol://")
                            fieldset.b0
                                legend Lengths
                            fieldset
                                .form-group.row
                                    label.col-sm-2.col-form-label Min
                                    .col-sm-6
                                        input.form-control(type='text', name='min')
                            fieldset
                                .form-group.row
                                    label.col-sm-2.col-form-label Max
                                    .col-sm-6
                                        input.form-control(type='text', name='max')
                            fieldset
                                .form-group.row
                                    label.col-sm-2.col-form-label Minlength
                                    .col-sm-6
                                        input.form-control(type='text', name='minlength')
                            fieldset
                                .form-group.row
                                    label.col-sm-2.col-form-label Maxlength
                                    .col-sm-6
                                        input.form-control(type='text', name='maxlength')
                            fieldset.b0
                                legend Range
                            fieldset.b0
                                .form-group.row
                                    label.col-sm-2.col-form-label Length range
                                    .col-sm-6
                                        input.form-control(type='text', name='length')
                            fieldset.b0
                                legend Comparison
                            fieldset.b0
                                .form-group.row
                                    label.col-sm-2.col-form-label Equal to
                                    .col-sm-6
                                        .row
                                            .col-sm-6
                                                input.form-control#id-source(type='password', name="match1")
                                            .col-sm-6
                                                input.form-control(type='password', name="confirm_match")
                            hr
                            .text-center
                                button.btn.btn-primary(type='submit') Run validation
                            // END panel
                // END row

