<!DOCTYPE html>
<html lang="en" data-ng-app="centric">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{app.description}}">
    <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
    <title data-ng-bind="documentTitle">Centric - Bootstrap Admin Template</title>
    <!-- build:css(..) app/css/vendor.css-->
    <link rel="stylesheet" href="vendor/animate.css/animate.css">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- endbuild-->
    <!-- Application styles-->
    <link id="appcss" rel="stylesheet" href="app/css/app.css">
  </head>
  <body data-ng-class="theme()">
    <div data-preloader></div>
    <div class="layout-container" data-ui-view="" data-autoscroll="false" data-ng-class="layout()"></div>
    <!-- build:vendor(..) app/js/vendor.js-->
    <script src="vendor/modernizr/modernizr.custom.js"></script>
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script>
    <script src="vendor/angular-cookies/angular-cookies.js"></script>
    <script src="vendor/angular-messages/angular-messages.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="vendor/angular-touch/angular-touch.js"></script>
    <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="vendor/ngstorage/ngStorage.js"></script>
    <script src="vendor/angular-ui-mask/dist/mask.js"></script>
    <script src="vendor/angular-ui-event/dist/event.js"></script>
    <script src="vendor/angular-ui-validate/dist/validate.js"></script>
    <script src="vendor/angular-ui-indeterminate/dist/indeterminate.js"></script>
    <script src="vendor/angular-ui-scrollpoint/dist/scrollpoint.js"></script>
    <script src="vendor/angular-ui-scroll/dist/ui-scroll.js"></script>
    <script src="vendor/angular-ui-uploader/dist/uploader.js"></script>
    <script src="vendor/angular-ui-utils/index.js"></script>
    <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="vendor/angular-resource/angular-resource.js"></script>
    <script src="vendor/angular-translate/angular-translate.js"></script>
    <script src="vendor/angular-translate-loader-url/angular-translate-loader-url.js"></script>
    <script src="vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="vendor/angular-translate-storage-local/angular-translate-storage-local.js"></script>
    <script src="vendor/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="vendor/oclazyload/dist/ocLazyLoad.js"></script>
    <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="vendor/angular-loading-bar/build/loading-bar.js"></script>
    <script src="vendor/jquery.browser/dist/jquery.browser.js"></script>
    <script src="vendor/material-colors/dist/colors.js"></script>
    <!-- endbuild-->
    <!-- App script-->
    <script src="app/js/app.js"></script>
  </body>
</html>