extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Datatables'
block content
    .container-fluid
        // DATATABLE DEMO 1
        .cardbox
            .cardbox-heading Zero configuration
            .cardbox-body
                .table-responsive: table.table-datatable#datatable1.table.table-striped.table-hover.mv-lg
                    thead
                        tr
                            th Rendering engine
                            th Browser
                            th Platform(s)
                            th.sort-numeric Engine version
                            th.sort-alpha CSS grade
                    tbody
                        tr.gradeX
                            td Trident
                            td Internet Explorer 4.0
                            td Win 95+
                            td 4
                            td X
                        tr.gradeC
                            td Trident
                            td Internet Explorer 5.0
                            td Win 95+
                            td 5
                            td C
                        tr.gradeA
                            td Trident
                            td Internet Explorer 5.5
                            td Win 95+
                            td 5.5
                            td A
                        tr.gradeA
                            td Trident
                            td Internet Explorer 6
                            td Win 98+
                            td 6
                            td A
                        tr.gradeA
                            td Trident
                            td Internet Explorer 7
                            td Win XP SP2+
                            td 7
                            td A
                        tr.gradeA
                            td Trident
                            td AOL browser (AOL desktop)
                            td Win XP
                            td 6
                            td A
                        tr.gradeA
                            td Gecko
                            td Firefox 1.0
                            td Win 98+ / OSX.2+
                            td 1.7
                            td A
                        tr.gradeA
                            td Gecko
                            td Firefox 1.5
                            td Win 98+ / OSX.2+
                            td 1.8
                            td A
                        tr.gradeA
                            td Gecko
                            td Firefox 2.0
                            td Win 98+ / OSX.2+
                            td 1.8
                            td A
                        tr.gradeA
                            td Gecko
                            td Firefox 3.0
                            td Win 2k+ / OSX.3+
                            td 1.9
                            td A
                        tr.gradeA
                            td Gecko
                            td Camino 1.0
                            td OSX.2+
                            td 1.8
                            td A
                        tr.gradeA
                            td Gecko
                            td Camino 1.5
                            td OSX.3+
                            td 1.8
                            td A
                        tr.gradeA
                            td Gecko
                            td Netscape 7.2
                            td Win 95+ / Mac OS 8.6-9.2
                            td 1.7
                            td A
                        tr.gradeA
                            td Gecko
                            td Netscape Browser 8
                            td Win 98SE+
                            td 1.7
                            td A
                        tr.gradeA
                            td Gecko
                            td Netscape Navigator 9
                            td Win 98+ / OSX.2+
                            td 1.8
                            td A
                        tr.gradeA
                            td Gecko
                            td Mozilla 1.0
                            td Win 95+ / OSX.1+
                            td 1
                            td A
                        tr.gradeA
                            td Gecko
                            td Mozilla 1.1
                            td Win 95+ / OSX.1+
                            td 1.1
                            td A
                        tr.gradeA
                            td Gecko
                            td Mozilla 1.2
                            td Win 95+ / OSX.1+
                            td 1.2
                            td A
                        tr.gradeA
                            td Gecko
                            td Mozilla 1.3
                            td Win 95+ / OSX.1+
                            td 1.3
                            td A
                        tr.gradeA
                            td Gecko
                            td Mozilla 1.4
                            td Win 95+ / OSX.1+
                            td 1.4
                            td A
                        tr.gradeA
                            td Gecko
                            td Mozilla 1.5
                            td Win 95+ / OSX.1+
                            td 1.5
                            td A
                        tr.gradeA
                            td Gecko
                            td Mozilla 1.6
                            td Win 95+ / OSX.1+
                            td 1.6
                            td A
                        tr.gradeA
                            td Gecko
                            td Mozilla 1.7
                            td Win 98+ / OSX.1+
                            td 1.7
                            td A
                        tr.gradeA
                            td Gecko
                            td Mozilla 1.8
                            td Win 98+ / OSX.1+
                            td 1.8
                            td A
                        tr.gradeA
                            td Gecko
                            td Seamonkey 1.1
                            td Win 98+ / OSX.2+
                            td 1.8
                            td A
                        tr.gradeA
                            td Gecko
                            td Epiphany 2.20
                            td Gnome
                            td 1.8
                            td A
                        tr.gradeA
                            td Webkit
                            td Safari 1.2
                            td OSX.3
                            td 125.5
                            td A
                        tr.gradeA
                            td Webkit
                            td Safari 1.3
                            td OSX.3
                            td 312.8
                            td A
                        tr.gradeA
                            td Webkit
                            td Safari 2.0
                            td OSX.4+
                            td 419.3
                            td A
                        tr.gradeA
                            td Webkit
                            td Safari 3.0
                            td OSX.4+
                            td 522.1
                            td A
                        tr.gradeA
                            td Webkit
                            td OmniWeb 5.5
                            td OSX.4+
                            td 420
                            td A
                        tr.gradeA
                            td Webkit
                            td iPod Touch / iPhone
                            td iPod
                            td 420.1
                            td A
                        tr.gradeA
                            td Webkit
                            td S60
                            td S60
                            td 413
                            td A
                        tr.gradeA
                            td Presto
                            td Opera 7.0
                            td Win 95+ / OSX.1+
                            td -
                            td A
                        tr.gradeA
                            td Presto
                            td Opera 7.5
                            td Win 95+ / OSX.2+
                            td -
                            td A
                        tr.gradeA
                            td Presto
                            td Opera 8.0
                            td Win 95+ / OSX.2+
                            td -
                            td A
                        tr.gradeA
                            td Presto
                            td Opera 8.5
                            td Win 95+ / OSX.2+
                            td -
                            td A
                        tr.gradeA
                            td Presto
                            td Opera 9.0
                            td Win 95+ / OSX.3+
                            td -
                            td A
                        tr.gradeA
                            td Presto
                            td Opera 9.2
                            td Win 88+ / OSX.3+
                            td -
                            td A
                        tr.gradeA
                            td Presto
                            td Opera 9.5
                            td Win 88+ / OSX.3+
                            td -
                            td A
                        tr.gradeA
                            td Presto
                            td Opera for Wii
                            td Wii
                            td -
                            td A
                        tr.gradeA
                            td Presto
                            td Nokia N800
                            td N800
                            td -
                            td A
                        tr.gradeA
                            td Presto
                            td Nintendo DS browser
                            td Nintendo DS
                            td 8.5
                            td
                                | C/A
                                sup 1
                        tr.gradeC
                            td KHTML
                            td Konqureror 3.1
                            td KDE 3.1
                            td 3.1
                            td C
                        tr.gradeA
                            td KHTML
                            td Konqureror 3.3
                            td KDE 3.3
                            td 3.3
                            td A
                        tr.gradeA
                            td KHTML
                            td Konqureror 3.5
                            td KDE 3.5
                            td 3.5
                            td A
                        tr.gradeX
                            td Tasman
                            td Internet Explorer 4.5
                            td Mac OS 8-9
                            td -
                            td X
                        tr.gradeC
                            td Tasman
                            td Internet Explorer 5.1
                            td Mac OS 7.6-9
                            td 1
                            td C
                        tr.gradeC
                            td Tasman
                            td Internet Explorer 5.2
                            td Mac OS 8-X
                            td 1
                            td C
                        tr.gradeA
                            td Misc
                            td NetFront 3.1
                            td Embedded devices
                            td -
                            td C
                        tr.gradeA
                            td Misc
                            td NetFront 3.4
                            td Embedded devices
                            td -
                            td A
                        tr.gradeX
                            td Misc
                            td Dillo 0.8
                            td Embedded devices
                            td -
                            td X
                        tr.gradeX
                            td Misc
                            td Links
                            td Text only
                            td -
                            td X
                        tr.gradeX
                            td Misc
                            td Lynx
                            td Text only
                            td -
                            td X
                        tr.gradeC
                            td Misc
                            td IE Mobile
                            td Windows Mobile 6
                            td -
                            td C
                        tr.gradeC
                            td Misc
                            td PSP browser
                            td PSP
                            td -
                            td C
                        tr.gradeU
                            td Other browsers
                            td All others
                            td -
                            td -
                            td U
        // DATATABLE DEMO 2
        .cardbox
            .cardbox-heading Individual column searching
            .cardbox-body
                table.table-responsive.table-datatable#datatable2.table.table-striped.table-hover.mv-lg
                    thead
                        tr
                            th Rendering engine
                            th Browser
                            th Platform
                            th.sort-numeric Engine version
                            th.sort-alpha CSS grade
                    tbody
                        tr.gradeX
                            td Trident
                            td Internet Explorer 4.0
                            td Win 95+
                            td 4
                            td X
                        tr.gradeC
                            td Trident
                            td Internet Explorer 5.0
                            td Win 95+
                            td 5
                            td C
                        tr.gradeA
                            td Trident
                            td Internet Explorer 5.5
                            td Win 95+
                            td 5.5
                            td A
                        tr.gradeA
                            td Trident
                            td Internet Explorer 6
                            td Win 98+
                            td 6
                            td A
                        tr.gradeA
                            td Trident
                            td Internet Explorer 7
                            td Win XP SP2+
                            td 7
                            td A
                        tr.gradeA
                            td Trident
                            td AOL browser (AOL desktop)
                            td Win XP
                            td 6
                            td A
                        tr.gradeA
                            td Gecko
                            td Firefox 1.0
                            td Win 98+ / OSX.2+
                            td 1.7
                            td A
                        tr.gradeA
                            td Gecko
                            td Firefox 1.5
                            td Win 98+ / OSX.2+
                            td 1.8
                            td A
                        tr.gradeA
                            td Gecko
                            td Firefox 2.0
                            td Win 98+ / OSX.2+
                            td 1.8
                            td A
                        tr.gradeA
                            td Gecko
                            td Firefox 3.0
                            td Win 2k+ / OSX.3+
                            td 1.9
                            td A
                        tr.gradeA
                            td Gecko
                            td Camino 1.0
                            td OSX.2+
                            td 1.8
                            td A
                        tr.gradeA
                            td Gecko
                            td Camino 1.5
                            td OSX.3+
                            td 1.8
                            td A
                        tr.gradeA
                            td Gecko
                            td Netscape 7.2
                            td Win 95+ / Mac OS 8.6-9.2
                            td 1.7
                            td A
                        tr.gradeA
                            td Gecko
                            td Netscape Browser 8
                            td Win 98SE+
                            td 1.7
                            td A
                        tr.gradeA
                            td Gecko
                            td Netscape Navigator 9
                            td Win 98+ / OSX.2+
                            td 1.8
                            td A
                        tr.gradeA
                            td Gecko
                            td Mozilla 1.0
                            td Win 95+ / OSX.1+
                            td 1
                            td A
                        tr.gradeA
                            td Gecko
                            td Mozilla 1.1
                            td Win 95+ / OSX.1+
                            td 1.1
                            td A
                        tr.gradeA
                            td Gecko
                            td Mozilla 1.2
                            td Win 95+ / OSX.1+
                            td 1.2
                            td A
                        tr.gradeA
                            td Gecko
                            td Mozilla 1.3
                            td Win 95+ / OSX.1+
                            td 1.3
                            td A
                        tr.gradeA
                            td Gecko
                            td Mozilla 1.4
                            td Win 95+ / OSX.1+
                            td 1.4
                            td A
                        tr.gradeA
                            td Gecko
                            td Mozilla 1.5
                            td Win 95+ / OSX.1+
                            td 1.5
                            td A
                        tr.gradeA
                            td Gecko
                            td Mozilla 1.6
                            td Win 95+ / OSX.1+
                            td 1.6
                            td A
                        tr.gradeA
                            td Gecko
                            td Mozilla 1.7
                            td Win 98+ / OSX.1+
                            td 1.7
                            td A
                        tr.gradeA
                            td Gecko
                            td Mozilla 1.8
                            td Win 98+ / OSX.1+
                            td 1.8
                            td A
                        tr.gradeA
                            td Gecko
                            td Seamonkey 1.1
                            td Win 98+ / OSX.2+
                            td 1.8
                            td A
                        tr.gradeA
                            td Gecko
                            td Epiphany 2.20
                            td Gnome
                            td 1.8
                            td A
                        tr.gradeA
                            td Webkit
                            td Safari 1.2
                            td OSX.3
                            td 125.5
                            td A
                        tr.gradeA
                            td Webkit
                            td Safari 1.3
                            td OSX.3
                            td 312.8
                            td A
                        tr.gradeA
                            td Webkit
                            td Safari 2.0
                            td OSX.4+
                            td 419.3
                            td A
                        tr.gradeA
                            td Webkit
                            td Safari 3.0
                            td OSX.4+
                            td 522.1
                            td A
                        tr.gradeA
                            td Webkit
                            td OmniWeb 5.5
                            td OSX.4+
                            td 420
                            td A
                        tr.gradeA
                            td Webkit
                            td iPod Touch / iPhone
                            td iPod
                            td 420.1
                            td A
                        tr.gradeA
                            td Webkit
                            td S60
                            td S60
                            td 413
                            td A
                        tr.gradeA
                            td Presto
                            td Opera 7.0
                            td Win 95+ / OSX.1+
                            td -
                            td A
                        tr.gradeA
                            td Presto
                            td Opera 7.5
                            td Win 95+ / OSX.2+
                            td -
                            td A
                        tr.gradeA
                            td Presto
                            td Opera 8.0
                            td Win 95+ / OSX.2+
                            td -
                            td A
                        tr.gradeA
                            td Presto
                            td Opera 8.5
                            td Win 95+ / OSX.2+
                            td -
                            td A
                        tr.gradeA
                            td Presto
                            td Opera 9.0
                            td Win 95+ / OSX.3+
                            td -
                            td A
                        tr.gradeA
                            td Presto
                            td Opera 9.2
                            td Win 88+ / OSX.3+
                            td -
                            td A
                        tr.gradeA
                            td Presto
                            td Opera 9.5
                            td Win 88+ / OSX.3+
                            td -
                            td A
                        tr.gradeA
                            td Presto
                            td Opera for Wii
                            td Wii
                            td -
                            td A
                        tr.gradeA
                            td Presto
                            td Nokia N800
                            td N800
                            td -
                            td A
                        tr.gradeA
                            td Presto
                            td Nintendo DS browser
                            td Nintendo DS
                            td 8.5
                            td
                                | C/A
                                sup 1
                        tr.gradeC
                            td KHTML
                            td Konqureror 3.1
                            td KDE 3.1
                            td 3.1
                            td C
                        tr.gradeA
                            td KHTML
                            td Konqureror 3.3
                            td KDE 3.3
                            td 3.3
                            td A
                        tr.gradeA
                            td KHTML
                            td Konqureror 3.5
                            td KDE 3.5
                            td 3.5
                            td A
                        tr.gradeX
                            td Tasman
                            td Internet Explorer 4.5
                            td Mac OS 8-9
                            td -
                            td X
                        tr.gradeC
                            td Tasman
                            td Internet Explorer 5.1
                            td Mac OS 7.6-9
                            td 1
                            td C
                        tr.gradeC
                            td Tasman
                            td Internet Explorer 5.2
                            td Mac OS 8-X
                            td 1
                            td C
                        tr.gradeA
                            td Misc
                            td NetFront 3.1
                            td Embedded devices
                            td -
                            td C
                        tr.gradeA
                            td Misc
                            td NetFront 3.4
                            td Embedded devices
                            td -
                            td A
                        tr.gradeX
                            td Misc
                            td Dillo 0.8
                            td Embedded devices
                            td -
                            td X
                        tr.gradeX
                            td Misc
                            td Links
                            td Text only
                            td -
                            td X
                        tr.gradeX
                            td Misc
                            td Lynx
                            td Text only
                            td -
                            td X
                        tr.gradeC
                            td Misc
                            td IE Mobile
                            td Windows Mobile 6
                            td -
                            td C
                        tr.gradeC
                            td Misc
                            td PSP browser
                            td PSP
                            td -
                            td C
                        tr.gradeU
                            td Other browsers
                            td All others
                            td -
                            td -
                            td U
                    tfoot
                        tr
                            th
                                .mda-form-control.pt0
                                    input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_rendering_engine', placeholder='Filter Rendering engine')
                                    .mda-form-control-line
                            th
                                .mda-form-control.pt0
                                    input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_browser', placeholder='Filter Browser')
                                    .mda-form-control-line
                            th
                                .mda-form-control.pt0
                                    input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_platform', placeholder='Filter Platform')
                                    .mda-form-control-line
                            th
                                .mda-form-control.pt0
                                    input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_engine_version', placeholder='Filter Engine version')
                                    .mda-form-control-line
                            th
                                .mda-form-control.pt0
                                    input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_css_grade', placeholder='Filter CSS grade')
                                    .mda-form-control-line

