extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Classic Tables'
block content
    .container-fluid

        // START panel
        .cardbox
            .cardbox-heading Basic Table
            // START table-responsive
            .table-responsive
                table.table
                    thead
                        tr
                            th #
                            th First Name
                            th Last Name
                            th Username
                    tbody
                        tr
                            td 1
                            td Mark
                            td Otto
                            td @mdo
                        tr
                            td 2
                            td Jacob
                            td Thornton
                            td @fat
                        tr
                            td 3
                            td Larry
                            td the Bird
                            td @twitter
            // END table-responsive
        // END panel

        // START row
        .row
            .col-xl-6.col-xs-12
                .cardbox
                    .cardbox-heading Striped Rows
                    .table-responsive
                        table.table.table-striped
                            thead
                                tr
                                    th #
                                    th First Name
                                    th Last Name
                                    th Username
                            tbody
                                tr
                                    td 1
                                    td Mark
                                    td Otto
                                    td @mdo
                                tr
                                    td 2
                                    td Jacob
                                    td Thornton
                                    td @fat
                                tr
                                    td 3
                                    td Larry
                                    td the Bird
                                    td @twitter
            .col-xl-6.col-xs-12
                .cardbox
                    .cardbox-heading Hover Rows
                    .table-responsive
                        table.table.table-hover
                            thead
                                tr
                                    th #
                                    th First Name
                                    th Last Name
                                    th Username
                            tbody
                                tr
                                    td 1
                                    td Mark
                                    td Otto
                                    td @mdo
                                tr
                                    td 2
                                    td Jacob
                                    td Thornton
                                    td @fat
                                tr
                                    td 3
                                    td Larry
                                    td the Bird
                                    td @twitter
        // END row
        // START row
        .cardbox
            .cardbox-heading Bordered Table
            table.table.table-bordered
                thead
                    tr
                        th #
                        th First Name
                        th Last Name
                        th Username
                tbody
                    tr
                        td 1
                        td Mark
                        td Otto
                        td @mdo
                    tr
                        td 2
                        td Jacob
                        td Thornton
                        td @fat
                    tr
                        td 3
                        td Larry
                        td the Bird
                        td @twitter
        .cardbox
            .cardbox-heading Context Classes
            .table-responsive
                table.table
                    thead
                        tr
                            th #
                            th First Name
                            th Last Name
                            th Username
                    tbody
                        tr.table-success
                            td 1
                            td Mark
                            td Otto
                            td @mdo
                        tr.table-info
                            td 2
                            td Jacob
                            td Thornton
                            td @fat
                        tr.table-warning
                            td 3
                            td Larry
                            td the Bird
                            td @twitter
                        tr.table-danger
                            td 4
                            td John
                            td Smith
                            td @jsmith
        // END row
