extends user.layout.pug
block content
    .container-full
        .container.container-xs
            .text-center
                img.mv-lg.img-fluid.thumb64(src="~img/logo.png")
            form.cardbox.b0.form-validate#user-login(action="", name="loginForm", novalidate='')
                .cardbox-offset.pb0
                    .cardbox-offset-item.text-right
                        a.btn-raised.btn.btn-info.btn-circle.btn-lg(href="signup.html")
                            em.ion-person-add
                    .cardbox-offset-item.text-right.invisible
                        .btn.btn-success.btn-circle.btn-lg
                            em.ion-checkmark-round
                .cardbox-heading
                    .cardbox-title.text-center Login
                .cardbox-body
                    .mda-form-group.float-label.mda-input-group
                        .mda-form-control
                            input.form-control(type='email', name="accountName", required="")
                            .mda-form-control-line
                            label Email address
                        span.mda-input-group-addon
                            em.ion-ios-email-outline.icon-lg
                    .mda-form-group.float-label.mda-input-group
                        .mda-form-control
                            input.form-control(type='password', name="accountPassword", required="")
                            .mda-form-control-line
                            label Password
                        span.mda-input-group-addon
                            em.ion-ios-locked-outline.icon-lg
                button.btn.btn-primary.btn-flat(type="submit") Authenticate
            .text-center.text-sm
                a.text-inherit(href="recover.html") Forgot password?
