extends user.layout.pug
block content
    .container-full
        .container.container-xs
            .text-center
                img.mv-lg.img-fluid.thumb64(src="~img/logo.png")
            form.cardbox.b0.form-validate#user-signup(action="", name="createForm", novalidate='')
                .cardbox-offset.pb0
                    .cardbox-offset-item.text-right
                        #form-ok.btn.btn-success.btn-circle.btn-lg.invisible
                            em.ion-checkmark-round
                .cardbox-heading
                    .cardbox-title.text-center Create account
                .cardbox-body
                    .mda-form-group.float-label.mda-input-group
                        .mda-form-control
                            input.form-control(type='email', name="accountName", required="")
                            .mda-form-control-line
                            label Email address
                        span.mda-input-group-addon
                            em.ion-ios-email-outline.icon-lg
                    .mda-form-group.float-label.mda-input-group
                        .mda-form-control
                            input.form-control#account-password(type='password', name="accountPassword", required="")
                            .mda-form-control-line
                            label Password
                        span.mda-input-group-addon
                            em.ion-ios-locked-outline.icon-lg
                    .mda-form-group.float-label.mda-input-group
                        .mda-form-control
                            input.form-control(type='password', name="accountPasswordCheck", required="")
                            .mda-form-control-line
                            label Confirm password
                        span.mda-input-group-addon
                            em.ion-ios-locked-outline.icon-lg
                button.btn.btn-primary.btn-flat(type="submit") Create

                .cardbox-body.bg-gray-lighter.text-center.text-sm
                    span.spr By registering I accept the
                    a.spr(href="#") Terms of Service
                    span.spr and
                    a.spr(href="#") Privacy
