doctype html
html(lang="en")

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

        meta(name='description', content='Bootstrap Admin Template')
        meta(name='keywords', content='app, responsive, jquery, bootstrap, dashboard, admin')

        title Centric - Bootstrap Admin Template

        // Vendor styles
        link(rel="stylesheet", href="css/vendor.css")
        // App styles
        link(rel="stylesheet", href="css/app.css")

    body

        .layout-container
            .page-container.bg-blue-grey-900
                block content

        // Vendor script
        script(src="js/vendor.js")
        // App script
        script(src="js/app.js")
