extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Dashboard'
block content
    .content-heading.bg-white
        .row
            .col-sm-9
                h4.m0.text-thin Welcome to Centric dashboard
                small Bootstrap admin dashboard template
            .col-sm-3.text-right.d-none.d-sm-block
                button.mt-sm.btn.btn-labeled.btn-secondary.ripple(type='button')
                    | Apps
                    span.btn-label.btn-label-right
                        i.ion-plus-round

    .container-fluid

        .row
            .col-6.col-md-6.col-xl-3
                .cardbox
                    .cardbox-body.pv
                        .clearfix
                            .float-left
                                h4.m0.text-thin 350
                                small.m0.text-muted
                                    em.mr-sm.ion-arrow-up-b
                                    | New visitors
                            .float-right.mt-lg
                                #sparkline2.sparkline(data-line-color="#4caf50")
            .col-6.col-md-6.col-xl-3
                .cardbox
                    .cardbox-body.pv
                        .clearfix
                            .float-left
                                h4.m0.text-thin 10,200
                                small.m0.text-muted
                                    em.mr-sm.ion-arrow-down-b
                                    | Page views
                            .float-right.mt-lg
                                #sparkline1.sparkline(data-line-color="#03A9F4")
            .col-6.col-md-6.col-xl-3.d-none.d-xl-block
                .cardbox
                    .cardbox-body.pv
                        .clearfix
                            .float-left
                                h4.m0.text-thin 880
                                small.m0.text-muted
                                    em.mr-sm.ion-arrow-up-b
                                    | Last income
                            .float-right.mt-lg
                                #sparkline3.sparkline(data-line-color="#ab47bc")
            .col-6.col-md-6.col-xl-3.d-none.d-xl-block
                .cardbox
                    .cardbox-body.pv
                        .clearfix
                            .float-left
                                h4.m0.text-thin 780
                                small.m0.text-muted
                                    em.mr-sm.ion-arrow-up-b
                                    | Reservations
                            .float-right.mt-lg
                                #sparkline4.sparkline(data-line-color="#e91e63")
        .row
            .col-xl-9.col-lg-12
                .row
                    .col-xl-8.col-xs-12
                        .cardbox
                            .cardbox-heading
                                // START dropdown
                                .float-right.dropdown
                                    button.btn.btn-secondary.btn-flat.btn-flat-icon.ripple(type='button', data-toggle="dropdown")
                                        em.ion-android-more-vertical
                                    ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                        li
                                            a(href="#") Last 30 days
                                        li
                                            a(href="#") Last week
                                        li
                                            a(href="#") Last year
                                // END dropdown
                                .cardbox-title Analytic board
                                small Nulla commodo blandit cursus.
                            .cardbox-body
                                .float-right.pr-sm.btn-group.btn-group-sm(role='group', aria-label='...')
                                    button.btn.btn-secondary.btn-sm.btn-secondary(type='button') Total
                                    button.btn.btn-secondary.btn-sm.btn-secondary(type='button') Average
                                #flot-main-spline.flot-chart.flot-chart-lg.flot-legend-left
                    .col-xl-4.col-xs-12
                        .cardbox
                            .cardbox-heading
                                .float-right
                                    p.m0.text-muted
                                        em.mr-sm.ion-arrow-up-b
                                        | 20%
                                .cardbox-title Earnings
                                small Based on last month analytics.
                            .cardbox-body
                                .btn-group.btn-group-sm(role='group', aria-label='...')
                                    button.btn.btn-secondary.btn-sm.btn-secondary(type='button') 2015
                                    button.btn.btn-secondary.btn-sm.btn-secondary(type='button') 2016
                                //- .pv.text-sm.text-center Income vs Outcome
                                #flot-stacked-chart.flot-chart(data-height="245px")
                .row
                    .col-md-12.col-xl-4
                        .cardbox
                            .cardbox-heading
                                .float-right
                                    span.mr
                                        em.ion-record.spr.text-primary
                                        small.va-middle 2016
                                    span
                                        em.ion-record.spr.text-success
                                        small.va-middle 2015
                                .cardbox-title Sales
                            .cardbox-body
                                //- .text-sm.pv Nullam fermentum porttitor
                                #flot-bar-chart.flot-chart.flot-chart-md(data-height="235")
                    .col-md-12.col-xl-8
                        .cardbox
                            // START table-responsive
                            .table-responsive
                                table.table
                                    thead
                                        tr
                                            th #
                                            th Project
                                            th Completion
                                            th.text-right Trend
                                    tbody
                                        tr
                                            td.va-middle
                                                span.badge.bg-pink-500 1
                                            td
                                                p.m0 Vestibulum
                                                    br
                                                    small.text-thin Nunc posuere eleifend lobortis.
                                            td.va-middle 50%
                                            td.text-right.va-middle
                                                em.ion-arrow-graph-up-right.text-success
                                        tr
                                            td.va-middle
                                                span.badge.bg-purple-400 2
                                            td
                                                p.m0 Runfaster
                                                    br
                                                    small.text-thin Nunc posuere eleifend lobortis.
                                            td.va-middle 30%
                                            td.text-right.va-middle
                                                em.ion-arrow-graph-down-right.text-warning
                                        tr
                                            td.va-middle
                                                span.badge.bg-indigo-500 3
                                            td
                                                p.m0 Medic Healthcare
                                                    br
                                                    small.text-thin Nunc posuere eleifend lobortis.
                                            td.va-middle 80%
                                            td.text-right.va-middle
                                                em.ion-arrow-graph-up-right.text-success
                                        tr
                                            td.va-middle
                                                span.badge.bg-info 4
                                            td
                                                p.m0 Videotubeyou
                                                    br
                                                    small.text-thin Nunc posuere eleifend lobortis.
                                            td.va-middle 50%
                                            td.text-right.va-middle
                                                em.ion-arrow-graph-down-right.text-warning
                            // END table-responsive
            .col-xl-3.col-md-12
                // Activity feed
                .cardbox
                    .cardbox-heading
                        // START dropdown
                        .float-right.dropdown
                            button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle="dropdown")
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li
                                    a(href="#") Last 30 days
                                li
                                    a(href="#") Last week
                                li
                                    a(href="#") Last year
                        // END dropdown
                        .cardbox-title Activity
                        small What's people doing right now
                    .cardbox-body.bb
                        p.float-left.mr
                            a(href="#"): img.rounded-circle.thumb32(src="~img/user/04.jpg", alt="User")
                        .oh
                            p
                                strong.spr Adam
                                span.spr posted in
                                a(href="#") Material
                            p.bl.pl: i That's awesome!
                            .clearfix
                                .float-left.text-muted
                                    em.ion-android-time.mr-sm
                                    span 2 hours ago
                    .cardbox-body.bb
                        p.float-left.mr
                            a(href="#"): img.rounded-circle.thumb32(src="~img/user/06.jpg", alt="User")
                        .oh
                            p
                                strong.spr Dora
                                span added a new task
                            p
                                em.ion-calendar.icon-fw
                                a(href="#") Start migration
                            .clearfix
                                .float-left.text-muted
                                    em.ion-android-time.mr-sm
                                    span 3 hours ago
                                .float-right
                                    span 2
                                    em.ion-star.ml-sm.text-warning
                    .cardbox-body.bb
                        p.float-left.mr
                            a(href="#"): img.rounded-circle.thumb32(src="~img/user/07.jpg", alt="User")
                        .oh
                            p
                                strong.spr Kathryn
                                span.spr published
                                a(href="#") Trip
                            p
                                a(href="#"): img.mr-sm.thumb48(src="~img/pic1.jpg", alt="Pic")
                                a(href="#"): img.mr-sm.thumb48(src="~img/pic2.jpg", alt="Pic")
                            .clearfix
                                .float-left.text-muted
                                    em.ion-android-time.mr-sm
                                    span 4 hours ago
                                .float-right
                                    span 2
                                    em.ion-ios-heart.ml-sm.text-danger
                    .cardbox-body.bb
                        p.float-left.mr
                            a(href="#"): img.rounded-circle.thumb32(src="~img/user/02.jpg", alt="User")
                        .oh
                            p
                                strong.spr Daniel
                                span.spr joined to
                                a(href="#") Group
                            p
                                span.image-list
                                    a(href="#"): img.rounded-circle.thumb32(src="~img/user/03.jpg", alt="User")
                                    a(href="#"): img.rounded-circle.thumb32(src="~img/user/04.jpg", alt="User")
                                    a(href="#"): img.rounded-circle.thumb32(src="~img/user/05.jpg", alt="User")
                                    a(href="#"): img.rounded-circle.thumb32(src="~img/user/07.jpg", alt="User")
                                    strong: a.ml-sm.link-unstyled(href="#") +3
                            .clearfix
                                .float-left.text-muted
                                    em.ion-android-time.mr-sm
                                    span yesterday
                    .cardbox-body.bb
                        p.float-left.mr
                            a(href="#"): img.rounded-circle.thumb32(src="~img/user/03.jpg", alt="User")
                        .oh
                            p
                                strong.spr Leroy Day
                                span.spr wakes up!
                            p.bl.pl: i That's awesome!
                            .clearfix
                                .float-left.text-muted
                                    em.ion-android-time.mr-sm
                                    span 2 weeks ago
                    a(href="#").cardbox-footer.btn.btn-flat.btn-secondary
                        small.text-center.text-muted.lh1 See more activities

        .row
            .col-xl-4.col-lg-6
                .cardbox
                    .cardbox-heading.bg-pink-500.ripple.ripple-block
                        .cardbox-title.text-center
                            small October
                            h4.mv-sm.text-md 12
                            span Monday
                    .ui-datepicker-responsive
                        #dashboard-datepicker.ui-datepicker(data-date="04/04/2016")
            .col-xl-4.col-lg-6
                .cardbox
                    .cardbox-heading
                        .cardbox-title
                            .float-right: em.ion-ios-people.text-soft.icon-lg
                            | Resources distribution
                    .cardbox-body.pt0
                        #vector-map.vector-map(style="height:240px")
                    ul.list-group.m0
                        li.list-group-item.d-flex.justify-content-between.align-items-center
                            span Silicon Valley
                            span.ml-auto.badge.badge-xs.bg-green-500 15
                        li.list-group-item.d-flex.justify-content-between
                            span Chicago
                            span.ml-auto.badge.badge-xs.bg-pink-500 9
                        li.list-group-item.d-flex.justify-content-between
                            span Houston
                            span.ml-auto.badge.badge-xs.bg-purple-500 3
                        li.list-group-item.d-flex.justify-content-between
                            span Others
                            span.ml-auto.badge.badge-xs.bg-blue-500 25
            .col-xl-4.col-lg-12
                .cardbox
                    .cardbox-heading
                        .cardbox-title
                            .float-right: a(href="#"): em.ion-plus-round.text-soft
                            | Tasks
                    .cardbox-body.text-center.pt0
                        .easypie-chart.block-center#dashboard-easypiechartTask(data-percent="85")
                            small.percentage Goal
                        p.mv 85% productivity
                    .list-group.m0
                        a(href="#").list-group-item.bt0.justify-content-between
                            span.text-sm Work on project presentation
                            span.float-right: em.ion-ios-arrow-right
                        a(href="#").list-group-item.justify-content-between
                            span.text-sm Prepare a call with Robert
                            span.float-right: em.ion-ios-arrow-right
                        a(href="#").list-group-item.justify-content-between
                            span.text-sm Release a new version
                            span.float-right: em.ion-ios-arrow-right
                        a(href="#").list-group-item.bb0.justify-content-between
                            span.text-sm Tell Houston there's no problem
                            span.float-right: em.ion-ios-arrow-right
                    #flot-task-chart.flot-chart.flot-chart-sm(data-height="90")
