block pagetitle
    - pageTitle = ''
nav
    ul.d-lg-none
        li
            a#sidebar-toggler.menu-link.menu-link-slide(href='#')
                span: em
    ul.d-none.d-sm-block
        li
            a#offcanvas-toggler.menu-link.menu-link-slide(href='#')
                span: em
    h2.header-title= pageTitle
    ul.float-right
        li
            a#header-search.ripple(href='#')
                em.ion-ios-search-strong
        li.dropdown
            a.dropdown-toggle.has-badge.ripple(href='#', data-toggle='dropdown')
                em.ion-person
                sup.badge.bg-danger 3
            ul.dropdown-menu.dropdown-menu-right.md-dropdown-menu
                li
                    a(href='profile.html')
                        em.ion-home.icon-fw
                        | Profile
                li
                    a(href='messages.html')
                        em.ion-gear-a.icon-fw
                        | Messages
                li.dropdown-divider(role='presentation')
                li
                    a(href='user.login.html')
                        em.ion-log-out.icon-fw
                        | Logout
        li
            a#header-settings.ripple(href='#')
                em.ion-gear-b
