doctype html
html(lang="en", data-ng-app="centric")

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

        meta(name='description', content='{{app.description}}')
        meta(name='keywords', content='app, responsive, angular, bootstrap, dashboard, admin')

        title(data-ng-bind="documentTitle") Centric - Bootstrap Admin Template

        // build:css(..) app/css/vendor.css
        link(rel='stylesheet', href='vendor/animate.css/animate.css')
        link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')
        //- link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.rtl.css')
        // endbuild

        // Application styles
        link#appcss(rel='stylesheet', href='app/css/app.css')
        //- link#appcss(rel='stylesheet', href='app/css/app-rtl.css')

    body(data-ng-class="theme()")

        div(data-preloader)

        .layout-container(data-ui-view="", data-autoscroll='false', data-ng-class="layout()")

        // build:vendor(..) app/js/vendor.js
        script(src="vendor/modernizr/modernizr.custom.js")
        script(src="vendor/jquery/dist/jquery.min.js")
        script(src="vendor/angular/angular.js")
        script(src="vendor/angular-route/angular-route.js")
        script(src="vendor/angular-cookies/angular-cookies.js")
        script(src="vendor/angular-messages/angular-messages.js")
        script(src="vendor/angular-animate/angular-animate.js")
        script(src="vendor/angular-touch/angular-touch.js")
        script(src="vendor/angular-ui-router/release/angular-ui-router.js")
        script(src="vendor/ngstorage/ngStorage.js")
        script(src="vendor/angular-ui-mask/dist/mask.js")
        script(src="vendor/angular-ui-event/dist/event.js")
        script(src="vendor/angular-ui-validate/dist/validate.js")
        script(src="vendor/angular-ui-indeterminate/dist/indeterminate.js")
        script(src="vendor/angular-ui-scrollpoint/dist/scrollpoint.js")
        script(src="vendor/angular-ui-scroll/dist/ui-scroll.js")
        script(src="vendor/angular-ui-uploader/dist/uploader.js")
        script(src="vendor/angular-ui-utils/index.js")
        script(src="vendor/angular-sanitize/angular-sanitize.js")
        script(src="vendor/angular-resource/angular-resource.js")
        script(src="vendor/angular-translate/angular-translate.js")
        script(src="vendor/angular-translate-loader-url/angular-translate-loader-url.js")
        script(src="vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js")
        script(src="vendor/angular-translate-storage-local/angular-translate-storage-local.js")
        script(src="vendor/angular-translate-storage-cookie/angular-translate-storage-cookie.js")
        script(src="vendor/oclazyload/dist/ocLazyLoad.js")
        script(src="vendor/angular-bootstrap/ui-bootstrap-tpls.js")
        script(src="vendor/angular-loading-bar/build/loading-bar.js")
        script(src="vendor/jquery.browser/dist/jquery.browser.js")
        script(src="vendor/material-colors/dist/colors.js")
        // endbuild

        // App script
        script(src="app/js/app.js")

        //- templates:js
        //- endinject
