extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Cards'
block content
    .container.container-lg
        .row
            .col-xl-8.col-md-12
                .row
                    .col-sm-6.col-xs-12
                        .cardbox
                            .cardbox-heading.bg-pink-500
                                // START dropdown
                                .float-right.dropdown
                                    button.btn.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                        em.ion-android-more-vertical
                                    ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                        li
                                            a(href='#') Option 1
                                        li
                                            a(href='#') Option 2
                                        li
                                            a(href='#') Option 3
                                // END dropdown
                                .cardbox-title Paracosm
                            .cardbox-body
                                p Nulla egestas faucibus tincidunt.
                                p.m0
                                    a(href='#')
                                        img.mr-sm.thumb48(src='~img/pic1.jpg', alt='Pic')
                                    a(href='#')
                                        img.mr-sm.thumb48(src='~img/pic2.jpg', alt='Pic')
                                    a(href='#')
                                        img.mr-sm.thumb48(src='~img/pic3.jpg', alt='Pic')
                                    a(href='#')
                                        img.mr-sm.thumb48(src='~img/pic4.jpg', alt='Pic')
                            .cardbox-footer
                                button.btn.btn-flat.btn-secondary(type="button") Action 1
                                button.btn.btn-flat.btn-secondary(type="button") Action 2
                    .col-sm-6.col-xs-12
                        .cardbox
                            .cardbox-heading.bg-primary
                                .cardbox-title Paracosm
                            .cardbox-offset
                                .cardbox-offset-item.text-right
                                    button(type="button").btn-raised.btn.btn-info.btn-circle.btn-lg
                                        em.ion-android-add
                            .cardbox-body.pt0
                                p.mb-sm Cras rutrum scelerisque auctor. Donec ultricies blandit venenatis. Nulla facilisi. Praesent diam diam, venenatis lorem par.
                            .cardbox-footer
                                button.btn.btn-flat.btn-secondary(type="button") Action 1
                                button.btn.btn-flat.btn-secondary(type="button") Action 2
                .row
                    .col-sm-6.col-xs-12
                        .cardbox
                            .cardbox-item
                                img.fw.img-fluid(src='~img/pic5.jpg', alt='MaterialImg')
                                .cardbox-item-text.text-right Paracosm
                            .cardbox-offset
                                .cardbox-offset-item.text-left
                                    button.btn-raised.btn.btn-primary.btn-circle.btn-lg(type="button") 25
                            .cardbox-body.pt0
                                h4.m0 Sky red
                                p.m0
                                    span.mr-sm.text-muted by
                                    a(href='#') John
                    .col-sm-6.col-xs-12
                        .cardbox
                            .cardbox-item
                                img.fw.img-fluid(src='~img/pic4.jpg', alt='MaterialImg')
                                .cardbox-item-text Paracosm
                            .cardbox-offset
                                .cardbox-offset-item.text-center
                                    button(type="button").btn-raised.btn.btn-success.btn-circle.btn-lg
                                        em.ion-share
                            .cardbox-body.pt0
                                h4.m0 Peaceful view
                                p.m0
                                    span.mr-sm.text-muted by
                                    a(href='#') Zachary

            .col-xl-4.col-md-12
                .cardbox
                    .cardbox-item
                        img.fw.img-fluid(src='~img/pic1.jpg', alt='MaterialImg')
                        .cardbox-item-text.bg-transparent
                            h4.text-center Jill Howell
                    .cardbox-offset
                        .cardbox-offset-item.text-right
                            button(type="button").btn-raised.btn.btn-danger.btn-circle.btn-lg
                                em.ion-ios-heart
                    .mda-list
                        .mda-list-item
                            .mda-list-item-icon
                                em.ion-android-call.icon-2x.text-primary
                            .mda-list-item-text.mda-2-line
                                h3 (123) 456 789
                                h4.text-muted Home
                            .mda-list-item-icon.float-right
                                em.ion-chatbubbles.icon-lg.text-muted
                        .mda-list-item
                            .mda-list-item-icon
                            .mda-list-item-text.mda-2-line
                                h3 (123) +15 321 654
                                h4.text-muted Mobile
                        .mda-list-item
                            .mda-list-item-icon
                                em.ion-android-mail.icon-2x.text-primary
                            .mda-list-item-text.mda-2-line
                                h3 jill@personal.com
                                h4.text-muted Personal
                            .mda-list-item-icon.float-right
                                em.ion-compose.icon-lg.text-muted
                        .mda-list-item
                            .mda-list-item-icon
                            .mda-list-item-text.mda-2-line
                                h3 jill.howell@work.com
                                h4.text-muted Work
        .row
            .col-xl-4.col-lg-6
                .cardbox.bg-primary.mb
                    .cardbox-body
                        .cardbox-title
                            .float-right
                                em.ion-calendar.icon-2x.text-muted.va-top
                            h4.m0 New event
                        h5 22 Aug, at 10 a.m.
                    .cardbox-footer
                        button.btn.btn-flat.btn-primary.text-white(type="button") Add to Calendar
            .col-xl-4.col-lg-6
                .cardbox.bg-success.mb
                    .cardbox-body
                        .cardbox-title
                            .row
                                .col-8
                                    em.ion-ios-musical-notes.icon-2x.float-left
                                    .pl-xl
                                        h5.mv-sm Pellentesque vitae
                                        h6.m0 Aliquam non eros
                                .col-4
                                    a(href="#"): img.img-fluid.rounded(src="~img/user/05.jpg", alt="Image")
                    .cardbox-footer.clearfix
                        .float-left
                            button.btn.btn-flat.btn-success.text-white(type="button") Play now
                        .float-right
                            button.btn.btn-flat.btn-success.text-white(type="button") Next
            .col-xl-4.col-xs-12
                .cardbox.bg-info.mb
                    .cardbox-body
                        p.lead.m0.text-white A simple announce could be added here with any text for users who want to read this.
                    .cardbox-footer.text-right
                        button.btn.btn-flat.btn-info.text-white(type="button") Ok, Let's Go!

        // Large card
        .cardbox
            .cardbox-heading
                // START dropdown
                .float-right.dropdown
                    button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                        em.ion-android-more-vertical
                    ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                        li
                            a(href='#') Option 1
                        li
                            a(href='#') Option 2
                        li
                            a(href='#') Option 3
                // END dropdown
            .cardbox-body.pt0
                h3.mt0 Technology
                p Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse. Pariatur occaecat nisi laboris tempor laboris eiusmod qui id Lorem esse commodo in. Exercitation aute dolore deserunt culpa consequat elit labore incididunt elit anim.
            .cardbox-footer
                button.btn.btn-flat.btn-primary(type="button") Read More

        .row
            .col-xl-3.col-sm-6
                .cardbox
                    .cardbox-item
                        img.fw.img-fluid(src='~img/pic3.jpg', alt='MaterialImg')
                    .cardbox-body
                        h4.mt0 Freedom in the air
                        p.m0 Nunc vitae ipsum elit, non lacinia dui. Sed tempor lacinia tempus. Etiam eget congue nulla. Sed quis eros libero, a euismod nisl.

            .col-xl-3.col-sm-6
                .cardbox
                    .cardbox-item
                        img.fw.img-fluid(src='~img/pic2.jpg', alt='MaterialImg')
                    .cardbox-body
                        h4.mt0 Mountain lake
                        p Cras et dui non erat ornare ornare eget non sapien.
                        .text-right
                            button.btn.btn-flat.btn-primary(type="button") Share
                            button.btn.btn-flat.btn-primary(type="button") More
            .col-xl-3.col-sm-6
                .cardbox
                    .cardbox-item
                        img.fw.img-fluid(src='~img/pic1.jpg', alt='MaterialImg')
                        .cardbox-item-text
                            a(href="#"): em.ion-map.mr.icon-lg
                            a(href="#"): em.ion-ios-heart-outline.mr.icon-lg
                            a(href="#"): em.ion-image.icon-lg
                    .cardbox-body
                        h4.mt0 Forest trip
                        p Nullam quis lorem a est auctor venenatis vel vitae ipsum.
                        hr
                        .clearfix
                            .float-left
                                span.mr-sm.text-muted by
                                a(href='#') Bonnie
                            .float-right.text-muted
                                em.ion-android-time.mr-sm
                                span a week ago
            .col-xl-3.col-sm-6
                .cardbox
                    .cardbox-item
                        img.fw.img-fluid(src='~img/pic4.jpg', alt='MaterialImg')
                        p.cardbox-item-text Picture.png
                .cardbox
                    .cardbox-item
                        img.fw.img-fluid(src='~img/pic1.jpg', alt='MaterialImg')
                        p.cardbox-item-text Image.jpg
