
<div class="container container-lg">
  <!-- START card-->
  <div class="card">
    <div class="card-body">
      <h5 class="mt0">Button colors</h5>
      <button class="mb-sm btn btn-default ripple" type="button">Default</button>
      <button class="mb-sm btn btn-primary ripple" type="button">Primary</button>
      <button class="mb-sm btn btn-success ripple" type="button">Success</button>
      <button class="mb-sm btn btn-info ripple" type="button">Info</button>
      <button class="mb-sm btn btn-warning ripple" type="button">Warning</button>
      <button class="mb-sm btn btn-danger ripple" type="button">Danger</button>
      <button class="mb-sm btn btn-inverse ripple" type="button">Inverse</button><br/><br/><a class="btn btn-link ripple" href="">Button Link</a>
      <button class="btn btn-default mr ripple" type="button"><strong>button tag</strong></button><a class="btn btn-default ripple" href=""><strong>anchor tag</strong></a>
    </div>
  </div>
  <!-- END card-->
  <!-- START card-->
  <div class="card">
    <div class="card-body">
      <h5 class="mt0">Button Flat</h5>
      <p>
        <button class="btn btn-flat btn-default ripple" type="button">Default</button>
        <button class="btn btn-flat btn-primary ripple" type="button">Primary</button>
        <button class="btn btn-flat btn-success ripple" type="button">Success</button>
        <button class="btn btn-flat btn-info ripple" type="button">Info</button>
        <button class="btn btn-flat btn-warning ripple" type="button">Warning</button>
        <button class="btn btn-flat btn-danger ripple" type="button">Danger</button>
        <button class="btn btn-flat btn-inverse ripple" type="button">Inverse</button>
      </p>
    </div>
  </div>
  <!-- END card-->
  <!-- START card-->
  <div class="card">
    <div class="card-body">
      <h5 class="mt0">Button Raised</h5>
      <p>
        <button class="btn btn-raised btn-default ripple" type="button">Default</button>
        <button class="btn btn-raised btn-primary ripple" type="button">Primary</button>
        <button class="btn btn-raised btn-success ripple" type="button">Success</button>
        <button class="btn btn-raised btn-info ripple" type="button">Info</button>
        <button class="btn btn-raised btn-warning ripple" type="button">Warning</button>
        <button class="btn btn-raised btn-danger ripple" type="button">Danger</button>
        <button class="btn btn-raised btn-inverse ripple" type="button">Inverse</button>
      </p>
    </div>
  </div>
  <!-- END card-->
  <!-- START card-->
  <div class="card">
    <div class="card-body">
      <h5 class="mt0">Button Circle</h5>
      <p>
        <button class="btn btn-circle btn-default ripple" type="button">D</button>
        <button class="btn btn-circle btn-primary ripple" type="button">P</button>
        <button class="btn btn-circle btn-success ripple" type="button">S</button>
        <button class="btn btn-circle btn-info ripple" type="button">I</button>
        <button class="btn btn-circle btn-warning ripple" type="button">W</button>
        <button class="btn btn-circle btn-danger ripple" type="button">D</button>
        <button class="btn btn-circle btn-inverse ripple" type="button">I</button>
      </p>
    </div>
  </div>
  <!-- END card-->
  <!-- START card-->
  <div class="card">
    <div class="card-body">
      <h5 class="mt0">Button Labeled</h5>
      <!-- Success button with label-->
      <button class="btn btn-labeled btn-success ripple" type="button"><span class="btn-label"><i class="ion-checkmark-round"></i></span>Success</button>
      <!-- Danger button with label-->
      <button class="btn btn-labeled btn-danger ripple" type="button"><span class="btn-label"><i class="ion-close-round"></i></span>Danger</button>
      <!-- Info button with label-->
      <button class="btn btn-labeled btn-info ripple" type="button"><span class="btn-label"><i class="ion-alert"></i></span>Info</button>
      <!-- Warning button with label-->
      <button class="btn btn-labeled btn-warning ripple" type="button"><span class="btn-label"><i class="ion-nuclear"></i></span>Warning</button><br/><br/>
      <!-- Standard button with label-->
      <button class="btn btn-labeled btn-default ripple" type="button"><span class="btn-label"><i class="ion-arrow-left-c"></i></span>Left</button>
      <!-- Standard button with label on the right side-->
      <button class="btn btn-labeled btn-default ripple" type="button">Right<span class="btn-label btn-label-right"><i class="ion-arrow-right-c"></i></span></button>
    </div>
  </div>
  <!-- END card-->
  <!-- START card-->
  <div class="card">
    <div class="card-body">
      <h5 class="mt0">Button sizing</h5>
      <div class="row">
        <div class="col-md-4">
          <p>
            <button class="btn btn-primary btn-xl ripple" type="button">X-Large button</button>
            <button class="btn btn-default btn-xl ripple" type="button">X-Large button</button>
          </p>
        </div>
        <div class="col-md-4">
          <p>
            <button class="btn btn-primary btn-lg ripple" type="button">Large button</button>
            <button class="btn btn-default btn-lg ripple" type="button">Large button</button>
          </p>
          <p>
            <button class="btn btn-primary ripple" type="button">Default button</button>
            <button class="btn btn-default ripple" type="button">Default button</button>
          </p>
        </div>
        <div class="col-md-4">
          <p>
            <button class="btn btn-primary btn-sm ripple" type="button">Small button</button>
            <button class="btn btn-default btn-sm ripple" type="button">Small button</button>
          </p>
          <p>
            <button class="btn btn-primary btn-xs ripple" type="button">Extra small button</button>
            <button class="btn btn-default btn-xs ripple" type="button">Extra small button</button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- END card-->
  <!-- START card-->
  <div class="card">
    <div class="card-body">
      <h5 class="mt0">Button group</h5>
      <p></p>
      <div class="btn-group">
        <button class="btn btn-default ripple" type="button">Left</button>
        <button class="btn btn-default ripple" type="button">Middle</button>
        <button class="btn btn-default ripple" type="button">Right</button>
      </div>
      <p></p>
      <p></p>
      <div class="btn-group">
        <button class="btn btn-default ripple" type="button">1</button>
        <button class="btn btn-default ripple" type="button">2</button>
        <button class="btn btn-default ripple" type="button">3</button>
        <button class="btn btn-default ripple" type="button">4</button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default ripple" type="button">5</button>
        <button class="btn btn-default ripple" type="button">6</button>
        <button class="btn btn-default ripple" type="button">7</button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default ripple" type="button">8</button>
      </div>
    </div>
  </div>
  <!-- END card-->
  <!-- START card-->
  <div class="card">
    <div class="card-body">
      <h5 class="mt0">Button Pills</h5>
      <p>Pill left</p>
      <p>
        <button class="btn btn-pill-left btn-default ripple" type="button">Default</button>
        <button class="btn btn-pill-left btn-primary ripple" type="button">Primary</button>
        <button class="btn btn-pill-left btn-success ripple" type="button">Success</button>
        <button class="btn btn-pill-left btn-info ripple" type="button">Info</button>
        <button class="btn btn-pill-left btn-warning ripple" type="button">Warning</button>
        <button class="btn btn-pill-left btn-danger ripple" type="button">Danger</button>
        <button class="btn btn-pill-left btn-inverse ripple" type="button">Inverse</button>
      </p>
      <p>Pill right</p>
      <p>
        <button class="btn btn-pill-right btn-default ripple" type="button">Default</button>
        <button class="btn btn-pill-right btn-primary ripple" type="button">Primary</button>
        <button class="btn btn-pill-right btn-success ripple" type="button">Success</button>
        <button class="btn btn-pill-right btn-info ripple" type="button">Info</button>
        <button class="btn btn-pill-right btn-warning ripple" type="button">Warning</button>
        <button class="btn btn-pill-right btn-danger ripple" type="button">Danger</button>
        <button class="btn btn-pill-right btn-inverse ripple" type="button">Inverse</button>
      </p>
    </div>
  </div>
  <!-- END card-->
  <!-- START card-->
  <div class="card">
    <div class="card-body">
      <h5 class="mt0">Button Oval</h5>
      <button class="btn btn-oval btn-default ripple" type="button">Default</button>
      <button class="btn btn-oval btn-primary ripple" type="button">Primary</button>
      <button class="btn btn-oval btn-success ripple" type="button">Success</button>
      <button class="btn btn-oval btn-info ripple" type="button">Info</button>
      <button class="btn btn-oval btn-warning ripple" type="button">Warning</button>
      <button class="btn btn-oval btn-danger ripple" type="button">Danger</button>
      <button class="btn btn-oval btn-inverse ripple" type="button">Inverse</button>
    </div>
  </div>
  <!-- END card-->
  <!-- START card-->
  <div class="card">
    <div class="card-body">
      <h5 class="mt0">Button Square</h5>
      <button class="btn btn-square btn-default ripple" type="button">Default</button>
      <button class="btn btn-square btn-primary ripple" type="button">Primary</button>
      <button class="btn btn-square btn-success ripple" type="button">Success</button>
      <button class="btn btn-square btn-info ripple" type="button">Info</button>
      <button class="btn btn-square btn-warning ripple" type="button">Warning</button>
      <button class="btn btn-square btn-danger ripple" type="button">Danger</button>
      <button class="btn btn-square btn-inverse ripple" type="button">Inverse</button>
    </div>
  </div>
  <!-- END card-->
  <!-- START card-->
  <div class="card">
    <div class="card-body">
      <h5 class="mt0">Button dropdown</h5>
      <!-- START button group-->
      <div class="btn-group mb-sm" uib-dropdown="dropdown">
        <button class="btn dropdown-toggle ripple btn-#{type}" type="button" ng-disabled="disabled" uib-dropdown-toggle="">default<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <!-- END button group-->
      <!-- START button group-->
      <div class="btn-group mb-sm" uib-dropdown="dropdown">
        <button class="btn dropdown-toggle ripple btn-#{type}" type="button" ng-disabled="disabled" uib-dropdown-toggle="">primary<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <!-- END button group-->
      <!-- START button group-->
      <div class="btn-group mb-sm" uib-dropdown="dropdown">
        <button class="btn dropdown-toggle ripple btn-#{type}" type="button" ng-disabled="disabled" uib-dropdown-toggle="">success<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <!-- END button group-->
      <!-- START button group-->
      <div class="btn-group mb-sm" uib-dropdown="dropdown">
        <button class="btn dropdown-toggle ripple btn-#{type}" type="button" ng-disabled="disabled" uib-dropdown-toggle="">info<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <!-- END button group-->
      <!-- START button group-->
      <div class="btn-group mb-sm" uib-dropdown="dropdown">
        <button class="btn dropdown-toggle ripple btn-#{type}" type="button" ng-disabled="disabled" uib-dropdown-toggle="">warning<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <!-- END button group-->
      <!-- START button group-->
      <div class="btn-group mb-sm" uib-dropdown="dropdown">
        <button class="btn dropdown-toggle ripple btn-#{type}" type="button" ng-disabled="disabled" uib-dropdown-toggle="">danger<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <!-- END button group-->
      <!-- START button group-->
      <div class="btn-group mb-sm" uib-dropdown="dropdown">
        <button class="btn dropdown-toggle ripple btn-#{type}" type="button" ng-disabled="disabled" uib-dropdown-toggle="">inverse<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <!-- END button group-->
    </div>
  </div>
  <!-- END card-->
  <!-- START card-->
  <div class="card">
    <div class="card-body">
      <h5 class="mt0 ellipsis">Split button dropdown</h5>
      <!-- START button group-->
      <div class="btn-group" uib-dropdown="dropdown">
        <button class="btn btn-#{type}" type="button">Action</button>
        <button class="btn dropdown-toggle ripple btn-#{type}" type="button" uib-dropdown-toggle=""><span class="caret"></span><span class="sr-only">default</span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <!-- END button group-->
      <!-- START button group-->
      <div class="btn-group" uib-dropdown="dropdown">
        <button class="btn btn-#{type}" type="button">Action</button>
        <button class="btn dropdown-toggle ripple btn-#{type}" type="button" uib-dropdown-toggle=""><span class="caret"></span><span class="sr-only">primary</span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <!-- END button group-->
      <!-- START button group-->
      <div class="btn-group" uib-dropdown="dropdown">
        <button class="btn btn-#{type}" type="button">Action</button>
        <button class="btn dropdown-toggle ripple btn-#{type}" type="button" uib-dropdown-toggle=""><span class="caret"></span><span class="sr-only">success</span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <!-- END button group-->
      <!-- START button group-->
      <div class="btn-group" uib-dropdown="dropdown">
        <button class="btn btn-#{type}" type="button">Action</button>
        <button class="btn dropdown-toggle ripple btn-#{type}" type="button" uib-dropdown-toggle=""><span class="caret"></span><span class="sr-only">info</span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <!-- END button group-->
      <!-- START button group-->
      <div class="btn-group" uib-dropdown="dropdown">
        <button class="btn btn-#{type}" type="button">Action</button>
        <button class="btn dropdown-toggle ripple btn-#{type}" type="button" uib-dropdown-toggle=""><span class="caret"></span><span class="sr-only">warning</span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <!-- END button group-->
      <!-- START button group-->
      <div class="btn-group" uib-dropdown="dropdown">
        <button class="btn btn-#{type}" type="button">Action</button>
        <button class="btn dropdown-toggle ripple btn-#{type}" type="button" uib-dropdown-toggle=""><span class="caret"></span><span class="sr-only">danger</span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <!-- END button group-->
      <!-- START button group-->
      <div class="btn-group" uib-dropdown="dropdown">
        <button class="btn btn-#{type}" type="button">Action</button>
        <button class="btn dropdown-toggle ripple btn-#{type}" type="button" uib-dropdown-toggle=""><span class="caret"></span><span class="sr-only">inverse</span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <!-- END button group-->
    </div>
  </div>
  <!-- END card-->
</div>