
<div class="container container-lg">
  <div class="row">
    <div class="col-lg-8 col-xs-12">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-heading bg-pink-500">
              <!-- START dropdown-->
              <div class="pull-right dropdown" uib-dropdown="dropdown2">
                <button class="btn btn-flat btn-flat-icon" type="button" uib-dropdown-toggle=""><em class="ion-android-more-vertical"></em></button>
                <ul class="dropdown-menu md-dropdown-menu dropdown-menu-right" role="menu">
                  <li><a href="">Option 1</a></li>
                  <li><a href="">Option 2</a></li>
                  <li><a href="">Option 3</a></li>
                </ul>
              </div>
              <!-- END dropdown-->
              <div class="card-title">Paracosm</div>
            </div>
            <div class="card-body">
              <p>Nulla egestas faucibus tincidunt.</p>
              <p class="m0"><a href=""><img class="mr-sm thumb48" src="app/img/pic1.jpg" alt="Pic"/></a><a href=""><img class="mr-sm thumb48" src="app/img/pic2.jpg" alt="Pic"/></a><a href=""><img class="mr-sm thumb48" src="app/img/pic3.jpg" alt="Pic"/></a><a href=""><img class="mr-sm thumb48" src="app/img/pic4.jpg" alt="Pic"/></a></p>
            </div>
            <div class="card-footer">
              <button class="btn btn-flat btn-default" type="button">Action 1</button>
              <button class="btn btn-flat btn-default" type="button">Action 2</button>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-heading bg-primary">
              <div class="card-title">Paracosm</div>
            </div>
            <div class="card-offset">
              <div class="card-offset-item text-right">
                <button class="btn-raised btn btn-info btn-circle btn-lg" type="button"><em class="ion-android-add"></em></button>
              </div>
            </div>
            <div class="card-body pt0">
              <p class="mb-sm">Cras rutrum scelerisque auctor. Donec ultricies blandit venenatis. Nulla facilisi. Praesent diam diam, venenatis lorem par.</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-flat btn-default" type="button">Action 1</button>
              <button class="btn btn-flat btn-default" type="button">Action 2</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-item"><img class="fw img-responsive" src="app/img/pic5.jpg" alt="MaterialImg"/>
              <div class="card-item-text text-right">Paracosm</div>
            </div>
            <div class="card-offset">
              <div class="card-offset-item text-left">
                <button class="btn-raised btn btn-primary btn-circle btn-lg" type="button" ng-init="counter=25" ng-click="counter=counter+1">{{counter}}</button>
              </div>
            </div>
            <div class="card-body pt0">
              <h4 class="m0">Sky red</h4>
              <p class="m0"><span class="mr-sm text-muted">by</span><a href="">John</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-item"><img class="fw img-responsive" src="app/img/pic4.jpg" alt="MaterialImg"/>
              <div class="card-item-text">Paracosm</div>
            </div>
            <div class="card-offset">
              <div class="card-offset-item text-center">
                <button class="btn-raised btn btn-success btn-circle btn-lg" type="button"><em class="ion-share"></em></button>
              </div>
            </div>
            <div class="card-body pt0">
              <h4 class="m0">Peaceful view</h4>
              <p class="m0"><span class="mr-sm text-muted">by</span><a href="">Zachary</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xs-12">
      <div class="card">
        <div class="card-item"><img class="fw img-responsive" src="app/img/pic1.jpg" alt="MaterialImg"/>
          <div class="card-item-text bg-transparent">
            <h4 class="text-center">Jill Howell</h4>
          </div>
        </div>
        <div class="card-offset">
          <div class="card-offset-item text-right">
            <button class="btn-raised btn btn-danger btn-circle btn-lg" type="button" ng-click="toggle=!toggle"><em class="ion-ios-heart-outline" ng-class="toggle ? 'ion-ios-heart':'ion-ios-heart-outline'"></em></button>
          </div>
        </div>
        <div class="mda-list">
          <div class="mda-list-item">
            <div class="mda-list-item-icon"><em class="ion-android-call icon-2x text-primary"></em></div>
            <div class="mda-list-item-text mda-2-line">
              <h3>(123) 456 789</h3>
              <h4 class="text-muted">Home</h4>
            </div>
            <div class="mda-list-item-icon pull-right"><em class="ion-chatbubbles icon-lg text-muted"></em></div>
          </div>
          <div class="mda-list-item">
            <div class="mda-list-item-icon"></div>
            <div class="mda-list-item-text mda-2-line">
              <h3>(123) +15 321 654</h3>
              <h4 class="text-muted">Mobile</h4>
            </div>
          </div>
          <div class="mda-list-item">
            <div class="mda-list-item-icon"><em class="ion-android-mail icon-2x text-primary"></em></div>
            <div class="mda-list-item-text mda-2-line">
              <h3>jill@mail.com</h3>
              <h4 class="text-muted">Personal</h4>
            </div>
            <div class="mda-list-item-icon pull-right"><em class="ion-compose icon-lg text-muted"></em></div>
          </div>
          <div class="mda-list-item">
            <div class="mda-list-item-icon"></div>
            <div class="mda-list-item-text mda-2-line">
              <h3>jill.howell@work.com</h3>
              <h4 class="text-muted">Work</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="card bg-primary">
        <div class="card-body">
          <div class="pull-right"><em class="ion-calendar icon-2x text-muted"></em></div>
          <h4 class="mv-sm">New event</h4>
          <h5>22 Aug, at 10 a.m.</h5>
        </div>
        <div class="card-footer">
          <button class="btn btn-flat btn-primary text-white" type="button">Add to Calendar</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="card bg-success">
        <div class="card-body">
          <div class="row">
            <div class="col-xs-8"><em class="ion-ios-musical-notes icon-2x pull-left"></em>
              <div class="pl-xl">
                <h5 class="mv-sm">Pellentesque vitae</h5>
                <h6 class="m0">Aliquam non eros</h6>
              </div>
            </div>
            <div class="col-xs-4"><a href=""><img class="img-responsive img-rounded" src="app/img/user/05.jpg" alt="Image"/></a></div>
          </div>
        </div>
        <div class="card-footer clearfix">
          <div class="pull-left">
            <button class="btn btn-flat btn-success text-white" type="button">Play now</button>
          </div>
          <div class="pull-right">
            <button class="btn btn-flat btn-success text-white" type="button">Next</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xs-12">
      <div class="card bg-info">
        <div class="card-body">
          <p class="lead m0">A simple announce could be added here with any text for users who want to read this.</p>
        </div>
        <div class="card-footer text-right">
          <button class="btn btn-flat btn-info text-white" type="button">Ok, Let's Go!</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Large card-->
  <div class="card">
    <div class="card-heading">
      <!-- START dropdown-->
      <div class="pull-right dropdown" uib-dropdown="dropdown2">
        <button class="btn btn-default btn-flat btn-flat-icon" type="button" uib-dropdown-toggle=""><em class="ion-android-more-vertical"></em></button>
        <ul class="dropdown-menu md-dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="">Option 1</a></li>
          <li><a href="">Option 2</a></li>
          <li><a href="">Option 3</a></li>
        </ul>
      </div>
      <!-- END dropdown-->
    </div>
    <div class="card-body pt0">
      <h3 class="mt0">Technology</h3>
      <p>Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse. Pariatur occaecat nisi laboris tempor laboris eiusmod qui id Lorem esse commodo in. Exercitation aute dolore deserunt culpa consequat elit labore incididunt elit anim.</p>
    </div>
    <div class="card-footer">
      <button class="btn btn-flat btn-primary" type="button">Read More</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-item"><img class="fw img-responsive" src="app/img/pic3.jpg" alt="MaterialImg"/></div>
        <div class="card-body">
          <h4 class="mt0">Freedom in the air</h4>
          <p class="m0">Nunc vitae ipsum elit, non lacinia dui. Sed tempor lacinia tempus. Etiam eget congue nulla. Sed quis eros libero, a euismod nisl.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-item"><img class="fw img-responsive" src="app/img/pic2.jpg" alt="MaterialImg"/></div>
        <div class="card-body">
          <h4 class="mt0">Mountain lake</h4>
          <p>Cras et dui non erat ornare ornare eget non sapien.</p>
          <div class="text-right">
            <button class="btn btn-flat btn-primary" type="button">Share</button>
            <button class="btn btn-flat btn-primary" type="button">More</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-item"><img class="fw img-responsive" src="app/img/pic1.jpg" alt="MaterialImg"/>
          <div class="card-item-text"><a class="link-white" href=""><em class="ion-map mr icon-lg"></em></a><a class="link-white" href=""><em class="ion-ios-heart-outline mr icon-lg"></em></a><a class="link-white" href=""><em class="ion-image icon-lg"></em></a></div>
        </div>
        <div class="card-body">
          <h4 class="mt0">Forest trip</h4>
          <p>Nullam quis lorem a est auctor venenatis vel vitae ipsum.</p>
          <hr/>
          <div class="clearfix">
            <div class="pull-left"><span class="mr-sm text-muted">by</span><a href="">Bonnie</a></div>
            <div class="pull-right text-muted"><em class="ion-android-time mr-sm"></em><span>a week ago</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-item"><img class="fw img-responsive" src="app/img/pic4.jpg" alt="MaterialImg"/>
          <p class="card-item-text">Picture.png</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-item"><img class="fw img-responsive" src="app/img/pic1.jpg" alt="MaterialImg"/>
          <p class="card-item-text">Image.jpg</p>
        </div>
      </div>
    </div>
  </div>
</div>