
<!-- top navbar-->
<header class="header-container" ng-include="'app/views/header.tpl.html'"></header>
<!-- sidebar-->
<aside class="sidebar-container" ng-include="'app/views/sidebar.tpl.html'"></aside>
<div class="sidebar-layout-obfuscator" ng-click="closeSidebar()"></div>
<!-- Main section-->
<main class="main-container">
  <!-- Page content-->
  <section ui-view="" autoscroll="false" ng-class="app.viewAnimation"></section>
  <!-- Page footer-->
  <footer><span>2017 - Centric app.</span></footer>
</main>