
<div class="container-fluid" ng-controller="DataTableController as table">
  <!-- Zero Configuration-->
  <div class="card">
    <div class="card-heading">Bootstrap Basic</div>
    <table class="table table-striped mv-lg" datatable="" dt-options="table.dtOptionsBs">
      <thead>
        <tr>
          <th>Card Id</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>123123123</td>
          <td>Hannah</td>
          <td>Burns</td>
          <td>26</td>
        </tr>
        <tr>
          <td>33333344444</td>
          <td>Addison</td>
          <td>Payne</td>
          <td>32</td>
        </tr>
        <tr>
          <td>9998888999</td>
          <td>Kylie</td>
          <td>Hudson</td>
          <td>100</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- ngRepeat + ngResource-->
  <div class="card">
    <div class="card-heading">Dynamic (ngRepeat + ngResource)</div>
    <div class="card-body">
      <table class="table table-striped mv-lg" datatable="ng" dt-options="table.dtOptions">
        <thead>
          <tr>
            <th>Person ID</th>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="person in table.persons">
            <td>{{ person.id }}</td>
            <td>{{ person.firstName }}</td>
            <td>{{ person.lastName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Chaning data-->
  <div class="card">
    <div class="card-heading">Change content</div>
    <div class="card-body">
      <form class="form-inline" ng-submit="table.addPerson()">
        <table class="table table-striped mv-lg" datatable="ng" dt-options="table.dtOptions" dt-column-defs="table.dtColumnDefs">
          <thead>
            <tr>
              <th>
                <div class="form-group">
                  <label>
                    <input class="form-control" type="number" name="id" ng-model="table.person2Add.id" value=""/>
                  </label>
                </div>
              </th>
              <th>
                <div class="form-group">
                  <label>
                    <input class="form-control" type="text" name="firstName" ng-model="table.person2Add.firstName" value=""/>
                  </label>
                </div>
              </th>
              <th>
                <div class="form-group">
                  <label>
                    <input class="form-control" type="text" name="lastName" ng-model="table.person2Add.lastName" value=""/>
                  </label>
                </div>
              </th>
              <th>
                <div class="form-group">
                  <button class="btn btn-labeled btn-success" type="submit"><span class="btn-label"><em class="ion-plus-round"></em></span>Add</button>
                </div>
              </th>
            </tr>
            <tr>
              <th>Hero ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="hero in table.heroes">
              <td>{{ hero.id }}</td>
              <td>{{ hero.firstName }}</td>
              <td>{{ hero.lastName }}</td>
              <td>
                <button class="btn btn-sm btn-warning" type="button" ng-click="table.modifyPerson($index)"><em class="ion-edit"></em></button>
                <button class="btn btn-sm btn-danger" type="button" ng-click="table.removePerson($index)"><em class="ion-trash-b"></em></button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>