
<div class="container container-lg" ng-controller="DropzoneController as dz">
  <h5 class="text-center mt0">Dropzone<br/><small>DropzoneJS is an open source library that provides drag&apos;n&apos;drop file uploads with image previews.</small><br/><small class="spr">It’s lightweight, doesn’t depend on any other library (like jQuery) and is</small><small><a href="http://www.dropzonejs.com/" target="_blank">highly customizable</a></small></h5>
  <form class="well dropzone" action="#" method="post" enctype="multipart/form-data" ng-dropzone="" dropzone="dropzone" dropzone-config="dz.dropzoneConfig">
    <div class="dropzone-previews"></div>
    <button class="btn btn-primary pull-right" type="submit">Upload!</button>
  </form>
  <p>This demo does not upload files to any server.</p>
</div>