
<div class="container-fluid" ng-controller="FormEditorController as editor">
  <h5 class="mt0">Summernote</h5>
  <p class="mb-lg">Super simple WYSIWYG Editor based on Bootstrap</p>
  <summernote ng-model="editor.summernoteText" height="280"></summernote>
  <h5>Summernote airmode</h5>
  <p class="mb-lg">To reveal toolbar, select a text where you want to shape up</p>
  <summernote class="summernote-air well reader-block" airmode="" ng-model="editor.airmodeText"></summernote>
</div>