
<div class="container container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="text-center pb-lg">
        <h3 class="text-bold">Frequently Asked Questions</h3>
        <p class="text-muted">Proin non lacinia sapien. Vivamus lorem justo, sollicitudin ac sollicitudin ut, aliquet sed tellus.<br/>Sed venenatis ullamcorper mauris et malesuada. Nunc vel ipsum vitae erat pharetra rhoncus eu eu tellus.</p><br/>
        <p>Have more questions?</p>
        <button class="btn btn-info" type="button">Contact with Us</button>
      </div>
      <div class="row mt-lg">
        <div class="col-md-6">
          <uib-accordion close-others="true">
            <div class="b0 panel-default" uib-accordion-group="uib-accordion-group" is-open="isAccOpen1" ng-init="isAccOpen1 = true">
              <uib-accordion-heading><small><em class="ion-arrow-right-c text-muted mr icon-lg"></em></small><span>What Assets Can I Use In My Items?</span></uib-accordion-heading>
              <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.</p>
              <p>Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.</p>
              <div class="pull-right"><small class="text-muted mr">Was this article helpful?</small>
                <button class="btn btn-default btn-xs" type="button"><em class="ion-chevron-up text-muted"></em></button>
                <button class="btn btn-default btn-xs" type="button"><em class="ion-chevron-down text-muted"></em></button>
              </div>
            </div>
            <div class="b0 panel-default" uib-accordion-group="uib-accordion-group" is-open="isAccOpen2">
              <uib-accordion-heading><small><em class="ion-arrow-right-c text-muted mr icon-lg"></em></small><span>Where is the Market Terms?</span></uib-accordion-heading>
              <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.</p>
              <p>Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.</p>
              <div class="pull-right"><small class="text-muted mr">Was this article helpful?</small>
                <button class="btn btn-default btn-xs" type="button"><em class="ion-chevron-up text-muted"></em></button>
                <button class="btn btn-default btn-xs" type="button"><em class="ion-chevron-down text-muted"></em></button>
              </div>
            </div>
            <div class="b0 panel-default" uib-accordion-group="uib-accordion-group" is-open="isAccOpen3">
              <uib-accordion-heading><small><em class="ion-arrow-right-c text-muted mr icon-lg"></em></small><span>Morbi pretium varius aliquam?</span></uib-accordion-heading>
              <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.</p>
              <p>Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.</p>
              <div class="pull-right"><small class="text-muted mr">Which Author Payment Option Do I Choose?</small>
                <button class="btn btn-default btn-xs" type="button"><em class="ion-chevron-up text-muted"></em></button>
                <button class="btn btn-default btn-xs" type="button"><em class="ion-chevron-down text-muted"></em></button>
              </div>
            </div>
          </uib-accordion>
        </div>
        <div class="col-md-6">
          <uib-accordion close-others="true">
            <div class="b0 panel-default" uib-accordion-group="uib-accordion-group" is-open="isAccOpen5">
              <uib-accordion-heading><small><em class="ion-arrow-right-c text-muted mr icon-lg"></em></small><span>How to Contact an Author</span></uib-accordion-heading>
              <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.</p>
              <p>Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.</p>
              <div class="pull-right"><small class="text-muted mr">Was this article helpful?</small>
                <button class="btn btn-default btn-xs" type="button"><em class="ion-chevron-up text-muted"></em></button>
                <button class="btn btn-default btn-xs" type="button"><em class="ion-chevron-down text-muted"></em></button>
              </div>
            </div>
            <div class="b0 panel-default" uib-accordion-group="uib-accordion-group" is-open="isAccOpen6" ,="," ng-init="isAccOpen6 = true">
              <uib-accordion-heading><small><em class="ion-arrow-right-c text-muted mr icon-lg"></em></small><span>What is Item Support?</span></uib-accordion-heading>
              <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.</p>
              <p>Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.</p>
              <div class="pull-right"><small class="text-muted mr">Was this article helpful?</small>
                <button class="btn btn-default btn-xs" type="button"><em class="ion-chevron-up text-muted"></em></button>
                <button class="btn btn-default btn-xs" type="button"><em class="ion-chevron-down text-muted"></em></button>
              </div>
            </div>
            <div class="b0 panel-default" uib-accordion-group="uib-accordion-group" is-open="isAccOpen7">
              <uib-accordion-heading><small><em class="ion-arrow-right-c text-muted mr icon-lg"></em></small><span>Where Is My Purchase Code?</span></uib-accordion-heading>
              <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.</p>
              <p>Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.</p>
              <div class="pull-right"><small class="text-muted mr">Was this article helpful?</small>
                <button class="btn btn-default btn-xs" type="button"><em class="ion-chevron-up text-muted"></em></button>
                <button class="btn btn-default btn-xs" type="button"><em class="ion-chevron-down text-muted"></em></button>
              </div>
            </div>
          </uib-accordion>
        </div>
      </div>
    </div>
  </div>
</div>