
<div class="container-fluid" ng-controller="FlotChartController as chart">
  <!-- START row-->
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-heading">
          <div class="card-title">Area</div>
        </div>
        <div class="card-body">
          <flot class="flot-chart flot-chart-lg" dataset="chart.areaData" options="chart.areaOptions"></flot>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-heading">
          <div class="card-title">Area Spline</div>
        </div>
        <div class="card-body">
          <flot class="flot-chart flot-chart-lg" dataset="chart.splineData" options="chart.splineOptions"></flot>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-heading">
          <div class="card-title">Bar</div>
        </div>
        <div class="card-body">
          <flot class="flot-chart flot-chart-lg" dataset="chart.barData" options="chart.barOptions"></flot>
        </div>
      </div>
    </div>
  </div>
  <!-- END row-->
  <!-- START row-->
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-heading">
          <div class="card-title">Pie</div>
        </div>
        <div class="card-body">
          <flot class="flot-chart flot-chart-lg" dataset="chart.pieData" options="chart.pieOptions"></flot>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-heading">
          <div class="card-title">Donut</div>
        </div>
        <div class="card-body">
          <flot class="flot-chart flot-chart-lg" dataset="chart.donutData" options="chart.donutOptions"></flot>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-heading">
          <div class="card-title">Bar - Stacked</div>
        </div>
        <div class="card-body">
          <flot class="flot-chart flot-chart-lg" dataset="chart.barStackeData" options="chart.barStackedOptions"></flot>
        </div>
      </div>
    </div>
  </div>
  <!-- END row-->
  <!-- START row-->
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-heading">
          <div class="card-title">Real Time</div>
        </div>
        <div class="card-body">
          <flot class="flot-chart flot-chart-lg" dataset="chart.realTimeData" options="chart.realTimeOptions"></flot>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-heading">
          <div class="card-title">Line</div>
        </div>
        <div class="card-body">
          <flot class="flot-chart flot-chart-lg" dataset="chart.lineData" options="chart.lineOptions"></flot>
        </div>
      </div>
    </div>
  </div>
  <!-- END row-->
</div>