
<div class="container-fluid">
  <!-- UISELECT-->
  <div class="card" ng-controller="uiSelectController as uisel">
    <div class="card-heading">
      <!-- START dropdown-->
      <div class="pull-right dropdown" uib-dropdown="dropdown2">
        <button class="btn btn-default btn-flat btn-flat-icon" type="button" uib-dropdown-toggle=""><em class="ion-android-more-vertical"></em></button>
        <ul class="dropdown-menu md-dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="" ng-click="uisel.enable()">Enable</a></li>
          <li><a href="" ng-click="uisel.disable()">Disable</a></li>
          <li><a href="" ng-click="uisel.clear()">Clear</a></li>
        </ul>
      </div>
      <!-- END dropdown-->
      <div class="card-title">uiSelect</div>
      <div class="text-muted">AngularJS native version of Select2 and Selectize.</div>
    </div>
    <div class="card-body">
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-md-3 col-sm-4">
            <p class="m0">Address</p>
          </div>
          <div class="col-md-5 col-sm-8">
            <ui-select ng-model="uisel.address.selected" theme="bootstrap" ng-disabled="uisel.disabled" reset-search-input="false">
              <ui-select-match placeholder="Enter an address...">{{$select.selected.formatted_address}}</ui-select-match>
              <ui-select-choices repeat="address in uisel.addresses | filter: $select.search track by $index" refresh="uisel.refreshAddresses($select.search)" refresh-delay="0">
                <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-md-4 hidden-xs hidden-sm oh">
            <div class="text-sm text-muted mt-sm">Selected: {{uisel.address.selected.formatted_address}}</div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-3 col-sm-4">
            <p class="m0">Persons</p>
          </div>
          <div class="col-md-5 col-sm-8">
            <ui-select ng-model="uisel.person.selected" theme="bootstrap" ng-disabled="uisel.disabled">
              <ui-select-match placeholder="Select or search a name/age...">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="person in uisel.people | propsFilter: {name: $select.search, age: $select.search}">
                <div ng-bind-html="person.name | highlight: $select.search"></div><small>email: {{person.email}}        age:<span ng-bind-html="''+person.age | highlight: $select.search"></span></small>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-md-4 hidden-xs hidden-sm oh">
            <div class="text-sm text-muted mt-sm">Selected: {{uisel.person.selected}}</div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-3 col-sm-4">
            <p class="m0">Countries</p>
          </div>
          <div class="col-md-5 col-sm-8">
            <ui-select class="text-left" ng-model="uisel.country.selected" theme="bootstrap" ng-disabled="uisel.disabled">
              <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="country in uisel.countries | filter: $select.search"><span ng-bind-html="country.name | highlight: $select.search"></span><small ng-bind-html="country.code | highlight: $select.search"></small></ui-select-choices>
            </ui-select>
          </div>
          <div class="col-md-4 hidden-xs hidden-sm oh">
            <div class="text-sm text-muted mt-sm">Selected: {{uisel.country.selected}}</div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-3 col-sm-4">
            <p class="m0">Array of strings</p>
          </div>
          <div class="col-md-5 col-sm-8">
            <ui-select multiple="" ng-model="uisel.multipleDemo.colors" theme="bootstrap" ng-disabled="uisel.disabled">
              <ui-select-match placeholder="Select colors...">{{$item}}</ui-select-match>
              <ui-select-choices repeat="color in uisel.availableColors | filter:$select.search">{{color}}</ui-select-choices>
            </ui-select>
          </div>
          <div class="col-md-4 hidden-xs hidden-sm oh">
            <div class="text-sm text-muted mt-sm">Selected: {{uisel.multipleDemo.colors}}</div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-3 col-sm-4">
            <p class="m0">Array of objects</p>
          </div>
          <div class="col-md-5 col-sm-8">
            <ui-select multiple="" ng-model="uisel.multipleDemo.selectedPeople" theme="bootstrap" ng-disabled="uisel.disabled">
              <ui-select-match placeholder="Select uisel.person...">{{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>
              <ui-select-choices repeat="person in uisel.people | propsFilter: {name: $select.search, age: $select.search}">
                <div ng-bind-html="person.name | highlight: $select.search"></div><small>email: {{person.email}}        age:<span ng-bind-html="''+person.age | highlight: $select.search"></span></small>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-md-4 hidden-xs hidden-sm oh">
            <div class="text-sm text-muted mt-sm">Selected: {{uisel.multipleDemo.selectedPeople}}</div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-3 col-sm-4">
            <p class="m0">Array of objects with single property binding</p>
          </div>
          <div class="col-md-5 col-sm-8">
            <ui-select multiple="" ng-model="uisel.multipleDemo.selectedPeopleSimple" theme="bootstrap" ng-disabled="uisel.disabled">
              <ui-select-match placeholder="Select uisel.person...">{{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>
              <ui-select-choices repeat="person.email as person in uisel.people | propsFilter: {name: $select.search, age: $select.search}">
                <div ng-bind-html="person.name | highlight: $select.search"></div><small>email: {{person.email}}        age:<span ng-bind-html="''+person.age | highlight: $select.search"></span></small>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-md-4 hidden-xs hidden-sm oh">
            <div class="text-sm text-muted mt-sm">Selected: {{uisel.multipleDemo.selectedPeopleSimple}}</div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-3 col-sm-4">
            <p class="m0">Array of objects (with groupBy)</p>
          </div>
          <div class="col-md-5 col-sm-8">
            <ui-select multiple="" ng-model="uisel.multipleDemo.selectedPeopleWithGroupBy" theme="bootstrap" ng-disabled="uisel.disabled">
              <ui-select-match placeholder="Select uisel.person...">{{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>
              <ui-select-choices group-by="uisel.someGroupFn" repeat="person in uisel.people | propsFilter: {name: $select.search, age: $select.search}">
                <div ng-bind-html="person.name | highlight: $select.search"></div><small>email: {{person.email}}        age:<span ng-bind-html="''+person.age | highlight: $select.search"></span></small>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-md-4 hidden-xs hidden-sm oh">
            <div class="text-sm text-muted mt-sm">Selected: {{uisel.multipleDemo.selectedPeopleWithGroupBy}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END UISELECT-->
  <div class="card">
    <div class="card-heading">Calendar</div>
    <div class="card-body">
      <div ng-controller="DatepickerDemoCtrl as dp">
        <div class="well well-sm">
          <div class="m0">Selected date is:<strong class="ml"><em>{{dp.dt | date:'fullDate' }}</em></strong></div>
        </div>
        <h5>Inline</h5>
        <div class="row text-center">
          <div class="col-md-4">
            <div class="ui-datepicker-responsive">
              <div class="ui-datepicker dp-head-primary dp-table-primary" uib-datepicker="uib-datepicker" ng-model="dp.dt"></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ui-datepicker-responsive">
              <div class="ui-datepicker dp-head-info dp-table-info" uib-datepicker="uib-datepicker" ng-model="dp.dt"></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ui-datepicker-responsive">
              <div class="ui-datepicker dp-head-pink dp-table-pink" uib-datepicker="uib-datepicker" ng-model="dp.dt"></div>
            </div>
          </div>
        </div>
        <h5>Popup</h5>
        <div class="row">
          <div class="col-md-12">
            <div class="ui-datepicker dp-head-success dp-table-success shadow-clear">
              <div class="input-group">
                <input class="form-control" type="text" uib-datepicker-popup="{{dp.format}}" ng-model="dt" is-open="dp.opened" datepicker-options="dp.dateOptions" ng-required="true" close-text="Close"/><span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="dp.open($event)"><em class="ion-calendar"></em></button></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Format:</label>
            <select class="form-control" ng-model="dp.format" ng-options="f for f in dp.formats">
              <option></option>
            </select>
          </div>
        </div>
        <hr/>
        <button class="btn btn-sm btn-info" type="button" ng-click="dp.today()">Today</button>
        <button class="btn btn-sm btn-default" type="button" ng-click="dp.dt = '2009-08-24'">2009-08-24</button>
        <button class="btn btn-sm btn-danger" type="button" ng-click="dp.clear()">Clear</button>
        <button class="btn btn-sm btn-default" type="button" ng-click="dp.toggleMin()" uib-tooltip="After today restriction">Min date</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-heading">Time picker</div>
    <div class="card-body">
      <div class="row" ng-controller="TimepickerDemoCtrl as tp">
        <div class="col-md-6">
          <div uib-timepicker="uib-timepicker" ng-model="tp.mytime" ng-change="tp.changed()" hour-step="tp.hstep" minute-step="tp.mstep" show-meridian="tp.ismeridian"></div>
          <pre class="alert alert-info">Time is: {{tp.mytime | date:'shortTime' }}</pre>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-xs-6">Hours step is:
              <select class="form-control" ng-model="tp.hstep" ng-options="opt for opt in tp.options.hstep"></select>
            </div>
            <div class="col-xs-6">Minutes step is:
              <select class="form-control" ng-model="tp.mstep" ng-options="opt for opt in tp.options.mstep"></select>
            </div>
          </div>
          <hr/>
          <button class="btn btn-info" ng-click="tp.toggleMode()">12H / 24H</button>
          <button class="btn btn-default" ng-click="tp.update()">Set to 14:00</button>
          <button class="btn btn-danger" ng-click="tp.clear()">Clear</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-heading">Range Sliders</div>
    <div class="card-body" ng-controller="RangeSliderController as rslider">
      <p class="clearfix"><span class="pull-left">Single</span><span class="pull-right">Curent Value {{rslider.value}}</span></p>
      <slider ng-model="value" floor="1" ceiling="100"></slider>
      <p></p>
      <p class="clearfix"><span class="pull-left">Single with formatting</span><span class="pull-right">Curent Value {{rslider.formatted}}</span></p>
      <slider ng-model="rslider.formatted" translate-fn="priceFormat" floor="1" ceiling="100"></slider>
      <p class="clearfix"><span class="pull-left">Range</span><span class="pull-right">Min:{{rslider.range.min}} - Max:{{rslider.range.max}}</span></p>
      <slider ng-model="rslider.range.min" ng-model-range="rslider.range.max" floor="1" ceiling="100"></slider>
      <p>Color options</p>
      <slider class="slider-success" ng-model="rslider.range2.min" ng-model-range="rslider.range2.max" floor="1" ceiling="100"></slider>
      <slider class="slider-info" ng-model="rslider.range2.min" ng-model-range="rslider.range2.max" floor="1" ceiling="100"></slider>
      <slider class="slider-warning" ng-model="rslider.range2.min" ng-model-range="rslider.range2.max" floor="1" ceiling="100"></slider>
      <slider class="slider-danger" ng-model="rslider.range2.min" ng-model-range="rslider.range2.max" floor="1" ceiling="100"></slider>
      <slider class="slider-inverse" ng-model="rslider.range2.min" ng-model-range="rslider.range2.max" floor="1" ceiling="100"></slider>
    </div>
  </div>
  <div class="card">
    <div class="card-heading">Note editors (textarea)</div>
    <div class="card-body">
      <div class="card">
        <div class="card-body">
          <div class="note-area">
            <textarea class="form-control" rows="10">In elementum magna sed sapien gravida scelerisque.</textarea>
          </div>
        </div>
      </div>
      <p>With margin</p>
      <div class="card">
        <div class="card-body">
          <div class="note-area note-area-margin">
            <textarea class="form-control" rows="10">Curabitur tellus mauris, fringilla sed tempus eget, convallis id orci.</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-heading">Color pickers</div>
    <div class="card-body" ng-controller="ColorPickerController as cpicker">
      <div class="row">
        <div class="col-sm-6">
          <div class="panel">
            <div class="panel-heading">hex: {{ cpicker.hexPicker.color }}</div>
            <div class="panel-body">
              <p>
                <button class="btn btn-primary" ng-click="cpicker.resetColor()">Update Model</button>
              </p>
              <div class="rel-wrapper">
                <input class="form-control" colorpicker="" ng-model="cpicker.hexPicker.color" colorpicker-parent="true" type="text"/>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel">
            <div class="panel-heading">rgb: {{ cpicker.rgbPicker.color }}</div>
            <div class="panel-body">
              <p>
                <button class="btn btn-primary" ng-click="cpicker.resetRBGColor()">Update Model</button>
              </p>
              <div class="rel-wrapper">
                <input class="form-control" colorpicker="rgb" ng-model="cpicker.rgbPicker.color" colorpicker-parent="true" type="text"/>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel">
            <div class="panel-heading">rgba: {{ cpicker.rgbaPicker.color }}</div>
            <div class="panel-body">
              <p>
                <button class="btn btn-primary" ng-click="cpicker.resetRBGAColor()">Update Model</button>
              </p>
              <div class="rel-wrapper">
                <input class="form-control" colorpicker="rgba" colorpicker-position="right" ng-model="cpicker.rgbaPicker.color" colorpicker-parent="true" type="text"/>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel">
            <div class="panel-heading">Non input element model value: {{ cpicker.nonInput.color }}</div>
            <div class="panel-body">
              <p>
                <button class="btn btn-primary" ng-click="cpicker.resetNonInputColor()">Update Model</button>
              </p>
              <div class="rel-wrapper">
                <button class="btn btn-success" colorpicker="" type="button" colorpicker-position="top" colorpicker-parent="true" ng-model="cpicker.nonInput.color">Change color</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>