
<div class="container-fluid container-unwrap">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card b0"><a class="card-item" href="app/img/pic4.jpg" data-gallery="" title="Unsplash images">
          <div class="card-item-image bg-pic4"></div>
          <div class="card-item-text bg-fade">
            <div class="clearfix">
              <h5 class="mv pull-left">Camera roll</h5>
              <h6 class="mv pull-right text-light">10:20</h6>
            </div>
          </div></a></div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card b0"><a class="card-item" href="app/img/pic1.jpg" data-gallery="" title="Unsplash images">
          <div class="card-item-image bg-pic1"></div>
          <div class="card-item-text bg-fade">
            <div class="clearfix">
              <h5 class="mv pull-left">Camera roll</h5>
              <h6 class="mv pull-right text-light">10:20</h6>
            </div>
          </div></a></div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card b0"><a class="card-item" href="app/img/pic5.jpg" data-gallery="" title="Unsplash images">
          <div class="card-item-image bg-pic5"></div>
          <div class="card-item-text bg-fade">
            <div class="clearfix">
              <h5 class="mv pull-left">Camera roll</h5>
              <h6 class="mv pull-right text-light">10:20</h6>
            </div>
          </div></a></div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card b0"><a class="card-item" href="app/img/pic3.jpg" data-gallery="" title="Unsplash images">
          <div class="card-item-image bg-pic3"></div>
          <div class="card-item-text bg-fade">
            <div class="clearfix">
              <h5 class="mv pull-left">Camera roll</h5>
              <h6 class="mv pull-right text-light">10:20</h6>
            </div>
          </div></a></div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card b0"><a class="card-item" href="app/img/pic6.jpg" data-gallery="" title="Unsplash images">
          <div class="card-item-image bg-pic6"></div>
          <div class="card-item-text bg-fade">
            <div class="clearfix">
              <h5 class="mv pull-left">Camera roll</h5>
              <h6 class="mv pull-right text-light">10:20</h6>
            </div>
          </div></a></div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card b0"><a class="card-item" href="app/img/pic2.jpg" data-gallery="" title="Unsplash images">
          <div class="card-item-image bg-pic2"></div>
          <div class="card-item-text bg-fade">
            <div class="clearfix">
              <h5 class="mv pull-left">Camera roll</h5>
              <h6 class="mv pull-right text-light">10:20</h6>
            </div>
          </div></a></div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card b0"><a class="card-item" href="app/img/pic1.jpg" data-gallery="" title="Unsplash images">
          <div class="card-item-image bg-pic1"></div>
          <div class="card-item-text bg-fade">
            <div class="clearfix">
              <h5 class="mv pull-left">Camera roll</h5>
              <h6 class="mv pull-right text-light">10:20</h6>
            </div>
          </div></a></div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card b0"><a class="card-item" href="app/img/pic2.jpg" data-gallery="" title="Unsplash images">
          <div class="card-item-image bg-pic2"></div>
          <div class="card-item-text bg-fade">
            <div class="clearfix">
              <h5 class="mv pull-left">Camera roll</h5>
              <h6 class="mv pull-right text-light">10:20</h6>
            </div>
          </div></a></div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card b0"><a class="card-item" href="app/img/pic3.jpg" data-gallery="" title="Unsplash images">
          <div class="card-item-image bg-pic3"></div>
          <div class="card-item-text bg-fade">
            <div class="clearfix">
              <h5 class="mv pull-left">Camera roll</h5>
              <h6 class="mv pull-right text-light">10:20</h6>
            </div>
          </div></a></div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card b0"><a class="card-item" href="app/img/pic6.jpg" data-gallery="" title="Unsplash images">
          <div class="card-item-image bg-pic6"></div>
          <div class="card-item-text bg-fade">
            <div class="clearfix">
              <h5 class="mv pull-left">Camera roll</h5>
              <h6 class="mv pull-right text-light">10:20</h6>
            </div>
          </div></a></div>
    </div>
  </div>
</div>
<!-- The gallery preview container-->
<div class="blueimp-gallery" id="blueimp-gallery">
  <div class="slides">
    <h3 class="title"></h3><a class="prev">&lsaquo;</a><a class="next">&rsaquo;</a><a class="close">&times;</a><a class="play-pause"></a>
    <ol class="indicator"></ol>
  </div>
</div>