
<div class="container-full" ng-controller="GMapFullController as gmapfull">
  <div class="row fh bg-white">
    <div class="col-md-3 fh hidden-sm hidden-xs pr0">
      <div class="p-lg">
        <h5 class="text-center" ng-if="gmapfull.myMarkers.length">Places</h5>
        <p class="text-center">Click on each item to focus a marker in the map</p>
      </div>
      <div class="list-group list-group-unstyle"><a class="list-group-item" ng-repeat="marker in gmapfull.myMarkers" href="" ng-click="gmapfull.myMap.panTo(marker.position.getPosition())"><em class="pull-right ion-ios-arrow-forward"></em>{{marker.name}}</a></div>
    </div>
    <div class="col-md-9 fh pl0">
      <ui-gmap-google-map class="fh" center="gmapfull.map.center" zoom="gmapfull.map.zoom" draggable="true" options="gmapfull.mapOptions">
        <ui-gmap-marker ng-repeat="marker in gmapfull.myMarkers" coords="marker.coords" idkey="marker.id"></ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </div>
</div>