
<div class="container container-lg" ng-controller="MasonryDeckController as deck">
  <div class="deckgrid clearfix" deckgrid="" source="deck.photos" cardtemplate="{{deck.viewpath('grid-masonry-deck-card.html')}}"></div>
</div>