
<nav ng-controller="HeaderController as header">
  <ul>
    <li class="visible-xs visible-sm hidden-md" ng-class="{'active': sidebarVisible}"><a class="menu-link" href="" ng-click="toggleSidebar()" ng-class="app.header.menulink"><span><em></em></span></a></li>
    <li class="hidden-xs hidden-sm" ng-class="{'active': sidebarOffcanvasVisible}" ng-if="app.sidebar.offcanvas"><a class="menu-link" href="" ng-click="toggleSidebarOffcanvasVisible()" ng-class="app.header.menulink"><span><em></em></span></a></li>
  </ul>
  <h2 class="header-title" ng-bind="$state.$current.title"></h2>
  <ul class="pull-right">
    <li><a class="ripple" href="" ng-click="header.openModalSearch()"><em class="ion-ios-search-strong"></em></a></li>
    <li class="dropdown" uib-dropdown=""><a class="dropdown-toggle has-badge ripple" href="" uib-dropdown-toggle=""><em class="ion-person"></em><sup class="badge bg-danger">3</sup></a>
      <ul class="dropdown-menu dropdown-menu-right md-dropdown-menu" dropdown-menu="">
        <li class="ripple ripple-block"><a href=""><em class="ion-home icon-fw"></em>Profile</a></li>
        <li class="ripple ripple-block"><a href=""><em class="ion-gear-a icon-fw"></em>Settings</a></li>
        <li class="divider" role="presentation"></li>
        <li class="ripple ripple-block"><a href=""><em class="ion-log-out icon-fw"></em>Logout</a></li>
      </ul>
    </li>
    <li><a class="ripple" href="" ng-click="header.openModalBar()"><em class="ion-gear-b"></em></a></li>
  </ul>
</nav>