
<div class="modal-body">
  <div class="pull-left">
    <button class="btn btn-flat" type="button" ng-click="mod.close()"><em class="ion-arrow-left-c icon-24"></em></button>
  </div>
  <div class="pull-right">
    <button class="btn btn-flat" type="button"><em class="ion-android-microphone icon-24"></em></button>
  </div>
  <form class="oh" action="">
    <div class="mda-form-control pt0">
      <input class="form-control header-input-search" type="text" placeholder="{{ 'header.SEARCH' | translate }}"/>
      <div class="mda-form-control-line"></div>
    </div>
  </form>
</div>