
<div class="container container-md">
  <div class="text-center">
    <h4 class="text-info mt0"><a class="text-info" href="//ionicons.com/" target="_blank"><em class="ion-ionic icon-2x"></em></a><br/>ionicons</h4>
    <p>The premium icon font for Ionic Framework. 100% free and open source. MIT Licensed.</p>
  </div>
  <ul class="icons-list">
    <li class="ion-ionic" data-pack="default"></li>
    <li class="ion-arrow-up-a" data-pack="default"></li>
    <li class="ion-arrow-right-a" data-pack="default"></li>
    <li class="ion-arrow-down-a" data-pack="default"></li>
    <li class="ion-arrow-left-a" data-pack="default"></li>
    <li class="ion-arrow-up-b" data-pack="default"></li>
    <li class="ion-arrow-right-b" data-pack="default"></li>
    <li class="ion-arrow-down-b" data-pack="default"></li>
    <li class="ion-arrow-left-b" data-pack="default"></li>
    <li class="ion-arrow-up-c" data-pack="default"></li>
    <li class="ion-arrow-right-c" data-pack="default"></li>
    <li class="ion-arrow-down-c" data-pack="default"></li>
    <li class="ion-arrow-left-c" data-pack="default"></li>
    <li class="ion-arrow-return-right" data-pack="default"></li>
    <li class="ion-arrow-return-left" data-pack="default"></li>
    <li class="ion-arrow-swap" data-pack="default"></li>
    <li class="ion-arrow-shrink" data-pack="default"></li>
    <li class="ion-arrow-expand" data-pack="default"></li>
    <li class="ion-arrow-move" data-pack="default"></li>
    <li class="ion-arrow-resize" data-pack="default"></li>
    <li class="ion-chevron-up" data-pack="default"></li>
    <li class="ion-chevron-right" data-pack="default"></li>
    <li class="ion-chevron-down" data-pack="default"></li>
    <li class="ion-chevron-left" data-pack="default"></li>
    <li class="ion-navicon-round" data-pack="default"></li>
    <li class="ion-navicon" data-pack="default"></li>
    <li class="ion-drag" data-pack="default"></li>
    <li class="ion-log-in" data-pack="default"></li>
    <li class="ion-log-out" data-pack="default"></li>
    <li class="ion-checkmark-round" data-pack="default"></li>
    <li class="ion-checkmark" data-pack="default"></li>
    <li class="ion-checkmark-circled" data-pack="default"></li>
    <li class="ion-close-round" data-pack="default"></li>
    <li class="ion-close" data-pack="default"></li>
    <li class="ion-close-circled" data-pack="default"></li>
    <li class="ion-plus-round" data-pack="default"></li>
    <li class="ion-plus" data-pack="default"></li>
    <li class="ion-plus-circled" data-pack="default"></li>
    <li class="ion-minus-round" data-pack="default"></li>
    <li class="ion-minus" data-pack="default"></li>
    <li class="ion-minus-circled" data-pack="default"></li>
    <li class="ion-information" data-pack="default"></li>
    <li class="ion-information-circled" data-pack="default"></li>
    <li class="ion-help" data-pack="default"></li>
    <li class="ion-help-circled" data-pack="default"></li>
    <li class="ion-backspace-outline" data-pack="default"></li>
    <li class="ion-backspace" data-pack="default"></li>
    <li class="ion-help-buoy" data-pack="default"></li>
    <li class="ion-asterisk" data-pack="default"></li>
    <li class="ion-alert" data-pack="default"></li>
    <li class="ion-alert-circled" data-pack="default"></li>
    <li class="ion-refresh" data-pack="default"></li>
    <li class="ion-loop" data-pack="default"></li>
    <li class="ion-shuffle" data-pack="default"></li>
    <li class="ion-home" data-pack="default"></li>
    <li class="ion-search" data-pack="default"></li>
    <li class="ion-flag" data-pack="default"></li>
    <li class="ion-star" data-pack="default"></li>
    <li class="ion-heart" data-pack="default"></li>
    <li class="ion-heart-broken" data-pack="default"></li>
    <li class="ion-gear-a" data-pack="default"></li>
    <li class="ion-gear-b" data-pack="default"></li>
    <li class="ion-toggle-filled" data-pack="default"></li>
    <li class="ion-toggle" data-pack="default"></li>
    <li class="ion-settings" data-pack="default"></li>
    <li class="ion-wrench" data-pack="default"></li>
    <li class="ion-hammer" data-pack="default"></li>
    <li class="ion-edit" data-pack="default"></li>
    <li class="ion-trash-a" data-pack="default"></li>
    <li class="ion-trash-b" data-pack="default"></li>
    <li class="ion-document" data-pack="default"></li>
    <li class="ion-document-text" data-pack="default"></li>
    <li class="ion-clipboard" data-pack="default"></li>
    <li class="ion-scissors" data-pack="default"></li>
    <li class="ion-funnel" data-pack="default"></li>
    <li class="ion-bookmark" data-pack="default"></li>
    <li class="ion-email" data-pack="default"></li>
    <li class="ion-email-unread" data-pack="default"></li>
    <li class="ion-folder" data-pack="default"></li>
    <li class="ion-filing" data-pack="default"></li>
    <li class="ion-archive" data-pack="default"></li>
    <li class="ion-reply" data-pack="default"></li>
    <li class="ion-reply-all" data-pack="default"></li>
    <li class="ion-forward" data-pack="default"></li>
    <li class="ion-share" data-pack="default"></li>
    <li class="ion-paper-airplane" data-pack="default"></li>
    <li class="ion-link" data-pack="default"></li>
    <li class="ion-paperclip" data-pack="default"></li>
    <li class="ion-compose" data-pack="default"></li>
    <li class="ion-briefcase" data-pack="default"></li>
    <li class="ion-medkit" data-pack="default"></li>
    <li class="ion-at" data-pack="default"></li>
    <li class="ion-pound" data-pack="default"></li>
    <li class="ion-quote" data-pack="default"></li>
    <li class="ion-cloud" data-pack="default"></li>
    <li class="ion-upload" data-pack="default"></li>
    <li class="ion-more" data-pack="default"></li>
    <li class="ion-grid" data-pack="default"></li>
    <li class="ion-calendar" data-pack="default"></li>
    <li class="ion-clock" data-pack="default"></li>
    <li class="ion-compass" data-pack="default"></li>
    <li class="ion-pinpoint" data-pack="default"></li>
    <li class="ion-pin" data-pack="default"></li>
    <li class="ion-navigate" data-pack="default"></li>
    <li class="ion-location" data-pack="default"></li>
    <li class="ion-map" data-pack="default"></li>
    <li class="ion-lock-combination" data-pack="default"></li>
    <li class="ion-locked" data-pack="default"></li>
    <li class="ion-unlocked" data-pack="default"></li>
    <li class="ion-key" data-pack="default"></li>
    <li class="ion-arrow-graph-up-right" data-pack="default"></li>
    <li class="ion-arrow-graph-down-right" data-pack="default"></li>
    <li class="ion-arrow-graph-up-left" data-pack="default"></li>
    <li class="ion-arrow-graph-down-left" data-pack="default"></li>
    <li class="ion-stats-bars" data-pack="default"></li>
    <li class="ion-connection-bars" data-pack="default"></li>
    <li class="ion-pie-graph" data-pack="default"></li>
    <li class="ion-chatbubble" data-pack="default"></li>
    <li class="ion-chatbubble-working" data-pack="default"></li>
    <li class="ion-chatbubbles" data-pack="default"></li>
    <li class="ion-chatbox" data-pack="default"></li>
    <li class="ion-chatbox-working" data-pack="default"></li>
    <li class="ion-chatboxes" data-pack="default"></li>
    <li class="ion-person" data-pack="default"></li>
    <li class="ion-person-add" data-pack="default"></li>
    <li class="ion-person-stalker" data-pack="default"></li>
    <li class="ion-woman" data-pack="default"></li>
    <li class="ion-man" data-pack="default"></li>
    <li class="ion-female" data-pack="default"></li>
    <li class="ion-male" data-pack="default"></li>
    <li class="ion-transgender" data-pack="default"></li>
    <li class="ion-fork" data-pack="default"></li>
    <li class="ion-knife" data-pack="default"></li>
    <li class="ion-spoon" data-pack="default"></li>
    <li class="ion-soup-can-outline" data-pack="default"></li>
    <li class="ion-soup-can" data-pack="default"></li>
    <li class="ion-beer" data-pack="default"></li>
    <li class="ion-wineglass" data-pack="default"></li>
    <li class="ion-coffee" data-pack="default"></li>
    <li class="ion-icecream" data-pack="default"></li>
    <li class="ion-pizza" data-pack="default"></li>
    <li class="ion-power" data-pack="default"></li>
    <li class="ion-mouse" data-pack="default"></li>
    <li class="ion-battery-full" data-pack="default"></li>
    <li class="ion-battery-half" data-pack="default"></li>
    <li class="ion-battery-low" data-pack="default"></li>
    <li class="ion-battery-empty" data-pack="default"></li>
    <li class="ion-battery-charging" data-pack="default"></li>
    <li class="ion-wifi" data-pack="default"></li>
    <li class="ion-bluetooth" data-pack="default"></li>
    <li class="ion-calculator" data-pack="default"></li>
    <li class="ion-camera" data-pack="default"></li>
    <li class="ion-eye" data-pack="default"></li>
    <li class="ion-eye-disabled" data-pack="default"></li>
    <li class="ion-flash" data-pack="default"></li>
    <li class="ion-flash-off" data-pack="default"></li>
    <li class="ion-qr-scanner" data-pack="default"></li>
    <li class="ion-image" data-pack="default"></li>
    <li class="ion-images" data-pack="default"></li>
    <li class="ion-wand" data-pack="default"></li>
    <li class="ion-contrast" data-pack="default"></li>
    <li class="ion-aperture" data-pack="default"></li>
    <li class="ion-crop" data-pack="default"></li>
    <li class="ion-easel" data-pack="default"></li>
    <li class="ion-paintbrush" data-pack="default"></li>
    <li class="ion-paintbucket" data-pack="default"></li>
    <li class="ion-monitor" data-pack="default"></li>
    <li class="ion-laptop" data-pack="default"></li>
    <li class="ion-ipad" data-pack="default"></li>
    <li class="ion-iphone" data-pack="default"></li>
    <li class="ion-ipod" data-pack="default"></li>
    <li class="ion-printer" data-pack="default"></li>
    <li class="ion-usb" data-pack="default"></li>
    <li class="ion-outlet" data-pack="default"></li>
    <li class="ion-bug" data-pack="default"></li>
    <li class="ion-code" data-pack="default"></li>
    <li class="ion-code-working" data-pack="default"></li>
    <li class="ion-code-download" data-pack="default"></li>
    <li class="ion-fork-repo" data-pack="default"></li>
    <li class="ion-network" data-pack="default"></li>
    <li class="ion-pull-request" data-pack="default"></li>
    <li class="ion-merge" data-pack="default"></li>
    <li class="ion-xbox" data-pack="default"></li>
    <li class="ion-playstation" data-pack="default"></li>
    <li class="ion-steam" data-pack="default"></li>
    <li class="ion-closed-captioning" data-pack="default"></li>
    <li class="ion-videocamera" data-pack="default"></li>
    <li class="ion-film-marker" data-pack="default"></li>
    <li class="ion-disc" data-pack="default"></li>
    <li class="ion-headphone" data-pack="default"></li>
    <li class="ion-music-note" data-pack="default"></li>
    <li class="ion-radio-waves" data-pack="default"></li>
    <li class="ion-speakerphone" data-pack="default"></li>
    <li class="ion-mic-a" data-pack="default"></li>
    <li class="ion-mic-b" data-pack="default"></li>
    <li class="ion-mic-c" data-pack="default"></li>
    <li class="ion-volume-high" data-pack="default"></li>
    <li class="ion-volume-medium" data-pack="default"></li>
    <li class="ion-volume-low" data-pack="default"></li>
    <li class="ion-volume-mute" data-pack="default"></li>
    <li class="ion-levels" data-pack="default"></li>
    <li class="ion-play" data-pack="default"></li>
    <li class="ion-pause" data-pack="default"></li>
    <li class="ion-stop" data-pack="default"></li>
    <li class="ion-record" data-pack="default"></li>
    <li class="ion-skip-forward" data-pack="default"></li>
    <li class="ion-skip-backward" data-pack="default"></li>
    <li class="ion-eject" data-pack="default"></li>
    <li class="ion-bag" data-pack="default"></li>
    <li class="ion-card" data-pack="default"></li>
    <li class="ion-cash" data-pack="default"></li>
    <li class="ion-pricetag" data-pack="default"></li>
    <li class="ion-pricetags" data-pack="default"></li>
    <li class="ion-thumbsup" data-pack="default"></li>
    <li class="ion-thumbsdown" data-pack="default"></li>
    <li class="ion-happy-outline" data-pack="default"></li>
    <li class="ion-happy" data-pack="default"></li>
    <li class="ion-sad-outline" data-pack="default"></li>
    <li class="ion-sad" data-pack="default"></li>
    <li class="ion-bowtie" data-pack="default"></li>
    <li class="ion-tshirt-outline" data-pack="default"></li>
    <li class="ion-tshirt" data-pack="default"></li>
    <li class="ion-trophy" data-pack="default"></li>
    <li class="ion-podium" data-pack="default"></li>
    <li class="ion-ribbon-a" data-pack="default"></li>
    <li class="ion-ribbon-b" data-pack="default"></li>
    <li class="ion-university" data-pack="default"></li>
    <li class="ion-magnet" data-pack="default"></li>
    <li class="ion-beaker" data-pack="default"></li>
    <li class="ion-erlenmeyer-flask" data-pack="default"></li>
    <li class="ion-egg" data-pack="default"></li>
    <li class="ion-earth" data-pack="default"></li>
    <li class="ion-planet" data-pack="default"></li>
    <li class="ion-lightbulb" data-pack="default"></li>
    <li class="ion-cube" data-pack="default"></li>
    <li class="ion-leaf" data-pack="default"></li>
    <li class="ion-waterdrop" data-pack="default"></li>
    <li class="ion-flame" data-pack="default"></li>
    <li class="ion-fireball" data-pack="default"></li>
    <li class="ion-bonfire" data-pack="default"></li>
    <li class="ion-umbrella" data-pack="default"></li>
    <li class="ion-nuclear" data-pack="default"></li>
    <li class="ion-no-smoking" data-pack="default"></li>
    <li class="ion-thermometer" data-pack="default"></li>
    <li class="ion-speedometer" data-pack="default"></li>
    <li class="ion-model-s" data-pack="default"></li>
    <li class="ion-plane" data-pack="default"></li>
    <li class="ion-jet" data-pack="default"></li>
    <li class="ion-load-a" data-pack="default"></li>
    <li class="ion-load-b" data-pack="default"></li>
    <li class="ion-load-c" data-pack="default"></li>
    <li class="ion-load-d" data-pack="default"></li>
    <!-- end default icons pack-->
    <li class="ion-ios-ionic-outline" data-pack="ios"></li>
    <li class="ion-ios-arrow-back" data-pack="ios"></li>
    <li class="ion-ios-arrow-forward" data-pack="ios"></li>
    <li class="ion-ios-arrow-up" data-pack="ios"></li>
    <li class="ion-ios-arrow-right" data-pack="ios"></li>
    <li class="ion-ios-arrow-down" data-pack="ios"></li>
    <li class="ion-ios-arrow-left" data-pack="ios"></li>
    <li class="ion-ios-arrow-thin-up" data-pack="ios"></li>
    <li class="ion-ios-arrow-thin-right" data-pack="ios"></li>
    <li class="ion-ios-arrow-thin-down" data-pack="ios"></li>
    <li class="ion-ios-arrow-thin-left" data-pack="ios"></li>
    <li class="ion-ios-circle-filled" data-pack="ios"></li>
    <li class="ion-ios-circle-outline" data-pack="ios"></li>
    <li class="ion-ios-checkmark-empty" data-pack="ios"></li>
    <li class="ion-ios-checkmark-outline" data-pack="ios"></li>
    <li class="ion-ios-checkmark" data-pack="ios"></li>
    <li class="ion-ios-plus-empty" data-pack="ios"></li>
    <li class="ion-ios-plus-outline" data-pack="ios"></li>
    <li class="ion-ios-plus" data-pack="ios"></li>
    <li class="ion-ios-close-empty" data-pack="ios"></li>
    <li class="ion-ios-close-outline" data-pack="ios"></li>
    <li class="ion-ios-close" data-pack="ios"></li>
    <li class="ion-ios-minus-empty" data-pack="ios"></li>
    <li class="ion-ios-minus-outline" data-pack="ios"></li>
    <li class="ion-ios-minus" data-pack="ios"></li>
    <li class="ion-ios-information-empty" data-pack="ios"></li>
    <li class="ion-ios-information-outline" data-pack="ios"></li>
    <li class="ion-ios-information" data-pack="ios"></li>
    <li class="ion-ios-help-empty" data-pack="ios"></li>
    <li class="ion-ios-help-outline" data-pack="ios"></li>
    <li class="ion-ios-help" data-pack="ios"></li>
    <li class="ion-ios-search" data-pack="ios"></li>
    <li class="ion-ios-search-strong" data-pack="ios"></li>
    <li class="ion-ios-star" data-pack="ios"></li>
    <li class="ion-ios-star-half" data-pack="ios"></li>
    <li class="ion-ios-star-outline" data-pack="ios"></li>
    <li class="ion-ios-heart" data-pack="ios"></li>
    <li class="ion-ios-heart-outline" data-pack="ios"></li>
    <li class="ion-ios-more" data-pack="ios"></li>
    <li class="ion-ios-more-outline" data-pack="ios"></li>
    <li class="ion-ios-home" data-pack="ios"></li>
    <li class="ion-ios-home-outline" data-pack="ios"></li>
    <li class="ion-ios-cloud" data-pack="ios"></li>
    <li class="ion-ios-cloud-outline" data-pack="ios"></li>
    <li class="ion-ios-cloud-upload" data-pack="ios"></li>
    <li class="ion-ios-cloud-upload-outline" data-pack="ios"></li>
    <li class="ion-ios-cloud-download" data-pack="ios"></li>
    <li class="ion-ios-cloud-download-outline" data-pack="ios"></li>
    <li class="ion-ios-upload" data-pack="ios"></li>
    <li class="ion-ios-upload-outline" data-pack="ios"></li>
    <li class="ion-ios-download" data-pack="ios"></li>
    <li class="ion-ios-download-outline" data-pack="ios"></li>
    <li class="ion-ios-refresh" data-pack="ios"></li>
    <li class="ion-ios-refresh-outline" data-pack="ios"></li>
    <li class="ion-ios-refresh-empty" data-pack="ios"></li>
    <li class="ion-ios-reload" data-pack="ios"></li>
    <li class="ion-ios-loop-strong" data-pack="ios"></li>
    <li class="ion-ios-loop" data-pack="ios"></li>
    <li class="ion-ios-bookmarks" data-pack="ios"></li>
    <li class="ion-ios-bookmarks-outline" data-pack="ios"></li>
    <li class="ion-ios-book" data-pack="ios"></li>
    <li class="ion-ios-book-outline" data-pack="ios"></li>
    <li class="ion-ios-flag" data-pack="ios"></li>
    <li class="ion-ios-flag-outline" data-pack="ios"></li>
    <li class="ion-ios-glasses" data-pack="ios"></li>
    <li class="ion-ios-glasses-outline" data-pack="ios"></li>
    <li class="ion-ios-browsers" data-pack="ios"></li>
    <li class="ion-ios-browsers-outline" data-pack="ios"></li>
    <li class="ion-ios-at" data-pack="ios"></li>
    <li class="ion-ios-at-outline" data-pack="ios"></li>
    <li class="ion-ios-pricetag" data-pack="ios"></li>
    <li class="ion-ios-pricetag-outline" data-pack="ios"></li>
    <li class="ion-ios-pricetags" data-pack="ios"></li>
    <li class="ion-ios-pricetags-outline" data-pack="ios"></li>
    <li class="ion-ios-cart" data-pack="ios"></li>
    <li class="ion-ios-cart-outline" data-pack="ios"></li>
    <li class="ion-ios-chatboxes" data-pack="ios"></li>
    <li class="ion-ios-chatboxes-outline" data-pack="ios"></li>
    <li class="ion-ios-chatbubble" data-pack="ios"></li>
    <li class="ion-ios-chatbubble-outline" data-pack="ios"></li>
    <li class="ion-ios-cog" data-pack="ios"></li>
    <li class="ion-ios-cog-outline" data-pack="ios"></li>
    <li class="ion-ios-gear" data-pack="ios"></li>
    <li class="ion-ios-gear-outline" data-pack="ios"></li>
    <li class="ion-ios-settings" data-pack="ios"></li>
    <li class="ion-ios-settings-strong" data-pack="ios"></li>
    <li class="ion-ios-toggle" data-pack="ios"></li>
    <li class="ion-ios-toggle-outline" data-pack="ios"></li>
    <li class="ion-ios-analytics" data-pack="ios"></li>
    <li class="ion-ios-analytics-outline" data-pack="ios"></li>
    <li class="ion-ios-pie" data-pack="ios"></li>
    <li class="ion-ios-pie-outline" data-pack="ios"></li>
    <li class="ion-ios-pulse" data-pack="ios"></li>
    <li class="ion-ios-pulse-strong" data-pack="ios"></li>
    <li class="ion-ios-filing" data-pack="ios"></li>
    <li class="ion-ios-filing-outline" data-pack="ios"></li>
    <li class="ion-ios-box" data-pack="ios"></li>
    <li class="ion-ios-box-outline" data-pack="ios"></li>
    <li class="ion-ios-compose" data-pack="ios"></li>
    <li class="ion-ios-compose-outline" data-pack="ios"></li>
    <li class="ion-ios-trash" data-pack="ios"></li>
    <li class="ion-ios-trash-outline" data-pack="ios"></li>
    <li class="ion-ios-copy" data-pack="ios"></li>
    <li class="ion-ios-copy-outline" data-pack="ios"></li>
    <li class="ion-ios-email" data-pack="ios"></li>
    <li class="ion-ios-email-outline" data-pack="ios"></li>
    <li class="ion-ios-undo" data-pack="ios"></li>
    <li class="ion-ios-undo-outline" data-pack="ios"></li>
    <li class="ion-ios-redo" data-pack="ios"></li>
    <li class="ion-ios-redo-outline" data-pack="ios"></li>
    <li class="ion-ios-paperplane" data-pack="ios"></li>
    <li class="ion-ios-paperplane-outline" data-pack="ios"></li>
    <li class="ion-ios-folder" data-pack="ios"></li>
    <li class="ion-ios-folder-outline" data-pack="ios"></li>
    <li class="ion-ios-paper" data-pack="ios"></li>
    <li class="ion-ios-paper-outline" data-pack="ios"></li>
    <li class="ion-ios-list" data-pack="ios"></li>
    <li class="ion-ios-list-outline" data-pack="ios"></li>
    <li class="ion-ios-world" data-pack="ios"></li>
    <li class="ion-ios-world-outline" data-pack="ios"></li>
    <li class="ion-ios-alarm" data-pack="ios"></li>
    <li class="ion-ios-alarm-outline" data-pack="ios"></li>
    <li class="ion-ios-speedometer" data-pack="ios"></li>
    <li class="ion-ios-speedometer-outline" data-pack="ios"></li>
    <li class="ion-ios-stopwatch" data-pack="ios"></li>
    <li class="ion-ios-stopwatch-outline" data-pack="ios"></li>
    <li class="ion-ios-timer" data-pack="ios"></li>
    <li class="ion-ios-timer-outline" data-pack="ios"></li>
    <li class="ion-ios-clock" data-pack="ios"></li>
    <li class="ion-ios-clock-outline" data-pack="ios"></li>
    <li class="ion-ios-time" data-pack="ios"></li>
    <li class="ion-ios-time-outline" data-pack="ios"></li>
    <li class="ion-ios-calendar" data-pack="ios"></li>
    <li class="ion-ios-calendar-outline" data-pack="ios"></li>
    <li class="ion-ios-photos" data-pack="ios"></li>
    <li class="ion-ios-photos-outline" data-pack="ios"></li>
    <li class="ion-ios-albums" data-pack="ios"></li>
    <li class="ion-ios-albums-outline" data-pack="ios"></li>
    <li class="ion-ios-camera" data-pack="ios"></li>
    <li class="ion-ios-camera-outline" data-pack="ios"></li>
    <li class="ion-ios-reverse-camera" data-pack="ios"></li>
    <li class="ion-ios-reverse-camera-outline" data-pack="ios"></li>
    <li class="ion-ios-eye" data-pack="ios"></li>
    <li class="ion-ios-eye-outline" data-pack="ios"></li>
    <li class="ion-ios-bolt" data-pack="ios"></li>
    <li class="ion-ios-bolt-outline" data-pack="ios"></li>
    <li class="ion-ios-color-wand" data-pack="ios"></li>
    <li class="ion-ios-color-wand-outline" data-pack="ios"></li>
    <li class="ion-ios-color-filter" data-pack="ios"></li>
    <li class="ion-ios-color-filter-outline" data-pack="ios"></li>
    <li class="ion-ios-grid-view" data-pack="ios"></li>
    <li class="ion-ios-grid-view-outline" data-pack="ios"></li>
    <li class="ion-ios-crop-strong" data-pack="ios"></li>
    <li class="ion-ios-crop" data-pack="ios"></li>
    <li class="ion-ios-barcode" data-pack="ios"></li>
    <li class="ion-ios-barcode-outline" data-pack="ios"></li>
    <li class="ion-ios-briefcase" data-pack="ios"></li>
    <li class="ion-ios-briefcase-outline" data-pack="ios"></li>
    <li class="ion-ios-medkit" data-pack="ios"></li>
    <li class="ion-ios-medkit-outline" data-pack="ios"></li>
    <li class="ion-ios-medical" data-pack="ios"></li>
    <li class="ion-ios-medical-outline" data-pack="ios"></li>
    <li class="ion-ios-infinite" data-pack="ios"></li>
    <li class="ion-ios-infinite-outline" data-pack="ios"></li>
    <li class="ion-ios-calculator" data-pack="ios"></li>
    <li class="ion-ios-calculator-outline" data-pack="ios"></li>
    <li class="ion-ios-keypad" data-pack="ios"></li>
    <li class="ion-ios-keypad-outline" data-pack="ios"></li>
    <li class="ion-ios-telephone" data-pack="ios"></li>
    <li class="ion-ios-telephone-outline" data-pack="ios"></li>
    <li class="ion-ios-drag" data-pack="ios"></li>
    <li class="ion-ios-location" data-pack="ios"></li>
    <li class="ion-ios-location-outline" data-pack="ios"></li>
    <li class="ion-ios-navigate" data-pack="ios"></li>
    <li class="ion-ios-navigate-outline" data-pack="ios"></li>
    <li class="ion-ios-locked" data-pack="ios"></li>
    <li class="ion-ios-locked-outline" data-pack="ios"></li>
    <li class="ion-ios-unlocked" data-pack="ios"></li>
    <li class="ion-ios-unlocked-outline" data-pack="ios"></li>
    <li class="ion-ios-monitor" data-pack="ios"></li>
    <li class="ion-ios-monitor-outline" data-pack="ios"></li>
    <li class="ion-ios-printer" data-pack="ios"></li>
    <li class="ion-ios-printer-outline" data-pack="ios"></li>
    <li class="ion-ios-game-controller-a" data-pack="ios"></li>
    <li class="ion-ios-game-controller-a-outline" data-pack="ios"></li>
    <li class="ion-ios-game-controller-b" data-pack="ios"></li>
    <li class="ion-ios-game-controller-b-outline" data-pack="ios"></li>
    <li class="ion-ios-americanfootball" data-pack="ios"></li>
    <li class="ion-ios-americanfootball-outline" data-pack="ios"></li>
    <li class="ion-ios-baseball" data-pack="ios"></li>
    <li class="ion-ios-baseball-outline" data-pack="ios"></li>
    <li class="ion-ios-basketball" data-pack="ios"></li>
    <li class="ion-ios-basketball-outline" data-pack="ios"></li>
    <li class="ion-ios-tennisball" data-pack="ios"></li>
    <li class="ion-ios-tennisball-outline" data-pack="ios"></li>
    <li class="ion-ios-football" data-pack="ios"></li>
    <li class="ion-ios-football-outline" data-pack="ios"></li>
    <li class="ion-ios-body" data-pack="ios"></li>
    <li class="ion-ios-body-outline" data-pack="ios"></li>
    <li class="ion-ios-person" data-pack="ios"></li>
    <li class="ion-ios-person-outline" data-pack="ios"></li>
    <li class="ion-ios-personadd" data-pack="ios"></li>
    <li class="ion-ios-personadd-outline" data-pack="ios"></li>
    <li class="ion-ios-people" data-pack="ios"></li>
    <li class="ion-ios-people-outline" data-pack="ios"></li>
    <li class="ion-ios-musical-notes" data-pack="ios"></li>
    <li class="ion-ios-musical-note" data-pack="ios"></li>
    <li class="ion-ios-bell" data-pack="ios"></li>
    <li class="ion-ios-bell-outline" data-pack="ios"></li>
    <li class="ion-ios-mic" data-pack="ios"></li>
    <li class="ion-ios-mic-outline" data-pack="ios"></li>
    <li class="ion-ios-mic-off" data-pack="ios"></li>
    <li class="ion-ios-volume-high" data-pack="ios"></li>
    <li class="ion-ios-volume-low" data-pack="ios"></li>
    <li class="ion-ios-play" data-pack="ios"></li>
    <li class="ion-ios-play-outline" data-pack="ios"></li>
    <li class="ion-ios-pause" data-pack="ios"></li>
    <li class="ion-ios-pause-outline" data-pack="ios"></li>
    <li class="ion-ios-recording" data-pack="ios"></li>
    <li class="ion-ios-recording-outline" data-pack="ios"></li>
    <li class="ion-ios-fastforward" data-pack="ios"></li>
    <li class="ion-ios-fastforward-outline" data-pack="ios"></li>
    <li class="ion-ios-rewind" data-pack="ios"></li>
    <li class="ion-ios-rewind-outline" data-pack="ios"></li>
    <li class="ion-ios-skipbackward" data-pack="ios"></li>
    <li class="ion-ios-skipbackward-outline" data-pack="ios"></li>
    <li class="ion-ios-skipforward" data-pack="ios"></li>
    <li class="ion-ios-skipforward-outline" data-pack="ios"></li>
    <li class="ion-ios-shuffle-strong" data-pack="ios"></li>
    <li class="ion-ios-shuffle" data-pack="ios"></li>
    <li class="ion-ios-videocam" data-pack="ios"></li>
    <li class="ion-ios-videocam-outline" data-pack="ios"></li>
    <li class="ion-ios-film" data-pack="ios"></li>
    <li class="ion-ios-film-outline" data-pack="ios"></li>
    <li class="ion-ios-flask" data-pack="ios"></li>
    <li class="ion-ios-flask-outline" data-pack="ios"></li>
    <li class="ion-ios-lightbulb" data-pack="ios"></li>
    <li class="ion-ios-lightbulb-outline" data-pack="ios"></li>
    <li class="ion-ios-wineglass" data-pack="ios"></li>
    <li class="ion-ios-wineglass-outline" data-pack="ios"></li>
    <li class="ion-ios-pint" data-pack="ios"></li>
    <li class="ion-ios-pint-outline" data-pack="ios"></li>
    <li class="ion-ios-nutrition" data-pack="ios"></li>
    <li class="ion-ios-nutrition-outline" data-pack="ios"></li>
    <li class="ion-ios-flower" data-pack="ios"></li>
    <li class="ion-ios-flower-outline" data-pack="ios"></li>
    <li class="ion-ios-rose" data-pack="ios"></li>
    <li class="ion-ios-rose-outline" data-pack="ios"></li>
    <li class="ion-ios-paw" data-pack="ios"></li>
    <li class="ion-ios-paw-outline" data-pack="ios"></li>
    <li class="ion-ios-flame" data-pack="ios"></li>
    <li class="ion-ios-flame-outline" data-pack="ios"></li>
    <li class="ion-ios-sunny" data-pack="ios"></li>
    <li class="ion-ios-sunny-outline" data-pack="ios"></li>
    <li class="ion-ios-partlysunny" data-pack="ios"></li>
    <li class="ion-ios-partlysunny-outline" data-pack="ios"></li>
    <li class="ion-ios-cloudy" data-pack="ios"></li>
    <li class="ion-ios-cloudy-outline" data-pack="ios"></li>
    <li class="ion-ios-rainy" data-pack="ios"></li>
    <li class="ion-ios-rainy-outline" data-pack="ios"></li>
    <li class="ion-ios-thunderstorm" data-pack="ios"></li>
    <li class="ion-ios-thunderstorm-outline" data-pack="ios"></li>
    <li class="ion-ios-snowy" data-pack="ios"></li>
    <li class="ion-ios-moon" data-pack="ios"></li>
    <li class="ion-ios-moon-outline" data-pack="ios"></li>
    <li class="ion-ios-cloudy-night" data-pack="ios"></li>
    <li class="ion-ios-cloudy-night-outline" data-pack="ios"></li>
    <!-- end iOS 7-style icons pack-->
    <li class="ion-android-arrow-up" data-pack="android"></li>
    <li class="ion-android-arrow-forward" data-pack="android"></li>
    <li class="ion-android-arrow-down" data-pack="android"></li>
    <li class="ion-android-arrow-back" data-pack="android"></li>
    <li class="ion-android-arrow-dropup" data-pack="android"></li>
    <li class="ion-android-arrow-dropup-circle" data-pack="android"></li>
    <li class="ion-android-arrow-dropright" data-pack="android"></li>
    <li class="ion-android-arrow-dropright-circle" data-pack="android"></li>
    <li class="ion-android-arrow-dropdown" data-pack="android"></li>
    <li class="ion-android-arrow-dropdown-circle" data-pack="android"></li>
    <li class="ion-android-arrow-dropleft" data-pack="android"></li>
    <li class="ion-android-arrow-dropleft-circle" data-pack="android"></li>
    <li class="ion-android-add" data-pack="android"></li>
    <li class="ion-android-add-circle" data-pack="android"></li>
    <li class="ion-android-remove" data-pack="android"></li>
    <li class="ion-android-remove-circle" data-pack="android"></li>
    <li class="ion-android-close" data-pack="android"></li>
    <li class="ion-android-cancel" data-pack="android"></li>
    <li class="ion-android-radio-button-off" data-pack="android"></li>
    <li class="ion-android-radio-button-on" data-pack="android"></li>
    <li class="ion-android-checkmark-circle" data-pack="android"></li>
    <li class="ion-android-checkbox-outline-blank" data-pack="android"></li>
    <li class="ion-android-checkbox-outline" data-pack="android"></li>
    <li class="ion-android-checkbox-blank" data-pack="android"></li>
    <li class="ion-android-checkbox" data-pack="android"></li>
    <li class="ion-android-done" data-pack="android"></li>
    <li class="ion-android-done-all" data-pack="android"></li>
    <li class="ion-android-menu" data-pack="android"></li>
    <li class="ion-android-more-horizontal" data-pack="android"></li>
    <li class="ion-android-more-vertical" data-pack="android"></li>
    <li class="ion-android-refresh" data-pack="android"></li>
    <li class="ion-android-sync" data-pack="android"></li>
    <li class="ion-android-wifi" data-pack="android"></li>
    <li class="ion-android-call" data-pack="android"></li>
    <li class="ion-android-apps" data-pack="android"></li>
    <li class="ion-android-settings" data-pack="android"></li>
    <li class="ion-android-options" data-pack="android"></li>
    <li class="ion-android-funnel" data-pack="android"></li>
    <li class="ion-android-search" data-pack="android"></li>
    <li class="ion-android-home" data-pack="android"></li>
    <li class="ion-android-cloud-outline" data-pack="android"></li>
    <li class="ion-android-cloud" data-pack="android"></li>
    <li class="ion-android-download" data-pack="android"></li>
    <li class="ion-android-upload" data-pack="android"></li>
    <li class="ion-android-cloud-done" data-pack="android"></li>
    <li class="ion-android-cloud-circle" data-pack="android"></li>
    <li class="ion-android-favorite-outline" data-pack="android"></li>
    <li class="ion-android-favorite" data-pack="android"></li>
    <li class="ion-android-star-outline" data-pack="android"></li>
    <li class="ion-android-star-half" data-pack="android"></li>
    <li class="ion-android-star" data-pack="android"></li>
    <li class="ion-android-calendar" data-pack="android"></li>
    <li class="ion-android-alarm-clock" data-pack="android"></li>
    <li class="ion-android-time" data-pack="android"></li>
    <li class="ion-android-stopwatch" data-pack="android"></li>
    <li class="ion-android-watch" data-pack="android"></li>
    <li class="ion-android-locate" data-pack="android"></li>
    <li class="ion-android-navigate" data-pack="android"></li>
    <li class="ion-android-pin" data-pack="android"></li>
    <li class="ion-android-compass" data-pack="android"></li>
    <li class="ion-android-map" data-pack="android"></li>
    <li class="ion-android-walk" data-pack="android"></li>
    <li class="ion-android-bicycle" data-pack="android"></li>
    <li class="ion-android-car" data-pack="android"></li>
    <li class="ion-android-bus" data-pack="android"></li>
    <li class="ion-android-subway" data-pack="android"></li>
    <li class="ion-android-train" data-pack="android"></li>
    <li class="ion-android-boat" data-pack="android"></li>
    <li class="ion-android-plane" data-pack="android"></li>
    <li class="ion-android-restaurant" data-pack="android"></li>
    <li class="ion-android-bar" data-pack="android"></li>
    <li class="ion-android-cart" data-pack="android"></li>
    <li class="ion-android-camera" data-pack="android"></li>
    <li class="ion-android-image" data-pack="android"></li>
    <li class="ion-android-film" data-pack="android"></li>
    <li class="ion-android-color-palette" data-pack="android"></li>
    <li class="ion-android-create" data-pack="android"></li>
    <li class="ion-android-mail" data-pack="android"></li>
    <li class="ion-android-drafts" data-pack="android"></li>
    <li class="ion-android-send" data-pack="android"></li>
    <li class="ion-android-archive" data-pack="android"></li>
    <li class="ion-android-delete" data-pack="android"></li>
    <li class="ion-android-attach" data-pack="android"></li>
    <li class="ion-android-share" data-pack="android"></li>
    <li class="ion-android-share-alt" data-pack="android"></li>
    <li class="ion-android-bookmark" data-pack="android"></li>
    <li class="ion-android-document" data-pack="android"></li>
    <li class="ion-android-clipboard" data-pack="android"></li>
    <li class="ion-android-list" data-pack="android"></li>
    <li class="ion-android-folder-open" data-pack="android"></li>
    <li class="ion-android-folder" data-pack="android"></li>
    <li class="ion-android-print" data-pack="android"></li>
    <li class="ion-android-open" data-pack="android"></li>
    <li class="ion-android-exit" data-pack="android"></li>
    <li class="ion-android-contract" data-pack="android"></li>
    <li class="ion-android-expand" data-pack="android"></li>
    <li class="ion-android-globe" data-pack="android"></li>
    <li class="ion-android-chat" data-pack="android"></li>
    <li class="ion-android-textsms" data-pack="android"></li>
    <li class="ion-android-hangout" data-pack="android"></li>
    <li class="ion-android-happy" data-pack="android"></li>
    <li class="ion-android-sad" data-pack="android"></li>
    <li class="ion-android-person" data-pack="android"></li>
    <li class="ion-android-people" data-pack="android"></li>
    <li class="ion-android-person-add" data-pack="android"></li>
    <li class="ion-android-contact" data-pack="android"></li>
    <li class="ion-android-contacts" data-pack="android"></li>
    <li class="ion-android-playstore" data-pack="android"></li>
    <li class="ion-android-lock" data-pack="android"></li>
    <li class="ion-android-unlock" data-pack="android"></li>
    <li class="ion-android-microphone" data-pack="android"></li>
    <li class="ion-android-microphone-off" data-pack="android"></li>
    <li class="ion-android-notifications-none" data-pack="android"></li>
    <li class="ion-android-notifications" data-pack="android"></li>
    <li class="ion-android-notifications-off" data-pack="android"></li>
    <li class="ion-android-volume-mute" data-pack="android"></li>
    <li class="ion-android-volume-down" data-pack="android"></li>
    <li class="ion-android-volume-up" data-pack="android"></li>
    <li class="ion-android-volume-off" data-pack="android"></li>
    <li class="ion-android-hand" data-pack="android"></li>
    <li class="ion-android-desktop" data-pack="android"></li>
    <li class="ion-android-laptop" data-pack="android"></li>
    <li class="ion-android-phone-portrait" data-pack="android"></li>
    <li class="ion-android-phone-landscape" data-pack="android"></li>
    <li class="ion-android-bulb" data-pack="android"></li>
    <li class="ion-android-sunny" data-pack="android"></li>
    <li class="ion-android-alert" data-pack="android"></li>
    <li class="ion-android-warning" data-pack="android">
      <!--
      End Android-style icons pack.
      Android-style icons originally built by Google’s [Material Design Icons](https://github.com/google/material-design-icons), used under [CC BY](http://creativecommons.org/licenses/by/4.0/) / Modified icons to fit ionicon’s grid from original.
      -->
    </li>
    <li class="ion-social-twitter" data-pack="social"></li>
    <li class="ion-social-twitter-outline" data-pack="social"></li>
    <li class="ion-social-facebook" data-pack="social"></li>
    <li class="ion-social-facebook-outline" data-pack="social"></li>
    <li class="ion-social-googleplus" data-pack="social"></li>
    <li class="ion-social-googleplus-outline" data-pack="social"></li>
    <li class="ion-social-google" data-pack="social"></li>
    <li class="ion-social-google-outline" data-pack="social"></li>
    <li class="ion-social-dribbble" data-pack="social"></li>
    <li class="ion-social-dribbble-outline" data-pack="social"></li>
    <li class="ion-social-octocat" data-pack="social"></li>
    <li class="ion-social-github" data-pack="social"></li>
    <li class="ion-social-github-outline" data-pack="social"></li>
    <li class="ion-social-instagram" data-pack="social"></li>
    <li class="ion-social-instagram-outline" data-pack="social"></li>
    <li class="ion-social-whatsapp" data-pack="social"></li>
    <li class="ion-social-whatsapp-outline" data-pack="social"></li>
    <li class="ion-social-snapchat" data-pack="social"></li>
    <li class="ion-social-snapchat-outline" data-pack="social"></li>
    <li class="ion-social-foursquare" data-pack="social"></li>
    <li class="ion-social-foursquare-outline" data-pack="social"></li>
    <li class="ion-social-pinterest" data-pack="social"></li>
    <li class="ion-social-pinterest-outline" data-pack="social"></li>
    <li class="ion-social-rss" data-pack="social"></li>
    <li class="ion-social-rss-outline" data-pack="social"></li>
    <li class="ion-social-tumblr" data-pack="social"></li>
    <li class="ion-social-tumblr-outline" data-pack="social"></li>
    <li class="ion-social-wordpress" data-pack="social"></li>
    <li class="ion-social-wordpress-outline" data-pack="social"></li>
    <li class="ion-social-reddit" data-pack="social"></li>
    <li class="ion-social-reddit-outline" data-pack="social"></li>
    <li class="ion-social-hackernews" data-pack="social"></li>
    <li class="ion-social-hackernews-outline" data-pack="social"></li>
    <li class="ion-social-designernews" data-pack="social"></li>
    <li class="ion-social-designernews-outline" data-pack="social"></li>
    <li class="ion-social-yahoo" data-pack="social"></li>
    <li class="ion-social-yahoo-outline" data-pack="social"></li>
    <li class="ion-social-buffer" data-pack="social"></li>
    <li class="ion-social-buffer-outline" data-pack="social"></li>
    <li class="ion-social-skype" data-pack="social"></li>
    <li class="ion-social-skype-outline" data-pack="social"></li>
    <li class="ion-social-linkedin" data-pack="social"></li>
    <li class="ion-social-linkedin-outline" data-pack="social"></li>
    <li class="ion-social-vimeo" data-pack="social"></li>
    <li class="ion-social-vimeo-outline" data-pack="social"></li>
    <li class="ion-social-twitch" data-pack="social"></li>
    <li class="ion-social-twitch-outline" data-pack="social"></li>
    <li class="ion-social-youtube" data-pack="social"></li>
    <li class="ion-social-youtube-outline" data-pack="social"></li>
    <li class="ion-social-dropbox" data-pack="social"></li>
    <li class="ion-social-dropbox-outline" data-pack="social"></li>
    <li class="ion-social-apple" data-pack="social"></li>
    <li class="ion-social-apple-outline" data-pack="social"></li>
    <li class="ion-social-android" data-pack="social"></li>
    <li class="ion-social-android-outline" data-pack="social"></li>
    <li class="ion-social-windows" data-pack="social"></li>
    <li class="ion-social-windows-outline" data-pack="social"></li>
    <li class="ion-social-html5" data-pack="social"></li>
    <li class="ion-social-html5-outline" data-pack="social"></li>
    <li class="ion-social-css3" data-pack="social"></li>
    <li class="ion-social-css3-outline" data-pack="social"></li>
    <li class="ion-social-javascript" data-pack="social"></li>
    <li class="ion-social-javascript-outline" data-pack="social"></li>
    <li class="ion-social-angular" data-pack="social"></li>
    <li class="ion-social-angular-outline" data-pack="social"></li>
    <li class="ion-social-nodejs" data-pack="social"></li>
    <li class="ion-social-sass" data-pack="social"></li>
    <li class="ion-social-python" data-pack="social"></li>
    <li class="ion-social-chrome" data-pack="social"></li>
    <li class="ion-social-chrome-outline" data-pack="social"></li>
    <li class="ion-social-codepen" data-pack="social"></li>
    <li class="ion-social-codepen-outline" data-pack="social"></li>
    <li class="ion-social-markdown" data-pack="social"></li>
    <li class="ion-social-tux" data-pack="social"></li>
    <li class="ion-social-freebsd-devil" data-pack="social"></li>
    <li class="ion-social-usd" data-pack="social"></li>
    <li class="ion-social-usd-outline" data-pack="social"></li>
    <li class="ion-social-bitcoin" data-pack="social"></li>
    <li class="ion-social-bitcoin-outline" data-pack="social"></li>
    <li class="ion-social-yen" data-pack="social"></li>
    <li class="ion-social-yen-outline" data-pack="social"></li>
    <li class="ion-social-euro" data-pack="social"></li>
    <li class="ion-social-euro-outline" data-pack="social"></li>
  </ul>
</div>