
<div class="container-full">
  <div class="container container-xs">
    <div class="text-center mv-lg"><img class="img-circle mb block-center img-responsive thumb64" src="app/img/user/01.jpg"/>
      <p>Brian Walker</p>
    </div>
    <form class="card form-validate" name="loginForm" novalidate="" ng-submit="$state.go('app.dashboard')">
      <div class="card-heading">
        <p class="text-center">Type your password to unlock terminal</p>
      </div>
      <div class="card-offset pb0">
        <div class="card-offset-item text-right ng-fadeInLeftShort" ng-if="loginForm.$valid">
          <button class="btn btn-success btn-circle btn-lg" type="submit"><em class="ion-checkmark-round"></em></button>
        </div>
      </div>
      <div class="card-body">
        <div class="mda-form-group float-label mda-input-group">
          <div class="mda-form-control">
            <input class="form-control" type="password" name="accountPassword" ng-model="account.password" required=""/>
            <div class="mda-form-control-line"></div>
            <label>Password</label>
          </div><a class="mda-form-msg right" ui-sref="user.login">Not you?</a><span class="mda-input-group-addon"><em class="ion-ios-locked-outline icon-lg"></em></span>
        </div>
      </div>
    </form>
  </div>
</div>