
<div class="container-full">
  <div class="container container-xs"><img class="mv-lg block-center img-responsive thumb64" src="app/img/logo.png"/>
    <form class="card b0 form-validate" action="" name="loginForm" novalidate="">
      <div class="card-offset pb0">
        <div class="card-offset-item text-right ng-fadeInRightShort" ng-if="loginForm.$invalid || loginForm.$pristine"><a class="btn-raised btn btn-info btn-circle btn-lg" ui-sref="user.signup"><em class="ion-person-add"></em></a></div>
        <div class="card-offset-item text-right ng-fadeInLeftShort" ng-if="loginForm.$valid">
          <div class="btn btn-success btn-circle btn-lg"><em class="ion-checkmark-round"></em></div>
        </div>
      </div>
      <div class="card-heading">
        <div class="card-title text-center">Login</div>
      </div>
      <div class="card-body">
        <div class="mda-form-group float-label mda-input-group">
          <div class="mda-form-control">
            <input class="form-control" type="email" name="accountName" ng-model="account.name" required=""/>
            <div class="mda-form-control-line"></div>
            <label>Email address</label>
          </div>
          <div class="text-danger" ng-messages="loginForm.accountName.$error"><span ng-message="email">This field must be a valid email address</span></div><span class="mda-input-group-addon"><em class="ion-ios-email-outline icon-lg"></em></span>
        </div>
        <div class="mda-form-group float-label mda-input-group">
          <div class="mda-form-control">
            <input class="form-control" type="password" name="accountPassword" ng-model="account.password" required=""/>
            <div class="mda-form-control-line"></div>
            <label>Password</label>
          </div><span class="mda-input-group-addon"><em class="ion-ios-locked-outline icon-lg"></em></span>
        </div>
      </div>
      <button class="btn btn-primary btn-flat" type="button" ng-disabled="loginForm.$invalid || loginForm.$pristine">Authenticate</button>
    </form>
    <div class="text-center text-sm"><a class="text-inherit" ui-sref="user.recover">Forgot password?</a></div>
  </div>
</div>