
<div class="modal-body">
  <form action="">
    <div class="mda-form-group">
      <div class="mda-form-control">
        <input class="form-control" rows="3" aria-multiline="true" tabindex="0" aria-invalid="false"/>
        <div class="mda-form-control-line"></div>
        <label>To:</label>
      </div>
    </div>
    <div class="mda-form-group">
      <div class="mda-form-control">
        <textarea class="form-control" rows="3" aria-multiline="true" tabindex="0" aria-invalid="false"></textarea>
        <div class="mda-form-control-line"></div>
        <label>Message</label>
      </div>
    </div>
    <button class="btn btn-success" type="button" ng-click="mod.close()">Send</button>
  </form>
</div>