
<div class="container-overlap bg-blue-500">
  <div class="media m0 pv">
    <div class="media-left"><a href="#"><img class="media-object img-circle thumb64" src="app/img/user/03.jpg" alt="User"/></a></div>
    <div class="media-body media-middle">
      <h4 class="media-heading">Christine Matthews</h4><span class="text-muted">Sed eget lacus quis diam molestie mollis.</span>
    </div>
  </div>
</div>
<div class="container-fluid" ng-controller="ProfileController as user">
  <div class="row">
    <!-- Left column-->
    <div class="col-md-7 col-lg-8">
      <form class="card" editable-form="" name="user.profileForm">
        <h5 class="card-heading pb0">
          <!-- START dropdown-->
          <div class="pull-right dropdown" uib-dropdown="dropdown2">
            <button class="btn btn-default btn-flat btn-flat-icon" type="button" uib-dropdown-toggle=""><em class="ion-android-more-vertical"></em></button>
            <ul class="dropdown-menu md-dropdown-menu dropdown-menu-right" role="menu">
              <li><a href="">Action 1</a></li>
              <li><a href="">Action 2</a></li>
            </ul>
          </div>
          <!-- END dropdown-->About
        </h5>
        <div class="card-body">
          <p editable-textarea="user.data.about" e-form="user.profileForm">{{user.data.about}}</p>
        </div>
        <div class="card-divider"></div>
        <div class="card-offset">
          <div class="card-offset-item text-right">
            <button class="btn-raised btn btn-warning btn-circle btn-lg" type="button" ng-show="!user.profileForm.$visible" ng-click="user.profileForm.$show()"><em class="ion-edit"></em></button>
            <button class="btn-raised btn btn-success btn-circle btn-lg" type="submit" ng-show="user.profileForm.$visible"><em class="ion-checkmark-round"></em></button>
          </div>
        </div>
        <h5 class="card-heading pb0">Contact Information</h5>
        <div class="card-body">
          <table class="table table-striped">
            <tbody>
              <tr>
                <td><em class="ion-document-text icon-fw mr"></em>Area</td>
                <td>{{user.data.area}}</td>
              </tr>
              <tr>
                <td><em class="ion-egg icon-fw mr"></em>Birthday</td>
                <td><span editable-date="user.data.birthday" e-form="user.profileForm">{{ (user.data.birthday | date:"dd/MM/yyyy") || 'empty' }}</span></td>
              </tr>
              <tr>
                <td><em class="ion-ios-body icon-fw mr"></em>Member since</td>
                <td><span editable-date="user.data.membersince" e-form="user.profileForm">{{ (user.data.membersince | date:"dd/MM/yyyy") || 'empty' }}</span></td>
              </tr>
              <tr>
                <td><em class="ion-man icon-fw mr"></em>Gender</td>
                <td><span editable-select="user.data.gender" e-form="user.profileForm" e-ng-options="s.value as s.text for s in user.genders">{{ user.showGender() }}</span></td>
              </tr>
              <tr>
                <td><em class="ion-android-home icon-fw mr"></em>Address</td>
                <td><span editable-text="user.data.address" e-form="user.profileForm">{{user.data.address}}</span></td>
              </tr>
              <tr>
                <td><em class="ion-email icon-fw mr"></em>Email</td>
                <td><span editable-text="user.data.email" e-form="user.profileForm"><a href="">{{user.data.email}}</a></span></td>
              </tr>
              <tr>
                <td><em class="ion-ios-telephone icon-fw mr"></em>Contact phone</td>
                <td><span editable-text="user.data.phone" e-form="user.profileForm">{{user.data.phone}}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-divider"></div>
        <h5 class="card-heading pb0">Recent articles</h5>
        <div class="card-body">
          <ul class="mda-list">
            <li class="mda-list-item pl0 bb">
              <div class="mda-list-item-text">
                <h3><a href="#">Release 3.0 is out</a></h3>
                <p>Proin metus justo, commodo in ultrices...</p><small class="text-muted">2 days ago</small>
              </div>
              <div class="pull-right">
                <div class="pt-lg"><em class="icon-2x ion-checkmark-circled text-success" uib-tooltip="Active"></em></div>
              </div>
            </li>
            <li class="mda-list-item pl0 bb">
              <div class="mda-list-item-text">
                <h3><a href="#">Improving compatibility</a></h3>
                <p>Proin metus justo, commodo in ultrices...</p><small class="text-muted">3 days ago</small>
              </div>
              <div class="pull-right">
                <div class="pt-lg"><em class="icon-2x ion-checkmark-circled text-success" uib-tooltip="Active"></em></div>
              </div>
            </li>
            <li class="mda-list-item pl0">
              <div class="mda-list-item-text">
                <h3><a href="#">Small decisions count</a></h3>
                <p>Proin metus justo, commodo in ultrices...</p><small class="text-muted">3 days ago</small>
              </div>
              <div class="pull-right">
                <div class="pt-lg"><em class="icon-2x ion-minus-circled text-warning" uib-tooltip="Pending"></em></div>
              </div>
            </li>
          </ul>
        </div>
      </form>
    </div>
    <!-- Right column-->
    <div class="col-md-5 col-lg-4">
      <div class="card">
        <h5 class="card-heading">
          <!-- START dropdown-->
          <div class="pull-right dropdown" uib-dropdown="dropdown2">
            <button class="btn btn-default btn-flat btn-flat-icon" type="button" uib-dropdown-toggle=""><em class="ion-android-more-vertical"></em></button>
            <ul class="dropdown-menu md-dropdown-menu dropdown-menu-right" role="menu">
              <li><a href="">Action 1</a></li>
              <li><a href="">Action 2</a></li>
            </ul>
          </div>
          <!-- END dropdown-->Contacts
        </h5>
        <div class="mda-list">
          <div class="mda-list-item"><img class="mda-list-item-img" src="app/img/user/01.jpg" alt="List user"/>
            <div class="mda-list-item-text mda-2-line">
              <h3><a href="#">Eric Graves</a></h3>
              <div class="text-muted text-ellipsis">Ut ac nisi id mauris</div>
            </div>
          </div>
          <div class="mda-list-item"><img class="mda-list-item-img" src="app/img/user/02.jpg" alt="List user"/>
            <div class="mda-list-item-text mda-2-line">
              <h3><a href="#">Jessie Cox</a></h3>
              <div class="text-muted text-ellipsis">Sed lacus nisl luctus</div>
            </div>
          </div>
          <div class="mda-list-item"><img class="mda-list-item-img" src="app/img/user/03.jpg" alt="List user"/>
            <div class="mda-list-item-text mda-2-line">
              <h3><a href="#">Marie Hall</a></h3>
              <div class="text-muted text-ellipsis">Donec congue sagittis mi</div>
            </div>
          </div>
          <div class="mda-list-item"><img class="mda-list-item-img" src="app/img/user/04.jpg" alt="List user"/>
            <div class="mda-list-item-text mda-2-line">
              <h3><a href="#">Guy Carpenter</a></h3>
              <div class="text-muted text-ellipsis">Donec convallis arcu sit</div>
            </div>
          </div>
        </div>
        <div class="card-body pv0 text-right"><a class="btn btn-flat btn-info" href="">View all</a></div>
        <div class="card-divider"></div>
        <h5 class="card-heading">Activity</h5>
        <div class="card-body pb0">
          <p class="pull-left mr"><em class="ion-record text-info"></em></p>
          <div class="oh">
            <p><strong class="mr-sm">Added</strong><span class="mr-sm">a new issue</span><a href="">#5478</a></p>
            <div class="clearfix">
              <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>an hour ago</span></div>
            </div>
          </div>
        </div>
        <div class="card-body pb0">
          <p class="pull-left mr"><em class="ion-record text-danger"></em></p>
          <div class="oh">
            <p><strong class="mr-sm">Commented</strong><span class="mr-sm"> on the project</span><a href="">Material</a></p>
            <p class="bl pl"><i>That's awesome!</i></p>
            <div class="clearfix">
              <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>2 hours ago</span></div>
            </div>
          </div>
        </div>
        <div class="card-body pb0">
          <p class="pull-left mr"><em class="ion-record text-success"></em></p>
          <div class="oh">
            <p><strong class="mr-sm">Completed</strong><span> all tasks asigned this week</span></p>
            <div class="clearfix">
              <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>3 hours ago</span></div>
            </div>
          </div>
        </div>
        <div class="card-body pb0">
          <p class="pull-left mr"><em class="ion-record text-info"></em></p>
          <div class="oh">
            <p><strong class="mr-sm">Published</strong><span class="mr-sm"> new photos on the album</span><a href="">WorldTrip</a></p>
            <p><a href=""><img class="mr-sm thumb48" src="app/img/pic4.jpg" alt="Pic"/></a><a href=""><img class="mr-sm thumb48" src="app/img/pic5.jpg" alt="Pic"/></a><a href=""><img class="mr-sm thumb48" src="app/img/pic6.jpg" alt="Pic"/></a></p>
            <div class="clearfix">
              <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>4 hours ago</span></div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="clearfix">
            <p class="pull-left mr"><em class="ion-record text-primary"></em></p>
            <div class="oh">
              <p><strong class="mr-sm">Following</strong><span class="mr-sm">Jane Kuhn</span></p>
              <p><span class="image-list"><a href=""><img class="img-circle thumb32" src="app/img/user/03.jpg" alt="User"/></a><a href=""><img class="img-circle thumb32" src="app/img/user/04.jpg" alt="User"/></a><a href=""><img class="img-circle thumb32" src="app/img/user/05.jpg" alt="User"/></a><a href=""><img class="img-circle thumb32" src="app/img/user/06.jpg" alt="User"/></a><a href=""><img class="img-circle thumb32" src="app/img/user/07.jpg" alt="User"/></a><strong><a class="ml-sm link-unstyled" href="">+200</a></strong></span></p>
              <div class="clearfix">
                <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>yesterday</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>