
<div class="container-full">
  <div class="container container-xs" ng-init="rec.mailSent = false">
    <div class="text-center mv-lg"><img class="img-circle mb block-center img-responsive thumb64" src="app/img/user/01.jpg"/>
      <p>Brian Walker</p>
    </div>
    <div class="card bg-success ng-fadeIn" ng-if="rec.mailSent">
      <div class="card-heading"><em class="ion-checkmark-round pull-right icon-lg"></em>
        <h4 class="mt0">Mail Sent!</h4>
      </div>
      <div class="card-body">
        <p>Please check your inbox and follow instructions to reset your password.</p>
      </div>
      <div class="card-footer text-right"><a class="btn btn-success btn-flat text-white" ui-sref="user.login">Login<em class="ion-ios-arrow-thin-right icon-fw"></em></a></div>
    </div>
    <form class="card form-validate" name="loginForm" novalidate="" ng-submit="rec.mailSent = true" ng-if="!rec.mailSent">
      <div class="card-heading">
        <p class="text-center text-inherit">Fill with your mail to receive instructions on how to reset your password.</p>
      </div>
      <div class="card-offset pb0">
        <div class="card-offset-item text-right ng-fadeInLeftShort" ng-if="loginForm.$valid">
          <button class="btn btn-success btn-circle btn-lg" type="submit"><em class="ion-checkmark-round"></em></button>
        </div>
      </div>
      <div class="card-body">
        <div class="mda-form-group float-label mda-input-group">
          <div class="mda-form-control">
            <input class="form-control" type="email" name="accountName" ng-model="account.name" required=""/>
            <div class="mda-form-control-line"></div>
            <label>Email address</label>
          </div>
          <div class="text-danger" ng-messages="loginForm.accountName.$error"><span ng-message="email">This field must be a valid email address</span></div><span class="mda-input-group-addon"><em class="ion-ios-email-outline icon-lg"></em></span>
        </div>
      </div>
    </form>
  </div>
</div>