
<div class="container-fluid" ng-controller="ChartRickshawController as chart">
  <div class="card">
    <div class="card-heading">Area graph</div>
    <div class="card-body">
      <rickshaw rickshaw-options="chart.options2" rickshaw-series="chart.series2"></rickshaw>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-heading">Bar graph</div>
        <div class="card-body">
          <rickshaw rickshaw-options="chart.options3" rickshaw-series="chart.series3"></rickshaw>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-heading">Scatterplot graph</div>
        <div class="card-body">
          <rickshaw rickshaw-options="chart.options4" rickshaw-series="chart.series4" rickshaw-features="chart.features4"></rickshaw>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-heading">Rickshaw graph - Palettes</div>
    <div class="card-body">
      <rickshaw rickshaw-options="chart.options0" rickshaw-features="chart.features0" rickshaw-series="chart.series0"></rickshaw>
      <form class="form-inline mt-lg">
        <select class="form-control" ng-model="chart.renderer0" ng-options="renderer.name for renderer in chart.renderers" ng-change="chart.rendererChanged(0)"></select>
        <select class="form-control" ng-model="chart.palette0" ng-options="palette for palette in chart.palettes" ng-change="chart.paletteChanged(0)"></select>
        <button class="btn btn-primary" ng-click="chart.changeSeriesData(0)">Change series data</button>
      </form>
    </div>
  </div>
</div>