
<div class="container-full">
  <div class="container container-xs"><img class="mv-lg block-center img-responsive thumb64" src="app/img/logo.png"/>
    <form class="card b0 form-validate" action="" name="createForm" novalidate="">
      <div class="card-offset pb0">
        <div class="card-offset-item text-right ng-fadeInLeftShort" ng-if="createForm.$valid">
          <div class="btn btn-success btn-circle btn-lg"><em class="ion-checkmark-round"></em></div>
        </div>
      </div>
      <div class="card-heading">
        <div class="card-title text-center">Create account</div>
      </div>
      <div class="card-body">
        <div class="mda-form-group float-label mda-input-group">
          <div class="mda-form-control">
            <input class="form-control" type="email" name="accountName" ng-model="account.name" required=""/>
            <div class="mda-form-control-line"></div>
            <label>Email address</label>
          </div>
          <div class="text-danger" ng-messages="createForm.accountName.$error"><span ng-message="email">This field must be a valid email address</span></div><span class="mda-input-group-addon"><em class="ion-ios-email-outline icon-lg"></em></span>
        </div>
        <div class="mda-form-group float-label mda-input-group">
          <div class="mda-form-control">
            <input class="form-control" type="password" name="accountPassword" ng-model="account.password" required=""/>
            <div class="mda-form-control-line"></div>
            <label>Password</label>
          </div><span class="mda-input-group-addon"><em class="ion-ios-locked-outline icon-lg"></em></span>
        </div>
        <div class="mda-form-group float-label mda-input-group">
          <div class="mda-form-control">
            <input class="form-control" type="password" name="accountPassword2" ng-model="account.password2" required=""/>
            <div class="mda-form-control-line"></div>
            <label>Confirm password</label>
          </div><span class="mda-input-group-addon"><em class="ion-ios-locked-outline icon-lg"></em></span>
        </div>
      </div>
      <button class="btn btn-primary btn-flat" type="button" ng-disabled="createForm.$invalid || createForm.$pristine">Create</button>
      <div class="card-body bg-gray-lighter text-center text-sm"><span class="spr">By registering I accept the</span><a class="spr" href="">Terms of Service</a><span class="spr">and</span><a class="spr" href="">Privacy</a></div>
    </form>
  </div>
</div>