
<div class="container-md" ng-controller="SweetAlertController as sweetalert">
  <h4 class="page-header mt0">Usage examples</h4>
  <div class="list-group">
    <div class="list-group-item">
      <div class="pull-right">
        <p><a class="btn btn-primary" href="" ng-click="sweetalert.demo1();">Try me!</a></p>
      </div>
      <p>A basic message</p>
    </div>
  </div>
  <div class="list-group">
    <div class="list-group-item">
      <div class="pull-right">
        <p><a class="btn btn-primary" href="" ng-click="sweetalert.demo2();">Try me!</a></p>
      </div>
      <p>A title with a text under</p>
    </div>
  </div>
  <div class="list-group">
    <div class="list-group-item">
      <div class="pull-right">
        <p><a class="btn btn-primary" href="" ng-click="sweetalert.demo3();">Try me!</a></p>
      </div>
      <p>A success message!</p>
    </div>
  </div>
  <div class="list-group">
    <div class="list-group-item">
      <div class="pull-right">
        <p><a class="btn btn-primary" href="" ng-click="sweetalert.demo4();">Try me!</a></p>
      </div>
      <p>A warning message, with a function attached to the &quot;Confirm&quot;-button</p>
    </div>
  </div>
  <div class="list-group">
    <div class="list-group-item">
      <div class="pull-right">
        <p><a class="btn btn-primary" href="" ng-click="sweetalert.demo5();">Try me!</a></p>
      </div>
      <p>... and by passing a parameter, you can execute something else for &quot;Cancel&quot;.</p>
    </div>
  </div>
  <div class="list-group">
    <div class="list-group-item">
      <div class="pull-right">
        <p><a class="btn btn-primary" href="" ng-click="sweetalert.demo6();">Try me!</a></p>
      </div>
      <p>A message with a custom icon</p>
    </div>
  </div>
</div>