
<div class="container container-md" ng-init="timelineModeAlt = false">
  <div class="text-right mb-lg">
    <button class="btn btn-default" ng-click="timelineModeAlt = !timelineModeAlt">Switch timeline</button>
  </div>
  <!-- START timeline-->
  <!-- ul.timeline-alt-->
  <ul ng-class="timelineModeAlt ? 'timeline-alt' : 'timeline'">
    <li class="timeline-separator" data-datetime="Now"></li>
    <!-- START timeline item-->
    <li>
      <div class="timeline-badge bg-info"></div>
      <div class="timeline-panel">
        <div class="card">
          <div class="card-body">
            <p><strong>Client Meeting</strong></p><small>Pellentesque ut diam velit, eget porttitor risus. Nullam posuere euismod volutpat.</small>
            <div class="text-right"><a href="">Av 123 St - Floor 2</a></div>
          </div>
        </div>
      </div>
    </li>
    <!-- END timeline item-->
    <!-- START timeline item-->
    <li class="timeline-inverted">
      <div class="timeline-badge bg-pink-400"></div>
      <div class="timeline-panel">
        <div class="card">
          <div class="card-body"><em class="mr ion-ios-telephone icon-lg"></em>Call with Michael</div>
        </div>
      </div>
    </li>
    <!-- END timeline item-->
    <!-- START timeline separator-->
    <li class="timeline-separator" data-datetime="Yesterday"></li>
    <!-- END timeline separator-->
    <!-- START timeline item-->
    <li>
      <div class="timeline-badge bg-purple-500"></div>
      <div class="timeline-panel">
        <div class="card">
          <div class="card-body">
            <p><strong>Conference</strong></p>
            <p>Join development group</p><small><a href="skype:echo123?call"><em class="ion-ios-telephone mr-sm icon-lg"></em> Call the Skype Echo</a></small>
          </div>
        </div>
      </div>
    </li>
    <!-- END timeline item-->
    <!-- START timeline item-->
    <li class="timeline-inverted">
      <div class="timeline-badge bg-green-500"></div>
      <div class="timeline-panel">
        <div class="card right">
          <div class="card-body">
            <p><strong>Appointment</strong></p>
            <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam.</p>
          </div>
        </div>
      </div>
    </li>
    <!-- END timeline item-->
    <!-- START timeline item-->
    <li>
      <div class="timeline-badge bg-info"></div>
      <div class="timeline-panel">
        <div class="card bg-blue-500">
          <div class="card-body">
            <p><strong>Fly</strong></p>
            <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
          </div>
        </div>
      </div>
    </li>
    <!-- END timeline item-->
    <!-- START timeline separator-->
    <li class="timeline-separator" data-datetime="2 days ago"></li>
    <!-- END timeline separator-->
    <!-- START timeline item-->
    <li class="timeline-inverted">
      <div class="timeline-badge bg-warning"></div>
      <div class="timeline-panel">
        <div class="card">
          <div class="card-body">
            <p><strong>Relax</strong></p>
            <p>Listen some music</p>
          </div>
        </div>
      </div>
    </li>
    <!-- END timeline item-->
    <!-- START timeline item-->
    <li class="timeline-end"><a class="timeline-badge bg-blue-grey-200" href=""></a></li>
    <!-- END timeline item-->
  </ul>
  <!-- END timeline-->
</div>