
<div ng-controller="FileUploadController as form" nv-file-drop="" uploader="form.uploader" filters="queueLimit, customFilter">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h4 class="page-header mt0">Select files</h4>
            <div ng-show="form.uploader.isHTML5">
              <!-- 3. nv-file-over uploader="link" over-class="className"-->
              <div class="box-placeholder my-drop-zone" nv-file-over="" uploader="form.uploader" over-class="bg-info">Base drop zone</div>
              <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}"-->
              <div nv-file-drop="" uploader="form.uploader" options="{ url: '/foo' }">
                <div class="box-placeholder my-drop-zone" nv-file-over="" uploader="form.uploader" over-class="bg-purple">Another drop zone with its own settings</div>
              </div>
            </div>
            <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}"-->
            <hr/>
            <input class="form-control" filestyle="" type="file" data-button-text="Multiple" data-class-button="btn btn-default" data-class-input="form-control inline" nv-file-select="" uploader="form.uploader" multiple=""/><br/>
            <input class="form-control" filestyle="" type="file" data-button-text="Single" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="form.uploader"/>
          </div>
        </div>
      </div>
      <div class="col-md-9" style="margin-bottom: 40px;">
        <div class="card">
          <div class="card-body">
            <p class="pull-right label label-info" ng-if="form.uploader.queue.length">Queue length: {{ form.uploader.queue.length }}</p>
            <h4 class="page-header mt0">Upload queue</h4>
            <p class="lead text-center" ng-if="!form.uploader.queue.length">No files in queue. Start adding some..</p>
            <div ng-if="form.uploader.queue.length">
              <table class="table" ng-if="form.uploader.queue.length">
                <thead>
                  <tr>
                    <th width="50%">Name</th>
                    <th ng-show="form.uploader.isHTML5">Size</th>
                    <th ng-show="form.uploader.isHTML5">Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in form.uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td ng-show="form.uploader.isHTML5" nowrap="">{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="form.uploader.isHTML5">
                      <div class="progress progress-xs" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                      </div>
                    </td>
                    <td class="text-center"><span ng-show="item.isSuccess"><em class="ion-checkmark-round icon-fw"></em></span><span ng-show="item.isCancel"><em class="ion-android-cancel icon-fw"></em></span><span ng-show="item.isError"><em class="ion-android-cancel icon-fw"></em></span></td>
                    <td nowrap="">
                      <button class="btn btn-info btn-xs" type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess"><span class="ion-upload mr"></span> Upload</button>
                      <button class="btn btn-warning btn-xs" type="button" ng-click="item.cancel()" ng-disabled="!item.isUploading"><span class="ion-android-cancel mr"></span> Cancel</button>
                      <button class="btn btn-danger btn-xs" type="button" ng-click="item.remove()"><span class="ion-trash-b mr"></span> Remove</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div>
              <p>Queue progress:</p>
              <div class="progress progress-xs">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': form.uploader.progress + '%' }"></div>
              </div>
            </div>
            <button class="btn btn-info btn-s" type="button" ng-click="form.uploader.uploadAll()" ng-disabled="!form.uploader.getNotUploadedItems().length"><span class="ion-upload mr"></span> Upload all</button>
            <button class="btn btn-warning btn-s" type="button" ng-click="form.uploader.cancelAll()" ng-disabled="!form.uploader.isUploading"><span class="ion-android-cancel mr"></span> Cancel all</button>
            <button class="btn btn-danger btn-s" type="button" ng-click="form.uploader.clearQueue()" ng-disabled="!form.uploader.queue.length"><span class="ion-trash-b mr"></span> Remove all</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>