
<div class="container-overlap bg-indigo-500">
  <div class="media m0 pv">
    <div class="media-left"><a href="#"><img class="media-object img-circle thumb64" src="app/img/user/01.jpg" alt="User"/></a></div>
    <div class="media-body media-middle">
      <h4 class="media-heading">Christy Griffin</h4><span class="text-muted">Aliquam viverra nibh at ipsum dapibus pulvinar et eu ligula.</span>
    </div>
  </div>
</div>
<div class="container-lg">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <form class="mt" action="">
            <div class="input-group mda-input-group">
              <div class="mda-form-group">
                <div class="mda-form-control">
                  <textarea class="no-resize form-control" rows="1" aria-multiline="true" tabindex="0" aria-invalid="false"></textarea>
                  <div class="mda-form-control-line"></div>
                  <label class="m0">What's on your mind?</label>
                </div><span class="mda-form-msg right">Any message here</span>
              </div><span class="input-group-btn">
                <button class="btn btn-flat btn-success btn-circle" type="button"><em class="ion-checkmark-round"></em></button></span>
            </div>
          </form>
        </div>
        <div class="card-body">
          <!-- Inner card-->
          <div class="card">
            <div class="card-heading">
              <!-- START dropdown-->
              <div class="pull-right dropdown" uib-dropdown="dropdown2">
                <button class="btn btn-default btn-flat btn-flat-icon" type="button" uib-dropdown-toggle=""><em class="ion-android-more-vertical"></em></button>
                <ul class="dropdown-menu md-dropdown-menu dropdown-menu-right" role="menu">
                  <li><a href="">Hide post</a></li>
                  <li><a href="">Stop following</a></li>
                  <li class="divider" role="separator"></li>
                  <li><a href="">Report</a></li>
                </ul>
              </div>
              <!-- END dropdown-->
              <div class="media m0">
                <div class="media-left"><a href="#"><img class="media-object img-circle thumb48" src="app/img/user/06.jpg" alt="User"/></a></div>
                <div class="media-body media-middle pt-sm">
                  <p class="media-heading m0 text-bold">Stephen Palmer</p><small class="text-muted"><em class="ion-earth text-muted mr-sm"></em><span>2 hours</span></small>
                </div>
              </div>
              <div class="p">Ut egestas consequat faucibus. Donec id lectus tortor. Maecenas at porta purus. Etiam feugiat risus massa. Vivamus fermentum libero vel felis aliquet interdum. </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-flat btn-primary" type="button">Like</button>
              <button class="btn btn-flat btn-primary" type="button">Share</button>
              <button class="btn btn-flat btn-primary" type="button">Comment</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Inner card-->
          <div class="card">
            <div class="card-heading">
              <!-- START dropdown-->
              <div class="pull-right dropdown" uib-dropdown="dropdown2">
                <button class="btn btn-default btn-flat btn-flat-icon" type="button" uib-dropdown-toggle=""><em class="ion-android-more-vertical"></em></button>
                <ul class="dropdown-menu md-dropdown-menu dropdown-menu-right" role="menu">
                  <li><a href="">Hide post</a></li>
                  <li><a href="">Stop following</a></li>
                  <li class="divider" role="separator"></li>
                  <li><a href="">Report</a></li>
                </ul>
              </div>
              <!-- END dropdown-->
              <div class="media m0">
                <div class="media-left"><a href="#"><img class="media-object img-circle thumb48" src="app/img/user/05.jpg" alt="User"/></a></div>
                <div class="media-body media-middle pt-sm">
                  <p class="media-heading m0 text-bold">Ricky Wagner</p><small class="text-muted"><em class="ion-earth text-muted mr-sm"></em><span>10 hours</span></small>
                </div>
              </div>
            </div>
            <div class="card-item"><img class="fw img-responsive" src="app/img/pic6.jpg" alt="MaterialImg"/>
              <div class="card-item-text bg-transparent">
                <p>The sun was shinning</p>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-flat btn-primary" type="button">Like</button>
              <button class="btn btn-flat btn-primary" type="button">Share</button>
              <button class="btn btn-flat btn-primary" type="button">Comment</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Inner card-->
          <div class="card reader-block">
            <div class="card-heading">
              <!-- START dropdown-->
              <div class="pull-right dropdown" uib-dropdown="dropdown2">
                <button class="btn btn-default btn-flat btn-flat-icon" type="button" uib-dropdown-toggle=""><em class="ion-android-more-vertical"></em></button>
                <ul class="dropdown-menu md-dropdown-menu dropdown-menu-right" role="menu">
                  <li><a href="">Hide post</a></li>
                  <li><a href="">Stop following</a></li>
                  <li class="divider" role="separator"></li>
                  <li><a href="">Report</a></li>
                </ul>
              </div>
              <!-- END dropdown-->
              <div class="media m0">
                <div class="media-left"><a href="#"><img class="media-object img-circle thumb48" src="app/img/user/06.jpg" alt="User"/></a></div>
                <div class="media-body media-middle pt-sm">
                  <p class="media-heading m0 text-bold">Stephen Palmer</p><small class="text-muted"><em class="ion-earth text-muted mr-sm"></em><span>Yesterday</span></small>
                </div>
              </div>
              <div class="p">
                <div class="mb">Donec a purus auctor dui hendrerit accumsan non quis augue nisl sed iaculis.</div><a href=""><img class="mr-sm thumb48" src="app/img/pic1.jpg" alt="Pic"/></a><a href=""><img class="mr-sm thumb48" src="app/img/pic2.jpg" alt="Pic"/></a><a href=""><img class="mr-sm thumb48" src="app/img/pic3.jpg" alt="Pic"/></a><a href=""><img class="mr-sm thumb48" src="app/img/pic4.jpg" alt="Pic"/></a>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-flat btn-primary" type="button">Like</button>
              <button class="btn btn-flat btn-primary" type="button">Share</button>
              <button class="btn btn-flat btn-primary" type="button">Comment</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="push-down"></div>
      <div class="card card-transparent">
        <h5 class="card-heading">Friends</h5>
        <div class="mda-list">
          <div class="mda-list-item"><img class="mda-list-item-img thumb48" src="app/img/user/01.jpg" alt="List user"/>
            <div class="mda-list-item-text mda-2-line">
              <h3><a href="#">Eric Graves</a></h3>
              <div class="text-muted text-ellipsis">Ut ac nisi id mauris</div>
            </div>
          </div>
          <div class="mda-list-item"><img class="mda-list-item-img thumb48" src="app/img/user/02.jpg" alt="List user"/>
            <div class="mda-list-item-text mda-2-line">
              <h3><a href="#">Bruce Ramos</a></h3>
              <div class="text-muted text-ellipsis">Sed lacus nisl luctus</div>
            </div>
          </div>
          <div class="mda-list-item"><img class="mda-list-item-img thumb48" src="app/img/user/03.jpg" alt="List user"/>
            <div class="mda-list-item-text mda-2-line">
              <h3><a href="#">Marie Hall</a></h3>
              <div class="text-muted text-ellipsis">Donec congue sagittis mi</div>
            </div>
          </div>
          <div class="mda-list-item"><img class="mda-list-item-img thumb48" src="app/img/user/04.jpg" alt="List user"/>
            <div class="mda-list-item-text mda-2-line">
              <h3><a href="#">Russell Hart</a></h3>
              <div class="text-muted text-ellipsis">Donec convallis arcu sit</div>
            </div>
          </div>
          <div class="mda-list-item"><img class="mda-list-item-img thumb48" src="app/img/user/05.jpg" alt="List user"/>
            <div class="mda-list-item-text mda-2-line">
              <h3><a href="#">Eric Graves</a></h3>
              <div class="text-muted text-ellipsis">Ut ac nisi id mauris</div>
            </div>
          </div>
          <div class="mda-list-item"><img class="mda-list-item-img thumb48" src="app/img/user/06.jpg" alt="List user"/>
            <div class="mda-list-item-text mda-2-line">
              <h3><a href="#">Jessie Cox</a></h3>
              <div class="text-muted text-ellipsis">Sed lacus nisl luctus</div>
            </div>
          </div>
          <div class="mda-list-item"><img class="mda-list-item-img thumb48" src="app/img/user/01.jpg" alt="List user"/>
            <div class="mda-list-item-text mda-2-line">
              <h3><a href="#">Jonathan Soto</a></h3>
              <div class="text-muted text-ellipsis">Donec congue sagittis mi</div>
            </div>
          </div>
          <div class="mda-list-item"><img class="mda-list-item-img thumb48" src="app/img/user/05.jpg" alt="List user"/>
            <div class="mda-list-item-text mda-2-line">
              <h3><a href="#">Guy Carpenter</a></h3>
              <div class="text-muted text-ellipsis">Donec convallis arcu sit</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>