.sidebar-header
    .float-right.pt-lg.text-muted.invisible
        em.ion-close-round
    a.sidebar-header-logo(href='#')
        //- img(src="../../images/logo.png")
        img(src="../../images/logo.png", data-svg-replace='../../images/logo.svg', alt="Logo")
        span.sidebar-header-logo-text Centric
.sidebar-content
    .sidebar-toolbar.text-center
        a(href="#")
            img.rounded-circle.thumb64(src="../../images/user/01.jpg", alt="Profile")
        .mt Welcome, Willie Webb
    nav.sidebar-nav
        ul
            li
                a.ripple(href='dashboard.html')
                    span.float-right.nav-label
                        span.badge.bg-success 2
                    span.nav-icon
                        //- em.ion-aperture
                        img.invisible(data-svg-replace="../../images/icons/aperture.svg", alt="MenuItem")
                    span Dashboard
            li
                a.ripple(href='cards.html')
                    span.float-right.nav-label
                    span.nav-icon
                        //- em.ion-radio-waves
                        img.invisible(data-svg-replace="../../images/icons/radio-waves.svg", alt="MenuItem")
                    span Cards
            li
                a.ripple(href='#')
                    span.float-right.nav-caret
                        em.ion-ios-arrow-right
                    span.float-right.nav-label
                    span.nav-icon
                        //- em.ion-connection-bars
                        img.invisible(data-svg-replace="../../images/icons/connection-bars.svg", alt="MenuItem")
                    span Charts
                ul.sidebar-subnav
                    li
                        a.ripple(href='flot.html')
                            span.float-right.nav-label
                            span Flot
                    li
                        a.ripple(href='radial.html')
                            span.float-right.nav-label
                            span Radial
                    li
                        a.ripple(href='rickshaw.html')
                            span.float-right.nav-label
                            span Rickshaw
            li
                a.ripple(href='#')
                    span.float-right.nav-caret
                        em.ion-ios-arrow-right
                    span.float-right.nav-label
                    span.nav-icon
                        //- em.ion-clipboard
                        img.invisible(data-svg-replace="../../images/icons/clipboard.svg", alt="MenuItem")
                    span Forms
                ul.sidebar-subnav
                    li
                        a.ripple(href='forms.classic.html')
                            span.float-right.nav-label
                            span Classic
                    li
                        a.ripple(href='validation.html')
                            span.float-right.nav-label
                            span Validation
                    li
                        a.ripple(href='forms.advanced.html')
                            span.float-right.nav-label
                            span Advanced
                    li
                        a.ripple(href='material.html')
                            span.float-right.nav-label
                            span Material
                    li
                        a.ripple(href='editor.html')
                            span.float-right.nav-label
                            span Editors
                    li
                        a.ripple(href='dropzone.html')
                            span.float-right.nav-label
                            span Dropzone
                    li
                        a.ripple(href='xeditable.html')
                            span.float-right.nav-label
                            span xEditable
                    li
                        a.ripple(href='wizard.html')
                            span.float-right.nav-label
                            span Wizard
            li
                a.ripple(href='#')
                    span.float-right.nav-caret
                        em.ion-ios-arrow-right
                    span.float-right.nav-label
                    span.nav-icon
                        //- em.ion-navicon
                        img.invisible(data-svg-replace="../../images/icons/navicon.svg", alt="MenuItem")
                    span Tables
                ul.sidebar-subnav#tables
                    li
                        a.ripple(href='tables.classic.html')
                            span.float-right.nav-label
                            span Classic
                    li
                        a.ripple(href='datatable.html')
                            span.float-right.nav-label
                            span Datatable
                    li
                        a.ripple(href='bootgrid.html')
                            span.float-right.nav-label
                            span Bootgrid
            li
                a.ripple(href='#')
                    span.float-right.nav-caret
                        em.ion-ios-arrow-right
                    span.float-right.nav-label
                    span.nav-icon
                        //- em.ion-grid
                        img.invisible(data-svg-replace="../../images/icons/grid.svg", alt="MenuItem")
                    span Layouts
                ul.sidebar-subnav#layouts
                    li
                        a.ripple(href='layouts.columns.html')
                            span.float-right.nav-label
                            span Columns
                    li
                        a.ripple(href='layouts.overlap.html')
                            span.float-right.nav-label
                            span Overlap
                    li
                        a.ripple(href='layouts.boxed.html')
                            span.float-right.nav-label
                            span Boxed
                    li
                        a.ripple(href='layouts.tabs.html')
                            span.float-right.nav-label
                            span Tabs
                    li
                        a.ripple(href='layouts.containers.html')
                            span.float-right.nav-label
                            span Containers
            li
                a.ripple(href='#')
                    span.float-right.nav-caret
                        em.ion-ios-arrow-right
                    span.float-right.nav-label
                    span.nav-icon
                        //- em.ion-levels
                        img.invisible(data-svg-replace="../../images/icons/levels.svg", alt="MenuItem")
                    span Elements
                ul.sidebar-subnav#elements
                    li
                        a.ripple(href='colors.html')
                            span.float-right.nav-label
                            span Colors
                    li
                        a.ripple(href='whiteframes.html')
                            span.float-right.nav-label
                            span Whiteframes
                    li
                        a.ripple(href='lists.html')
                            span.float-right.nav-label
                            span Lists
                    li
                        a.ripple(href='bootstrapui.html')
                            span.float-right.nav-label
                            span Bootstrap
                    li
                        a.ripple(href='buttons.html')
                            span.float-right.nav-label
                            span Buttons
                    li
                        a( href='sweetalert.html')
                            span.float-right.nav-label
                            span Sweet-alert
                    li
                        a.ripple(href='spinners.html')
                            span.float-right.nav-label
                            span Spinners
                    li
                        a.ripple(href='nestable.html')
                            span.float-right.nav-label
                            span Nestable
                    li
                        a.ripple(href='grid.html')
                            span.float-right.nav-label
                            span Grid
                    li
                        a.ripple(href='grid-masonry.html')
                            span.float-right.nav-label
                            span Grid Masonry
                    li
                        a.ripple(href='typography.html')
                            span.float-right.nav-label
                            span Typography
                    li
                        a.ripple(href='icons.html')
                            span.float-right.nav-label
                            span Icons
                    li
                        a.ripple(href='utilities.html')
                            span.float-right.nav-label
                            span Utilities
            li
                a.ripple(href='#')
                    span.float-right.nav-caret
                        em.ion-ios-arrow-right
                    span.float-right.nav-label
                    span.nav-icon
                        //- em.ion-planet
                        img.invisible(data-svg-replace="../../images/icons/planet.svg", alt="MenuItem")
                    span Maps
                ul.sidebar-subnav#maps
                    li
                        a.ripple(href='google-map-full.html')
                            span.float-right.nav-label
                            span Google Maps Full
                    li
                        a.ripple(href='google-map.html')
                            span.float-right.nav-label
                            span Google Maps
                    li
                        a.ripple(href='vector-map.html')
                            span.float-right.nav-label
                            span Vector Maps
                    li
                        a.ripple(href='datamaps.html')
                            span.float-right.nav-label
                            span Datamaps
            li
                a.ripple(href='#')
                    span.float-right.nav-caret
                        em.ion-ios-arrow-right
                    span.float-right.nav-label
                    span.nav-icon
                        //- em.ion-ios-browsers
                        img.invisible(data-svg-replace="../../images/icons/ios-browsers.svg", alt="MenuItem")
                    span Pages
                ul.sidebar-subnav#pages
                    li
                        a.ripple(href='timeline.html')
                            span.float-right.nav-label
                            span Timeline
                    li
                        a.ripple(href='invoice.html')
                            span.float-right.nav-label
                            span Invoice
                    li
                        a.ripple(href='pricing.html')
                            span.float-right.nav-label
                            span Pricing
                    li
                        a.ripple(href='contacts.html')
                            span.float-right.nav-label
                            span Contacts
                    li
                        a.ripple(href='faq.html')
                            span.float-right.nav-label
                            span FAQ
                    li
                        a.ripple(href='projects.html')
                            span.float-right.nav-label
                            span Projects
                    li
                        a.ripple(href='blog.html')
                            span.float-right.nav-label
                            span Blog
                    li
                        a.ripple(href='blog.article.html')
                            span.float-right.nav-label
                            span Article
                    li
                        a.ripple(href='profile.html')
                            span.float-right.nav-label
                            span Profile
                    li
                        a.ripple(href='gallery.html')
                            span.float-right.nav-label
                            span Gallery
                    li
                        a.ripple(href='wall.html')
                            span.float-right.nav-label
                            span Wall
                    li
                        a.ripple(href='search.html')
                            span.float-right.nav-label
                            span Search
                    li
                        a.ripple(href='messages.html')
                            span.float-right.nav-label
                            span Messages Board
            li
                a.ripple(href='#')
                    span.float-right.nav-caret
                        em.ion-ios-arrow-right
                    span.float-right.nav-label
                    span.nav-icon
                        //- em.ion-person-stalker
                        img.invisible(data-svg-replace="../../images/icons/person-stalker.svg", alt="MenuItem")
                    span User
                ul.sidebar-subnav#user
                    li
                        a.ripple(href='login.html')
                            span.float-right.nav-label
                            span Login
                    li
                        a.ripple(href='signup.html')
                            span.float-right.nav-label
                            span Signup
                    li
                        a.ripple(href='lock.html')
                            span.float-right.nav-label
                            span Lock
                    li
                        a.ripple(href='recover.html')
                            span.float-right.nav-label
                            span Recover
            li
                a.ripple(href='../../angularjs/')
                    span.nav-icon
                        em.ion-android-open
                    span AngularJS