extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Bootstrap'
block content
    // Breadcrumb next to view title
    ul.breadcrumb.breadcrumb-lead
        li.breadcrumb-item
            a(href='dashboard.html') Home
        li.breadcrumb-item
            a(href='dashboard.html') Dashboard
        li.breadcrumb-item.active
            span Bootstrap

    .container-fluid

        // START row
        .row
            .col-xl-12.col-xs-12
                .jumbotron
                    .container
                        h1 Bootstrap Jumbotron
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing.
                        p
                            a.btn.btn-primary.btn-lg(href="#", role='button') Learn more
        // END row

        // START row
        .row
            .col-xl-6.col-xs-12
                // START panel
                .card.mb
                    .card-header
                        | Alert Styles
                    .card-body
                        .alert.alert-success.mb
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            a.alert-link(href='#') Alert Link
                        .alert.alert-info.mb
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            a.alert-link(href='#') Alert Link
                        .alert.alert-danger.mb
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            a.alert-link(href='#') Alert Link
                        .alert.alert-warning.mb
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            a.alert-link(href='#') Alert Link
                // END panel

                // START panel
                .card.mb
                    .card-header Progress Bar
                    .card-body
                        p.lead Static
                        .progress.mb
                            .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;') 60%
                        .progress.mb
                            .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;') 60%
                        .progress.mb
                            .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;') 60%

                        p.lead.mt-4 Striped
                        .progress.mb
                            .progress-bar.progress-bar-success.progress-bar-striped(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%')
                                span.sr-only 40% Complete (success)
                        .progress.mb
                            .progress-bar.progress-bar-info.progress-bar-striped(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%')
                                span.sr-only 20% Complete
                        .progress.mb
                            .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 45%')
                                span.sr-only 45% Complete

                        p.lead.mt-4 Stacked
                        .progress
                            .progress-bar.progress-bar-success(style='width: 35%')
                                span.sr-only 35% Complete (success)
                            .progress-bar.progress-bar-warning.progress-bar-striped(style='width: 20%')
                                span.sr-only 20% Complete (warning)
                            .progress-bar.progress-bar-danger(style='width: 10%')
                                span.sr-only 10% Complete (danger)

                // END panel
                // START panel
                .card.mb
                    .card-header Tooltips
                    .card-body
                        div
                            .form-group
                                button.btn.btn-secondary(type='button', data-toggle="tooltip", data-placement='left', title='Tooltip on left') Tooltip on left
                                button.btn.btn-secondary(type='button', data-toggle="tooltip", data-placement='top', title='Tooltip on top') Tooltip on top
                                button.btn.btn-secondary(type='button', data-toggle="tooltip", data-placement='bottom', title='Tooltip on bottom') Tooltip on bottom
                                button.btn.btn-secondary(type='button', data-toggle="tooltip", data-placement='right', title='Tooltip on right') Tooltip on right
                            p
                                | Pellentesque
                                a(href='#', data-toggle="tooltip", title='Some text') eget nunc scelerisque
                                | ,
                                | sit amet venenatis urna cursus eget nunc scelerisque viverra mauris, in
                                | aliquam. Tincidunt lobortis feugiat vivamus at
                                a(href='#', data-placement='left', data-toggle="tooltip" title='On the Left!') left
                                | eget
                                | arcu dictum varius duis at consectetur lorem. Vitae elementum curabitur
                                a(href='#', data-placement='right', data-toggle="tooltip" title='On the Right!') right
                                | nunc sed velit dignissim sodales ut eu sem integer vitae. Turpis egestas
                                a(href='#', data-placement='bottom', data-toggle="tooltip" title='On the Bottom!') bottom
                                | pharetra convallis posuere morbi leo urna,
                                a(href='#', data-animation='true', data-toggle="tooltip" title='I don\'t fade. :-(') fading
                                | at elementum eu, facilisis sed odio morbi quis commodo odio. In cursus
                                a(href='#', data-delay='1000', data-toggle="tooltip" title='appears with delay') delayed
                                | turpis massa tincidunt dui ut.
                            p
                                | I can even contain HTML.
                                a(href='#', data-toggle="tooltip" data-html="true" title='<b>Check me bold</b>') Check me out!
                            form(role='form')
                                .form-group
                                    label Or use custom triggers, like focus:
                                    input.form-control(type='text', value='Click me!', data-toggle="tooltip" data-title='See? Now click away...', data-trigger='focus', data-placement='top')
                // END panel

            .col-xl-6.col-xs-12

                // START panel
                .card.mb
                    .card-header
                        | Modals
                    .card-body
                        // Button trigger modal
                        button.btn.btn-primary(type='button', data-toggle='modal', data-target='.bs-example-modal-lg') Large modal
                        button.btn.btn-primary(type='button', data-toggle='modal', data-target='.bs-example-modal-sm') Small modal
                // END panel
                // START panel
                .card.mb
                    .card-header
                        | Popovers
                    .card-body
                        p.lead Live demo
                        button.btn.btn-lg.btn-danger(type='button', data-toggle='popover', title='Popover title', data-content="And here's some amazing content. It's very engaging. Right?") Click to toggle popover
                        p.lead.mt-4 Positional
                        button.btn.btn-secondary(type='button', data-container='body', data-toggle='popover', data-placement='left', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.')
                          | Popover on left
                        button.btn.btn-secondary(type='button', data-container='body', data-toggle='popover', data-placement='top', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.')
                          | Popover on top
                        button.btn.btn-secondary(type='button', data-container='body', data-toggle='popover', data-placement='bottom', data-content='Vivamus\
                        sagittis lacus vel augue laoreet rutrum faucibus.')
                          | Popover on bottom
                        button.btn.btn-secondary(type='button', data-container='body', data-toggle='popover', data-placement='right', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.')
                          | Popover on right
                        p.lead.mt-4 Dismiss on next click
                        button.btn.btn-lg.btn-danger(type='button', tabindex='0', role='button', data-toggle='popover', data-trigger='focus', title='Dismissible popover', data-content="And here's some amazing content. It's very engaging. Right?") Dismissible popover

                // END panel
                // END row
                .card.mb
                    .card-header Carousel
                    .card-body
                        #carousel-example-generic.carousel.slide(data-ride='carousel')
                          // Indicators
                          ol.carousel-indicators
                            li.active(data-target='#carousel-example-generic', data-slide-to='0')
                            li(data-target='#carousel-example-generic', data-slide-to='1')
                            li(data-target='#carousel-example-generic', data-slide-to='2')
                          // Wrapper for slides
                          .carousel-inner(role='listbox')
                            .carousel-item.active
                              img.fw(src='~img/pic1.jpg', alt='Carousel')
                              .carousel-caption Aliquam interdum, erat et accumsan iaculis, sapien ipsum aliquam tellus, eget posuere arcu ligula ac risus.
                            .carousel-item
                              img.fw(src='~img/pic2.jpg', alt='Carousel')
                              .carousel-caption Suspendisse aliquam dignissim dictum.
                            .carousel-item
                              img.fw(src='~img/pic3.jpg', alt='Carousel')
                              .carousel-caption Suspendisse aliquam dignissim dictum.
                          // Controls
                          a.carousel-control-prev(href='#carousel-example-generic', role='button', data-slide='prev')
                            span.ion-chevron-left(aria-hidden='true')
                            span.sr-only Previous
                          a.carousel-control-next(href='#carousel-example-generic', role='button', data-slide='next')
                            span.ion-chevron-right(aria-hidden='true')
                            span.sr-only Next

                .card.mb
                    .card-header List groups
                    .card-body
                        .list-group
                            a.list-group-item.active(href='#')
                              span.badge 25
                              |  Active list item group #100
                            a.list-group-item(href='#') List item group #120
                            a.list-group-item.disabled(href='#') Disabled list item group #300

        h4.page-header Card Styles
        // START row
        .row
            .col-xl-4.col-xs-12
                // START panel
                #cardDemo7.card.card-default.mb
                    .card-header Default Card
                    .card-body
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                    .card-footer
                        | Card Footer
                // END Card
            .col-xl-4.col-xs-12
                // START Card
                #cardDemo8.card.mb.bg-primary.card-inverse
                    .card-header Primary Card
                    .card-body
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                    .card-footer
                        | Card Footer
                // END Card
            .col-xl-4.col-xs-12
                // START Card
                #cardDemo9.card.mb.bg-success.card-inverse
                    .card-header Success Card
                    .card-body
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                    .card-footer
                        | Card Footer
                // END Card
        // END row
        // START row
        .row
            .col-xl-4.col-xs-12
                // START Card
                #cardDemo10.card.mb.bg-info.card-inverse
                    .card-header Info Card
                    .card-body
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                    .card-footer
                        | Card Footer
                // END Card
            .col-xl-4.col-xs-12
                // START Card
                #cardDemo11.card.mb.bg-warning.card-inverse
                    .card-header Warning Card
                    .card-body
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                    .card-footer
                        | Card Footer
                // END Card
            .col-xl-4.col-xs-12
                // START Card
                #cardDemo12.card.mb.bg-danger.card-inverse
                    .card-header Danger Card
                    .card-body
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                    .card-footer
                        | Card Footer
                // END Card
        // END row
        // START row
        .row
            .col-xl-12.col-xs-12
                // START panel
                #cardDemo13.card.mb.card-accordion
                    .card-header
                        | Collapsible Accordion
                    .card-body
                        #accordion(role='tablist', aria-multiselectable='true')
                          .card.card-default.mt-sm
                            #headingOne.card-header(role='tab')
                              h4.m0
                                a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                  | Collapsible Group Item #1
                            #collapseOne.collapse.show(role='tabpanel', aria-labelledby='headingOne')
                              .card-body
                                | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
                          .card.card-default.mt-sm
                            #headingTwo.card-header(role='tab')
                              h4.m0
                                a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                  | Collapsible Group Item #2
                            #collapseTwo.collapse(role='tabpanel', aria-labelledby='headingTwo')
                              .card-body
                                | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
                          .card.card-default.mt-sm
                            #headingThree.card-header(role='tab')
                              h4.m0
                                a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                  | Collapsible Group Item #3
                            #collapseThree.collapse(role='tabpanel', aria-labelledby='headingThree')
                              .card-body
                                | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.

                // END panel
        // END row
        // START row
        .row
            .col-xl-6.col-xs-12
                // START panel
                #cardDemo14.card.mb
                    .card-header Basic Tabs
                    .card-body
                        div
                            // Nav tabs
                            ul.nav.nav-tabs(role='tablist')
                                li.nav-item(role='presentation')
                                    a.nav-link.active(href='#home', aria-controls='home', role='tab', data-toggle='tab') Home
                                li.nav-item(role='presentation')
                                    a.nav-link(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Profile
                                li.nav-item(role='presentation')
                                    a.nav-link(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Messages
                                li.nav-item(role='presentation')
                                    a.nav-link(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') Settings
                            // Tab panes
                            .tab-content
                                #home.tab-pane.active(role='tabpanel') Maecenas elementum, justo in pulvinar bibendum, tellus nulla adipiscing libero, at rutrum velit sapien vel velit. Phasellus hendrerit ullamcorper est eget tincidunt. Aenean non neque a tortor tempor consequat a ut ligula. Mauris eros nibh, adipiscing ac commodo vel, molestie mattis magna. Curabitur adipiscing, tellus ut congue tempus, dui lacus cursus risus, nec pellentesque mi purus eget augue. Fusce ullamcorper placerat tortor, placerat consequat diam cursus posuere.
                                #profile.tab-pane(role='tabpanel') Nullam eu lacus in nibh rutrum ornare at eget tellus. Nullam rutrum convallis lacus non mattis. Praesent dapibus justo dolor. Duis convallis placerat egestas. Aenean non neque a tortor tempor consequat a ut ligula. Mauris eros nibh, adipiscing ac commodo vel, molestie mattis magna. Curabitur adipiscing, tellus ut congue tempus, dui lacus cursus risus, nec pellentesque mi purus eget augue. Fusce ullamcorper placerat tortor, placerat consequat diam cursus posuere.
                                #messages.tab-pane(role='tabpanel') Aenean non neque a tortor tempor consequat a ut ligula. Mauris eros nibh, adipiscing ac commodo vel, molestie mattis magna. Curabitur adipiscing, tellus ut congue tempus, dui lacus cursus risus, nec pellentesque mi purus eget augue. Fusce ullamcorper placerat tortor, placerat consequat diam cursus posuere. Aenean non neque a tortor tempor consequat a ut ligula. Mauris eros nibh, adipiscing ac commodo vel, molestie mattis magna. Curabitur adipiscing, tellus ut congue tempus, dui lacus cursus risus, nec pellentesque mi purus eget augue. Fusce ullamcorper placerat tortor, placerat consequat diam cursus posuere.
                                #settings.tab-pane(role='tabpanel') Sed id lacus enim, sit amet imperdiet orci. Phasellus sed dui massa, vitae dapibus augue. Nam vehicula rhoncus nisl, et ullamcorper augue ullamcorper semper. Aenean non neque a tortor tempor consequat a ut ligula. Mauris eros nibh, adipiscing ac commodo vel, molestie mattis magna. Curabitur adipiscing, tellus ut congue tempus, dui lacus cursus risus, nec pellentesque mi purus eget augue. Fusce ullamcorper placerat tortor, placerat consequat diam cursus posuere.

                // END panel
            .col-xl-6.col-xs-12
                // START panel
                #cardDemo15.card.mb
                    .card-header Pill Tabs
                    .card-body
                        div
                            // Nav tabs
                            ul.nav.nav-pills(role='tablist')
                                li.nav-item(role='presentation')
                                    a.nav-link.active(href='#home1', aria-controls='home', role='tab', data-toggle='tab') Home
                                li.nav-item(role='presentation')
                                    a.nav-link(href='#profile1', aria-controls='profile', role='tab', data-toggle='tab') Profile
                                li.nav-item(role='presentation')
                                    a.nav-link(href='#messages1', aria-controls='messages', role='tab', data-toggle='tab') Messages
                                li.nav-item(role='presentation')
                                    a.nav-link(href='#settings1', aria-controls='settings', role='tab', data-toggle='tab') Settings
                            // Tab panes
                            .tab-content
                                #home1.tab-pane.active(role='tabpanel') Maecenas elementum, justo in pulvinar bibendum, tellus nulla adipiscing libero, at rutrum velit sapien vel velit. Phasellus hendrerit ullamcorper est eget tincidunt. Aenean non neque a tortor tempor consequat a ut ligula. Mauris eros nibh, adipiscing ac commodo vel, molestie mattis magna. Curabitur adipiscing, tellus ut congue tempus, dui lacus cursus risus, nec pellentesque mi purus eget augue. Fusce ullamcorper placerat tortor, placerat consequat diam cursus posuere.
                                #profile1.tab-pane(role='tabpanel') Nullam eu lacus in nibh rutrum ornare at eget tellus. Nullam rutrum convallis lacus non mattis. Praesent dapibus justo dolor. Duis convallis placerat egestas. Aenean non neque a tortor tempor consequat a ut ligula. Mauris eros nibh, adipiscing ac commodo vel, molestie mattis magna. Curabitur adipiscing, tellus ut congue tempus, dui lacus cursus risus, nec pellentesque mi purus eget augue. Fusce ullamcorper placerat tortor, placerat consequat diam cursus posuere.
                                #messages1.tab-pane(role='tabpanel') Aenean non neque a tortor tempor consequat a ut ligula. Mauris eros nibh, adipiscing ac commodo vel, molestie mattis magna. Curabitur adipiscing, tellus ut congue tempus, dui lacus cursus risus, nec pellentesque mi purus eget augue. Fusce ullamcorper placerat tortor, placerat consequat diam cursus posuere. Aenean non neque a tortor tempor consequat a ut ligula. Mauris eros nibh, adipiscing ac commodo vel, molestie mattis magna. Curabitur adipiscing, tellus ut congue tempus, dui lacus cursus risus, nec pellentesque mi purus eget augue. Fusce ullamcorper placerat tortor, placerat consequat diam cursus posuere.
                                #settings1.tab-pane(role='tabpanel') Sed id lacus enim, sit amet imperdiet orci. Phasellus sed dui massa, vitae dapibus augue. Nam vehicula rhoncus nisl, et ullamcorper augue ullamcorper semper. Aenean non neque a tortor tempor consequat a ut ligula. Mauris eros nibh, adipiscing ac commodo vel, molestie mattis magna. Curabitur adipiscing, tellus ut congue tempus, dui lacus cursus risus, nec pellentesque mi purus eget augue. Fusce ullamcorper placerat tortor, placerat consequat diam cursus posuere.

                // END panel
        // END row
        // START panel
        .card.mb
          .card-header Pagination
          .card-body
            p.bold Standard and sizing
            .row
                .col-xl-6.col-xs-12
                    br
                    nav(aria-label='Page navigation example')
                        ul.pagination
                            li.page-item
                                a.page-link(href='#') Previous
                            li.page-item
                                a.page-link(href='#') 1
                            li.page-item
                                a.page-link(href='#') 2
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#') Next

                .col-xl-6.col-xs-12
                    nav
                        ul.pagination.pagination-lg
                            li.page-item.disabled
                                a.page-link(href='#', tabindex='-1') Previous
                            li.page-item
                                a.page-link(href='#') 1
                            li.page-item
                                a.page-link(href='#') 2
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#') Next
                    nav
                        ul.pagination.pagination-sm
                            li.page-item.disabled
                                a.page-link(href='#', tabindex='-1') Previous
                            li.page-item
                                a.page-link(href='#') 1
                            li.page-item
                                a.page-link(href='#') 2
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#') Next
            p.bold Rounded buttons
            .row
                .col-xl-6.col-xs-12
                    nav
                      ul.pagination.pagination-rounded
                        li.page-item
                          a.page-link(href='#', aria-label='Previous')
                            span(aria-hidden='true') &laquo;
                        li.page-item
                          a.page-link(href='#') 1
                        li.page-item
                          a.page-link(href='#') 2
                        li.page-item
                          a.page-link(href='#') 3
                        li.page-item
                          a.page-link(href='#') 4
                        li.page-item
                          a.page-link(href='#') 5
                        li.page-item.disabled
                          a.page-link(href='#', aria-label='Next')
                            span(aria-hidden='true') &raquo;
                .col-xl-6.col-xs-12
                    nav
                      ul.pagination.pagination-lg.pagination-rounded
                        li.page-item
                          a.page-link(href='#', aria-label='Previous')
                            span(aria-hidden='true') &laquo;
                        li.page-item
                          a.page-link(href='#') 1
                        li.page-item
                          a.page-link(href='#') 2
                        li.page-item.active
                          a.page-link(href='#') 3
                        li.page-item
                          a.page-link(href='#') 4
                        li.page-item
                          a.page-link(href='#') 5
                        li.page-item
                          a.page-link(href='#', aria-label='Next')
                            span(aria-hidden='true') &raquo;
            // END row
        // END panel


block bodychild
    // Modal content for the above example
    .modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    h5.mt0#myLargeModalLabel.modal-title Large modal
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p Mauris eu lacus massa, vel condimentum lectus.
            // /.modal-content
        // /.modal-dialog
    // /.modal
    .modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    h5.mt0#mySmallModalLabel.modal-title Small modal
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p Vestibulum molestie commodo elit ut feugiat.
            // /.modal-content
        // /.modal-dialog
    // /.modal
