extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Buttons'
block content

    mixin dropdown_button(type)
        // START button group
        .dropdown.btn-group.mb-sm
            button.btn.dropdown-toggle.ripple(type='button', class="btn-"+type, data-toggle="dropdown")
                = type
                span.caret
            ul.dropdown-menu(role='menu')
                li.dropdown-item
                    a(href='#') Action
                li.dropdown-item
                    a(href='#') Another action
                li.dropdown-item
                    a(href='#') Something else here
                li.dropdown-divider
                li.dropdown-item
                    a(href='#') Separated link
        // END button group

    mixin dropdown_split(type)
        // START button group
        .btn-group.dropdown
            button.btn.ripple(type='button', class="btn-"+type) Action
            button.btn.dropdown-toggle.ripple(type='button', class="btn-"+type, data-toggle="dropdown")
                span.caret
                span.sr-only= type
            ul.dropdown-menu(role='menu')
                li.dropdown-item
                    a(href='#') Action
                li.dropdown-item
                    a(href='#') Another action
                li.dropdown-item
                    a(href='#') Something else here
                li.dropdown-divider
                li.dropdown-item
                    a(href='#') Separated link
        // END button group

    .container.container-lg

        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button colors
                button.mb-sm.btn.btn-secondary.ripple(type='button') Secondary
                button.mb-sm.btn.btn-primary.ripple(type='button') Primary
                button.mb-sm.btn.btn-success.ripple(type='button') Success
                button.mb-sm.btn.btn-info.ripple(type='button') Info
                button.mb-sm.btn.btn-warning.ripple(type='button') Warning
                button.mb-sm.btn.btn-danger.ripple(type='button') Danger
                button.mb-sm.btn.btn-inverse.ripple(type='button') Inverse
                br
                br
                a(href="#").btn.btn-link.ripple Button Link
                button.ripple(type='button').btn.btn-secondary.mr
                    strong button tag
                a(href="#").btn.btn-secondary.ripple
                    strong anchor tag
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button Flat
                p
                    button.btn.btn-flat.btn-secondary.ripple(type='button') Secondary
                    button.btn.btn-flat.btn-primary.ripple(type='button') Primary
                    button.btn.btn-flat.btn-success.ripple(type='button') Success
                    button.btn.btn-flat.btn-info.ripple(type='button') Info
                    button.btn.btn-flat.btn-warning.ripple(type='button') Warning
                    button.btn.btn-flat.btn-danger.ripple(type='button') Danger
                    button.btn.btn-flat.btn-inverse.ripple(type='button') Inverse
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button Raised
                p
                    button.btn.btn-raised.btn-secondary.ripple(type='button') Secondary
                    button.btn.btn-raised.btn-primary.ripple(type='button') Primary
                    button.btn.btn-raised.btn-success.ripple(type='button') Success
                    button.btn.btn-raised.btn-info.ripple(type='button') Info
                    button.btn.btn-raised.btn-warning.ripple(type='button') Warning
                    button.btn.btn-raised.btn-danger.ripple(type='button') Danger
                    button.btn.btn-raised.btn-inverse.ripple(type='button') Inverse
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button Circle
                p
                    button.btn.btn-circle.btn-secondary.ripple(type='button') D
                    button.btn.btn-circle.btn-primary.ripple(type='button') P
                    button.btn.btn-circle.btn-success.ripple(type='button') S
                    button.btn.btn-circle.btn-info.ripple(type='button') I
                    button.btn.btn-circle.btn-warning.ripple(type='button') W
                    button.btn.btn-circle.btn-danger.ripple(type='button') D
                    button.btn.btn-circle.btn-inverse.ripple(type='button') I
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button Labeled
                // Success button with label
                button.btn.btn-labeled.btn-success.ripple(type='button')
                    span.btn-label
                        i.ion-checkmark-round
                    | Success
                // Danger button with label
                button.btn.btn-labeled.btn-danger.ripple(type='button')
                    span.btn-label
                        i.ion-close-round
                    | Danger
                // Info button with label
                button.btn.btn-labeled.btn-info.ripple(type='button')
                    span.btn-label
                        i.ion-alert
                    | Info
                // Warning button with label
                button.btn.btn-labeled.btn-warning.ripple(type='button')
                    span.btn-label
                        i.ion-nuclear
                    | Warning
                br
                br
                // Standard button with label
                button.btn.btn-labeled.btn-secondary.ripple(type='button')
                    span.btn-label
                        i.ion-arrow-left-c
                    | Left
                // Standard button with label on the right side
                button.btn.btn-labeled.btn-secondary.ripple(type='button')
                    | Right
                    span.btn-label.btn-label-right
                        i.ion-arrow-right-c
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button sizing
                .row
                    .col-lg-6
                        p
                            button.btn.btn-primary.btn-xl.ripple(type='button') X-Large button
                            button.btn.btn-secondary.btn-xl.ripple(type='button') X-Large button
                        p
                            button.btn.btn-primary.btn-lg.ripple(type='button') Large button
                            button.btn.btn-secondary.btn-lg.ripple(type='button') Large button
                    .col-lg-6
                        p
                            button.btn.btn-primary.ripple(type='button') Normal button
                            button.btn.btn-secondary.ripple(type='button') Normal button
                        p
                            button.btn.btn-primary.btn-sm.ripple(type='button') Small button
                            button.btn.btn-secondary.btn-sm.ripple(type='button') Small button
                        p
                            button.btn.btn-primary.btn-xs.ripple(type='button') Extra small button
                            button.btn.btn-secondary.btn-xs.ripple(type='button') Extra small button
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button group
                p
                .btn-group
                    button.btn.btn-secondary.ripple(type='button') Left
                    button.btn.btn-secondary.ripple(type='button') Middle
                    button.btn.btn-secondary.ripple(type='button') Right
                p
                p
                .btn-group
                    button.btn.btn-secondary.ripple(type='button') 1
                    button.btn.btn-secondary.ripple(type='button') 2
                    button.btn.btn-secondary.ripple(type='button') 3
                    button.btn.btn-secondary.ripple(type='button') 4
                .btn-group
                    button.btn.btn-secondary.ripple(type='button') 5
                    button.btn.btn-secondary.ripple(type='button') 6
                    button.btn.btn-secondary.ripple(type='button') 7
                .btn-group
                    button.btn.btn-secondary.ripple(type='button') 8
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button Pills
                p Pill left
                p
                    button.btn.btn-pill-left.btn-secondary.ripple(type='button') Secondary
                    button.btn.btn-pill-left.btn-primary.ripple(type='button') Primary
                    button.btn.btn-pill-left.btn-success.ripple(type='button') Success
                    button.btn.btn-pill-left.btn-info.ripple(type='button') Info
                    button.btn.btn-pill-left.btn-warning.ripple(type='button') Warning
                    button.btn.btn-pill-left.btn-danger.ripple(type='button') Danger
                    button.btn.btn-pill-left.btn-inverse.ripple(type='button') Inverse

                p Pill right
                p
                    button.btn.btn-pill-right.btn-secondary.ripple(type='button') Secondary
                    button.btn.btn-pill-right.btn-primary.ripple(type='button') Primary
                    button.btn.btn-pill-right.btn-success.ripple(type='button') Success
                    button.btn.btn-pill-right.btn-info.ripple(type='button') Info
                    button.btn.btn-pill-right.btn-warning.ripple(type='button') Warning
                    button.btn.btn-pill-right.btn-danger.ripple(type='button') Danger
                    button.btn.btn-pill-right.btn-inverse.ripple(type='button') Inverse
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button Oval
                button.btn.btn-oval.btn-secondary.ripple(type='button') Secondary
                button.btn.btn-oval.btn-primary.ripple(type='button') Primary
                button.btn.btn-oval.btn-success.ripple(type='button') Success
                button.btn.btn-oval.btn-info.ripple(type='button') Info
                button.btn.btn-oval.btn-warning.ripple(type='button') Warning
                button.btn.btn-oval.btn-danger.ripple(type='button') Danger
                button.btn.btn-oval.btn-inverse.ripple(type='button') Inverse
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button Square
                button.btn.btn-square.btn-secondary.ripple(type='button') Secondary
                button.btn.btn-square.btn-primary.ripple(type='button') Primary
                button.btn.btn-square.btn-success.ripple(type='button') Success
                button.btn.btn-square.btn-info.ripple(type='button') Info
                button.btn.btn-square.btn-warning.ripple(type='button') Warning
                button.btn.btn-square.btn-danger.ripple(type='button') Danger
                button.btn.btn-square.btn-inverse.ripple(type='button') Inverse
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button dropdown
                +dropdown_button('primary')
                +dropdown_button('secondary')
                +dropdown_button('success')
                +dropdown_button('info')
                +dropdown_button('warning')
                +dropdown_button('danger')
                +dropdown_button('inverse')
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0.ellipsis Split button dropdown
                +dropdown_split('primary')
                +dropdown_split('secondary')
                +dropdown_split('success')
                +dropdown_split('info')
                +dropdown_split('warning')
                +dropdown_split('danger')
                +dropdown_split('inverse')
        // END card
