extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Colors'
block content
    .container.container-lg
        .cardbox
            .cardbox-heading
                .cardbox-title Material Design Color Palette
            .cardbox-body
                .row.mb-lg
                    .col-sm-4
                        .p.bg-red-500
                            .mb-lg Red
                            | .bg-red-500
                        .p.bg-red-50 .bg-red-50
                        .p.bg-red-100 .bg-red-100
                        .p.bg-red-200 .bg-red-200
                        .p.bg-red-300 .bg-red-300
                        .p.bg-red-400 .bg-red-400
                        .p.bg-red-500 .bg-red-500
                        .p.bg-red-600 .bg-red-600
                        .p.bg-red-700 .bg-red-700
                        .p.bg-red-800 .bg-red-800
                        .p.bg-red-900 .bg-red-900
                        .p.bg-red-a100 .bg-red-a100
                        .p.bg-red-a200 .bg-red-a200
                        .p.bg-red-a400 .bg-red-a400
                        .p.bg-red-a700 .bg-red-a700
                    .col-sm-4
                        .p.bg-pink-500
                            .mb-lg Pink
                            | .bg-pink-500
                        .p.bg-pink-50 .bg-pink-50
                        .p.bg-pink-100 .bg-pink-100
                        .p.bg-pink-200 .bg-pink-200
                        .p.bg-pink-300 .bg-pink-300
                        .p.bg-pink-400 .bg-pink-400
                        .p.bg-pink-500 .bg-pink-500
                        .p.bg-pink-600 .bg-pink-600
                        .p.bg-pink-700 .bg-pink-700
                        .p.bg-pink-800 .bg-pink-800
                        .p.bg-pink-900 .bg-pink-900
                        .p.bg-pink-a100 .bg-pink-a100
                        .p.bg-pink-a200 .bg-pink-a200
                        .p.bg-pink-a400 .bg-pink-a400
                        .p.bg-pink-a700 .bg-pink-a700
                    .col-sm-4
                        .p.bg-purple-500
                            .mb-lg Purple
                            | .bg-purple-500
                        .p.bg-purple-50 .bg-purple-50
                        .p.bg-purple-100 .bg-purple-100
                        .p.bg-purple-200 .bg-purple-200
                        .p.bg-purple-300 .bg-purple-300
                        .p.bg-purple-400 .bg-purple-400
                        .p.bg-purple-500 .bg-purple-500
                        .p.bg-purple-600 .bg-purple-600
                        .p.bg-purple-700 .bg-purple-700
                        .p.bg-purple-800 .bg-purple-800
                        .p.bg-purple-900 .bg-purple-900
                        .p.bg-purple-a100 .bg-purple-a100
                        .p.bg-purple-a200 .bg-purple-a200
                        .p.bg-purple-a400 .bg-purple-a400
                        .p.bg-purple-a700 .bg-purple-a700
                .row.mb-lg
                    .col-sm-4
                        .p.bg-deep-purple-500
                            .mb-lg Deep-purple
                            | .bg-deep-purple-500
                        .p.bg-deep-purple-50 .bg-deep-purple-50
                        .p.bg-deep-purple-100 .bg-deep-purple-100
                        .p.bg-deep-purple-200 .bg-deep-purple-200
                        .p.bg-deep-purple-300 .bg-deep-purple-300
                        .p.bg-deep-purple-400 .bg-deep-purple-400
                        .p.bg-deep-purple-500 .bg-deep-purple-500
                        .p.bg-deep-purple-600 .bg-deep-purple-600
                        .p.bg-deep-purple-700 .bg-deep-purple-700
                        .p.bg-deep-purple-800 .bg-deep-purple-800
                        .p.bg-deep-purple-900 .bg-deep-purple-900
                        .p.bg-deep-purple-a100 .bg-deep-purple-a100
                        .p.bg-deep-purple-a200 .bg-deep-purple-a200
                        .p.bg-deep-purple-a400 .bg-deep-purple-a400
                        .p.bg-deep-purple-a700 .bg-deep-purple-a700
                    .col-sm-4
                        .p.bg-indigo-500
                            .mb-lg Indigo
                            | .bg-indigo-500
                        .p.bg-indigo-50 .bg-indigo-50
                        .p.bg-indigo-100 .bg-indigo-100
                        .p.bg-indigo-200 .bg-indigo-200
                        .p.bg-indigo-300 .bg-indigo-300
                        .p.bg-indigo-400 .bg-indigo-400
                        .p.bg-indigo-500 .bg-indigo-500
                        .p.bg-indigo-600 .bg-indigo-600
                        .p.bg-indigo-700 .bg-indigo-700
                        .p.bg-indigo-800 .bg-indigo-800
                        .p.bg-indigo-900 .bg-indigo-900
                        .p.bg-indigo-a100 .bg-indigo-a100
                        .p.bg-indigo-a200 .bg-indigo-a200
                        .p.bg-indigo-a400 .bg-indigo-a400
                        .p.bg-indigo-a700 .bg-indigo-a700
                    .col-sm-4
                        .p.bg-blue-500
                            .mb-lg Blue
                            | .bg-blue-500
                        .p.bg-blue-50 .bg-blue-50
                        .p.bg-blue-100 .bg-blue-100
                        .p.bg-blue-200 .bg-blue-200
                        .p.bg-blue-300 .bg-blue-300
                        .p.bg-blue-400 .bg-blue-400
                        .p.bg-blue-500 .bg-blue-500
                        .p.bg-blue-600 .bg-blue-600
                        .p.bg-blue-700 .bg-blue-700
                        .p.bg-blue-800 .bg-blue-800
                        .p.bg-blue-900 .bg-blue-900
                        .p.bg-blue-a100 .bg-blue-a100
                        .p.bg-blue-a200 .bg-blue-a200
                        .p.bg-blue-a400 .bg-blue-a400
                        .p.bg-blue-a700 .bg-blue-a700
                .row.mb-lg
                    .col-sm-4
                        .p.bg-light-blue-500
                            .mb-lg Light-blue
                            | .bg-light-blue-500
                        .p.bg-light-blue-50 .bg-light-blue-50
                        .p.bg-light-blue-100 .bg-light-blue-100
                        .p.bg-light-blue-200 .bg-light-blue-200
                        .p.bg-light-blue-300 .bg-light-blue-300
                        .p.bg-light-blue-400 .bg-light-blue-400
                        .p.bg-light-blue-500 .bg-light-blue-500
                        .p.bg-light-blue-600 .bg-light-blue-600
                        .p.bg-light-blue-700 .bg-light-blue-700
                        .p.bg-light-blue-800 .bg-light-blue-800
                        .p.bg-light-blue-900 .bg-light-blue-900
                        .p.bg-light-blue-a100 .bg-light-blue-a100
                        .p.bg-light-blue-a200 .bg-light-blue-a200
                        .p.bg-light-blue-a400 .bg-light-blue-a400
                        .p.bg-light-blue-a700 .bg-light-blue-a700
                    .col-sm-4
                        .p.bg-cyan-500
                            .mb-lg Cyan
                            | .bg-cyan-500
                        .p.bg-cyan-50 .bg-cyan-50
                        .p.bg-cyan-100 .bg-cyan-100
                        .p.bg-cyan-200 .bg-cyan-200
                        .p.bg-cyan-300 .bg-cyan-300
                        .p.bg-cyan-400 .bg-cyan-400
                        .p.bg-cyan-500 .bg-cyan-500
                        .p.bg-cyan-600 .bg-cyan-600
                        .p.bg-cyan-700 .bg-cyan-700
                        .p.bg-cyan-800 .bg-cyan-800
                        .p.bg-cyan-900 .bg-cyan-900
                        .p.bg-cyan-a100 .bg-cyan-a100
                        .p.bg-cyan-a200 .bg-cyan-a200
                        .p.bg-cyan-a400 .bg-cyan-a400
                        .p.bg-cyan-a700 .bg-cyan-a700
                    .col-sm-4
                        .p.bg-teal-500
                            .mb-lg Teal
                            | .bg-teal-500
                        .p.bg-teal-50 .bg-teal-50
                        .p.bg-teal-100 .bg-teal-100
                        .p.bg-teal-200 .bg-teal-200
                        .p.bg-teal-300 .bg-teal-300
                        .p.bg-teal-400 .bg-teal-400
                        .p.bg-teal-500 .bg-teal-500
                        .p.bg-teal-600 .bg-teal-600
                        .p.bg-teal-700 .bg-teal-700
                        .p.bg-teal-800 .bg-teal-800
                        .p.bg-teal-900 .bg-teal-900
                        .p.bg-teal-a100 .bg-teal-a100
                        .p.bg-teal-a200 .bg-teal-a200
                        .p.bg-teal-a400 .bg-teal-a400
                        .p.bg-teal-a700 .bg-teal-a700
                .row.mb-lg
                    .col-sm-4
                        .p.bg-green-500
                            .mb-lg Green
                            | .bg-green-500
                        .p.bg-green-50 .bg-green-50
                        .p.bg-green-100 .bg-green-100
                        .p.bg-green-200 .bg-green-200
                        .p.bg-green-300 .bg-green-300
                        .p.bg-green-400 .bg-green-400
                        .p.bg-green-500 .bg-green-500
                        .p.bg-green-600 .bg-green-600
                        .p.bg-green-700 .bg-green-700
                        .p.bg-green-800 .bg-green-800
                        .p.bg-green-900 .bg-green-900
                        .p.bg-green-a100 .bg-green-a100
                        .p.bg-green-a200 .bg-green-a200
                        .p.bg-green-a400 .bg-green-a400
                        .p.bg-green-a700 .bg-green-a700
                    .col-sm-4
                        .p.bg-light-green-500
                            .mb-lg Light-green
                            | .bg-light-green-500
                        .p.bg-light-green-50 .bg-light-green-50
                        .p.bg-light-green-100 .bg-light-green-100
                        .p.bg-light-green-200 .bg-light-green-200
                        .p.bg-light-green-300 .bg-light-green-300
                        .p.bg-light-green-400 .bg-light-green-400
                        .p.bg-light-green-500 .bg-light-green-500
                        .p.bg-light-green-600 .bg-light-green-600
                        .p.bg-light-green-700 .bg-light-green-700
                        .p.bg-light-green-800 .bg-light-green-800
                        .p.bg-light-green-900 .bg-light-green-900
                        .p.bg-light-green-a100 .bg-light-green-a100
                        .p.bg-light-green-a200 .bg-light-green-a200
                        .p.bg-light-green-a400 .bg-light-green-a400
                        .p.bg-light-green-a700 .bg-light-green-a700
                    .col-sm-4
                        .p.bg-lime-500
                            .mb-lg Lime
                            | .bg-lime-500
                        .p.bg-lime-50 .bg-lime-50
                        .p.bg-lime-100 .bg-lime-100
                        .p.bg-lime-200 .bg-lime-200
                        .p.bg-lime-300 .bg-lime-300
                        .p.bg-lime-400 .bg-lime-400
                        .p.bg-lime-500 .bg-lime-500
                        .p.bg-lime-600 .bg-lime-600
                        .p.bg-lime-700 .bg-lime-700
                        .p.bg-lime-800 .bg-lime-800
                        .p.bg-lime-900 .bg-lime-900
                        .p.bg-lime-a100 .bg-lime-a100
                        .p.bg-lime-a200 .bg-lime-a200
                        .p.bg-lime-a400 .bg-lime-a400
                        .p.bg-lime-a700 .bg-lime-a700
                .row.mb-lg
                    .col-sm-4
                        .p.bg-yellow-500
                            .mb-lg Yellow
                            | .bg-yellow-500
                        .p.bg-yellow-50 .bg-yellow-50
                        .p.bg-yellow-100 .bg-yellow-100
                        .p.bg-yellow-200 .bg-yellow-200
                        .p.bg-yellow-300 .bg-yellow-300
                        .p.bg-yellow-400 .bg-yellow-400
                        .p.bg-yellow-500 .bg-yellow-500
                        .p.bg-yellow-600 .bg-yellow-600
                        .p.bg-yellow-700 .bg-yellow-700
                        .p.bg-yellow-800 .bg-yellow-800
                        .p.bg-yellow-900 .bg-yellow-900
                        .p.bg-yellow-a100 .bg-yellow-a100
                        .p.bg-yellow-a200 .bg-yellow-a200
                        .p.bg-yellow-a400 .bg-yellow-a400
                        .p.bg-yellow-a700 .bg-yellow-a700
                    .col-sm-4
                        .p.bg-amber-500
                            .mb-lg Amber
                            | .bg-amber-500
                        .p.bg-amber-50 .bg-amber-50
                        .p.bg-amber-100 .bg-amber-100
                        .p.bg-amber-200 .bg-amber-200
                        .p.bg-amber-300 .bg-amber-300
                        .p.bg-amber-400 .bg-amber-400
                        .p.bg-amber-500 .bg-amber-500
                        .p.bg-amber-600 .bg-amber-600
                        .p.bg-amber-700 .bg-amber-700
                        .p.bg-amber-800 .bg-amber-800
                        .p.bg-amber-900 .bg-amber-900
                        .p.bg-amber-a100 .bg-amber-a100
                        .p.bg-amber-a200 .bg-amber-a200
                        .p.bg-amber-a400 .bg-amber-a400
                        .p.bg-amber-a700 .bg-amber-a700
                    .col-sm-4
                        .p.bg-orange-500
                            .mb-lg Orange
                            | .bg-orange-500
                        .p.bg-orange-50 .bg-orange-50
                        .p.bg-orange-100 .bg-orange-100
                        .p.bg-orange-200 .bg-orange-200
                        .p.bg-orange-300 .bg-orange-300
                        .p.bg-orange-400 .bg-orange-400
                        .p.bg-orange-500 .bg-orange-500
                        .p.bg-orange-600 .bg-orange-600
                        .p.bg-orange-700 .bg-orange-700
                        .p.bg-orange-800 .bg-orange-800
                        .p.bg-orange-900 .bg-orange-900
                        .p.bg-orange-a100 .bg-orange-a100
                        .p.bg-orange-a200 .bg-orange-a200
                        .p.bg-orange-a400 .bg-orange-a400
                        .p.bg-orange-a700 .bg-orange-a700
                .row.mb-lg
                    .col-sm-4
                        .p.bg-deep-orange-500
                            .mb-lg Deep-orange
                            | .bg-deep-orange-500
                        .p.bg-deep-orange-50 .bg-deep-orange-50
                        .p.bg-deep-orange-100 .bg-deep-orange-100
                        .p.bg-deep-orange-200 .bg-deep-orange-200
                        .p.bg-deep-orange-300 .bg-deep-orange-300
                        .p.bg-deep-orange-400 .bg-deep-orange-400
                        .p.bg-deep-orange-500 .bg-deep-orange-500
                        .p.bg-deep-orange-600 .bg-deep-orange-600
                        .p.bg-deep-orange-700 .bg-deep-orange-700
                        .p.bg-deep-orange-800 .bg-deep-orange-800
                        .p.bg-deep-orange-900 .bg-deep-orange-900
                        .p.bg-deep-orange-a100 .bg-deep-orange-a100
                        .p.bg-deep-orange-a200 .bg-deep-orange-a200
                        .p.bg-deep-orange-a400 .bg-deep-orange-a400
                        .p.bg-deep-orange-a700 .bg-deep-orange-a700
                    .col-sm-4
                        .p.bg-brown-500
                            .mb-lg Brown
                            | .bg-brown-500
                        .p.bg-brown-50 .bg-brown-50
                        .p.bg-brown-100 .bg-brown-100
                        .p.bg-brown-200 .bg-brown-200
                        .p.bg-brown-300 .bg-brown-300
                        .p.bg-brown-400 .bg-brown-400
                        .p.bg-brown-500 .bg-brown-500
                        .p.bg-brown-600 .bg-brown-600
                        .p.bg-brown-700 .bg-brown-700
                        .p.bg-brown-800 .bg-brown-800
                        .p.bg-brown-900 .bg-brown-900
                    .col-sm-4
                        .p.bg-blue-grey-500
                            .mb-lg Blue-grey
                            | .bg-blue-grey-500
                        .p.bg-blue-grey-50 .bg-blue-grey-50
                        .p.bg-blue-grey-100 .bg-blue-grey-100
                        .p.bg-blue-grey-200 .bg-blue-grey-200
                        .p.bg-blue-grey-300 .bg-blue-grey-300
                        .p.bg-blue-grey-400 .bg-blue-grey-400
                        .p.bg-blue-grey-500 .bg-blue-grey-500
                        .p.bg-blue-grey-600 .bg-blue-grey-600
                        .p.bg-blue-grey-700 .bg-blue-grey-700
                        .p.bg-blue-grey-800 .bg-blue-grey-800
                        .p.bg-blue-grey-900 .bg-blue-grey-900
                .row.mb-lg
                    .col-sm-4
                        .p.bg-grey-500
                            .mb-lg Grey
                            | .bg-grey-500
                        .p.bg-grey-50 .bg-grey-50
                        .p.bg-grey-100 .bg-grey-100
                        .p.bg-grey-200 .bg-grey-200
                        .p.bg-grey-300 .bg-grey-300
                        .p.bg-grey-400 .bg-grey-400
                        .p.bg-grey-500 .bg-grey-500
                        .p.bg-grey-600 .bg-grey-600
                        .p.bg-grey-700 .bg-grey-700
                        .p.bg-grey-800 .bg-grey-800
                        .p.bg-grey-900 .bg-grey-900
