extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Grid'
block content

    style.
        .grid-example .row>.col, .grid-example .row>[class^=col-] {
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            background-color: rgba(241,242,243,.15);
            border: 1px dashed rgba(0,0,0,.15);
        }

    .container-fluid.grid-example

        .card.mb
            h4.m0.card-header Auto-layout columns
            .card-body
                p.mv-lg.text-bold#equal-width Equal-width
                    .container
                        .row
                            .col
                                | 1 of 2
                            .col
                                | 1 of 2
                        .row
                            .col
                                | 1 of 3
                            .col
                                | 1 of 3
                            .col
                                | 1 of 3
                p.mv-lg.text-bold#setting-one-column-width Setting one column width
                    .container
                        .row
                            .col
                                | 1 of 3
                            .col-6
                                | 2 of 3 (wider)
                            .col
                                | 3 of 3
                        .row
                            .col
                                | 1 of 3
                            .col-5
                                | 2 of 3 (wider)
                            .col
                                | 3 of 3
                p.mv-lg.text-bold#variable-width-content Variable width content
                    .container
                        .row.justify-content-md-center
                            .col.col-xl-2
                                | 1 of 3
                            .col-12.col-lg-auto
                                | Variable width content
                            .col.col-xl-2
                                | 3 of 3
                        .row
                            .col
                                | 1 of 3
                            .col-12.col-lg-auto
                                | Variable width content
                            .col.col-xl-2
                                | 3 of 3
                p.mv-lg.text-bold#equal-width-multi-row Equal-width multi-row
                    .container: .row
                        .col col
                        .col col
                        .w-100
                        .col col
                        .col col
        .card.mb
            h4.m0.card-header Responsive classes
            .card-body
                p.mv-lg.text-bold#all-breakpoints All breakpoints
                    .container: .row
                        .col col
                        .col col
                        .col col
                        .col col
                    .container: .row
                        .col-8 col-8
                        .col-4 col-4
                p.mv-lg.text-bold#stacked-to-horizontal Stacked to horizontal
                    .container: .row
                        .col-sm-8 col-sm-8
                        .col-sm-4 col-sm-4
                    .container: .row
                        .col-sm col-sm
                        .col-sm col-sm
                        .col-sm col-sm
                p.mv-lg.text-bold#mix-and-match Mix and match
                    // Stack the columns on mobile by making one full-width and the other half-width
                    .container: .row
                        .col.col-lg-8 .col .col-lg-8
                        .col-6.col-lg-4 .col-6 .col-lg-4
                    // Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop
                    .container: .row
                        .col-6.col-lg-4 .col-6 .col-lg-4
                        .col-6.col-lg-4 .col-6 .col-lg-4
                        .col-6.col-lg-4 .col-6 .col-lg-4
                    // Columns are always 50% wide, on mobile and desktop
                    .container: .row
                        .col-6 .col-6
                        .col-6 .col-6
        .card.mb
            h4.m0.card-header Alignment
            .card-body
                p.mv-lg.text-bold#vertical-alignment Vertical alignment
                    .container
                        .row.align-items-start
                            .col
                                | One of three columns
                            .col
                                | One of three columns
                            .col
                                | One of three columns
                        .row.align-items-center
                            .col
                                | One of three columns
                            .col
                                | One of three columns
                            .col
                                | One of three columns
                        .row.align-items-end
                            .col
                                | One of three columns
                            .col
                                | One of three columns
                            .col
                                | One of three columns
                    .container
                        .row
                            .col.align-self-start
                                | One of three columns
                            .col.align-self-center
                                | One of three columns
                            .col.align-self-end
                                | One of three columns
                p.mv-lg.text-bold#horizontal-alignment Horizontal alignment
                    .container
                        .row.justify-content-start
                            .col-4
                                | One of two columns
                            .col-4
                                | One of two columns
                        .row.justify-content-center
                            .col-4
                                | One of two columns
                            .col-4
                                | One of two columns
                        .row.justify-content-end
                            .col-4
                                | One of two columns
                            .col-4
                                | One of two columns
                        .row.justify-content-around
                            .col-4
                                | One of two columns
                            .col-4
                                | One of two columns
                        .row.justify-content-between
                            .col-4
                                | One of two columns
                            .col-4
                                | One of two columns
                p.mv-lg.text-bold#no-gutters No gutters
                    .container: .row.no-gutters
                        .col-12.col-sm-6.col-lg-8 .col-12 .col-sm-6 .col-lg-8
                        .col-6.col-lg-4 .col-6 .col-lg-4
                p.mv-lg.text-bold#column-wrapping Column wrapping
                    .container: .row
                        .col-9 .col-9
                        .col-4
                            | .col-4
                            br
                            | Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
                        .col-6
                            | .col-6
                            br
                            | Subsequent columns continue along the new line.
                p.mv-lg.text-bold#column-resets Column resets
                    .container: .row
                        .col-6.col-sm-3 .col-6 .col-sm-3
                        .col-6.col-sm-3 .col-6 .col-sm-3
                        // Add the extra clearfix for only the required viewport
                        .clearfix.d-sm-none
                        .col-6.col-sm-3 .col-6 .col-sm-3
                        .col-6.col-sm-3 .col-6 .col-sm-3
                    .container: .row
                        .col-sm-5.col-lg-6 .col-sm-5 .col-lg-6
                        .col-sm-5.offset-sm-2.col-lg-6.offset-md-0 .col-sm-5 .offset-sm-2 .col-lg-6 .offset-md-0
                    .container: .row
                        .col-sm-6.col-lg-5.col-xl-6 .col.col-sm-6.col-lg-5.col-xl-6
                        .col-sm-6.col-lg-5.offset-md-2.col-xl-6.offset-lg-0 .col-sm-6 .col-lg-5 .offset-md-2 .col-xl-6 .offset-lg-0
        .card.mb
            h4.m0.card-header Reordering
            .card-body
                p.mv-lg.text-bold#flex-order Flex order
                p.mv-lg.text-bold#offsetting-columns Offsetting columns
                    .container: .row
                        .col-lg-4 .col-lg-4
                        .col-lg-4.offset-md-4 .col-lg-4 .offset-md-4
                    .container: .row
                        .col-lg-3.offset-md-3 .col-lg-3 .offset-md-3
                        .col-lg-3.offset-md-3 .col-lg-3 .offset-md-3
                    .container: .row
                        .col-lg-6.offset-md-3 .col-lg-6 .offset-md-3
                p.mv-lg.text-bold#push-and-pull Push and pull
                    .container: .row
                        .col-lg-9.push-md-3 .col-lg-9 .push-md-3
                        .col-lg-3.pull-md-9 .col-lg-3 .pull-md-9
        .card.mb
            h4.m0.card-header Nesting
            .card-body
                .container: .row
                    .col-sm-9
                        | Level 1: .col-sm-9
                        .row
                            .col-8.col-sm-6
                                | Level 2: .col-8 .col-sm-6
                            .col-4.col-sm-6
                                | Level 2: .col-4 .col-sm-6
