extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'SweetAlert'
block content
    .container-md
        h4.page-header.mt0 Usage examples
        .list-group.mb
            .list-group-item.justify-content-between.flex-nowrap
                p A basic message
                p
                    a#swal-demo1.btn.btn-primary(href='#') Try me!
        .list-group.mb
            .list-group-item.justify-content-between.flex-nowrap
                p A title with a text under
                p
                    a#swal-demo2.btn.btn-primary(href='#') Try me!
        .list-group.mb
            .list-group-item.justify-content-between.flex-nowrap
                p A success message!
                p
                    a#swal-demo3.btn.btn-primary(href='#') Try me!
        .list-group.mb
            .list-group-item.justify-content-between.flex-nowrap
                p A warning message, with a function attached to the &quot;Confirm&quot;-button
                p
                    a#swal-demo4.btn.btn-primary(href='#') Try me!
        .list-group.mb
            .list-group-item.justify-content-between.flex-nowrap
                p ... and by passing a parameter, you can execute something else for &quot;Cancel&quot;.
                p
                    a#swal-demo5.btn.btn-primary(href='#') Try me!
