extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Whiteframes'
block content
    .container.container-md
        .cardbox
            .cardbox-heading
                .cardbox-title Whiteframes
            .cardbox-body
                .cardbox.shadow-z1
                    .cardbox-body
                        p.mv-lg.text-center .shadow-z1
                .cardbox.shadow-z2
                    .cardbox-body
                        p.mv-lg.text-center .shadow-z2
                .cardbox.shadow-z3
                    .cardbox-body
                        p.mv-lg.text-center .shadow-z3
                .cardbox.shadow-z4
                    .cardbox-body
                        p.mv-lg.text-center .shadow-z4
                .cardbox.shadow-z5
                    .cardbox-body
                        p.mv-lg.text-center .shadow-z5
