doctype html
html(lang="en")

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

        meta(name='description', content='Bootstrap Admin Template')
        meta(name='keywords', content='app, responsive, jquery, bootstrap, dashboard, admin')

        title Centric - Bootstrap Admin Template

        // Vendor styles
        link(rel="stylesheet", href="css/vendor.css")
        // App styles
        link(rel="stylesheet", href="css/app.css")

    body.theme-1

        .layout-container
            // top navbar
            header.header-container
                include ../header/header.tpl.pug

            // sidebar
            aside.sidebar-container
                include ../sidebar/sidebar.tpl.pug
            .sidebar-layout-obfuscator

            // Main section
            main.main-container

                // Page content
                section
                    block content
                // Page footer
                footer
                    span 2017 - Centric app.

        block bodychild

        // Search template
        include ../header/header-search.tpl.pug
        // End Search template
        // Settings template
        include ../settings/settings.tpl.pug
        // End Settings template

        // Google Maps API
        script(type='text/javascript', src='http://maps.google.com/maps/api/js?key=AIzaSyBNs42Rt_CyxAqdbIBK0a5Ut83QiauESPA')
        // Vendor script
        script(src="js/vendor.js")
        // App script
        script(src="js/app.js")
