@{
    ViewData["Title"] = "Blog Article";
}
  <div class="container-fluid bg-full bg-pic1">
    <div class="container container-md">
      <div class="card animated fadeInUp b0">
        <div class="card-item card-media bg-pic4">
          <div class="card-item-text bg-transparent">
            <h4>A truly relaxing moment</h4>
          </div>
        </div>
        <div class="card-offset">
          <div class="card-offset-item text-right">
            <button type="button" class="btn-raised btn btn-danger btn-circle btn-lg"><em class="ion-ios-heart-outline"></em></button>
          </div>
        </div>
        <div class="card-body pt0">
          <div class="clearfix">
            <p class="pull-left mr"><a href="#"><img src="~/images/user/02.jpg" alt="User" class="img-circle thumb48"></a></p>
            <div class="oh">
              <div class="mt-sm"><strong class="mr-sm">Cody Armstrong</strong></div>
              <div class="clearfix">
                <div class="pull-left text-muted"><span>a week ago</span></div>
              </div>
            </div>
          </div>
          <div class="container container-xs reader-block">
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi sollicitudin, massa quis posuere mollis, turpis mi suscipit magna, ac tristique tellus arcu pretium mi. Sed quam magna, tincidunt ac fermentum eget, vestibulum id magna. Nullam felis ipsum, tempus at fermentum nec, porttitor eu libero. Curabitur porttitor fermentum dapibus.</p>
            <p>Praesent a rhoncus magna. Nam nec tellus tortor. Proin adipiscing, dolor faucibus ullamcorper interdum, urna justo convallis arcu, ultrices auctor enim turpis ut purus. Fusce a egestas turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin euismod malesuada dui ac laoreet. Donec purus leo, lobortis vel volutpat vel, dictum nec augue. Proin ullamcorper lectus ut libero blandit pretium.</p>
            <p class="text-center"><img src="~/images/pic5.jpg" alt="Article Image" class="img-thumbnail"></p>
            <p>Cras fringilla ipsum sed elit sodales malesuada. Nam sem magna, tristique non facilisis a, porta ut elit. Vestibulum mauris nisl, dictum vitae dapibus iaculis, tempor sed libero. Ut vestibulum est eget justo facilisis ullamcorper. Pellentesque sodales aliquam lorem, eu tempor enim pretium ac. Aliquam vitae purus dolor. Etiam odio ante, placerat eu accumsan ut, consectetur vel mi. Ut eu aliquam orci.</p>
          </div>
        </div>
        <div class="card-body bg-gray-lighter">
          <form action="" class="mt">
            <div class="input-group mda-input-group">
              <div class="mda-form-group float-label">
                <div class="mda-form-control">
                  <textarea rows="1" aria-multiline="true" tabindex="0" aria-invalid="false" class="form-control"></textarea>
                  <div class="mda-form-control-line"></div>
                  <label class="m0">Comments</label>
                </div><span class="mda-form-msg right">Any message here</span>
              </div><span class="input-group-btn">
                <button type="button" class="btn btn-flat btn-success btn-circle"><em class="ion-checkmark-round"></em></button></span>
            </div>
          </form>
          <div class="mt">
            <div class="media">
              <div class="media-left"><a href="#"><img src="~/images/user/01.jpg" alt="Image Post" class="media-object img-circle thumb48"></a></div>
              <div class="media-body">
                <h6 class="mt0 mb-sm">Joel Murray<small class="text-muted">2 days ago</small></h6>
                <div class="mb">Pellentesque mauris orci, lobortis in tristique mollis, consequat eu magna.</div>
                <ul class="list-inline">
                  <li><a href="#" class="text-soft"><em class="ion-thumbsup icon-2x"></em></a></li>
                  <li><a href="#" class="text-soft"><em class="ion-thumbsdown icon-2x"></em></a></li>
                  <li><a href="#" class="text-soft"><em class="ion-android-share-alt icon-2x"></em></a></li>
                </ul>
              </div>
            </div>
            <div class="media">
              <div class="media-left"><a href="#"><img src="~/images/user/02.jpg" alt="Image Post" class="media-object img-circle thumb48"></a></div>
              <div class="media-body">
                <h6 class="mt0 mb-sm">Daryl Parker<small class="text-muted">2 days ago</small></h6>
                <div class="mb">Duis elit dolor, gravida vitae varius in, viverra eu nibh. In sit amet accumsan arcu.</div>
                <ul class="list-inline">
                  <li><a href="#" class="text-soft"><em class="ion-thumbsup icon-2x"></em></a></li>
                  <li><a href="#" class="text-soft"><em class="ion-thumbsdown icon-2x"></em></a></li>
                  <li><a href="#" class="text-soft"><em class="ion-android-share-alt icon-2x"></em></a></li>
                </ul>
                <div class="media">
                  <div class="media-left"><a href="#"><img src="~/images/user/03.jpg" alt="Image Post" class="media-object img-circle thumb48"></a></div>
                  <div class="media-body">
                    <h6 class="mt0 mb-sm">Eddie Kelly<small class="text-muted">2 days ago</small></h6>
                    <div class="mb">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla condimentum viverra vestibulum. Fusce eleifend ornare ante at dignissim.</div>
                    <ul class="list-inline">
                      <li><a href="#" class="text-soft"><em class="ion-thumbsup icon-2x"></em></a></li>
                      <li><a href="#" class="text-soft"><em class="ion-thumbsdown icon-2x"></em></a></li>
                      <li><a href="#" class="text-soft"><em class="ion-android-share-alt icon-2x"></em></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix mv-lg">
        <h5 class="pull-left"><a href="#" class="btn btn-circle btn-default"><em class="ion-ios-arrow-thin-left icon-2x"></em></a><span class="ml text-white">Older</span></h5>
        <h5 class="pull-right"><span class="mr text-white">Newer</span><a href="#" class="btn btn-circle btn-default"><em class="ion-ios-arrow-thin-right icon-2x"></em></a></h5>
      </div>
    </div>
  </div>
