@{
    ViewData["Title"] = "Contacts";
}
<div class="container container-fluid">
    <div class="mb-lg text-right">
      <button type="button" class="btn btn-info"><em class="ion-plus mr-sm"></em>Add Contact</button>
    </div>
    <div class="mb-lg">
      <form role="form">
        <div class="mda-form-control">
          <input type="text" placeholder="Search Name, Job, etc..." class="form-control input-lg">
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <div class="card-body">
            <!-- START dropdown-->
            <div class="pull-right dropdown visible-lg visible-md">
              <button type="button" data-toggle="dropdown" class="btn btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
              <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                <li><a href="">Edit</a></li>
                <li><a href="">Block</a></li>
                <li><a href="">Delete</a></li>
              </ul>
            </div>
            <!-- END dropdown-->
            <div class="row">
              <div class="col-lg-4 col-md-8"><a href=""><img src="~/images/user/02.jpg" alt="Contact" class="fw img-responsive"></a></div>
            </div>
            <h5>Floyd Ortiz<small class="text-muted">Art director</small></h5>
            <p class="mt"><em class="ion-briefcase mr-sm"></em><span>Company Inc.</span></p>
            <p class="mt">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
          </div>
          <div class="card-footer text-center">
            <button type="button" class="btn btn-default btn-xs"><em class="ion-email icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-linkedin icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-skype icon-lg icon-fw"></em></button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <div class="card-body">
            <!-- START dropdown-->
            <div class="pull-right dropdown visible-lg visible-md">
              <button type="button" data-toggle="dropdown" class="btn btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
              <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                <li><a href="">Edit</a></li>
                <li><a href="">Block</a></li>
                <li><a href="">Delete</a></li>
              </ul>
            </div>
            <!-- END dropdown-->
            <div class="row">
              <div class="col-lg-4 col-md-8"><a href=""><img src="~/images/user/03.jpg" alt="Contact" class="fw img-responsive"></a></div>
            </div>
            <h5>Nina King<small class="text-muted">Art director</small></h5>
            <p class="mt"><em class="ion-briefcase mr-sm"></em><span>Company Inc.</span></p>
            <p class="mt">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
          </div>
          <div class="card-footer text-center">
            <button type="button" class="btn btn-default btn-xs"><em class="ion-email icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-linkedin icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-skype icon-lg icon-fw"></em></button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <div class="card-body">
            <!-- START dropdown-->
            <div class="pull-right dropdown visible-lg visible-md">
              <button type="button" data-toggle="dropdown" class="btn btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
              <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                <li><a href="">Edit</a></li>
                <li><a href="">Block</a></li>
                <li><a href="">Delete</a></li>
              </ul>
            </div>
            <!-- END dropdown-->
            <div class="row">
              <div class="col-lg-4 col-md-8"><a href=""><img src="~/images/user/04.jpg" alt="Contact" class="fw img-responsive"></a></div>
            </div>
            <h5>Tracy Powell<small class="text-muted">Art director</small></h5>
            <p class="mt"><em class="ion-briefcase mr-sm"></em><span>Company Inc.</span></p>
            <p class="mt">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
          </div>
          <div class="card-footer text-center">
            <button type="button" class="btn btn-default btn-xs"><em class="ion-email icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-linkedin icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-skype icon-lg icon-fw"></em></button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <div class="card-body">
            <!-- START dropdown-->
            <div class="pull-right dropdown visible-lg visible-md">
              <button type="button" data-toggle="dropdown" class="btn btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
              <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                <li><a href="">Edit</a></li>
                <li><a href="">Block</a></li>
                <li><a href="">Delete</a></li>
              </ul>
            </div>
            <!-- END dropdown-->
            <div class="row">
              <div class="col-lg-4 col-md-8"><a href=""><img src="~/images/user/05.jpg" alt="Contact" class="fw img-responsive"></a></div>
            </div>
            <h5>Lynn Howell<small class="text-muted">Art director</small></h5>
            <p class="mt"><em class="ion-briefcase mr-sm"></em><span>Company Inc.</span></p>
            <p class="mt">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
          </div>
          <div class="card-footer text-center">
            <button type="button" class="btn btn-default btn-xs"><em class="ion-email icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-linkedin icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-skype icon-lg icon-fw"></em></button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <div class="card-body">
            <!-- START dropdown-->
            <div class="pull-right dropdown visible-lg visible-md">
              <button type="button" data-toggle="dropdown" class="btn btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
              <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                <li><a href="">Edit</a></li>
                <li><a href="">Block</a></li>
                <li><a href="">Delete</a></li>
              </ul>
            </div>
            <!-- END dropdown-->
            <div class="row">
              <div class="col-lg-4 col-md-8"><a href=""><img src="~/images/user/06.jpg" alt="Contact" class="fw img-responsive"></a></div>
            </div>
            <h5>Pearl Ray<small class="text-muted">Art director</small></h5>
            <p class="mt"><em class="ion-briefcase mr-sm"></em><span>Company Inc.</span></p>
            <p class="mt">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
          </div>
          <div class="card-footer text-center">
            <button type="button" class="btn btn-default btn-xs"><em class="ion-email icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-linkedin icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-skype icon-lg icon-fw"></em></button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <div class="card-body">
            <!-- START dropdown-->
            <div class="pull-right dropdown visible-lg visible-md">
              <button type="button" data-toggle="dropdown" class="btn btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
              <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                <li><a href="">Edit</a></li>
                <li><a href="">Block</a></li>
                <li><a href="">Delete</a></li>
              </ul>
            </div>
            <!-- END dropdown-->
            <div class="row">
              <div class="col-lg-4 col-md-8"><a href=""><img src="~/images/user/07.jpg" alt="Contact" class="fw img-responsive"></a></div>
            </div>
            <h5>Adrian Davis<small class="text-muted">Art director</small></h5>
            <p class="mt"><em class="ion-briefcase mr-sm"></em><span>Company Inc.</span></p>
            <p class="mt">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
          </div>
          <div class="card-footer text-center">
            <button type="button" class="btn btn-default btn-xs"><em class="ion-email icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-linkedin icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-skype icon-lg icon-fw"></em></button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <div class="card-body">
            <!-- START dropdown-->
            <div class="pull-right dropdown visible-lg visible-md">
              <button type="button" data-toggle="dropdown" class="btn btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
              <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                <li><a href="">Edit</a></li>
                <li><a href="">Block</a></li>
                <li><a href="">Delete</a></li>
              </ul>
            </div>
            <!-- END dropdown-->
            <div class="row">
              <div class="col-lg-4 col-md-8"><a href=""><img src="~/images/user/02.jpg" alt="Contact" class="fw img-responsive"></a></div>
            </div>
            <h5>Terri Pearson<small class="text-muted">Art director</small></h5>
            <p class="mt"><em class="ion-briefcase mr-sm"></em><span>Company Inc.</span></p>
            <p class="mt">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
          </div>
          <div class="card-footer text-center">
            <button type="button" class="btn btn-default btn-xs"><em class="ion-email icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-linkedin icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-skype icon-lg icon-fw"></em></button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <div class="card-body">
            <!-- START dropdown-->
            <div class="pull-right dropdown visible-lg visible-md">
              <button type="button" data-toggle="dropdown" class="btn btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
              <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                <li><a href="">Edit</a></li>
                <li><a href="">Block</a></li>
                <li><a href="">Delete</a></li>
              </ul>
            </div>
            <!-- END dropdown-->
            <div class="row">
              <div class="col-lg-4 col-md-8"><a href=""><img src="~/images/user/03.jpg" alt="Contact" class="fw img-responsive"></a></div>
            </div>
            <h5>Rachel Fernandez<small class="text-muted">Art director</small></h5>
            <p class="mt"><em class="ion-briefcase mr-sm"></em><span>Company Inc.</span></p>
            <p class="mt">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
          </div>
          <div class="card-footer text-center">
            <button type="button" class="btn btn-default btn-xs"><em class="ion-email icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-linkedin icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-skype icon-lg icon-fw"></em></button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <div class="card-body">
            <!-- START dropdown-->
            <div class="pull-right dropdown visible-lg visible-md">
              <button type="button" data-toggle="dropdown" class="btn btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
              <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                <li><a href="">Edit</a></li>
                <li><a href="">Block</a></li>
                <li><a href="">Delete</a></li>
              </ul>
            </div>
            <!-- END dropdown-->
            <div class="row">
              <div class="col-lg-4 col-md-8"><a href=""><img src="~/images/user/04.jpg" alt="Contact" class="fw img-responsive"></a></div>
            </div>
            <h5>Annie Holt<small class="text-muted">Art director</small></h5>
            <p class="mt"><em class="ion-briefcase mr-sm"></em><span>Company Inc.</span></p>
            <p class="mt">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
          </div>
          <div class="card-footer text-center">
            <button type="button" class="btn btn-default btn-xs"><em class="ion-email icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-linkedin icon-lg icon-fw"></em></button>
            <button type="button" class="btn btn-default btn-xs"><em class="ion-social-skype icon-lg icon-fw"></em></button>
          </div>
        </div>
      </div>
    </div>
</div>
