@{
    ViewData["Title"] = "FAQ";
}

<div class="container container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="text-center pb-lg">
          <h3 class="text-bold">Frequently Asked Questions</h3>
          <p class="text-muted">Proin non lacinia sapien. Vivamus lorem justo, sollicitudin ac sollicitudin ut, aliquet sed tellus.<br>Sed venenatis ullamcorper mauris et malesuada. Nunc vel ipsum vitae erat pharetra rhoncus eu eu tellus.</p><br>
          <p>Have more questions?</p>
          <button type="button" class="btn btn-info">Contact with Us</button>
        </div>
        <div class="row mt-lg">
          <div class="col-md-6">
            <div id="accordion1" class="panel-group">
              <div class="panel panel-default b0">
                <div class="panel-heading">
                  <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion1" href="#acc1collapse1"><small><em class="ion-arrow-right-c text-muted mr icon-lg"></em></small><span>What Assets Can I Use In My Items?</span></a></h4>
                </div>
                <div id="acc1collapse1" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.</p>
                    <p>Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.</p>
                    <div class="pull-right"><small class="text-muted mr">Was this article helpful?</small>
                      <button type="button" class="btn btn-default btn-xs"><em class="ion-chevron-up text-muted"></em></button>
                      <button type="button" class="btn btn-default btn-xs"><em class="ion-chevron-down text-muted"></em></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default b0">
                <div class="panel-heading">
                  <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion1" href="#acc1collapse2"><small><em class="ion-arrow-right-c text-muted mr icon-lg"></em></small><span>Where is the Market Terms?</span></a></h4>
                </div>
                <div id="acc1collapse2" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.</p>
                    <p>Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.</p>
                    <div class="pull-right"><small class="text-muted mr">Was this article helpful?</small>
                      <button type="button" class="btn btn-default btn-xs"><em class="ion-chevron-up text-muted"></em></button>
                      <button type="button" class="btn btn-default btn-xs"><em class="ion-chevron-down text-muted"></em></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default b0">
                <div class="panel-heading">
                  <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion1" href="#acc1collapse3"><small><em class="ion-arrow-right-c text-muted mr icon-lg"></em></small><span>Morbi pretium varius aliquam?</span></a></h4>
                </div>
                <div id="acc1collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.</p>
                    <p>Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.</p>
                    <div class="pull-right"><small class="text-muted mr">Was this article helpful?</small>
                      <button type="button" class="btn btn-default btn-xs"><em class="ion-chevron-up text-muted"></em></button>
                      <button type="button" class="btn btn-default btn-xs"><em class="ion-chevron-down text-muted"></em></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div id="accordion2" class="panel-group">
              <div class="panel panel-default b0">
                <div class="panel-heading">
                  <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion2" href="#acc2collapse1"><small><em class="ion-arrow-right-c text-muted mr icon-lg"></em></small><span>How to Contact an Author</span></a></h4>
                </div>
                <div id="acc2collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.</p>
                    <p>Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.</p>
                    <div class="pull-right"><small class="text-muted mr">Was this article helpful?</small>
                      <button type="button" class="btn btn-default btn-xs"><em class="ion-chevron-up text-muted"></em></button>
                      <button type="button" class="btn btn-default btn-xs"><em class="ion-chevron-down text-muted"></em></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default b0">
                <div class="panel-heading">
                  <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion2" href="#acc2collapse2"><small><em class="ion-arrow-right-c text-muted mr icon-lg"></em></small><span>What is Item Support?</span></a></h4>
                </div>
                <div id="acc2collapse2" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.</p>
                    <p>Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.</p>
                    <div class="pull-right"><small class="text-muted mr">Was this article helpful?</small>
                      <button type="button" class="btn btn-default btn-xs"><em class="ion-chevron-up text-muted"></em></button>
                      <button type="button" class="btn btn-default btn-xs"><em class="ion-chevron-down text-muted"></em></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default b0">
                <div class="panel-heading">
                  <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion2" href="#acc2collapse3"><small><em class="ion-arrow-right-c text-muted mr icon-lg"></em></small><span>Where Is My Purchase Code?</span></a></h4>
                </div>
                <div id="acc2collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.</p>
                    <p>Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.</p>
                    <div class="pull-right"><small class="text-muted mr">Was this article helpful?</small>
                      <button type="button" class="btn btn-default btn-xs"><em class="ion-chevron-up text-muted"></em></button>
                      <button type="button" class="btn btn-default btn-xs"><em class="ion-chevron-down text-muted"></em></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
