@{
    ViewData["Title"] = "Invoice";
}

<div class="container container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-xs-6">
            <h3 class="m0">Centric Inc.</h3><small class="text-muted">Nulla viverra dignissim metus ac placerat</small>
          </div>
          <div class="col-xs-6 text-right">
            <h5 class="mv">Invoice no. #2456544</h5>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-2">
            <h4 class="m0">Deliver to:</h4>
          </div>
          <div class="col-md-10">
            <address><strong>Twitter, Inc.</strong><br>  1355 Market Street, Suite 900<br>  San Francisco, CA 94103<br><abbr title="Phone">P:</abbr> (123) 456-7890</address>
            <address class="mb0"><strong>Full Name</strong><br><a href="mailto:#">first.last@example.com</a></address>
          </div>
        </div>
        <div class="mv-lg"></div>
        <div class="table-responsive mv-lg">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Item #</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th class="text-right">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1001</td>
                <td>Iphone 5s - 64Gb</td>
                <td>3</td>
                <td>$ 200</td>
                <td class="text-right">$ 600</td>
              </tr>
              <tr>
                <td>2002</td>
                <td>Iphone 6s - 128Gb</td>
                <td>5</td>
                <td>$ 500</td>
                <td class="text-right">$ 2500</td>
              </tr>
              <tr>
                <td>3010</td>
                <td>Ipad 11z - 512Gb</td>
                <td>1</td>
                <td>$ 650</td>
                <td class="text-right">$ 650</td>
              </tr>
              <tr>
                <td>3009</td>
                <td>iMac ProRetina 17</td>
                <td>6</td>
                <td>$ 1100</td>
                <td class="text-right">$ 6600</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p><strong>Bottom words for this invoice</strong></p>
            <p><small>Nulla egestas faucibus tincidunt. Praesent non nulla et ligula luctus mattis eget at lacus. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet. Suspendisse vehicula, magna non tristique tincidunt, massa nisi luctus tellus, vel laoreet sem lectus ut nibh. Vestibulum purus ipsum.</small></p>
          </div>
          <hr class="visible-xs visible-sm">
          <div class="col-md-1 col-lg-3"></div>
          <div class="col-md-5 col-lg-3 text-right">
            <p class="clearfix"><strong class="pull-left">Sub Total:</strong><span class="pull-right">10300.00</span></p>
            <p class="clearfix"><strong class="pull-left">Promo code:</strong><span class="pull-right">ABC-XYZ</span></p>
            <p class="clearfix"><strong class="pull-left">Tax (10%):</strong><span class="pull-right">1030.00</span></p>
            <hr>
            <h3 class="m0 text-right">USD 11330.00</h3>
          </div>
        </div>
        <hr>
        <div class="clearfix">
          <button type="button" class="btn btn-info pull-left mr">Edit</button>
          <button type="button" class="btn btn-default pull-left">Print</button>
          <button type="button" class="btn btn-success pull-right">Send Invoice</button>
        </div>
      </div>
    </div>
</div>
