extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Blog List'
block content
    .container-fluid.bg-full.bg-pic1
        .container.container-md
            .row
                .col-lg-8
                    .cardbox.b0
                        a.cardbox-item.cardbox-media.bg-pic5(href="#")
                        .cardbox-offset.p0
                            .cardbox-offset-item.text-right
                                button.btn-raised.btn.btn-secondary.btn-circle.btn-lg(type="button") 25
                        .cardbox-body.pt0
                            h5 Nam blandit fringilla faucibus.
                            .clearfix
                                .float-left
                                    span.mr-sm.text-muted by
                                    a(href='#') John
                                .float-right
                                    span.text-muted 2 days ago
                .col-lg-4
                    .cardbox.b0
                        a.cardbox-item.cardbox-media.bg-pic2(href="#")
                        .cardbox-offset.p0
                            .cardbox-offset-item.text-right
                                button.btn-raised.btn.btn-secondary.btn-circle.btn-lg(type="button") 25
                        .cardbox-body.pt0
                            h5 Maecenas at porta.
                            .clearfix
                                .float-left
                                    span.mr-sm.text-muted by
                                    a(href='#') John
                                .float-right
                                    span.text-muted 2 days ago
            .cardbox.b0
                .cardbox-item
                    a.cardbox-item.cardbox-media.bg-pic4(href="#")
                .cardbox-offset.p0
                    .cardbox-offset-item.text-right
                        button.btn-raised.btn.btn-secondary.btn-circle.btn-lg(type="button") 52
                .cardbox-body.pt0
                    h5 Vestibulum at nisl sit amet
                    .clearfix
                        .float-left
                            span.mr-sm.text-muted by
                            a(href='#') John
                        .float-right
                            span.text-muted 2 days ago
            .cardbox.b0
                .cardbox-item
                    a.cardbox-item.cardbox-media.bg-pic6(href="#")
                .cardbox-offset.p0
                    .cardbox-offset-item.text-right
                        button.btn-raised.btn.btn-secondary.btn-circle.btn-lg(type="button") 1
                .cardbox-body.pt0
                    h5 Nam blandit fringilla faucibus.
                    .clearfix
                        .float-left
                            span.mr-sm.text-muted by
                            a(href='#') John
                        .float-right
                            span.text-muted 2 days ago
            .cardbox.b0
                .cardbox-item
                    .cardbox-item.cardbox-media.bg-gray-darker
                        .cardbox-media-quote
                            a.text-inherit(href="#") Phasellus ac turpis sit amet metus suscipit scelerisque quis ac velit.
                .cardbox-body.bb.pb0
                    p.text-bold Duis a neque odio, at varius elit. Pellentesque augue velit, dapibus vitae ultricies a, facilisis eu enim Nam in mauris mauris, a accumsan arcu. Integer ut convallis dui...
                .cardbox-body.pt0
                    h5 Morbi quis purus velit.
                    .clearfix
                        .float-left
                            span.mr-sm.text-muted by
                            a(href='#') John
                        .float-right
                            span.text-muted 2 days ago
            .cardbox.b0
                .cardbox-item
                    a.cardbox-item.cardbox-media.bg-pic3(href="#")
                .cardbox-offset.p0
                    .cardbox-offset-item.text-right
                        button.btn-raised.btn.btn-secondary.btn-circle.btn-lg(type="button") 3
                .cardbox-body.pt0
                    h5 Cum sociis natoque penatibus
                    .clearfix
                        .float-left
                            span.mr-sm.text-muted by
                            a(href='#') John
                        .float-right
                            span.text-muted 2 days ago
