extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'FAQ'
block content
    .container.container-fluid
        .cardbox: .cardbox-body
            .text-center.pb-lg
                h3.text-bold Frequently Asked Questions
                p.text-muted Proin non lacinia sapien. Vivamus lorem justo, sollicitudin ac sollicitudin ut, aliquet sed tellus.
                    br
                    | Sed venenatis ullamcorper mauris et malesuada. Nunc vel ipsum vitae erat pharetra rhoncus eu eu tellus.
                br
                p Have more questions?
                button(type="button").btn.btn-info Contact with Us

            .row.mt-lg
                .col-lg-6
                    .card-accordion#accordion1
                        .card.card-default.b0.mb-sm
                            h4.m0.card-header: a(data-toggle="collapse", data-parent="#accordion1", href="#acc1collapse1")
                                small: em.ion-arrow-right-c.text-muted.mr.icon-lg
                                span What Assets Can I Use In My Items?
                            #acc1collapse1.collapse.show
                                .card-body
                                    p Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
                                    p Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.
                                    .float-right
                                        small.text-muted.mr Was this article helpful?
                                        button(type="button").btn.btn-secondary.btn-sm: em.ion-chevron-up.text-muted
                                        button(type="button").btn.btn-secondary.btn-sm: em.ion-chevron-down.text-muted
                        .card.card-default.b0.mb-sm
                            h4.m0.card-header: a(data-toggle="collapse", data-parent="#accordion1", href="#acc1collapse2")
                                small: em.ion-arrow-right-c.text-muted.mr.icon-lg
                                span Where is the Market Terms?
                            #acc1collapse2.collapse
                                .card-body
                                    p Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
                                    p Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.
                                    .float-right
                                        small.text-muted.mr Was this article helpful?
                                        button(type="button").btn.btn-secondary.btn-sm: em.ion-chevron-up.text-muted
                                        button(type="button").btn.btn-secondary.btn-sm: em.ion-chevron-down.text-muted
                        .card.card-default.b0.mb-sm
                            h4.m0.card-header: a(data-toggle="collapse", data-parent="#accordion1", href="#acc1collapse3")
                                small: em.ion-arrow-right-c.text-muted.mr.icon-lg
                                span Morbi pretium varius aliquam?
                            #acc1collapse3.collapse
                                .card-body
                                    p Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
                                    p Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.
                                    .float-right
                                        small.text-muted.mr Was this article helpful?
                                        button(type="button").btn.btn-secondary.btn-sm: em.ion-chevron-up.text-muted
                                        button(type="button").btn.btn-secondary.btn-sm: em.ion-chevron-down.text-muted
                .col-lg-6
                    .card-accordion#accordion2
                        .card.card-default.b0.mb-sm
                            h4.m0.card-header: a(data-toggle="collapse", data-parent="#accordion2", href="#acc2collapse1")
                                small: em.ion-arrow-right-c.text-muted.mr.icon-lg
                                span How to Contact an Author
                            #acc2collapse1.collapse
                                .card-body
                                    p Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
                                    p Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.
                                    .float-right
                                        small.text-muted.mr Was this article helpful?
                                        button(type="button").btn.btn-secondary.btn-sm: em.ion-chevron-up.text-muted
                                        button(type="button").btn.btn-secondary.btn-sm: em.ion-chevron-down.text-muted
                        .card.card-default.b0.mb-sm
                            h4.m0.card-header: a(data-toggle="collapse", data-parent="#accordion2", href="#acc2collapse2")
                                small: em.ion-arrow-right-c.text-muted.mr.icon-lg
                                span What is Item Support?
                            #acc2collapse2.collapse.show
                                .card-body
                                    p Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
                                    p Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.
                                    .float-right
                                        small.text-muted.mr Was this article helpful?
                                        button(type="button").btn.btn-secondary.btn-sm: em.ion-chevron-up.text-muted
                                        button(type="button").btn.btn-secondary.btn-sm: em.ion-chevron-down.text-muted
                        .card.card-default.b0.mb-sm
                            h4.m0.card-header: a(data-toggle="collapse", data-parent="#accordion2", href="#acc2collapse3")
                                small: em.ion-arrow-right-c.text-muted.mr.icon-lg
                                span Where Is My Purchase Code?
                            #acc2collapse3.collapse
                                .card-body
                                    p Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
                                    p Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.
                                    .float-right
                                        small.text-muted.mr Was this article helpful?
                                        button(type="button").btn.btn-secondary.btn-sm: em.ion-chevron-up.text-muted
                                        button(type="button").btn.btn-secondary.btn-sm: em.ion-chevron-down.text-muted

