extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Gallery'
block content
    .container-fluid.container-unwrap
        .row
          .col-xl-4.col-lg-6
            .cardbox.b0: a.cardbox-item(href="images/pic4.jpg", data-gallery="", title="Unsplash images")
                .cardbox-item-image.bg-pic4
                .cardbox-item-text.bg-fade
                    .clearfix
                        h5.mv.float-left Camera roll
                        h6.mv.float-right.text-light 10:20
          .col-xl-4.col-lg-6
            .cardbox.b0: a.cardbox-item(href="images/pic1.jpg", data-gallery="", title="Unsplash images")
                .cardbox-item-image.bg-pic1
                .cardbox-item-text.bg-fade
                    .clearfix
                        h5.mv.float-left Camera roll
                        h6.mv.float-right.text-light 10:20
          .col-xl-4.col-lg-6
            .cardbox.b0: a.cardbox-item(href="images/pic5.jpg", data-gallery="", title="Unsplash images")
                .cardbox-item-image.bg-pic5
                .cardbox-item-text.bg-fade
                    .clearfix
                        h5.mv.float-left Camera roll
                        h6.mv.float-right.text-light 10:20
          .col-xl-4.col-lg-6
            .cardbox.b0: a.cardbox-item(href="images/pic3.jpg", data-gallery="", title="Unsplash images")
                .cardbox-item-image.bg-pic3
                .cardbox-item-text.bg-fade
                    .clearfix
                        h5.mv.float-left Camera roll
                        h6.mv.float-right.text-light 10:20
          .col-xl-4.col-lg-6
            .cardbox.b0: a.cardbox-item(href="images/pic6.jpg", data-gallery="", title="Unsplash images")
                .cardbox-item-image.bg-pic6
                .cardbox-item-text.bg-fade
                    .clearfix
                        h5.mv.float-left Camera roll
                        h6.mv.float-right.text-light 10:20
          .col-xl-4.col-lg-6
            .cardbox.b0: a.cardbox-item(href="images/pic2.jpg", data-gallery="", title="Unsplash images")
                .cardbox-item-image.bg-pic2
                .cardbox-item-text.bg-fade
                    .clearfix
                        h5.mv.float-left Camera roll
                        h6.mv.float-right.text-light 10:20
          .col-xl-4.col-lg-6
            .cardbox.b0: a.cardbox-item(href="images/pic1.jpg", data-gallery="", title="Unsplash images")
                .cardbox-item-image.bg-pic1
                .cardbox-item-text.bg-fade
                    .clearfix
                        h5.mv.float-left Camera roll
                        h6.mv.float-right.text-light 10:20
          .col-xl-4.col-lg-6
            .cardbox.b0: a.cardbox-item(href="images/pic2.jpg", data-gallery="", title="Unsplash images")
                .cardbox-item-image.bg-pic2
                .cardbox-item-text.bg-fade
                    .clearfix
                        h5.mv.float-left Camera roll
                        h6.mv.float-right.text-light 10:20
          .col-xl-4.col-lg-6
            .cardbox.b0: a.cardbox-item(href="images/pic3.jpg", data-gallery="", title="Unsplash images")
                .cardbox-item-image.bg-pic3
                .cardbox-item-text.bg-fade
                    .clearfix
                        h5.mv.float-left Camera roll
                        h6.mv.float-right.text-light 10:20
          .col-xl-4.col-lg-6
            .cardbox.b0: a.cardbox-item(href="images/pic6.jpg", data-gallery="", title="Unsplash images")
                .cardbox-item-image.bg-pic6
                .cardbox-item-text.bg-fade
                    .clearfix
                        h5.mv.float-left Camera roll
                        h6.mv.float-right.text-light 10:20
block bodychild
    // The gallery preview container
    #blueimp-gallery.blueimp-gallery
      .slides
        h3.title
        a.prev &lsaquo;
        a.next &rsaquo;
        a.close &times;
        a.play-pause
        ol.indicator
