extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Projects'
block content
    .container.container-fluid

        .row.mv
          .col-sm-4
            button.btn.btn-info(type="button")
                em.ion-plus.mr-sm
                | Add Project
          .col-sm-8.text-right.d-none.d-sm-block
                form.form-inline.justify-content-end
                    .form-group.mr
                        label.mr: small Status
                        select.form-control.input-sm
                            option Completed
                            option Active
                            option Paused
                            option Canceled
                    .form-group
                        label.mr: small Sort by
                        select.form-control.input-sm
                            option Name
                            option Status
                            option Start Date
                            option Finish Date

        .row
            .col-lg-6.col-xl-4
                // Project card
                .cardbox
                    .cardbox-heading
                        .float-right: .tag.tag-info active
                        .cardbox-title Project #A
                        small Web development
                    .cardbox-body
                        p: strong Description:
                        .pl-lg.mb-lg Ut turpis urna, tristique sed adipiscing nec, luctus quis leo. Fusce nec volutpat ante.
                        p: strong Members:
                        .pl-lg.mb-lg
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/02.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/04.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/05.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/06.jpg', alt='project member')
                        p: strong Activity:
                        .pl-lg
                            ul.list-inline.m0
                                li.list-inline-item.mr
                                    h4.m0 17
                                    p.text-muted Issues
                                li.list-inline-item.mr
                                    h4.m0 780
                                    p.text-muted Posts
                                li.list-inline-item
                                    h4.m0 23
                                    p.text-muted Tests
                    .cardbox-footer
                        p: small 56%
                        .progress.progress-xs.m0
                            .progress-bar.progress-bar-info(style='width:56%')
                // end Project card
            .col-lg-6.col-xl-4
                // Project card
                .cardbox
                    .cardbox-heading
                        .float-right: .tag.tag-info active
                        .cardbox-title Project #B
                        small Web development
                    .cardbox-body
                        p: strong Description:
                        .pl-lg.mb-lg Ut turpis urna, tristique sed adipiscing nec, luctus quis leo. Fusce nec volutpat ante.
                        p: strong Members:
                        .pl-lg.mb-lg
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/04.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/03.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/07.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/03.jpg', alt='project member')
                        p: strong Activity:
                        .pl-lg
                            ul.list-inline.m0
                                li.list-inline-item.mr
                                    h4.m0 17
                                    p.text-muted Issues
                                li.list-inline-item.mr
                                    h4.m0 780
                                    p.text-muted Posts
                                li.list-inline-item
                                    h4.m0 23
                                    p.text-muted Tests
                    .cardbox-footer
                        p: small 56%
                        .progress.progress-xs.m0
                            .progress-bar.progress-bar-danger(style='width:56%')
                // end Project card
            .col-lg-6.col-xl-4
                // Project card
                .cardbox
                    .cardbox-heading
                        .float-right: .tag.tag-warning paused
                        .cardbox-title Project #C
                        small Web development
                    .cardbox-body
                        p: strong Description:
                        .pl-lg.mb-lg Ut turpis urna, tristique sed adipiscing nec, luctus quis leo. Fusce nec volutpat ante.
                        p: strong Members:
                        .pl-lg.mb-lg
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/04.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/03.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/07.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/03.jpg', alt='project member')
                        p: strong Activity:
                        .pl-lg
                            ul.list-inline.m0
                                li.list-inline-item.mr
                                    h4.m0 17
                                    p.text-muted Issues
                                li.list-inline-item.mr
                                    h4.m0 780
                                    p.text-muted Posts
                                li.list-inline-item
                                    h4.m0 23
                                    p.text-muted Tests
                    .cardbox-footer
                        p: small 64%
                        .progress.progress-xs.m0
                            .progress-bar.progress-bar-success(style='width:64%')
                // end Project card

            .col-lg-6.col-xl-4
                // Project card
                .cardbox
                    .cardbox-heading
                        .float-right: .tag.tag-info active
                        .cardbox-title Project #D
                        small Web development
                    .cardbox-body
                        p: strong Description:
                        .pl-lg.mb-lg Ut turpis urna, tristique sed adipiscing nec, luctus quis leo. Fusce nec volutpat ante.
                        p: strong Members:
                        .pl-lg.mb-lg
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/03.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/07.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/06.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/05.jpg', alt='project member')
                        p: strong Activity:
                        .pl-lg
                            ul.list-inline.m0
                                li.list-inline-item.mr
                                    h4.m0 17
                                    p.text-muted Issues
                                li.list-inline-item.mr
                                    h4.m0 780
                                    p.text-muted Posts
                                li.list-inline-item
                                    h4.m0 23
                                    p.text-muted Tests
                    .cardbox-footer
                        p: small 36%
                        .progress.progress-xs.m0
                            .progress-bar.progress-bar-warning(style='width:36%')
                // end Project card
            .col-lg-6.col-xl-4
                // Project card
                .cardbox
                    .cardbox-heading
                        .float-right: .tag.tag-info active
                        .cardbox-title Project #A
                        small Web development
                    .cardbox-body
                        p: strong Description:
                        .pl-lg.mb-lg Ut turpis urna, tristique sed adipiscing nec, luctus quis leo. Fusce nec volutpat ante.
                        p: strong Members:
                        .pl-lg.mb-lg
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/02.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/04.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/05.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/06.jpg', alt='project member')
                        p: strong Activity:
                        .pl-lg
                            ul.list-inline.m0
                                li.list-inline-item.mr
                                    h4.m0 17
                                    p.text-muted Issues
                                li.list-inline-item.mr
                                    h4.m0 780
                                    p.text-muted Posts
                                li.list-inline-item
                                    h4.m0 23
                                    p.text-muted Tests
                    .cardbox-footer
                        p: small 56%
                        .progress.progress-xs.m0
                            .progress-bar.progress-bar-info(style='width:56%')
                // end Project card
            .col-lg-6.col-xl-4
                // Project card
                .cardbox
                    .cardbox-heading
                        .float-right: .tag.tag-success completed
                        .cardbox-title Project #B
                        small Web development
                    .cardbox-body
                        p: strong Description:
                        .pl-lg.mb-lg Ut turpis urna, tristique sed adipiscing nec, luctus quis leo. Fusce nec volutpat ante.
                        p: strong Members:
                        .pl-lg.mb-lg
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/04.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/03.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/07.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/03.jpg', alt='project member')
                        p: strong Activity:
                        .pl-lg
                            ul.list-inline.m0
                                li.list-inline-item.mr
                                    h4.m0 17
                                    p.text-muted Issues
                                li.list-inline-item.mr
                                    h4.m0 780
                                    p.text-muted Posts
                                li.list-inline-item
                                    h4.m0 23
                                    p.text-muted Tests
                    .cardbox-footer
                        p: small 100%
                        .progress.progress-xs.m0
                            .progress-bar.progress-bar-success(style='width:100%')
                // end Project card
            .col-lg-6.col-xl-4
                // Project card
                .cardbox
                    .cardbox-heading
                        .float-right: .tag.tag-warning paused
                        .cardbox-title Project #C
                        small Web development
                    .cardbox-body
                        p: strong Description:
                        .pl-lg.mb-lg Ut turpis urna, tristique sed adipiscing nec, luctus quis leo. Fusce nec volutpat ante.
                        p: strong Members:
                        .pl-lg.mb-lg
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/04.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/03.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/07.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/03.jpg', alt='project member')
                        p: strong Activity:
                        .pl-lg
                            ul.list-inline.m0
                                li.list-inline-item.mr
                                    h4.m0 17
                                    p.text-muted Issues
                                li.list-inline-item.mr
                                    h4.m0 780
                                    p.text-muted Posts
                                li.list-inline-item
                                    h4.m0 23
                                    p.text-muted Tests
                    .cardbox-footer
                        p: small 64%
                        .progress.progress-xs.m0
                            .progress-bar.progress-bar-success(style='width:64%')
                // end Project card

            .col-lg-6.col-xl-4
                // Project card
                .cardbox
                    .cardbox-heading
                        .float-right: .tag.tag-info active
                        .cardbox-title Project #D
                        small Web development
                    .cardbox-body
                        p: strong Description:
                        .pl-lg.mb-lg Ut turpis urna, tristique sed adipiscing nec, luctus quis leo. Fusce nec volutpat ante.
                        p: strong Members:
                        .pl-lg.mb-lg
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/03.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/07.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/06.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/05.jpg', alt='project member')
                        p: strong Activity:
                        .pl-lg
                            ul.list-inline.m0
                                li.list-inline-item.mr
                                    h4.m0 17
                                    p.text-muted Issues
                                li.list-inline-item.mr
                                    h4.m0 780
                                    p.text-muted Posts
                                li.list-inline-item
                                    h4.m0 23
                                    p.text-muted Tests
                    .cardbox-footer
                        p: small 36%
                        .progress.progress-xs.m0
                            .progress-bar.progress-bar-warning(style='width:36%')
                // end Project card
            .col-lg-6.col-xl-4
                // Project card
                .cardbox
                    .cardbox-heading
                        .float-right: .tag.tag-info active
                        .cardbox-title Project #A
                        small Web development
                    .cardbox-body
                        p: strong Description:
                        .pl-lg.mb-lg Ut turpis urna, tristique sed adipiscing nec, luctus quis leo. Fusce nec volutpat ante.
                        p: strong Members:
                        .pl-lg.mb-lg
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/02.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/04.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/05.jpg', alt='project member')
                            a.inline(href="#")
                                img.rounded-circle.thumb32(src='~img/user/06.jpg', alt='project member')
                        p: strong Activity:
                        .pl-lg
                            ul.list-inline.m0
                                li.list-inline-item.mr
                                    h4.m0 17
                                    p.text-muted Issues
                                li.list-inline-item.mr
                                    h4.m0 780
                                    p.text-muted Posts
                                li.list-inline-item
                                    h4.m0 23
                                    p.text-muted Tests
                    .cardbox-footer
                        p: small 56%
                        .progress.progress-xs.m0
                            .progress-bar.progress-bar-info(style='width:56%')
                // end Project card
