extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Search'
block content
    .container-overlap.bg-indigo-500
        .container.container-md.pr-xl
            form(action='')
                .mda-form-group.mda-form-group-lg.float-label
                    .mda-form-control.mda-form-control-dark
                        input.no-resize.form-control(type="text")
                        .mda-form-control-line
                        label Search
                    span.mda-form-msg.right
                        span 1500
                        |  results (
                        span 0.15
                        |  seconds)
    .container.container-md
        .cardbox
            .cardbox-body
                p.lead Search results for &quot;material template&quot;
                ul.list-group.mb-lg
                    li.list-group-item.flex-column.align-items-start
                        h5.mb-sm: a(href="#") Material Marketing Template
                        a.text-soft(href="#") http://example.com/search-result-link
                        p Donec nec euismod nulla. Sed vel elementum ante. Mauris bibendum lectus ut leo pharetra imperdiet. Nullam auctor, dolor at facilisis tristique interdum at fermen
                    li.list-group-item.flex-column.align-items-start
                        h5.mb-sm: a(href="#") Material Web Template
                        a.text-soft(href="#") http://example.com/search-result-link
                        p Sed id lacus enim, sit amet imperdiet orci. Integer in convallis felis. Suspendisse nisl nulla, interdum at fermentum eget, adipiscing in elit, dui nunc ornare nibh
                    li.list-group-item.flex-column.align-items-start
                        h5.mb-sm: a(href="#") How to create Material cards template
                        a.text-soft(href="#") http://example.com/search-result-link
                        p Phasellus sit amet sem nibh, sed aliquam est. In pretium mauris id ipsum mollis varius. Nullam pretium fermentum orci id lacinia, dui nunc ornare nibh
                    li.list-group-item.flex-column.align-items-start
                        h5.mb-sm: a(href="#") Material design lite template
                        a.text-soft(href="#") http://example.com/search-result-link
                        p Integer cursus lectus vel eros placerat vitae faucibus leo dignissim. Phasellus sit amet sem nibh, sed aliquam est. Proin suscipit porta diam id mollis.
                    li.list-group-item.flex-column.align-items-start
                        h5.mb-sm: a(href="#") HTML5 material template
                        a.text-soft(href="#") http://example.com/search-result-link
                        p Vestibulum eget nunc tellus, eu elementum velit. Praesent malesuada erat ut tellus egestas sagittis. Ut rutrum fermentum accumsan. Sed volutpat leo eu urn
                    li.list-group-item.flex-column.align-items-start
                        h5.mb-sm: a(href="#") One page material template
                        a.text-soft(href="#") http://example.com/search-result-link
                        p Ut non tortor nec eros gravida tincidunt at vitae dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                nav.text-center
                    ul.pagination.pagination-rounded.justify-content-center
                        li.page-item.disabled
                            a.page-link(href='#', aria-label='Previous')
                                span(aria-hidden='true') &laquo;
                        li.page-item.active
                            a.page-link(href='#') 1
                        li.page-item
                            a.page-link(href='#') 2
                        li.page-item
                            a.page-link(href='#') 3
                        li.page-item
                            a.page-link(href='#') 4
                        li.page-item
                            a.page-link(href='#') 5
                        li.page-item
                            a.page-link(href='#', aria-label='Next')
                                span(aria-hidden='true') &raquo;
