extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Charts Flot'
block content
    .container-fluid
        // START row
        .row
            .col-xl-4.col-xs-12
                .cardbox
                    .cardbox-heading
                        .cardbox-title Area
                    .cardbox-body
                        #area-flotchart.flot-chart.flot-chart-lg
            .col-xl-4.col-xs-12
                .cardbox
                    .cardbox-heading
                        .cardbox-title Area Spline
                    .cardbox-body
                        #spline-flotchart.flot-chart.flot-chart-lg
            .col-xl-4.col-xs-12
                .cardbox
                    .cardbox-heading
                        .cardbox-title Bar
                    .cardbox-body
                        #bar-flotchart.flot-chart.flot-chart-lg
        // END row

        // START row
        .row
            .col-xl-4.col-xs-12
                .cardbox
                    .cardbox-heading
                        .cardbox-title Pie
                    .cardbox-body
                            #pie-flotchart.flot-chart.flot-chart-lg
            .col-xl-4.col-xs-12
                .cardbox
                    .cardbox-heading
                        .cardbox-title Donut
                    .cardbox-body
                            #donut-flotchart.flot-chart.flot-chart-lg
            .col-xl-4.col-xs-12
                .cardbox
                    .cardbox-heading
                        .cardbox-title Bar - Stacked
                    .cardbox-body
                            #barstacked-flotchart.flot-chart.flot-chart-lg
        // END row
        // START row
        .row
            .col-xl-6.col-xs-12
                .cardbox
                    .cardbox-heading
                        .cardbox-title Real Time
                    .cardbox-body
                            #realtime-flotchart.flot-chart.flot-chart-lg
            .col-xl-6.col-xs-12
                .cardbox
                    .cardbox-heading
                        .cardbox-title Line
                    .cardbox-body
                            #line-flotchart.flot-chart.flot-chart-lg
        // END row
