extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Charts Radial'
block content
    .container-fluid

        h4.page-header.clearfix.mt0 Knob
        .row
            .col-xl-3.col-sm-6
                .cardbox
                    .cardbox-heading Default
                    .cardbox-body.text-center
                        input#knob-chart1(type="text", value="80", data-max="100")
            .col-xl-3.col-sm-6
                .cardbox
                    .cardbox-heading Ready only
                    .cardbox-body.text-center
                        input#knob-chart2(type="text", value="45", data-max="100")
            .col-xl-3.col-sm-6
                .cardbox
                    .cardbox-heading Offset and arc
                    .cardbox-body.text-center
                        input#knob-chart4(type="text", value="20", data-max="100")
            .col-xl-3.col-sm-6
                .cardbox
                    .cardbox-heading Display previous
                    .cardbox-body.text-center
                        input#knob-chart3(type="text", value="30", data-max="100")

        h4.page-header.clearfix Easypie Charts
        .row
            .col-xl-3.col-sm-6
                .cardbox
                    .cardbox-heading Default
                    .cardbox-body.text-center
                        #easypiechart1.easypie-chart(data-percent='85')
                            span 85
            .col-xl-3.col-sm-6
                .cardbox
                    .cardbox-heading Slim
                    .cardbox-body.text-center
                        #easypiechart2.easypie-chart(data-percent='45')
                            span 45
            .col-xl-3.col-sm-6
                .cardbox
                    .cardbox-heading Track color
                    .cardbox-body.text-center
                        #easypiechart3.easypie-chart(data-percent='25')
                            span 25
            .col-xl-3.col-sm-6
                .cardbox
                    .cardbox-heading Scale color
                    .cardbox-body.text-center
                        #easypiechart4.easypie-chart(data-percent='60')
                            span 60
