extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Charts Rickshaw'
block content
    .container-fluid
        .cardbox
            .cardbox-heading Area graph
            .cardbox-body
                #rickshaw-chart1
        .row
            .col-lg-6
                .cardbox
                    .cardbox-heading Bar graph
                    .cardbox-body
                      #rickshaw-chart2
            .col-lg-6
                .cardbox
                    .cardbox-heading Scatterplot graph
                    .cardbox-body
                      #rickshaw-chart3
