/**
 * Material Forms
 */

@import '../common/variables';
@import '../common/mixins';

// Form inputs
// -----------------------------------

.mda-form-group {
    position: relative;
    padding: 0 0 24px 0
}

.mda-form-control {
    position: relative;
    padding-top: 18px; // space for float label
    border-bottom: 1px solid rgba(0,0,0,.14);
}

.mda-form-control  {
    > input, > textarea, > select {
        padding: 2px;
        height: 34px;
        background-color: transparent !important;
        border: 0;
        border-radius: 0;
        box-shadow: none;

        &:focus,
        &.focus {
            &~label {
                top: 0!important;
                font-size: .85em!important;
                color: @brand-primary;
                opacity: 1;
            }
        }

        ~label {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            display: inline-block;
            font-size: .85em;
            opacity: .5;
            font-weight: 500;
            .transition(all .2s ease);
        }

        &.disabled,
        &[disabled] {
            background-color: transparent;
            opacity: .5;
            cursor: not-allowed;
        }
    }

    // variant for dark background
    &.mda-form-control-dark {
        border-bottom-color: rgba(255,255,255,.26);
        > input, > textarea, > select {
            color: #fff;
            .placeholder(rgba(255,255,255,.5));
            &:focus~label,
            &.focus~label {
                 color: #fff !important;
            }
        }
    }


}
.mda-form-group-lg {
    .mda-form-control > input {
        height: 48px
    }
    &.float-label .mda-form-control > input ~ label {
        top: 28px;
        font-size: 1.5em;
    }
}

// text area
.mda-form-control > textarea {
    height: auto;
}

// Animated bottom line
.mda-form-control-line {
    position: absolute;
    bottom: -1px;
    left: 50%;
    right: 50%;
    height: 2px;
    .transition(all .3s ease);
}
.mda-form-control {
    > input, > textarea, > select {
        &:focus ~ .mda-form-control-line {
            background-color: @brand-primary;
            left: 0;
            right: 0;
        }
    }
    &.mda-form-control-dark {
        > input, > textarea, > select {
            &:focus ~ .mda-form-control-line {
                background-color: #fff;
            }
        }
    }
}


// Input messages
.mda-form-msg {
    position: absolute;
    bottom: 0;
    font-size: .85em;
    line-height: 24px;
    font-weight: 300;
    color: #90A4AE;
    &.right {
        right: 0
    }
}

// Form validation

.form-validate {
    .mda-form-control {
        // Invalid input
        .form-control.error {
            ~ .mda-form-control-line {
                background-color: @brand-danger;
            }
            &:focus~label,
            &.focus~label,
            &~.mda-form-msg {
                color: @brand-danger;
            }
        }
        // Valid input
        .form-control.valid,
        .form-control.valid:focus {
            ~ .mda-form-control-line {
                background-color: @brand-success;
            }
            &:focus~label,
            &.focus~label {
                color: @brand-success;
            }
        }

    }
    label.error {
        color: @brand-danger;
    }
    label.valid {
        color: @brand-success;
    }
}

// Float label
.float-label .mda-form-control  {
    > input,
    > textarea {
        &~label {
            top: 25px;
            margin-bottom: 0;
            font-size: 1em;
            pointer-events: none;
        }
        &.valid~label,
        &.error~label,
        &.has-value~label {
            top: 0;
            font-size: .85em;
        }
    }
}

// Icons support
.mda-input-group  {
    position: relative;
    .mda-form-control {
        > input { padding-left: 36px; }
        > label { margin-left: 36px; }
        > select {
            padding-left: 36px;
            ~ label {
                margin-left: 0;
            }
        }
    }
    .form-control { float: none; }
    > .mda-input-group-addon {
        position: absolute;
        top: 25px;
        left: 2px;
    }
    .mda-form-group + .input-group-btn,
    .input-group-btn + .mda-form-group {
        padding-left: 16px;
    }
}

// Checkbox and radios
// -----------------------------------

.mda-checkbox,
.mda-radio {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin: 0;
    cursor: pointer;

    input {
        position: absolute;
        z-index: 1;
        width: 20px;
        height: 20px;
        margin-left: -20px;
        cursor: pointer;
        opacity: 0;
        &:checked + em:before {
            background-color: inherit;
            border-width: 0;
        }

        &:checked + span .active {
            display: inherit;
        }
    }

    // Checkbox
    input[type="checkbox"]:checked + em:after {
        position: absolute;
        top: 2px;
        left: 6px;
        display: table;
        width: 6px;
        height: 12px;
        border: 2px solid;
        border-top: 0;
        border-left: 0;
        content: ' ';
        .rotate(45deg);
    }
    // Radio
    input[type="radio"]:checked + em:after {
        content: ' ';
        position: absolute;
        top: 3px;
        left: 3px;
        display: table;
        width: 12px;
        height: 12px;
        background: inherit;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    input[type="radio"]+em,
    input[type="radio"]+em:before {
        border-radius: 50%;
    }
}

// Disable states
.mda-checkbox input[disabled]+em:before,
fieldset[disabled] .mda-checkbox input+em:before,
.mda-radio input[disabled]+em:before,
fieldset[disabled] .mda-radio input+em:before {
    border-color: rgba(0,0,0,0.26);
}
// disable background color for icon
.mda-checkbox input[disabled]:checked+em,
.mda-radio input[disabled]:checked+em {
    background-color: rgba(0,0,0,0.26);
}

.mda-radio input[disabled]:checked+em:after {
    background-color: transparent;
}

.mda-checkbox input[disabled]:checked+em:before {
    background-color: rgba(0,0,0,0.26);
}

// Icon style
.mda-checkbox > em,
.mda-radio > em {
    position: relative;
    display: inline-block;
    width: 0;
    height: 18px;
    margin-top: -2px;
    margin-right: 28px;
    margin-left: -20px;
    line-height: 1;
    vertical-align: middle;
    &:before {
        content: "";
        position: absolute;
        width: 18px;
        height: 100%;
        border: 2px solid fade(@gray-base, 56%);
        border-radius: 2px;
        .transition(all .2s);
    }
    // Empty box with not icons
    &.empty:after {
        display: none !important;
    }
}
