extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Tabs Layout'
block content
    ul#myTabs.nav.nav-tabs.nav-justified(role='tablist')
        li.nav-item(role='presentation')
                a.nav-link.active#home-tab(href='#home', role='tab', data-toggle='tab', aria-controls='home', aria-expanded='true') Home
        li.nav-item(role='presentation')
                a.nav-link#profile-tab(href='#profile', role='tab', data-toggle='tab', aria-controls='profile') Profile
        li.nav-item.dropdown(role='presentation')
                a.nav-link#profile-tab(href='#messages', role='tab', data-toggle='tab', aria-controls='messages') Messages

    #myTabContent.tab-content.text-center
        #home.tab-pane.active(role='tabpanel', aria-labelledby='home-tab')
            h4 Home view
        #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
            h4 Profile view
        #messages.tab-pane.fade(role='tabpanel', aria-labelledby='messages-tab')
            h4 Messages view
