extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Boxed Layout'
block content
    .container.container-md
        .cardbox
            .cardbox-body
                h2.text-center Big card with cards
                .row
                    .col-lg-6
                        .cardbox
                            .cardbox-heading
                                .float-right
                                    button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button')
                                        em.ion-android-more-vertical
                                .cardbox-title Morbi a odio
                            .cardbox-body Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. 
                    .col-lg-6
                        .cardbox
                            .cardbox-heading
                                .float-right
                                    button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button')
                                        em.ion-android-more-vertical
                                .cardbox-title Morbi a odio
                            .cardbox-body Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. 
                    .col-lg-6
                        .cardbox
                            .cardbox-heading
                                .float-right
                                    button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button')
                                        em.ion-android-more-vertical
                                .cardbox-title Morbi a odio
                            .cardbox-body Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. 
                    .col-lg-6
                        .cardbox
                            .cardbox-heading
                                .float-right
                                    button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button')
                                        em.ion-android-more-vertical
                                .cardbox-title Morbi a odio
                            .cardbox-body Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. 
        .cardbox
            .cardbox-body
                h2.text-center Big card with cards
                .row
                    .col-lg-6
                        .cardbox
                            .cardbox-heading
                                .float-right
                                    button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button')
                                        em.ion-android-more-vertical
                                .cardbox-title Morbi a odio
                            .cardbox-body Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. 
                    .col-lg-6
                        .cardbox
                            .cardbox-heading
                                .float-right
                                    button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button')
                                        em.ion-android-more-vertical
                                .cardbox-title Morbi a odio
                            .cardbox-body Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. 
                    .col-lg-6
                        .cardbox
                            .cardbox-heading
                                .float-right
                                    button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button')
                                        em.ion-android-more-vertical
                                .cardbox-title Morbi a odio
                            .cardbox-body Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. 
                    .col-lg-6
                        .cardbox
                            .cardbox-heading
                                .float-right
                                    button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button')
                                        em.ion-android-more-vertical
                                .cardbox-title Morbi a odio
                            .cardbox-body Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. 
