/**
 * Dropdowns Extras
 */

@import '../common/variables';
@import '../common/mixins';

// place components with more space
.dropdown-lg > .dropdown-menu {
    min-width: 200px;
}

// Allows to mix list group inside dropdowns
.dropdown-list {

    > .dropdown-menu {
        padding: 0;
        min-width: 220px;
    }

    .list-group {
        margin: 0;
    }

    .list-group-item {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        &:first-child {
            border-top: 0;
        }
        &:last-child {
            border-bottom: 0;
        }
    }
}

// Labels inside dropdowns
.dropdown {
    > a {
        position: relative;
        > .label, > .tag {
            position: absolute;
            top: 0;
            right: 0;
            padding: 2px 5px;
            @media #{$min-tablet} {
                top: 10px;
            }
        }
    }
}

// Dropdown header
.dropdown-menu-header {
    padding: 10px 15px;
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
}

// Dropdown with Material scale effect
.md-dropdown-menu {
    display: block;
    opacity: 0;
    padding: 0;
    transform: scale(0) !important;
    transition: all .3s;
    backface-visibility: hidden !important;
    transform-origin: top left !important;
    &.float-right,
    &.dropdown-menu-right {
        transform-origin: top right !important;
    }
    // Size
    > li:not(.dropdown-divider) {
        height: 48px;
        > a {
            padding: 0 14px;
            line-height: 48px;
            text-decoration: none;
        }
    }
}

.dropdown-menu-right {
    right: 0;
    left: auto !important;
}

.show > .md-dropdown-menu {
    opacity: 1 !important;
    transform: scale(1) !important;
}

.dropup .md-dropdown-menu {
    transform-origin: bottom left;
    &.float-right,
    &.dropdown-menu-right {
        transform-origin: bottom right;
    }
}

