@{
    ViewData["Title"] = "Rickshaw";
}
<div class="container-fluid">
  <div class="card">
    <div class="card-heading">Area graph</div>
    <div class="card-body">
      <div id="rickshaw-chart1"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-heading">Bar graph</div>
        <div class="card-body">
          <div id="rickshaw-chart2"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-heading">Scatterplot graph</div>
        <div class="card-body">
          <div id="rickshaw-chart3"></div>
        </div>
      </div>
    </div>
  </div>
</div>