extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Datamaps'
block content
    .container-fluid
        .card.card-default.mb
            .card-header Basic Map
            .card-body
                div#datamap-basic

        .card.card-default
            .card-header Customized Arc Map
            .card-body
                div#datamap-arc
