extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Fullsize Google Maps'
block content
    .container-full
        .row.fh.bg-white
            .col-lg-3.fh.d-none.d-sm-block.d-none.d-sm-block.pr0
                .p-lg
                    h5.text-center Places
                    p.text-center Click on each item to focus a marker in the map
                .list-group.list-group-unstyle#markers-list
                    a.list-group-item.justify-content-between(data-panto-marker="0")
                        | Canada
                        em.float-right.ion-ios-arrow-forward
                    a.list-group-item.justify-content-between(data-panto-marker="1")
                        | New York
                        em.float-right.ion-ios-arrow-forward
                    a.list-group-item.justify-content-between(data-panto-marker="2")
                        | Toronto
                        em.float-right.ion-ios-arrow-forward
                    a.list-group-item.justify-content-between(data-panto-marker="3")
                        | San Francisco
                        em.float-right.ion-ios-arrow-forward
                    a.list-group-item.justify-content-between(data-panto-marker="4")
                        | Utah
                        em.float-right.ion-ios-arrow-forward
            .col-lg-9.fh.pl0
                #mapfull-markers.gmap.fh
