extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Google Maps'
block content
    .container-fluid
        .row
            .col-lg-6
                .cardbox.cardbox-default
                    .cardbox-heading Basic
                    .cardbox-body
                        #map.gmap
            .col-lg-6
                .cardbox.cardbox-default
                    .cardbox-heading Markers
                    .cardbox-body
                        #map-markers.gmap

        .cardbox.cardbox-default
            .cardbox-heading Panorama
            .cardbox-body
                #panorama.gmap
