extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Vector Maps'
block content
    .container-fluid
        .cardbox
            .cardbox-heading
                .float-right
                    span.mr.text-muted Show last year events
                    label.switch.switch-info
                        input(type='checkbox')
                        span
                .cardbox-title World Events
            .cardbox-body
                #vector-map-world.vector-map(style="height:240px")

        .cardbox
            .cardbox-heading
                .cardbox-title Usa Makers
            .cardbox-body
                #vector-map-usa.vector-map(style="height:240px")
