extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Contacts'
block content
    .container.container-fluid

        .mb-lg.text-right
            button.btn.btn-info(type="button")
                em.ion-plus.mr-sm
                | Add Contact
        .mb-lg
            form(role='form')
                .mda-form-control
                    input.form-control.input-lg(type='text', placeholder='Search Name, Job, etc...')

        .row
            .col-md-4.col-sm-6
                .card
                    .card-body
                        // START dropdown
                        .pull-right.dropdown.visible-lg.visible-md
                            button.btn.btn-flat.btn-flat-icon(type='button', data-toggle="dropdown")
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li: a(href='') Edit
                                li: a(href='') Block
                                li: a(href='') Delete
                        // END dropdown
                        .row
                            .col-lg-4.col-md-8
                                a(href='')
                                    img.fw.img-responsive(src='img/user/02.jpg', alt='Contact')
                        h5 Floyd Ortiz
                            small.text-muted Art director
                        p.mt
                            em.ion-briefcase.mr-sm
                            span Company Inc.
                        p.mt Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.
                    .card-footer.text-center
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-email.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-facebook.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-twitter.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-linkedin.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-skype.icon-lg.icon-fw
            .col-md-4.col-sm-6
                .card
                    .card-body
                        // START dropdown
                        .pull-right.dropdown.visible-lg.visible-md
                            button.btn.btn-flat.btn-flat-icon(type='button', data-toggle="dropdown")
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li: a(href='') Edit
                                li: a(href='') Block
                                li: a(href='') Delete
                        // END dropdown
                        .row
                            .col-lg-4.col-md-8
                                a(href='')
                                    img.fw.img-responsive(src='img/user/03.jpg', alt='Contact')
                        h5 Nina King
                            small.text-muted Art director
                        p.mt
                            em.ion-briefcase.mr-sm
                            span Company Inc.
                        p.mt Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.
                    .card-footer.text-center
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-email.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-facebook.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-twitter.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-linkedin.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-skype.icon-lg.icon-fw
            .col-md-4.col-sm-6
                .card
                    .card-body
                        // START dropdown
                        .pull-right.dropdown.visible-lg.visible-md
                            button.btn.btn-flat.btn-flat-icon(type='button', data-toggle="dropdown")
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li: a(href='') Edit
                                li: a(href='') Block
                                li: a(href='') Delete
                        // END dropdown
                        .row
                            .col-lg-4.col-md-8
                                a(href='')
                                    img.fw.img-responsive(src='img/user/04.jpg', alt='Contact')
                        h5 Tracy Powell
                            small.text-muted Art director
                        p.mt
                            em.ion-briefcase.mr-sm
                            span Company Inc.
                        p.mt Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.
                    .card-footer.text-center
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-email.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-facebook.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-twitter.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-linkedin.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-skype.icon-lg.icon-fw
            .col-md-4.col-sm-6
                .card
                    .card-body
                        // START dropdown
                        .pull-right.dropdown.visible-lg.visible-md
                            button.btn.btn-flat.btn-flat-icon(type='button', data-toggle="dropdown")
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li: a(href='') Edit
                                li: a(href='') Block
                                li: a(href='') Delete
                        // END dropdown
                        .row
                            .col-lg-4.col-md-8
                                a(href='')
                                    img.fw.img-responsive(src='img/user/05.jpg', alt='Contact')
                        h5 Lynn Howell
                            small.text-muted Art director
                        p.mt
                            em.ion-briefcase.mr-sm
                            span Company Inc.
                        p.mt Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.
                    .card-footer.text-center
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-email.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-facebook.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-twitter.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-linkedin.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-skype.icon-lg.icon-fw
            .col-md-4.col-sm-6
                .card
                    .card-body
                        // START dropdown
                        .pull-right.dropdown.visible-lg.visible-md
                            button.btn.btn-flat.btn-flat-icon(type='button', data-toggle="dropdown")
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li: a(href='') Edit
                                li: a(href='') Block
                                li: a(href='') Delete
                        // END dropdown
                        .row
                            .col-lg-4.col-md-8
                                a(href='')
                                    img.fw.img-responsive(src='img/user/06.jpg', alt='Contact')
                        h5 Pearl Ray
                            small.text-muted Art director
                        p.mt
                            em.ion-briefcase.mr-sm
                            span Company Inc.
                        p.mt Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.
                    .card-footer.text-center
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-email.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-facebook.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-twitter.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-linkedin.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-skype.icon-lg.icon-fw
            .col-md-4.col-sm-6
                .card
                    .card-body
                        // START dropdown
                        .pull-right.dropdown.visible-lg.visible-md
                            button.btn.btn-flat.btn-flat-icon(type='button', data-toggle="dropdown")
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li: a(href='') Edit
                                li: a(href='') Block
                                li: a(href='') Delete
                        // END dropdown
                        .row
                            .col-lg-4.col-md-8
                                a(href='')
                                    img.fw.img-responsive(src='img/user/07.jpg', alt='Contact')
                        h5 Adrian Davis
                            small.text-muted Art director
                        p.mt
                            em.ion-briefcase.mr-sm
                            span Company Inc.
                        p.mt Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.
                    .card-footer.text-center
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-email.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-facebook.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-twitter.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-linkedin.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-skype.icon-lg.icon-fw
            .col-md-4.col-sm-6
                .card
                    .card-body
                        // START dropdown
                        .pull-right.dropdown.visible-lg.visible-md
                            button.btn.btn-flat.btn-flat-icon(type='button', data-toggle="dropdown")
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li: a(href='') Edit
                                li: a(href='') Block
                                li: a(href='') Delete
                        // END dropdown
                        .row
                            .col-lg-4.col-md-8
                                a(href='')
                                    img.fw.img-responsive(src='img/user/02.jpg', alt='Contact')
                        h5 Terri Pearson
                            small.text-muted Art director
                        p.mt
                            em.ion-briefcase.mr-sm
                            span Company Inc.
                        p.mt Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.
                    .card-footer.text-center
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-email.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-facebook.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-twitter.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-linkedin.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-skype.icon-lg.icon-fw
            .col-md-4.col-sm-6
                .card
                    .card-body
                        // START dropdown
                        .pull-right.dropdown.visible-lg.visible-md
                            button.btn.btn-flat.btn-flat-icon(type='button', data-toggle="dropdown")
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li: a(href='') Edit
                                li: a(href='') Block
                                li: a(href='') Delete
                        // END dropdown
                        .row
                            .col-lg-4.col-md-8
                                a(href='')
                                    img.fw.img-responsive(src='img/user/03.jpg', alt='Contact')
                        h5 Rachel Fernandez
                            small.text-muted Art director
                        p.mt
                            em.ion-briefcase.mr-sm
                            span Company Inc.
                        p.mt Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.
                    .card-footer.text-center
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-email.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-facebook.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-twitter.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-linkedin.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-skype.icon-lg.icon-fw
            .col-md-4.col-sm-6
                .card
                    .card-body
                        // START dropdown
                        .pull-right.dropdown.visible-lg.visible-md
                            button.btn.btn-flat.btn-flat-icon(type='button', data-toggle="dropdown")
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li: a(href='') Edit
                                li: a(href='') Block
                                li: a(href='') Delete
                        // END dropdown
                        .row
                            .col-lg-4.col-md-8
                                a(href='')
                                    img.fw.img-responsive(src='img/user/04.jpg', alt='Contact')
                        h5 Annie Holt
                            small.text-muted Art director
                        p.mt
                            em.ion-briefcase.mr-sm
                            span Company Inc.
                        p.mt Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.
                    .card-footer.text-center
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-email.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-facebook.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-twitter.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-linkedin.icon-lg.icon-fw
                        button.btn.btn-default.btn-xs(type="button")
                            em.ion-social-skype.icon-lg.icon-fw
