extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Profile'
block content
    .container-overlap.bg-blue-500
        .media.m0.pv
            .media-left
                a(href='#')
                    img.media-object.img-circle.thumb64(src='img/user/03.jpg', alt='User')
            .media-body.media-middle
                h4.media-heading Christine Matthews
                span.text-muted Sed eget lacus quis diam molestie mollis.
    .container-fluid
        .row
            // Left column
            .col-md-7.col-lg-8
                form.card(editable-form="", name="user.profileForm")
                    h5.card-heading.pb0
                        // START dropdown
                        .pull-right.dropdown
                            button.btn.btn-default.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li
                                    a(href='#') Action 1
                                li
                                    a(href='#') Action 2
                        // END dropdown
                        | About
                    .card-body
                        p.is-editable.text-inherit(data-type="textarea") Pellentesque porta tincidunt justo, non fringilla erat iaculis in. Sed nisi erat, ornare eu pellentesque quis, pellentesque non nulla. Proin rutrum, est pellentesque commodo mattis, sem justo porttitor odio, id aliquet lacus augue nec nisl.
                    .card-divider
                    .card-offset
                        .card-offset-item.text-right
                            button#edit-enable(type="button").btn-raised.btn.btn-warning.btn-circle.btn-lg
                                em.ion-edit
                            button#edit-disable(type="submit").btn-raised.btn.btn-success.btn-circle.btn-lg.hidden
                                em.ion-checkmark-round
                    h5.card-heading.pb0 Contact Information
                    .card-body
                        table.table.table-striped
                          tbody
                            tr
                                td
                                    em.ion-document-text.icon-fw.mr
                                    | Area
                                td Research &amp; development
                            tr
                                td
                                    em.ion-egg.icon-fw.mr
                                    | Birthday
                                td
                                    span.is-editable.text-inherit(data-type="date", data-mode="popup") 10/11/2000
                            tr
                                td
                                    em.ion-ios-body.icon-fw.mr
                                    | Member since
                                td
                                    span.is-editable.text-inherit(data-type="date", data-mode="popup") 05/11/2015
                            tr
                                td
                                    em.ion-man.icon-fw.mr
                                    | Gender
                                td
                                    a.text-inherit#gender(href='#', data-type='select', data-pk='1', data-value='2', data-title='Select sex')
                            tr
                                td
                                    em.ion-android-home.icon-fw.mr
                                    | Address
                                td
                                    span.is-editable.text-inherit Some street, 123
                            tr
                                td
                                    em.ion-email.icon-fw.mr
                                    | Email
                                td
                                    span.is-editable.text-inherit
                                        a(href='#') user@mail.com
                            tr
                                td
                                    em.ion-ios-telephone.icon-fw.mr
                                    | Contact phone
                                td
                                    span.is-editable.text-inherit 13-123-46578
                    .card-divider
                    h5.card-heading.pb0 Recent articles
                    .card-body
                        ul.mda-list
                            li.mda-list-item.pl0.bb
                                .mda-list-item-text
                                    h3: a(href="#") Release 3.0 is out
                                    p Proin metus justo, commodo in ultrices...
                                    small.text-muted 2 days ago
                                .pull-right
                                    .pt-lg: em.icon-2x.ion-checkmark-circled.text-success(tooltip="Active")
                            li.mda-list-item.pl0.bb
                                .mda-list-item-text
                                    h3: a(href="#") Improving compatibility
                                    p Proin metus justo, commodo in ultrices...
                                    small.text-muted 3 days ago
                                .pull-right
                                    .pt-lg: em.icon-2x.ion-checkmark-circled.text-success(tooltip="Active")
                            li.mda-list-item.pl0
                                .mda-list-item-text
                                    h3: a(href="#") Small decisions count
                                    p Proin metus justo, commodo in ultrices...
                                    small.text-muted 3 days ago
                                .pull-right
                                    .pt-lg: em.icon-2x.ion-minus-circled.text-warning(tooltip="Pending")


            // Right column
            .col-md-5.col-lg-4
                .card
                    h5.card-heading
                        // START dropdown
                        .pull-right.dropdown
                            button.btn.btn-default.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li
                                    a(href='#') Action 1
                                li
                                    a(href='#') Action 2
                        // END dropdown
                        | Contacts
                    .mda-list
                        .mda-list-item
                            img.mda-list-item-img(src="img/user/01.jpg", alt="List user")
                            .mda-list-item-text.mda-2-line
                                h3: a(href="#") Eric Graves
                                .text-muted.text-ellipsis Ut ac nisi id mauris
                        .mda-list-item
                            img.mda-list-item-img(src="img/user/02.jpg", alt="List user")
                            .mda-list-item-text.mda-2-line
                                h3: a(href="#") Jessie Cox
                                .text-muted.text-ellipsis Sed lacus nisl luctus
                        .mda-list-item
                            img.mda-list-item-img(src="img/user/03.jpg", alt="List user")
                            .mda-list-item-text.mda-2-line
                                h3: a(href="#") Marie Hall
                                .text-muted.text-ellipsis Donec congue sagittis mi
                        .mda-list-item
                            img.mda-list-item-img(src="img/user/04.jpg", alt="List user")
                            .mda-list-item-text.mda-2-line
                                h3: a(href="#") Guy Carpenter
                                .text-muted.text-ellipsis Donec convallis arcu sit
                    .card-body.pv0.text-right
                        a.btn.btn-flat.btn-info(href="#") View all
                    .card-divider
                    h5.card-heading Activity
                    .card-body.pb0
                        p.pull-left.mr
                            em.ion-record.text-info
                        .oh
                            p
                                strong.mr-sm Added
                                span.mr-sm a new issue
                                a(href="#") #5478
                            .clearfix
                                .pull-left.text-muted
                                    em.ion-android-time.mr-sm
                                    span an hour ago
                    .card-body.pb0
                        p.pull-left.mr
                            em.ion-record.text-danger
                        .oh
                            p
                                strong.mr-sm Commented
                                span.mr-sm  on the project
                                a(href="#") Material
                            p.bl.pl: i That's awesome!
                            .clearfix
                                .pull-left.text-muted
                                    em.ion-android-time.mr-sm
                                    span 2 hours ago
                    .card-body.pb0
                        p.pull-left.mr
                            em.ion-record.text-success
                        .oh
                            p
                                strong.mr-sm Completed
                                span  all tasks asigned this week
                            .clearfix
                                .pull-left.text-muted
                                    em.ion-android-time.mr-sm
                                    span 3 hours ago
                    .card-body.pb0
                        p.pull-left.mr
                            em.ion-record.text-info
                        .oh
                            p
                                strong.mr-sm Published
                                span.mr-sm  new photos on the album
                                a(href="#") WorldTrip
                            p
                                a(href="#"): img.mr-sm.thumb48(src="img/pic4.jpg", alt="Pic")
                                a(href="#"): img.mr-sm.thumb48(src="img/pic5.jpg", alt="Pic")
                                a(href="#"): img.mr-sm.thumb48(src="img/pic6.jpg", alt="Pic")
                            .clearfix
                                .pull-left.text-muted
                                    em.ion-android-time.mr-sm
                                    span 4 hours ago
                    .card-body
                        .clearfix
                            p.pull-left.mr
                                em.ion-record.text-primary
                            .oh
                                p
                                    strong.mr-sm Following
                                    span.mr-sm Jane Kuhn
                                p
                                    span.image-list
                                        a(href="#"): img.img-circle.thumb32(src="img/user/03.jpg", alt="User")
                                        a(href="#"): img.img-circle.thumb32(src="img/user/04.jpg", alt="User")
                                        a(href="#"): img.img-circle.thumb32(src="img/user/05.jpg", alt="User")
                                        a(href="#"): img.img-circle.thumb32(src="img/user/06.jpg", alt="User")
                                        a(href="#"): img.img-circle.thumb32(src="img/user/07.jpg", alt="User")
                                        strong: a.ml-sm.link-unstyled(href="#") +200
                                .clearfix
                                    .pull-left.text-muted
                                        em.ion-android-time.mr-sm
                                        span yesterday
