extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Boxed Layout'
block content
    .container.container-md
        .card
            .card-body
                h2.text-center Big card with cards
                .row
                    .col-md-6
                        .card
                            .card-heading
                                .pull-right
                                    button.btn.btn-default.btn-flat.btn-flat-icon(type='button')
                                        em.ion-android-more-vertical
                                .card-title Morbi a odio
                            .card-body Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. 
                    .col-md-6
                        .card
                            .card-heading
                                .pull-right
                                    button.btn.btn-default.btn-flat.btn-flat-icon(type='button')
                                        em.ion-android-more-vertical
                                .card-title Morbi a odio
                            .card-body Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. 
                    .col-md-6
                        .card
                            .card-heading
                                .pull-right
                                    button.btn.btn-default.btn-flat.btn-flat-icon(type='button')
                                        em.ion-android-more-vertical
                                .card-title Morbi a odio
                            .card-body Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. 
                    .col-md-6
                        .card
                            .card-heading
                                .pull-right
                                    button.btn.btn-default.btn-flat.btn-flat-icon(type='button')
                                        em.ion-android-more-vertical
                                .card-title Morbi a odio
                            .card-body Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. 
        .card
            .card-body
                h2.text-center Big card with cards
                .row
                    .col-md-6
                        .card
                            .card-heading
                                .pull-right
                                    button.btn.btn-default.btn-flat.btn-flat-icon(type='button')
                                        em.ion-android-more-vertical
                                .card-title Morbi a odio
                            .card-body Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. 
                    .col-md-6
                        .card
                            .card-heading
                                .pull-right
                                    button.btn.btn-default.btn-flat.btn-flat-icon(type='button')
                                        em.ion-android-more-vertical
                                .card-title Morbi a odio
                            .card-body Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. 
                    .col-md-6
                        .card
                            .card-heading
                                .pull-right
                                    button.btn.btn-default.btn-flat.btn-flat-icon(type='button')
                                        em.ion-android-more-vertical
                                .card-title Morbi a odio
                            .card-body Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. 
                    .col-md-6
                        .card
                            .card-heading
                                .pull-right
                                    button.btn.btn-default.btn-flat.btn-flat-icon(type='button')
                                        em.ion-android-more-vertical
                                .card-title Morbi a odio
                            .card-body Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. 
