extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Columns Layout'
block content
    .container-full
        .row.fh.bg-white
            .col-md-3.fh-md.oa.text-center
                .p-lg
                    h5 Left Column
                    p.text-center Nullam pretium fermentum sapien ut convallis.
                .p-lg
                    p Pellentesque sed purus libero. Nam eleifend, ipsum at suscipit pellentesque, diam enim dignissim nunc, eu egestas sem velit vel nunc. Phasellus vel nisl orci.
            .col-md-6.fh-md.oa.text-center.bg-gray-lighter
                h2 Content
                p.lead Content with auto scrolling
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                p.lead Bottom
            .col-md-3.fh-md.oa.text-center
                .p-lg
                    h5 Right Column
                    p.text-center Nullam pretium fermentum sapien ut convallis.
                .p-lg
                    p Pellentesque sed purus libero. Nam eleifend, ipsum at suscipit pellentesque, diam enim dignissim nunc, eu egestas sem velit vel nunc. Phasellus vel nisl orci.
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                p.lead Bottom