extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Overlap Layout'
block content
    .container-overlap.bg-indigo-500
        .container.container-md
            h2 Proin suscipit porta diam id mollis.
    .container.container-md
        .card
            .card-body.reader-block
                h3 Cras in nisl odio.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet vulputate mauris. Maecenas tincidunt tempus sapien id ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In lacinia tellus vitae nisl consectetur pellentesque. Nulla facilisi. Suspendisse non tortor in quam tincidunt sagittis ac id dui. Mauris eleifend, libero nec cursus lacinia, tellus est pharetra orci, et pretium urna felis eget neque. Pellentesque ut diam velit, eget porttitor risus. 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet vulputate mauris. Maecenas tincidunt tempus sapien id ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In lacinia tellus vitae nisl consectetur pellentesque. Nulla facilisi. Suspendisse non tortor in quam tincidunt sagittis ac id dui. Mauris eleifend, libero nec cursus lacinia, tellus est pharetra orci, et pretium urna felis eget neque. Pellentesque ut diam velit, eget porttitor risus. 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet vulputate mauris. Maecenas tincidunt tempus sapien id ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In lacinia tellus vitae nisl consectetur pellentesque. Nulla facilisi. Suspendisse non tortor in quam tincidunt sagittis ac id dui. Mauris eleifend, libero nec cursus lacinia, tellus est pharetra orci, et pretium urna felis eget neque. Pellentesque ut diam velit, eget porttitor risus. 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet vulputate mauris. Maecenas tincidunt tempus sapien id ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In lacinia tellus vitae nisl consectetur pellentesque. Nulla facilisi. Suspendisse non tortor in quam tincidunt sagittis ac id dui. Mauris eleifend, libero nec cursus lacinia, tellus est pharetra orci, et pretium urna felis eget neque. Pellentesque ut diam velit, eget porttitor risus. 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet vulputate mauris. Maecenas tincidunt tempus sapien id ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In lacinia tellus vitae nisl consectetur pellentesque. Nulla facilisi. Suspendisse non tortor in quam tincidunt sagittis ac id dui. Mauris eleifend, libero nec cursus lacinia, tellus est pharetra orci, et pretium urna felis eget neque. Pellentesque ut diam velit, eget porttitor risus. 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet vulputate mauris. Maecenas tincidunt tempus sapien id ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In lacinia tellus vitae nisl consectetur pellentesque. Nulla facilisi. Suspendisse non tortor in quam tincidunt sagittis ac id dui. Mauris eleifend, libero nec cursus lacinia, tellus est pharetra orci, et pretium urna felis eget neque. Pellentesque ut diam velit, eget porttitor risus. 

