/**
 * Vector Maps
 */

@import '../common/variables';
@import '../common/mixins';

.vector-map {
    height: 400px;
    svg {
        width: 100%;
    }
    .jvectormap-container {
        background-color: transparent !important;
    }

    .jvectormap-zoomin,
    .jvectormap-zoomout {
        position: absolute;
        left: 10px;
        width: 22px;
        height: 22px;
        border-radius: 2px;
        background: @vectormap-zoom-ctrl-bg;
        padding: 5px;
        color: white;
        cursor: pointer;
        line-height: 10px;
        text-align: center;
    }
    .jvectormap-zoomin {top: 10px;}
    .jvectormap-zoomout {top: 30px;}
}

.jvectormap-label {
    position: absolute;
    display: none;
    border: solid 1px @vectormap-label-bg;
    border-radius: 2px;
    background: @vectormap-label-bg;
    color: white;
    padding: 3px 6px;
    opacity: 0.9;
    z-index: 11;
}