@{
    ViewData["Title"] = "Layout Columns";
}
<div class="container-full">
  <div class="row fh bg-white">
    <div class="col-md-3 fh-md oa text-center">
      <div class="p-lg">
        <h5>Left Column</h5>
        <p class="text-center">Nullam pretium fermentum sapien ut convallis.</p>
      </div>
      <div class="p-lg">
        <p>Pellentesque sed purus libero. Nam eleifend, ipsum at suscipit pellentesque, diam enim dignissim nunc, eu egestas sem velit vel nunc. Phasellus vel nisl orci.</p>
      </div>
    </div>
    <div class="col-md-6 fh-md oa text-center bg-gray-lighter">
      <h2>Content</h2>
      <p class="lead">Content with auto scrolling</p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
      <p class="lead">Bottom</p>
    </div>
    <div class="col-md-3 fh-md oa text-center">
      <div class="p-lg">
        <h5>Right Column</h5>
        <p class="text-center">Nullam pretium fermentum sapien ut convallis.</p>
      </div>
      <div class="p-lg">
        <p>Pellentesque sed purus libero. Nam eleifend, ipsum at suscipit pellentesque, diam enim dignissim nunc, eu egestas sem velit vel nunc. Phasellus vel nisl orci.</p>
      </div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
      <p class="lead">Bottom</p>
    </div>
  </div>
</div>