@{
    ViewData["Title"] = "Layout Containers";
}
<div class="container-fluid text-center">
  <h4>Fluid container</h4>
  <p><code>.container-fluid</code></p>
  <div class="container container-lg b">
    <h4 class="text-center">Large container</h4>
    <p><code>.container.container-lg</code></p>
    <div class="container container-md b">
      <h4 class="text-center">Medium container</h4>
      <p><code>.container.container-md</code></p>
      <div class="container container-sm b">
        <h4 class="text-center">Small container</h4>
        <p><code>.container.container-sm</code></p>
      </div>
    </div>
  </div>
</div>