extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Forms Editor'
block content
    .container-fluid
        h5.mt0 Summernote
        p.mb-lg Super simple WYSIWYG Editor based on Bootstrap

        .summernote Pellentesque sollicitudin sollicitudin erat, in imperdiet tortor fringilla ut...

        h5 Summernote airmode
        p.mb-lg To reveal toolbar, select a text where you want to shape up

        .summernote-air.well.reader-block(contenteditable='true')
            h3 Vivamus elit lectus
            p: i Duis cursus consectetur elementum.
            p Suscipit a venenatis id, varius sit amet nunc. Mauris eu lacus massa, vel condimentum lectus. Quisque sollicitudin massa vel erat tincidunt blandit. Nulla mauris sem, hendrerit sed fringilla a, facilisis vitae eros. Donec ullamcorper scelerisque mollis. Donec ac lectus vel nulla pretium porta tempus eget tortor. Pellentesque sed purus libero. Praesent nec eros ac urna dictum ultrices. Donec at feugiat risus.
            p Fusce dolor lacus, interdum eu tincidunt sed, aliquet vel turpis. Nunc luctus, quam non condimentum ornare, orci ligula malesuada lacus, nec sagittis neque augue vel nunc. Quisque congue egestas cursus. Integer lorem metus, rutrum non rhoncus sed, fringilla interdum urna. Curabitur gravida, ante ac imperdiet accumsan, quam nibh porttitor mauris, non luctus sem lectus porta augue. Nunc eget augue mi.
            br
            p Aliquam eget dui tellus.
