<div class="container-fluid">
    <div class="card">
        <div class="card-heading">Basic Map</div>
        <div class="card-body">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]="scrollwheel" [style.height]="'300px'" class="center-block">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
    </div>
    <div class="card">
        <div class="card-heading">Multiple markers</div>
        <div class="card-body">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]="scrollwheel" [style.height]="'300px'" class="center-block">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                <agm-marker [latitude]="33.787453" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
    </div>
</div>
