@{
    ViewData["Title"] = "Grid Masonry";
}
<div class="container container-md">
  <div class="grid">
    <div class="grid-sizer"></div>
    <div class="grid-item">
      <div class="photo">
        <div class="photo-wrapper"><img src="~/images/user/01.jpg" alt="user image" class="img-responsive fw"/>
          <div class="photo-loader">
            <div class="sk-spinner sk-spinner-rotating-plane"></div>
          </div>
        </div>
        <div class="photo-description">
          <h3>Awesome large photo</h3>
          <p>Nice photo, eh.</p>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="photo">
        <div class="photo-wrapper"><img src="~/images/user/02.jpg" alt="user image" class="img-responsive fw"/>
          <div class="photo-loader">
            <div class="sk-spinner sk-spinner-rotating-plane"></div>
          </div>
        </div>
        <div class="photo-description">
          <h3>Great user photo</h3>
          <p>Nice photo, eh.</p>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="photo">
        <div class="photo-wrapper"><img src="~/images/user/03.jpg" alt="user image" class="img-responsive fw"/>
          <div class="photo-loader">
            <div class="sk-spinner sk-spinner-rotating-plane"></div>
          </div>
        </div>
        <div class="photo-description">
          <h3>Silly photo</h3>
          <p>Nice photo, eh.</p>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="photo">
        <div class="photo-wrapper"><img src="~/images/user/04.jpg" alt="user image" class="img-responsive fw"/>
          <div class="photo-loader">
            <div class="sk-spinner sk-spinner-rotating-plane"></div>
          </div>
        </div>
        <div class="photo-description">
          <h3>Is this a photo?</h3>
          <p>Nice photo, eh.</p>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="photo">
        <div class="photo-wrapper"><img src="~/images/user/05.jpg" alt="user image" class="img-responsive fw"/>
          <div class="photo-loader">
            <div class="sk-spinner sk-spinner-rotating-plane"></div>
          </div>
        </div>
        <div class="photo-description">
          <h3>What a photo man!</h3>
          <p>Nice photo, eh.</p>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="photo">
        <div class="photo-wrapper"><img src="~/images/user/02.jpg" alt="user image" class="img-responsive fw"/>
          <div class="photo-loader">
            <div class="sk-spinner sk-spinner-rotating-plane"></div>
          </div>
        </div>
        <div class="photo-description">
          <h3>Silly photo</h3>
          <p>Nice photo, eh.</p>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="photo">
        <div class="photo-wrapper"><img src="~/images/user/01.jpg" alt="user image" class="img-responsive fw"/>
          <div class="photo-loader">
            <div class="sk-spinner sk-spinner-rotating-plane"></div>
          </div>
        </div>
        <div class="photo-description">
          <h3>Weird photo</h3>
          <p>Nice photo, eh.</p>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="photo">
        <div class="photo-wrapper"><img src="~/images/user/04.jpg" alt="user image" class="img-responsive fw"/>
          <div class="photo-loader">
            <div class="sk-spinner sk-spinner-rotating-plane"></div>
          </div>
        </div>
        <div class="photo-description">
          <h3>Bumpy photo</h3>
          <p>Nice photo, eh.</p>
        </div>
      </div>
    </div>
  </div>
</div>