@{
    ViewData["Title"] = "Nestable";
}
<div class="container-fluid">
  <div class="js-nestable-action"><a data-action="expand-all" class="btn btn-default btn-sm mr-sm">Expand All</a><a data-action="collapse-all" class="btn btn-default btn-sm">CollapseAll</a></div>
  <div class="row">
    <div class="col-md-6">
      <div id="nestable" class="dd">
        <ol class="dd-list">
          <li data-id="1" class="dd-item">
            <div class="card b0 dd-handle">
              <div class="mda-list">
                <div class="mda-list-item">
                  <div class="mda-list-item-icon item-grab"><em class="ion-drag icon-lg"></em></div>
                  <div class="mda-list-item-icon bg-info"><em class="ion-coffee icon-lg"></em></div>
                  <div class="mda-list-item-text mda-2-line">
                    <h3>Cassandra Gutierrez</h3>
                    <h4>Brunch this weekend?</h4>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li data-id="2" class="dd-item">
            <div class="card b0 dd-handle">
              <div class="mda-list">
                <div class="mda-list-item">
                  <div class="mda-list-item-icon item-grab"><em class="ion-drag icon-lg"></em></div>
                  <div class="mda-list-item-icon bg-info"><em class="ion-coffee icon-lg"></em></div>
                  <div class="mda-list-item-text mda-2-line">
                    <h3>Vincent Morgan</h3>
                    <h4>Brunch this weekend?</h4>
                  </div>
                </div>
              </div>
            </div>
            <ol class="dd-list">
              <li data-id="3" class="dd-item">
                <div class="card b0 dd-handle">
                  <div class="mda-list">
                    <div class="mda-list-item">
                      <div class="mda-list-item-icon item-grab"><em class="ion-drag icon-lg"></em></div>
                      <div class="mda-list-item-icon bg-info"><em class="ion-coffee icon-lg"></em></div>
                      <div class="mda-list-item-text mda-2-line">
                        <h3>Vivan Jennings</h3>
                        <h4>Brunch this weekend?</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li data-id="4" class="dd-item">
                <div class="card b0 dd-handle">
                  <div class="mda-list">
                    <div class="mda-list-item">
                      <div class="mda-list-item-icon item-grab"><em class="ion-drag icon-lg"></em></div>
                      <div class="mda-list-item-icon bg-info"><em class="ion-coffee icon-lg"></em></div>
                      <div class="mda-list-item-text mda-2-line">
                        <h3>Jason Foster</h3>
                        <h4>Brunch this weekend?</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li data-id="5" class="dd-item">
                <div class="card b0 dd-handle">
                  <div class="mda-list">
                    <div class="mda-list-item">
                      <div class="mda-list-item-icon item-grab"><em class="ion-drag icon-lg"></em></div>
                      <div class="mda-list-item-icon bg-info"><em class="ion-coffee icon-lg"></em></div>
                      <div class="mda-list-item-text mda-2-line">
                        <h3>Taylor Grant</h3>
                        <h4>Brunch this weekend?</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <ol class="dd-list">
                  <li data-id="6" class="dd-item">
                    <div class="card b0 dd-handle">
                      <div class="mda-list">
                        <div class="mda-list-item">
                          <div class="mda-list-item-icon item-grab"><em class="ion-drag icon-lg"></em></div>
                          <div class="mda-list-item-icon bg-info"><em class="ion-coffee icon-lg"></em></div>
                          <div class="mda-list-item-text mda-2-line">
                            <h3>Lorraine Cooper</h3>
                            <h4>Brunch this weekend?</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ol>
              </li>
            </ol>
          </li>
          <li data-id="11" class="dd-item">
            <div class="card b0 dd-handle">
              <div class="mda-list">
                <div class="mda-list-item">
                  <div class="mda-list-item-icon item-grab"><em class="ion-drag icon-lg"></em></div>
                  <div class="mda-list-item-icon bg-info"><em class="ion-coffee icon-lg"></em></div>
                  <div class="mda-list-item-text mda-2-line">
                    <h3>Daryl Flores</h3>
                    <h4>Brunch this weekend?</h4>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ol>
      </div>
      <p>Output</p>
      <div id="nestable-output" class="well"></div>
    </div>
  </div>
</div>