@{
    ViewData["Title"] = "Forms Advanced";
}
<div class="container-fluid">
  <!-- UISELECT-->
  <div class="card">
    <div class="card-heading">
      <div class="card-title">Select2</div>
      <div class="text-muted">jQuery based replacement for select boxes</div>
    </div>
    <div class="card-body">
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-md-3 col-sm-4">
            <p class="m0">Basics</p>
          </div>
          <div class="col-md-5 col-sm-8">
            <select id="select2-1" class="form-control">
              <option value="AL">Alabama</option>
              <option value="AR">Arkansas</option>
              <option value="IL">Illinois</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="OK">Oklahoma</option>
              <option value="SD">South Dakota</option>
              <option value="TX">Texas</option>
              <option value="TN">Tennessee</option>
              <option value="WI">Wisconsin</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-3 col-sm-4">
            <p class="m0">Multiple</p>
          </div>
          <div class="col-md-5 col-sm-8">
            <select id="select2-2" class="form-control">
              <optgroup label="Alaskan/Hawaiian Time Zone">
                <option value="AK">Alaska</option>
                <option value="HI">Hawaii</option>
              </optgroup>
              <optgroup label="Pacific Time Zone">
                <option value="CA">California</option>
                <option value="NV">Nevada</option>
                <option value="OR">Oregon</option>
                <option value="WA">Washington</option>
              </optgroup>
              <optgroup label="Mountain Time Zone">
                <option value="AZ">Arizona</option>
                <option value="CO">Colorado</option>
                <option value="ID">Idaho</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NM">New Mexico</option>
                <option value="ND">North Dakota</option>
                <option value="UT">Utah</option>
                <option value="WY">Wyoming</option>
              </optgroup>
              <optgroup label="Central Time Zone">
                <option value="AL">Alabama</option>
                <option value="AR">Arkansas</option>
                <option value="IL">Illinois</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="OK">Oklahoma</option>
                <option value="SD">South Dakota</option>
                <option value="TX">Texas</option>
                <option value="TN">Tennessee</option>
                <option value="WI">Wisconsin</option>
              </optgroup>
              <optgroup label="Eastern Time Zone">
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="IN">Indiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="OH">Ohio</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WV">West Virginia</option>
              </optgroup>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-3 col-sm-4">
            <p class="m0">Multiple Pills</p>
          </div>
          <div class="col-md-5 col-sm-8">
            <select id="select2-3" multiple="multiple" class="form-control">
              <optgroup label="Alaskan/Hawaiian Time Zone">
                <option value="AK" selected="selected">Alaska</option>
                <option value="HI">Hawaii</option>
              </optgroup>
              <optgroup label="Pacific Time Zone">
                <option value="CA">California</option>
                <option value="NV">Nevada</option>
                <option value="OR">Oregon</option>
                <option value="WA">Washington</option>
              </optgroup>
              <optgroup label="Mountain Time Zone">
                <option value="AZ">Arizona</option>
                <option value="CO">Colorado</option>
                <option value="ID">Idaho</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NM">New Mexico</option>
                <option value="ND">North Dakota</option>
                <option value="UT">Utah</option>
                <option value="WY">Wyoming</option>
              </optgroup>
              <optgroup label="Central Time Zone">
                <option value="AL">Alabama</option>
                <option value="AR">Arkansas</option>
                <option value="IL">Illinois</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="OK">Oklahoma</option>
                <option value="SD">South Dakota</option>
                <option value="TX">Texas</option>
                <option value="TN">Tennessee</option>
                <option value="WI">Wisconsin</option>
              </optgroup>
              <optgroup label="Eastern Time Zone">
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="IN">Indiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="OH">Ohio</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WV">West Virginia</option>
              </optgroup>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-3 col-sm-4">
            <p class="m0">Placeholders</p>
          </div>
          <div class="col-md-5 col-sm-8">
            <select id="select2-4" class="form-control">
              <optgroup label="Alaskan/Hawaiian Time Zone">
                <option value="AK">Alaska</option>
                <option value="HI">Hawaii</option>
              </optgroup>
              <optgroup label="Pacific Time Zone">
                <option value="CA">California</option>
                <option value="NV">Nevada</option>
                <option value="OR">Oregon</option>
                <option value="WA">Washington</option>
              </optgroup>
              <optgroup label="Mountain Time Zone">
                <option value="AZ">Arizona</option>
                <option value="CO">Colorado</option>
                <option value="ID">Idaho</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NM">New Mexico</option>
                <option value="ND">North Dakota</option>
                <option value="UT">Utah</option>
                <option value="WY">Wyoming</option>
              </optgroup>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END UISELECT-->
  <div class="card">
    <div class="card-heading">Calendar</div>
    <div class="card-body">
      <div class="row text-center">
        <div class="col-lg-4">
          <div id="example-datepicker-1" data-date="12/13/2016" class="ui-datepicker datepicker-standalone dp-theme-primary"></div>
        </div>
        <div class="col-lg-4">
          <div id="example-datepicker-2" data-date="12/13/2016" class="ui-datepicker datepicker-standalone dp-theme-info"></div>
        </div>
        <div class="col-lg-4">
          <div id="example-datepicker-3" data-date="12/13/2016" class="ui-datepicker datepicker-standalone dp-theme-pink"></div>
        </div>
      </div>
      <h5>Popup</h5>
      <div id="example-datepicker-container-4" class="rel-wrapper ui-datepicker ui-datepicker-popup dp-theme-primary">
        <div class="mda-form-control">
          <input id="example-datepicker-4" type="text" data-date="12/13/2016" placeholder="Select a date.." class="form-control"/>
          <div class="mda-form-control-line"></div>
        </div>
      </div>
      <h5>Range</h5>
      <div id="example-datepicker-container-5" class="rel-wrapper ui-datepicker ui-datepicker-popup dp-theme-success">
        <div id="example-datepicker-5" class="input-daterange input-group mda-input-group">
          <div class="mda-form-control">
            <input type="text" name="start" value="01/16/2016" class="form-control"/>
            <div class="mda-form-control-line"></div>
          </div><span class="input-group-addon">to</span>
          <div class="mda-form-control">
            <input type="text" name="end" value="02/12/2016" class="form-control"/>
            <div class="mda-form-control-line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-heading">Time picker</div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-5">
          <div data-autoclose="true" class="mda-form-group mda-input-group clockpicker">
            <div class="mda-form-control">
              <input type="text" value="09:30" class="form-control"/>
              <div class="mda-form-control-line"></div>
            </div><span class="mda-input-group-addon"><span class="ion-clock"></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-heading">Range Sliders</div>
    <div class="card-body">
      <p>Single</p>
      <div data-start="40" class="ui-slider mb-lg"></div>
      <p>Range</p>
      <div class="ui-slider-range mb-lg"></div>
      <p class="clearfix"><span class="pull-left">Live values</span><span class="pull-right"><strong id="ui-slider-value-lower" class="text-muted"></strong><span class="mh">-</span><strong id="ui-slider-value-upper" class="text-muted"></strong></span></p>
      <div class="ui-slider-values m-b-15"></div>
      <p class="mv-lg">Color options</p>
      <div class="ui-slider-range ui-slider-success"></div>
      <div class="pv"></div>
      <div class="ui-slider-range ui-slider-info"></div>
      <div class="pv"></div>
      <div class="ui-slider-range ui-slider-warning"></div>
      <div class="pv"></div>
      <div class="ui-slider-range ui-slider-danger"></div>
      <div class="pv"></div>
      <div class="ui-slider-range ui-slider-inverse"></div>
      <div class="pv"></div>
    </div>
  </div>
  <div class="card">
    <div class="card-heading">Note editors (textarea)</div>
    <div class="card-body">
      <div class="panel">
        <div class="panel-body">
          <div class="note-area">
            <textarea rows="10" class="form-control">In elementum magna sed sapien gravida scelerisque.</textarea>
          </div>
        </div>
      </div>
      <p>With margin</p>
      <div class="panel">
        <div class="panel-body">
          <div class="note-area note-area-margin">
            <textarea rows="10" class="form-control">Curabitur tellus mauris, fringilla sed tempus eget, convallis id orci.</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-heading">Color pickers</div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="panel">
            <div class="panel-heading">Picker 2x</div>
            <div class="panel-body">
              <div class="mda-form-control">
                <input id="cp-demo-basic" type="text" value="#5367ce" class="form-control"/>
                <div class="mda-form-control-line"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel">
            <div class="panel-heading">Hex format</div>
            <div class="panel-body">
              <div class="mda-form-control">
                <input id="cp-demo-hex" type="text" data-format="hex" value="#5367ce" class="form-control"/>
                <div class="mda-form-control-line"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="panel">
            <div class="panel-heading">Component</div>
            <div class="panel-body">
              <div id="cp-demo-component" class="mda-input-group input-group">
                <div class="mda-form-control">
                  <input type="text" value="#5367ce" class="form-control pl-sm"/>
                  <div class="mda-form-control-line"></div>
                </div><span class="input-group-addon bg-transparent b0"><i></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel">
            <div class="panel-heading">Bootstrap colors</div>
            <div class="panel-body">
              <div class="mda-form-control">
                <input id="cp-demo-bootstrap" type="text" data-format="hex" value="success" class="form-control"/>
                <div class="mda-form-control-line"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br/><br/><br/><br/>
</div>