@{
    ViewData["Title"] = "Dashboard";
}

<div class="content-heading bg-white">
  <div class="row">
    <div class="col-sm-9">
      <h4 class="m0 text-thin">Welcome to Centric dashboard</h4><small>Bootstrap admin dashboard template</small>
    </div>
    <div class="col-sm-3 text-right hidden-xs">
      <button type="button" class="mt-sm btn btn-labeled btn-default ripple">Apps<span class="btn-label btn-label-right"><i class="ion-plus-round"></i></span></button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-lg-3">
      <div class="card">
        <div class="card-body pv">
          <div class="clearfix">
            <div class="pull-left">
              <h4 class="m0 text-thin">350</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>New visitors</small>
            </div>
            <div class="pull-right mt-lg">
              <div id="sparkline2" data-line-color="#4caf50" class="sparkline"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-lg-3">
      <div class="card">
        <div class="card-body pv">
          <div class="clearfix">
            <div class="pull-left">
              <h4 class="m0 text-thin">10,200</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-down-b"></em>Page views</small>
            </div>
            <div class="pull-right mt-lg">
              <div id="sparkline1" data-line-color="#03A9F4" class="sparkline"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-lg-3 visible-lg">
      <div class="card">
        <div class="card-body pv">
          <div class="clearfix">
            <div class="pull-left">
              <h4 class="m0 text-thin">880</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>Last income</small>
            </div>
            <div class="pull-right mt-lg">
              <div id="sparkline3" data-line-color="#ab47bc" class="sparkline"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-lg-3 visible-lg">
      <div class="card">
        <div class="card-body pv">
          <div class="clearfix">
            <div class="pull-left">
              <h4 class="m0 text-thin">780</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>Reservations</small>
            </div>
            <div class="pull-right mt-lg">
              <div id="sparkline4" data-line-color="#e91e63" class="sparkline"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-12">
      <div class="row">
        <div class="col-lg-8">
          <div class="card">
            <div class="card-heading">
              <!-- START dropdown-->
              <div class="pull-right dropdown">
                <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon ripple"><em class="ion-android-more-vertical"></em></button>
                <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                  <li><a href="">Last 30 days</a></li>
                  <li><a href="">Last week</a></li>
                  <li><a href="">Last year</a></li>
                </ul>
              </div>
              <!-- END dropdown-->
              <div class="card-title">Analytic board</div><small>Nulla commodo blandit cursus.</small>
            </div>
            <div class="card-body">
              <div role="group" aria-label="..." class="pull-right pr-sm btn-group btn-group-sm">
                <button type="button" class="btn btn-default btn-xs btn-default">Total</button>
                <button type="button" class="btn btn-default btn-xs btn-default">Average</button>
              </div>
              <div id="flot-main-spline" class="flot-chart flot-chart-lg flot-legend-left"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-heading">
              <div class="pull-right">
                <p class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>20%</p>
              </div>
              <div class="card-title">Earnings</div><small>Based on last month analytics.</small>
            </div>
            <div class="card-body">
              <div role="group" aria-label="..." class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default btn-xs btn-default">2015</button>
                <button type="button" class="btn btn-default btn-xs btn-default">2016</button>
              </div>
              <div id="flot-stacked-chart" data-height="245px" class="flot-chart"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <div class="card-heading">
              <div class="pull-right"><span class="mr"><em class="ion-record spr text-primary"></em><small class="va-middle">2016</small></span><span><em class="ion-record spr text-success"></em><small class="va-middle">2015</small></span></div>
              <div class="card-title">Sales</div>
            </div>
            <div class="card-body">
              <div id="flot-bar-chart" data-height="235" class="flot-chart flot-chart-md"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-8">
          <div class="card">
            <!-- START table-responsive-->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Project</th>
                    <th>Completion</th>
                    <th class="text-right">Trend</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="va-middle"><span class="badge bg-pink-500">1</span></td>
                    <td>
                      <p class="m0">Vestibulum<br/><small class="text-thin">Nunc posuere eleifend lobortis.</small></p>
                    </td>
                    <td class="va-middle">50%</td>
                    <td class="text-right va-middle"><em class="ion-arrow-graph-up-right text-success"></em></td>
                  </tr>
                  <tr>
                    <td class="va-middle"><span class="badge bg-purple-400">2</span></td>
                    <td>
                      <p class="m0">Runfaster<br/><small class="text-thin">Nunc posuere eleifend lobortis.</small></p>
                    </td>
                    <td class="va-middle">30%</td>
                    <td class="text-right va-middle"><em class="ion-arrow-graph-down-right text-warning"></em></td>
                  </tr>
                  <tr>
                    <td class="va-middle"><span class="badge bg-indigo-500">3</span></td>
                    <td>
                      <p class="m0">Medic Healthcare<br/><small class="text-thin">Nunc posuere eleifend lobortis.</small></p>
                    </td>
                    <td class="va-middle">80%</td>
                    <td class="text-right va-middle"><em class="ion-arrow-graph-up-right text-success"></em></td>
                  </tr>
                  <tr>
                    <td class="va-middle"><span class="badge bg-info">4</span></td>
                    <td>
                      <p class="m0">Videotubeyou<br/><small class="text-thin">Nunc posuere eleifend lobortis.</small></p>
                    </td>
                    <td class="va-middle">50%</td>
                    <td class="text-right va-middle"><em class="ion-arrow-graph-down-right text-warning"></em></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- END table-responsive-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-xs-12">
      <!-- Activity feed-->
      <div class="card">
        <div class="card-heading">
          <!-- START dropdown-->
          <div class="pull-right dropdown">
            <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
            <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
              <li><a href="">Last 30 days</a></li>
              <li><a href="">Last week</a></li>
              <li><a href="">Last year</a></li>
            </ul>
          </div>
          <!-- END dropdown-->
          <div class="card-title">Activity</div><small>What's people doing right now</small>
        </div>
        <div class="card-body bb">
          <p class="pull-left mr"><a href=""><img src="~/images/user/04.jpg" alt="User" class="img-circle thumb32"/></a></p>
          <div class="oh">
            <p><strong class="spr">Adam</strong><span class="spr">posted in</span><a href="">Material</a></p>
            <p class="bl pl"><i>That's awesome!</i></p>
            <div class="clearfix">
              <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>2 hours ago</span></div>
            </div>
          </div>
        </div>
        <div class="card-body bb">
          <p class="pull-left mr"><a href=""><img src="~/images/user/06.jpg" alt="User" class="img-circle thumb32"/></a></p>
          <div class="oh">
            <p><strong class="spr">Dora</strong><span>added a new task</span></p>
            <p><em class="ion-calendar icon-fw"></em><a href="">Start migration</a></p>
            <div class="clearfix">
              <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>3 hours ago</span></div>
              <div class="pull-right"><span>2</span><em class="ion-star ml-sm text-warning"></em></div>
            </div>
          </div>
        </div>
        <div class="card-body bb">
          <p class="pull-left mr"><a href=""><img src="~/images/user/07.jpg" alt="User" class="img-circle thumb32"/></a></p>
          <div class="oh">
            <p><strong class="spr">Kathryn</strong><span class="spr">published</span><a href="">Trip</a></p>
            <p><a href=""><img src="~/images/pic1.jpg" alt="Pic" class="mr-sm thumb48"/></a><a href=""><img src="~/images/pic2.jpg" alt="Pic" class="mr-sm thumb48"/></a></p>
            <div class="clearfix">
              <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>4 hours ago</span></div>
              <div class="pull-right"><span>2</span><em class="ion-ios-heart ml-sm text-danger"></em></div>
            </div>
          </div>
        </div>
        <div class="card-body bb">
          <p class="pull-left mr"><a href=""><img src="~/images/user/02.jpg" alt="User" class="img-circle thumb32"/></a></p>
          <div class="oh">
            <p><strong class="spr">Daniel</strong><span class="spr">joined to</span><a href="">Group</a></p>
            <p><span class="image-list"><a href=""><img src="~/images/user/03.jpg" alt="User" class="img-circle thumb32"/></a><a href=""><img src="~/images/user/04.jpg" alt="User" class="img-circle thumb32"/></a><a href=""><img src="~/images/user/05.jpg" alt="User" class="img-circle thumb32"/></a><a href=""><img src="~/images/user/07.jpg" alt="User" class="img-circle thumb32"/></a><strong><a href="" class="ml-sm link-unstyled">+3</a></strong></span></p>
            <div class="clearfix">
              <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>yesterday</span></div>
            </div>
          </div>
        </div>
        <div class="card-body bb">
          <p class="pull-left mr"><a href=""><img src="~/images/user/03.jpg" alt="User" class="img-circle thumb32"/></a></p>
          <div class="oh">
            <p><strong class="spr">Leroy Day</strong><span class="spr">wakes up!</span></p>
            <p class="bl pl"><i>That's awesome!</i></p>
            <div class="clearfix">
              <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>2 weeks ago</span></div>
            </div>
          </div>
        </div><a href="" class="card-footer btn btn-flat btn-default"><small class="text-center text-muted lh1">See more activities</small></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-heading bg-pink-500 ripple ripple-block">
          <div class="card-title text-center"><small>October</small>
            <h4 class="mv-sm text-md">12</h4><span>Monday</span>
          </div>
        </div>
        <div class="ui-datepicker-responsive">
          <div id="dashboard-datepicker" data-date="04/04/2016" class="ui-datepicker"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-heading">
          <div class="card-title">
            <div class="pull-right"><em class="ion-ios-people text-soft icon-lg"></em></div>Resources distribution
          </div>
        </div>
        <div class="card-body pt0">
          <div id="vector-map" style="height:240px" class="vector-map"></div>
        </div>
        <ul class="list-group m0">
          <li class="list-group-item"><span>Silicon Valley</span><span class="badge badge-xs bg-green-500">15</span></li>
          <li class="list-group-item"><span>Chicago</span><span class="badge badge-xs bg-pink-500">9</span></li>
          <li class="list-group-item"><span>Houston</span><span class="badge badge-xs bg-purple-500">3</span></li>
          <li class="list-group-item"><span>Others</span><span class="badge badge-xs bg-blue-500">25</span></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card">
        <div class="card-heading">
          <div class="card-title">
            <div class="pull-right"><a href=""><em class="ion-plus-round text-soft"></em></a></div>Tasks
          </div>
        </div>
        <div class="card-body text-center pt0">
          <div id="dashboard-easypiechartTask" data-percent="85" class="easypie-chart block-center"><small class="percentage">Goal</small></div>
          <p class="mv">85% productivity</p>
        </div>
        <div class="list-group m0"><a href="" class="list-group-item bt0"><span class="text-sm">Work on project presentation</span><span class="pull-right"><em class="ion-ios-arrow-right"></em></span></a><a href="" class="list-group-item"><span class="text-sm">Prepare a call with Robert</span><span class="pull-right"><em class="ion-ios-arrow-right"></em></span></a><a href="" class="list-group-item"><span class="text-sm">Release a new version</span><span class="pull-right"><em class="ion-ios-arrow-right"></em></span></a><a href="" class="list-group-item bb0"><span class="text-sm">Tell Houston there's no problem</span><span class="pull-right"><em class="ion-ios-arrow-right"></em></span></a></div>
        <div id="flot-task-chart" data-height="90" class="flot-chart flot-chart-sm"></div>
      </div>
    </div>
  </div>
</div>