﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Bootstrap Admin Template">
        <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">

        <title>@ViewData["Title"] - Centric - Bootstrap Admin Template + MVC6</title>

        <environment names="Development">
            <!-- Animate.CSS-->
            <link rel="stylesheet" href="~/lib/animate.css/animate.css">
            <!-- Bootstrap-->
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
            <!-- Ionicons-->
            <link rel="stylesheet" href="~/lib/ionicons/css/ionicons.css">
            <!-- Bluimp Gallery-->
            <link rel="stylesheet" href="~/lib/blueimp-gallery/css/blueimp-gallery.css">
            <link rel="stylesheet" href="~/lib/blueimp-gallery/css/blueimp-gallery-indicator.css">
            <link rel="stylesheet" href="~/lib/blueimp-gallery/css/blueimp-gallery-video.css">
            <!-- Datepicker-->
            <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
            <!-- Rickshaw-->
            <link rel="stylesheet" href="~/lib/rickshaw/rickshaw.css">
            <!-- Select2-->
            <link rel="stylesheet" href="~/lib/select2/dist/css/select2.css">
            <!-- Clockpicker-->
            <link rel="stylesheet" href="~/lib/clockpicker/dist/bootstrap-clockpicker.css">
            <!-- Range Slider-->
            <link rel="stylesheet" href="~/lib/nouislider/distribute/nouislider.min.css">
            <!-- ColorPicker-->
            <link rel="stylesheet" href="~/lib/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css">
            <!-- Summernote-->
            <link rel="stylesheet" href="~/lib/summernote/dist/summernote.css">
            <!-- Dropzone-->
            <link rel="stylesheet" href="~/lib/dropzone/dist/basic.css">
            <link rel="stylesheet" href="~/lib/dropzone/dist/dropzone.css">
            <!-- Xeditable-->
            <link rel="stylesheet" href="~/lib/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css">
            <!-- Bootgrid-->
            <link rel="stylesheet" href="~/lib/jquery.bootgrid/dist/jquery.bootgrid.css">
            <!-- Datatables-->
            <link rel="stylesheet" href="~/lib/datatables/media/css/jquery.dataTables.css">
            <!-- Sweet Alert-->
            <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css">
            <!-- Loaders.CSS-->
            <link rel="stylesheet" href="~/lib/loaders.css/loaders.css">
            <!-- Material Floating Button-->
            <link rel="stylesheet" href="~/lib/ng-material-floating-button/mfb/dist/mfb.css">
            <!-- Material Colors-->
            <link rel="stylesheet" href="~/lib/material-colors/dist/colors.css">

            <!-- Optional styles -->
            @if (IsSectionDefined("Styles"))
            {@RenderSection("Styles", required: false)}

            <!-- Application -->
            <link rel="stylesheet" href="~/css/app.css" />

        </environment>

        <environment names="Staging,Production">
            <!-- Animate.CSS -->
            <link rel="stylesheet" href="~/lib/animate.css/animate.css">
            <!-- Bootstrap-->
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
            <!-- Ionicons-->
            <link rel="stylesheet" href="~/lib/ionicons/css/ionicons.css">
            <!-- Bluimp Gallery-->
            <link rel="stylesheet" href="~/lib/blueimp-gallery/css/blueimp-gallery.css">
            <link rel="stylesheet" href="~/lib/blueimp-gallery/css/blueimp-gallery-indicator.css">
            <link rel="stylesheet" href="~/lib/blueimp-gallery/css/blueimp-gallery-video.css">
            <!-- Datepicker-->
            <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
            <!-- Rickshaw-->
            <link rel="stylesheet" href="~/lib/rickshaw/rickshaw.css">
            <!-- Select2-->
            <link rel="stylesheet" href="~/lib/select2/dist/css/select2.css">
            <!-- Clockpicker-->
            <link rel="stylesheet" href="~/lib/clockpicker/dist/bootstrap-clockpicker.css">
            <!-- Range Slider-->
            <link rel="stylesheet" href="~/lib/nouislider/distribute/nouislider.min.css">
            <!-- ColorPicker-->
            <link rel="stylesheet" href="~/lib/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css">
            <!-- Summernote-->
            <link rel="stylesheet" href="~/lib/summernote/dist/summernote.css">
            <!-- Dropzone-->
            <link rel="stylesheet" href="~/lib/dropzone/dist/basic.css">
            <link rel="stylesheet" href="~/lib/dropzone/dist/dropzone.css">
            <!-- Xeditable-->
            <link rel="stylesheet" href="~/lib/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css">
            <!-- Bootgrid-->
            <link rel="stylesheet" href="~/lib/jquery.bootgrid/dist/jquery.bootgrid.css">
            <!-- Datatables-->
            <link rel="stylesheet" href="~/lib/datatables/media/css/jquery.dataTables.css">
            <!-- Sweet Alert-->
            <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css">
            <!-- Loaders.CSS-->
            <link rel="stylesheet" href="~/lib/loaders.css/loaders.css">
            <!-- Material Floating Button-->
            <link rel="stylesheet" href="~/lib/ng-material-floating-button/mfb/dist/mfb.css">
            <!-- Material Colors-->
            <link rel="stylesheet" href="~/lib/material-colors/dist/colors.css">

            <!-- Optional styles -->
            @if (IsSectionDefined("Styles"))
            {@RenderSection("Styles", required: false)}

            <!-- Application -->
            <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />

        </environment>

    </head>


    <body class="theme-1">


    <div class="layout-container">

        <!-- top navbar-->
        <header class="header-container">
            @Html.Partial("_Header")
        </header>


        <!-- sidebar-->
        <aside class="sidebar-container">
            @Html.Partial("_Sidebar")
        </aside>
        <div class="sidebar-layout-obfuscator"></div>

        <!-- Main section-->
        <main class="main-container">
            <!-- Page content-->
            <section>
                @RenderBody()
            </section>
            <!-- Page footer-->
            <footer>
                @Html.Partial("_Footer")
            </footer>
        </main>
    </div>

    <!-- Search template-->
        @Html.Partial("_HeaderSearch")
    <!-- End Search template-->
    <!-- Settings template-->
        @Html.Partial("_Settings")
    <!-- End Settings template-->


    <!-- Google Maps API-->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBNs42Rt_CyxAqdbIBK0a5Ut83QiauESPA"></script>

    <environment names="Development">
        <!-- Modernizr-->
        <script src="~/lib/modernizr/modernizr.custom.js"></script>
        <!-- jQuery-->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <!-- Bootstrap-->
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <!-- jQuery Browser-->
        <script src="~/lib/jquery.browser/dist/jquery.browser.js"></script>
        <!-- Material Colors-->
        <script src="~/lib/material-colors/dist/colors.js"></script>
        <!-- Bootstrap Filestyle-->
        <script src="~/lib/bootstrap-filestyle/src/bootstrap-filestyle.js"></script>
        <!-- Flot charts-->
        <script src="~/lib/flot/jquery.flot.js"></script>
        <script src="~/lib/flot/jquery.flot.categories.js"></script>
        <script src="~/lib/flot-spline/js/jquery.flot.spline.js"></script>
        <script src="~/lib/flot.tooltip/js/jquery.flot.tooltip.js"></script>
        <script src="~/lib/flot/jquery.flot.resize.js"></script>
        <script src="~/lib/flot/jquery.flot.pie.js"></script>
        <script src="~/lib/flot/jquery.flot.time.js"></script>
        <script src="~/lib/sidebysideimproved/jquery.flot.orderBars.js"></script>
        <!-- jVector Maps-->
        <script src="~/lib/ika.jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="~/lib/ika.jvectormap/jquery-jvectormap-us-mill-en.js"></script>
        <script src="~/lib/ika.jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <!-- Easypie Charts-->
        <script src="~/lib/jquery.easy-pie-chart/dist/jquery.easypiechart.js"></script>
        <!-- Screenfull-->
        <script src="~/lib/screenfull/dist/screenfull.js"></script>
        <!-- Sparkline-->
        <script src="~/lib/sparkline/index.js"></script>
        <!-- Datepicker-->
        <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <!-- jQuery Knob charts-->
        <script src="~/lib/jquery-knob/js/jquery.knob.js"></script>
        <!-- Rickshaw-->
        <script src="~/lib/d3/d3.js"></script>
        <script src="~/lib/rickshaw/rickshaw.js"></script>
        <!-- jQuery Form Validation-->
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
        <!-- JQUERY STEPS-->
        <script src="~/lib/jquery.steps/build/jquery.steps.js"></script>
        <!-- Select2-->
        <script src="~/lib/select2/dist/js/select2.js"></script>
        <!-- Clockpicker-->
        <script src="~/lib/clockpicker/dist/bootstrap-clockpicker.js"></script>
        <!-- Range Slider-->
        <script src="~/lib/nouislider/distribute/nouislider.js"></script>
        <!-- ColorPicker-->
        <script src="~/lib/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
        <!-- Summernote-->
        <script src="~/lib/summernote/dist/summernote.js"></script>
        <!-- Dropzone-->
        <script src="~/lib/dropzone/dist/dropzone.js"></script>
        <!-- Xeditable-->
        <script src="~/lib/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
        <!-- Momentjs-->
        <script src="~/lib/moment/min/moment-with-locales.js"></script>
        <!-- Google Maps-->
        <script src="~/lib/gmaps/gmaps.js"></script>
        <!-- Bootgrid-->
        <script src="~/lib/jquery.bootgrid/dist/jquery.bootgrid.js"></script>
        <script src="~/lib/jquery.bootgrid/dist/jquery.bootgrid.fa.js"></script>
        <!-- Datatables-->
        <script src="~/lib/datatables/media/js/jquery.dataTables.js"></script>
        <!-- Nestable-->
        <script src="~/lib/nestable/jquery.nestable.js"></script>
        <!-- Sweet Alert-->
        <script src="~/lib/sweetalert/dist/sweetalert-dev.js"></script>
        <!-- Masonry-->
        <script src="~/lib/masonry/dist/masonry.pkgd.js"></script>
        <!-- Images Loaded-->
        <script src="~/lib/imagesloaded/imagesloaded.pkgd.js"></script>
        <!-- Loaders.CSS-->
        <script src="~/lib/loaders.css/loaders.css.js"></script>
        <!-- jQuery Localize-->
        <script src="~/lib/jquery-localize-i18n/dist/jquery.localize.js"></script>
        <!-- Blueimp Gallery-->
        <script src="~/lib/blueimp-gallery/js/blueimp-helper.js"></script>
        <script src="~/lib/blueimp-gallery/js/blueimp-gallery.js"></script>
        <script src="~/lib/blueimp-gallery/js/blueimp-gallery-fullscreen.js"></script>
        <script src="~/lib/blueimp-gallery/js/blueimp-gallery-indicator.js"></script>
        <script src="~/lib/blueimp-gallery/js/blueimp-gallery-video.js"></script>
        <script src="~/lib/blueimp-gallery/js/blueimp-gallery-vimeo.js"></script>
        <script src="~/lib/blueimp-gallery/js/blueimp-gallery-youtube.js"></script>
        <script src="~/lib/blueimp-gallery/js/jquery.blueimp-gallery.js"></script>
        <!-- Datamaps-->
        <script src="~/lib/topojson/topojson.min.js"></script>
        <script src="~/datamaps/dist/datamaps.all.js"></script>

        <script src="~/js/app.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <!-- Modernizr-->
        <script src="~/lib/modernizr/modernizr.custom.js"></script>
        <!-- jQuery-->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <!-- Bootstrap-->
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <!-- jQuery Browser-->
        <script src="~/lib/jquery.browser/dist/jquery.browser.js"></script>
        <!-- Material Colors-->
        <script src="~/lib/material-colors/dist/colors.js"></script>
        <!-- Bootstrap Filestyle-->
        <script src="~/lib/bootstrap-filestyle/src/bootstrap-filestyle.js"></script>
        <!-- Flot charts-->
        <script src="~/lib/flot/jquery.flot.js"></script>
        <script src="~/lib/flot/jquery.flot.categories.js"></script>
        <script src="~/lib/flot-spline/js/jquery.flot.spline.js"></script>
        <script src="~/lib/flot.tooltip/js/jquery.flot.tooltip.js"></script>
        <script src="~/lib/flot/jquery.flot.resize.js"></script>
        <script src="~/lib/flot/jquery.flot.pie.js"></script>
        <script src="~/lib/flot/jquery.flot.time.js"></script>
        <script src="~/lib/sidebysideimproved/jquery.flot.orderBars.js"></script>
        <!-- jVector Maps-->
        <script src="~/lib/ika.jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="~/lib/ika.jvectormap/jquery-jvectormap-us-mill-en.js"></script>
        <script src="~/lib/ika.jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <!-- Easypie Charts-->
        <script src="~/lib/jquery.easy-pie-chart/dist/jquery.easypiechart.js"></script>
        <!-- Screenfull-->
        <script src="~/lib/screenfull/dist/screenfull.js"></script>
        <!-- Sparkline-->
        <script src="~/lib/sparkline/index.js"></script>
        <!-- Datepicker-->
        <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <!-- jQuery Knob charts-->
        <script src="~/lib/jquery-knob/js/jquery.knob.js"></script>
        <!-- Rickshaw-->
        <script src="~/lib/d3/d3.js"></script>
        <script src="~/lib/rickshaw/rickshaw.js"></script>
        <!-- jQuery Form Validation-->
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
        <!-- JQUERY STEPS-->
        <script src="~/lib/jquery.steps/build/jquery.steps.js"></script>
        <!-- Select2-->
        <script src="~/lib/select2/dist/js/select2.js"></script>
        <!-- Clockpicker-->
        <script src="~/lib/clockpicker/dist/bootstrap-clockpicker.js"></script>
        <!-- Range Slider-->
        <script src="~/lib/nouislider/distribute/nouislider.js"></script>
        <!-- ColorPicker-->
        <script src="~/lib/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
        <!-- Summernote-->
        <script src="~/lib/summernote/dist/summernote.js"></script>
        <!-- Dropzone-->
        <script src="~/lib/dropzone/dist/dropzone.js"></script>
        <!-- Xeditable-->
        <script src="~/lib/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
        <!-- Momentjs-->
        <script src="~/lib/moment/min/moment-with-locales.js"></script>
        <!-- Google Maps-->
        <script src="~/lib/gmaps/gmaps.js"></script>
        <!-- Bootgrid-->
        <script src="~/lib/jquery.bootgrid/dist/jquery.bootgrid.js"></script>
        <script src="~/lib/jquery.bootgrid/dist/jquery.bootgrid.fa.js"></script>
        <!-- Datatables-->
        <script src="~/lib/datatables/media/js/jquery.dataTables.js"></script>
        <!-- Nestable-->
        <script src="~/lib/nestable/jquery.nestable.js"></script>
        <!-- Sweet Alert-->
        <script src="~/lib/sweetalert/dist/sweetalert-dev.js"></script>
        <!-- Masonry-->
        <script src="~/lib/masonry/dist/masonry.pkgd.js"></script>
        <!-- Images Loaded-->
        <script src="~/lib/imagesloaded/imagesloaded.pkgd.js"></script>
        <!-- Loaders.CSS-->
        <script src="~/lib/loaders.css/loaders.css.js"></script>
        <!-- jQuery Localize-->
        <script src="~/lib/jquery-localize-i18n/dist/jquery.localize.js"></script>
        <!-- Blueimp Gallery-->
        <script src="~/lib/blueimp-gallery/js/blueimp-helper.js"></script>
        <script src="~/lib/blueimp-gallery/js/blueimp-gallery.js"></script>
        <script src="~/lib/blueimp-gallery/js/blueimp-gallery-fullscreen.js"></script>
        <script src="~/lib/blueimp-gallery/js/blueimp-gallery-indicator.js"></script>
        <script src="~/lib/blueimp-gallery/js/blueimp-gallery-video.js"></script>
        <script src="~/lib/blueimp-gallery/js/blueimp-gallery-vimeo.js"></script>
        <script src="~/lib/blueimp-gallery/js/blueimp-gallery-youtube.js"></script>
        <script src="~/lib/blueimp-gallery/js/jquery.blueimp-gallery.js"></script>
        <!-- Datamaps-->
        <script src="~/lib/topojson/topojson.min.js"></script>
        <script src="~/datamaps/dist/datamaps.all.js"></script>

        <script src="~/js/app.js" asp-append-version="true"></script>

    </environment>


    @RenderSection("scripts", required: false)


    @if (IsSectionDefined("Modals"))
    {@RenderSection("Modals", required: false)}

</body>
</html>
