﻿<div class="sidebar-header">
    <div class="pull-right pt-lg text-muted hidden"><em class="ion-close-round"></em></div><a href="#" class="sidebar-header-logo">
        <img src="~/images/logo.png" data-svg-replace="/images/logo.svg" alt="Logo"><span class="sidebar-header-logo-text">Centric</span>
    </a>
</div>
<div class="sidebar-content">
    <div class="sidebar-toolbar text-center">
        <a href=""><img src="~/images/user/01.jpg" alt="Profile" class="img-circle thumb64"></a>
        <div class="mt">Welcome, Willie Webb</div>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li class="@Html.isActive(controller: "Dashboard")">
                <a href="@Url.Action("Dashboard", "Dashboard")" class="ripple">
                    <span class="pull-right nav-label">
                        <span class="badge bg-success">2</span>
                    </span>
                    <span class="nav-icon">
                        <img src="" data-svg-replace="/images/icons/aperture.svg" alt="MenuItem" class="hidden">
                    </span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="@Html.isActive(controller: "Cards")">
                <a href="@Url.Action("Cards", "Cards")" class="ripple">
                    <span class="pull-right nav-label"></span><span class="nav-icon">
                        <img src="" data-svg-replace="/images/icons/radio-waves.svg" alt="MenuItem" class="hidden">
                    </span>
                    <span>Cards</span>
                </a>
            </li>
            <li class="@Html.isActive(controller: "Charts")">
                <a href="#" class="ripple">
                    <span class="pull-right nav-caret">
                        <em class="ion-ios-arrow-right"></em>
                    </span>
                    <span class="pull-right nav-label"></span>
                    <span class="nav-icon">
                        <img src="" data-svg-replace="/images/icons/connection-bars.svg" alt="MenuItem" class="hidden">
                    </span>
                    <span>Charts</span>
                </a>
                <ul class="sidebar-subnav">
                    <li class="@Html.isActive("Charts", "Flot")">
                        <a href="@Url.Action("Flot", "Charts")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Flot</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Charts", "Radial")">
                        <a href="@Url.Action("Radial", "Charts")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Radial</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Charts", "Rickshaw")">
                        <a href="@Url.Action("Rickshaw", "Charts")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Rickshaw</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@Html.isActive(controller: "Forms")">
                <a href="#" class="ripple">
                    <span class="pull-right nav-caret">
                        <em class="ion-ios-arrow-right"></em>
                    </span>
                    <span class="pull-right nav-label"></span>
                    <span class="nav-icon">
                        <img src="" data-svg-replace="/images/icons/clipboard.svg" alt="MenuItem" class="hidden">
                    </span>
                    <span>Forms</span>
                </a>
                <ul class="sidebar-subnav">
                    <li class="@Html.isActive("Forms", "Classic")">
                        <a href="@Url.Action("Classic", "Forms")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Classic</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Forms", "Validation")">
                        <a href="@Url.Action("Validation", "Forms")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Validation</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Forms", "Advanced")">
                        <a href="@Url.Action("Advanced", "Forms")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Advanced</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Forms", "Material")">
                        <a href="@Url.Action("Material", "Forms")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Material</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Forms", "Editor")">
                        <a href="@Url.Action("Editor", "Forms")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Editors</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Forms", "Dropzone")">
                        <a href="@Url.Action("Dropzone", "Forms")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Dropzone</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Forms", "XEditable")">
                        <a href="@Url.Action("XEditable", "Forms")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>xEditable</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Forms", "Wizard")">
                        <a href="@Url.Action("Wizard", "Forms")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Wizard</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@Html.isActive(controller: "Tables")">
                <a href="#" class="ripple">
                    <span class="pull-right nav-caret">
                        <em class="ion-ios-arrow-right"></em>
                    </span>
                    <span class="pull-right nav-label"></span>
                    <span class="nav-icon">
                        <img src="" data-svg-replace="/images/icons/navicon.svg" alt="MenuItem" class="hidden">
                    </span>
                    <span>Tables</span>
                </a>
                <ul id="tables" class="sidebar-subnav">
                    <li class="@Html.isActive("Tables", "Classic")">
                        <a href="@Url.Action("Classic", "Tables")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Classic</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Tables", "Datatable")">
                        <a href="@Url.Action("Datatable", "Tables")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Datatable</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Tables", "Bootgrid")">
                        <a href="@Url.Action("Bootgrid", "Tables")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Bootgrid</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@Html.isActive(controller: "Layouts")">
                <a href="#" class="ripple">
                    <span class="pull-right nav-caret">
                        <em class="ion-ios-arrow-right"></em>
                    </span>
                    <span class="pull-right nav-label"></span>
                    <span class="nav-icon">
                        <img src="" data-svg-replace="/images/icons/grid.svg" alt="MenuItem" class="hidden">
                    </span>
                    <span>Layouts</span>
                </a>
                <ul id="layouts" class="sidebar-subnav">
                    <li class="@Html.isActive("Layouts", "Columns")">
                        <a href="@Url.Action("Columns", "Layouts")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Columns</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Layouts", "Overlap")">
                        <a href="@Url.Action("Overlap", "Layouts")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Overlap</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Layouts", "Boxed")">
                        <a href="@Url.Action("Boxed", "Layouts")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Boxed</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Layouts", "Tabs")">
                        <a href="@Url.Action("Tabs", "Layouts")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Tabs</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Layouts", "Containers")">
                        <a href="@Url.Action("Containers", "Layouts")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Containers</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@Html.isActive(controller: "Elements")">
                <a href="#" class="ripple">
                    <span class="pull-right nav-caret">
                        <em class="ion-ios-arrow-right"></em>
                    </span>
                    <span class="pull-right nav-label"></span>
                    <span class="nav-icon">
                        <img src="" data-svg-replace="/images/icons/levels.svg" alt="MenuItem" class="hidden">
                    </span>
                    <span>Elements</span>
                </a>
                <ul id="elements" class="sidebar-subnav">
                    <li class="@Html.isActive("Elements", "Colors")">
                        <a href="@Url.Action("Colors", "Elements")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Colors</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Whiteframes")">
                        <a href="@Url.Action("Whiteframes", "Elements")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Whiteframes</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Lists")">
                        <a href="@Url.Action("Lists", "Elements")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Lists</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Bootstrap")">
                        <a href="@Url.Action("Bootstrap", "Elements")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Bootstrap</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Buttons")">
                        <a href="@Url.Action("Buttons", "Elements")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Buttons</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "SweetAlert")">
                        <a href="@Url.Action("SweetAlert", "Elements")">
                            <span class="pull-right nav-label"></span>
                            <span>Sweet-alert</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Spinners")">
                        <a href="@Url.Action("Spinners", "Elements")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Spinners</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Nestable")">
                        <a href="@Url.Action("Nestable", "Elements")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Nestable</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Grid")">
                        <a href="@Url.Action("Grid", "Elements")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Grid</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "GridMasonry")">
                        <a href="@Url.Action("GridMasonry", "Elements")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Grid Masonry</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Typography")">
                        <a href="@Url.Action("Typography", "Elements")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Typography</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Icons")">
                        <a href="@Url.Action("Icons", "Elements")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Icons</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Utilities")">
                        <a href="@Url.Action("Utilities", "Elements")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Utilities</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@Html.isActive(controller: "Maps")">
                <a href="#" class="ripple">
                    <span class="pull-right nav-caret">
                        <em class="ion-ios-arrow-right"></em>
                    </span>
                    <span class="pull-right nav-label"></span>
                    <span class="nav-icon">
                        <img src="" data-svg-replace="/images/icons/planet.svg" alt="MenuItem" class="hidden">
                    </span>
                    <span>Maps</span>
                </a>
                <ul id="maps" class="sidebar-subnav">
                    <li class="@Html.isActive("Maps", "GoogleFull")">
                        <a href="@Url.Action("GoogleFull", "Maps")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Google Maps Full</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Maps", "Google")">
                        <a href="@Url.Action("Google", "Maps")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Google Maps</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Maps", "Vector")">
                        <a href="@Url.Action("Vector", "Maps")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Vector Maps</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Maps", "Datamaps")">
                        <a href="@Url.Action("Datamaps", "Maps")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Datamaps</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@Html.isActive(controller: "Pages")">
                <a href="#" class="ripple">
                    <span class="pull-right nav-caret">
                        <em class="ion-ios-arrow-right"></em>
                    </span>
                    <span class="pull-right nav-label"></span>
                    <span class="nav-icon">
                        <img src="" data-svg-replace="/images/icons/ios-browsers.svg" alt="MenuItem" class="hidden">
                    </span>
                    <span>Pages</span>
                </a>
                <ul id="pages" class="sidebar-subnav">
                    <li class="@Html.isActive("Pages", "Timeline")">
                        <a href="@Url.Action("Timeline", "Pages")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Timeline</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Pages", "Invoice")">
                        <a href="@Url.Action("Invoice", "Pages")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Invoice</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Pages", "Pricing")">
                        <a href="@Url.Action("Pricing", "Pages")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Pricing</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Pages", "Contacts")">
                        <a href="@Url.Action("Contacts", "Pages")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Contacts</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Pages", "FAQ")">
                        <a href="@Url.Action("FAQ", "Pages")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>FAQ</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Pages", "Projects")">
                        <a href="@Url.Action("Projects", "Pages")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Projects</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Pages", "Blog")">
                        <a href="@Url.Action("Blog", "Pages")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Blog</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Pages", "BlogArticle")">
                        <a href="@Url.Action("BlogArticle", "Pages")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Article</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Pages", "Profile")">
                        <a href="@Url.Action("Profile", "Pages")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Pages", "Gallery")">
                        <a href="@Url.Action("Gallery", "Pages")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Gallery</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Pages", "Wall")">
                        <a href="@Url.Action("Wall", "Pages")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Wall</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Pages", "Search")">
                        <a href="@Url.Action("Search", "Pages")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Search</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Pages", "Messages")">
                        <a href="@Url.Action("Messages", "Pages")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Messages Board</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="ripple">
                    <span class="pull-right nav-caret">
                        <em class="ion-ios-arrow-right"></em>
                    </span>
                    <span class="pull-right nav-label"></span>
                    <span class="nav-icon">
                        <img src="" data-svg-replace="/images/icons/person-stalker.svg" alt="MenuItem" class="hidden">
                    </span>
                    <span>User</span>
                </a>
                <ul id="user" class="sidebar-subnav">
                    <li>
                        <a href="@Url.Action("Login", "User")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Login</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Signup", "User")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Signup</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Lock", "User")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Lock</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Recover", "User")" class="ripple">
                            <span class="pull-right nav-label"></span>
                            <span>Recover</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>